[core]
profile = local
asyncblock = true
paramcompletion = true
history_file = /root/.cloudmonkey/history
cache_file = /root/.cloudmonkey/cache
log_file = /root/.cloudmonkey/log

[ui]
color = true
prompt = 🐵 >
display = default

[local]
username = admin
password = password
domain = /
apikey =
url = http://localhost:8080/client/api
expires = 600
signatureversion = 3
secretkey =
timeout = 3600
verifysslcert = true
