
/var/log/cloudstack/management/catalina.out {
    su {{ CSMySQL.CloudDBUser }} {{ CSMySQL.CloudDBUser }}
    copytruncate
    daily
    rotate 14
    compress
    missingok
    create 0644 cloud cloud
}
