log_outputs="3:syslog:libvirtd"
listen_tls=1
listen_tcp=0
tcp_port="16509"
auth_tcp="none"
mdns_adv = 0
key_file="/etc/pki/libvirt/private/serverkey.pem"
cert_file="/etc/pki/libvirt/servercert.pem"
ca_file="/etc/pki/CA/cacert.pem"
tls_port="16514"
auth_tls="none"
