[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
symbolic-links=0
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 
# CloudStack MySQL settings
innodb_rollback_on_timeout=1
innodb_lock_wait_timeout=600
max_connections={{ CSMySQL.MaxConnections }}
log-bin=mysql-bin
binlog-format = 'ROW'
bind-address={{ CSMySQL.BindAddress }}
[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
