# Ansible configured ntp.conf file.
# {{ ansible_managed }}
#
driftfile /var/lib/ntp/drift

restrict default kod nomodify notrap nopeer noquery
restrict -6 default kod nomodify notrap nopeer noquery

restrict 127.0.0.1 
restrict -6 ::1

{% for ntp_host in NTPServers %}
server {{ ntp_host }} iburst
{% endfor %}

includefile /etc/ntp/crypto/pw

keys /etc/ntp/keys

disable monitor
