{{ '[Route]' }}
{% if ip.gateway is defined and
  (ip.gateway | ansible.utils.ipaddr('host') or ip.gateway == '_dhcp') %}
{{ 'Gateway=' + ip.gateway }}
{% endif %}
{% if ip.gateway_on_link is defined and
  ip.gateway_on_link in ['true', 'false'] %}
{{ 'GatewayOnlink=' + ip.gateway_on_link }}
{% endif %}
{% if ip.destination is defined and ip.destination |
  ansible.utils.ipaddr() %}
{{ 'Destination=' + ip.destination }}
{% endif %}
{% if ip.source is defined and ip.source | ansible.utils.ipaddr() %}
{{ 'Source=' + ip.source }}
{% endif %}
{% if ip.metric is defined and ip.metric != '' %}
{{ 'Metric=' ~ ip.metric }}
{% endif %}
{% if ip.ipv6_prefer is defined and
  ip.ipv6_prefer in ['low', 'medium', 'high'] %}
{{ 'IPv6Preference=' + ip.ipv6_prefer }}
{% endif %}
{% if ip.scope is defined and ip.scope in ['global', 'link', 'host'] %}
{{ 'Scope=' + ip.scope }}
{% endif %}
{% if ip.prefer_source is defined and ip.prefer_source |
  ansible.utils.ipaddr('host') %}
{{ 'PreferredSource=' + ip.prefer_source }}
{% endif %}
{% if ip.table is defined and ip.table != '' %}
{{ 'Table=' ~ ip.table }}
{% endif %}
{% if ip.protocol is defined and ip.protocol != '' %}
{{ 'Protocol=' ~ ip.protocol }}
{% endif %}
{% if ip.type is defined and
  ip.type in ['unicast', 'blackhole', 'unreachable', 'prohibit'] %}
{{ 'Type=' + ip.type }}
{% endif %}
{% if ip.initial_congestion_window is defined and
  ip.initial_congestion_window != '' %}
{{ 'InitialCongestionWindow=' + ip.initial_congestion_window }}
{% endif %}
{% if ip.initial_advertised_receive_window is defined and
      ip.initial_advertised_receive_window != '' %}
{{ 'InitialAdvertisedReceiveWindow=' + ip.initial_advertised_receive_window }}
{% endif %}
{% if ip.quick_ack is defined and ip.quick_ack in ['true', 'false'] %}
{{ 'QuickAck=' + ip.quick_ack }}
{% endif %}
{% if ip.fast_open_no_cookie is defined and
      ip.fast_open_no_cookie in ['true', 'false'] %}
{{ 'FastOpenNoCookie=' + ip.fast_open_no_cookie }}
{% endif %}
{% if ip.ttl_propagate is defined and ip.ttl_propagate in ['true', 'false'] %}
{{ 'TTLPropagate=' + ip.ttl_propagate }}
{% endif %}
{% if ip.mtu_bytes is defined and ip.mtu_bytes != '' %}
{{ 'MTUBytes=' + ip.mtu_bytes }}
{% endif %}
{% if ip.ip_service_type is defined and ip.ip_service_type in ['CS6', 'CS4'] %}
{{ 'IPServiceType=' + ip.ip_service_type }}
{% endif %}
{% if ip.multi_path_route is defined and ip.multi_path_route != '' %}
{% for ipm in ip.multi_path_route %}
{% if ipm.gateway is defined and ipm.gateway | ansible.utils.ipaddr('host') %}
{{ 'MultiPathRoute=' + ipm.gateway -}}
{% if ipm.iface is defined and ipm.iface != '' %}
{{ '@' ~ ipm.iface -}}
{% endif %}
{% if ipm.weight is defined and ipm.weight != '' %}
{{ ' ' ~ ipm.weight -}}
{% endif %}
{% endif %}
{{ '' }}
{% endfor %}
{% endif %}
