{{ '[Network]' }}
{% if item.description is defined and item.description != '' %}
{{ 'Description=' ~ item.description }}
{% endif %}
{% if item.dhcp is defined and item.dhcp in ['yes', 'no', 'ipv4', 'ipv6'] %}
{{ 'DHCP=' + item.dhcp }}
{% endif %}
{% if item.dhcp_server is defined and item.dhcp_server != '' %}
{{ 'DHCPServer=yes' }}
{% endif %}
{% if item.link_local_adressing is defined and
  item.link_local_adressing in ['yes', 'no', 'ipv4', 'ipv6'] %}
{{ 'LinkLocalAddressing=' + item.link_local_adressing }}
{% endif %}
{% if item.ipv4_llroute is defined and item.ipv4_llroute in ['true', 'false'] %}
{{ 'IPv4LLRoute=' + item.ipv4_llroute }}
{% endif %}
{% if item.default_route_on_device is defined and
  item.default_route_on_device in ['true', 'false'] %}
{{ 'DefaultRouteOnDevice=' + item.default_route_on_device }}
{% endif %}
{% if item.ipv6_token is defined and item.ipv6_token != '' %}
{{ 'IPv6Token=' ~ item.ipv6_token }}
{% endif %}
{% if item.llmnr is defined and item.llmnr in ['true', 'false', 'resolve'] %}
{{ 'LLMNR=' + item.llmnr }}
{% endif %}
{% if item.multicast_dns is defined and
  item.multicast_dns in ['true', 'false', 'resolve'] %}
{{ 'MulticastDNS=' + item.multicast_dns }}
{% endif %}
{% if item.dns_over_tls is defined and
  item.dns_over_tls in ['true', 'false', 'opportunistic'] %}
{{ 'DNSOverTLS=' + item.dns_over_tls }}
{% endif %}
{% if item.dnssec is defined and
  item.dnssec in ['true', 'false', 'allow-downgrade'] %}
{{ 'DNSSEC=' + item.dnssec }}
{% endif %}
{% if item.dnssec_negative_trust_anchors is defined and
  item.dnssec_negative_trust_anchors != '' %}
{{ 'DNSSECNegativeTrustAnchors=' ~ item.dnssec_negative_trust_anchors }}
{% endif %}
{% if item.lldp_receive is defined and
  item.lldp_receive in ['true', 'false', 'routers-only'] %}
{{ 'LLDP=' + item.lldp_receive }}
{% endif %}
{% if item.lldp_transmit is defined and
  item.lldp_transmit in ['true', 'false', 'nearest-bridge', 'non-tpmr-bridge',
  'customer-bridge'] %}
{{ 'EmitLLDP=' + item.lldp_transmit }}
{% endif %}
{% if item.bind_carrier is defined and item.bind_carrier != '' %}
{% if item.bind_carrier is string %}
{{ 'BindCarrier=' ~ item.bind_carrier }}
{% elif item.bind_carrier is sequence %}
{{ 'BindCarrier=' ~ item.bind_carrier | join(' ') }}
{% endif %}
{% endif %}
{% if item.address is defined and item.address != '' %}
{% if item.address is string and item.address |
  ansible.utils.ipaddr('host/prefix') %}
{{ 'Address=' + item.address }}
{% elif item.address is sequence %}
{% for addr in item.address %}
{% if addr | ansible.utils.ipaddr('host/prefix') %}
{{ 'Address=' + addr }}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% if item.gateway is defined and item.gateway |
  ansible.utils.ipaddr('host') %}
{{ 'Gateway=' + item.gateway }}
{% endif %}
{% if item.dns is defined and item.dns != '' %}
{% if item.dns is string and item.dns | ansible.utils.ipaddr('host') %}
{{ 'DNS=' + item.dns }}
{% elif item.dns is sequence %}
{% for addr in item.dns %}
{% if addr | ansible.utils.ipaddr('host') %}
{{ 'DNS=' + addr }}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% if item.dns_default_route is defined and
  item.dns_default_route in ['true', 'false'] %}
{{ 'DNSDefaultRoute=' + item.dns_default_route }}
{% endif %}
{% if item.ip_forward is defined and item.ip_forward in ['true', 'false'] %}
{{ 'IPForward=' + item.ip_forward }}
{% endif %}
{% if item.ip_masquerade is defined and
  item.ip_masquerade in ['true', 'false'] %}
{{ 'IPMasquerade=' + item.ip_masquerade }}
{% endif %}
{% if item.ntp is defined and item.ntp != '' %}
{% if item.ntp is string and item.ntp != '' %}
{{ 'NTP=' + item.ntp }}
{% elif item.ntp is sequence %}
{% for addr in item.ntp %}
{% if addr != '' %}
{{ 'NTP=' + addr }}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% if item.bond is defined and item.bond != '' %}
{{ 'Bond=' ~ item.bond }}
{% endif %}
{% if item.bridge is defined and item.bridge != '' %}
{% for br in item.bridge %}
{% if br.name is defined and br.name != '' %}
{{ 'Bridge=' ~ br.name }}
{% endif %}
{% endfor %}
{% endif %}
{% if item.vrf is defined and item.vrf != '' %}
{{ 'VRF=' ~ item.vrf }}
{% endif %}
{% if item.vlans is defined and item.vlans != '' %}
{% for v in item.vlans %}
{{ 'VLAN=' ~ v.name }}
{% endfor %}
{% endif %}
{% if item.ipvlans is defined and item.ipvlans != '' %}
{% for ipv in item.ipvlans %}
{{ 'IPVLAN=' ~ ipv.name }}
{% endfor %}
{% endif %}
{% if item.macvlans is defined and item.macvlans != '' %}
{% for mv in item.macvlans %}
{% if mv.name is defined and mv.name != '' %}
{{ 'MACVLAN=' ~ mv.name }}
{% endif %}
{% endfor %}
{% endif %}
{% if item.vxlans is defined and item.vxlans != '' %}
{% for vx in item.vxlans %}
{{ 'VXLAN=' ~ vx.name }}
{% endfor %}
{% endif %}
{% if item.active_slave is defined and item.active_slave in ['true', 'false'] %}
{{ 'ActiveSlave=' + item.active_slave }}
{% endif %}
{% if item.primary_slave is defined and
  item.primary_slave in ['true', 'false'] %}
{{ 'PrimarySlave=' + item.primary_slave }}
{% endif %}
{% if item.skip_no_carrier is defined and
  item.skip_no_carrier in ['true', 'false'] %}
{{ 'ConfigureWithoutCarrier=' + item.skip_no_carrier }}
{% endif %}
{% if item.ignore_carrier_loss is defined and
  item.ignore_carrier_loss in ['true', 'false'] %}
{{ 'IgnoreCarrierLoss=' + item.ignore_carrier_loss }}
{% endif %}
{% if item.keep_configuration is defined and
  item.keep_configuration in ['true', 'false', 'static', 'dhcp-on-stop',
  'dhcp'] %}
{{ 'KeepConfiguration=' + item.keep_configuration }}
{% endif %}
