{{ '[RoutingPolicyRule]' }}
{% if ip.tos is defined and ip.tos != '' %}
{{ 'TypeOfService=' ~ ip.tos }}
{% endif %}
{% if ip.from is defined and ip.from | ansible.utils.ipaddr() %}
{{ 'From=' + ip.from }}
{% endif %}
{% if ip.to is defined and ip.to | ansible.utils.ipaddr() %}
{{ 'To=' + ip.to }}
{% endif %}
{% if ip.fwmark is defined and ip.fwmark != '' %}
{{ 'FirewallMark=' ~ ip.fwmark }}
{% endif %}
{% if ip.table is defined and ip.table != '' %}
{{ 'Table=' ~ ip.table }}
{% endif %}
{% if ip.prio is defined and ip.prio != '' %}
{{ 'Priority=' ~ ip.prio }}
{% endif %}
{% if ip.iif is defined and ip.iif != '' %}
{{ 'IncomingInterface=' ~ ip.iif }}
{% endif %}
{% if ip.oif is defined and ip.oif != '' %}
{{ 'OutgoingInterface=' ~ ip.oif }}
{% endif %}
{% if ip.sport is defined and ip.sport != '' %}
{{ 'SourcePort=' ~ ip.sport }}
{% endif %}
{% if ip.dport is defined and ip.dport != '' %}
{{ 'DestinationPort=' ~ ip.dport }}
{% endif %}
{% if ip.ip_proto is defined and ip.ip_proto != '' %}
{{ 'IPProtocol=' ~ ip.ip_proto }}
{% endif %}
{% if ip.invert_rule is defined and ip.invert_rule in ['true', 'false'] %}
{{ 'InvertRule=' + ip.invert_rule }}
{% endif %}
{% if ip.family is defined and ip.family in ['ipv4', 'ipv6', 'both'] %}
{{ 'Family=' + ip.family }}
{% endif %}
{% if ip.suppress_prefix_length is defined and
  ip.suppress_prefix_length != '' %}
{{ 'SuppressPrefixLength=' ~ ip.suppress_prefix_length }}
{% endif %}
