{{ '[DHCPServer]' }}
{% if d.pool_offset is defined and d.pool_offset != '' %}
{{ 'PoolOffset=' ~ d.pool_offset }}
{% endif %}
{% if d.pool_size is defined and d.pool_size != '' %}
{{ 'PoolSize=' ~ d.pool_size }}
{% endif %}
{% if d.default_lease_time is defined and d.default_lease_time != '' %}
{{ 'DefaultLeaseTimeSec=' ~ d.default_lease_time }}
{% endif %}
{% if d.max_lease_time is defined and d.max_lease_time != '' %}
{{ 'DefaultLeaseTimeSec=' ~ d.max_lease_time }}
{% endif %}
{% if d.push_dns is defined and d.push_dns in ['true', 'false'] %}
{{ 'EmitDNS=' + d.push_dns }}
{% endif %}
{% if d.dns is defined and d.dns | ansible.utils.ipaddr('host') %}
{{ 'DNS=' + d.dns }}
{% endif %}
{% if d.push_ntp is defined and d.push_ntp in ['true', 'false'] %}
{{ 'EmitNTP=' + d.push_ntp }}
{% endif %}
{% if d.ntp is defined and d.ntp | ansible.utils.ipaddr('host') %}
{{ 'NTP=' + d.ntp }}
{% endif %}
{% if d.push_sip is defined and d.push_sip in ['true', 'false'] %}
{{ 'EmitSIP=' + d.push_sip }}
{% endif %}
{% if d.sip is defined and d.sip | ansible.utils.ipaddr('host') %}
{{ 'SIP=' + d.sip }}
{% endif %}
{% if d.push_router is defined and d.push_router in ['true', 'false'] %}
{{ 'EmitRouter=' + d.push_router }}
{% endif %}
{% if d.push_timezone is defined and d.push_timezone in ['true', 'false'] %}
{{ 'EmitTimezone=' + d.push_timezone }}
{% endif %}
{% if d.timezone is defined and d.timezone != '' %}
{{ 'Timezone=' + d.timezone }}
{% endif %}
{% if d.send_option is defined and d.send_option != '' %}
{{ 'SendOption=' + d.send_option }}
{% endif %}
