{% if ip.address is defined and ip.address != '' %}
{{ '[Address]' }}
{% if ip.address is string and ip.address |
  ansible.utils.ipaddr('host/prefix') %}
{{ 'Address=' + ip.address }}
{% elif ip.address is sequence %}
{% for addr in ip.address %}
{% if addr | ansible.utils.ipaddr('host/prefix') %}
{{ 'Address=' + addr }}
{% endif %}
{% endfor %}
{% endif %}
{% if ip.peer is string and ip.peer | ansible.utils.ipaddr('host/prefix') %}
{{ 'Peer=' + ip.peer }}
{% elif ip.peer is sequence %}
{% for addr in ip.peer %}
{% if addr | ansible.utils.ipaddr('host/prefix') %}
{{ 'Peer=' + addr }}
{% endif %}
{% endfor %}
{% endif %}
{% if ip.broadcast is defined and ip.broadcast | ansible.utils.ipaddr() %}
{{ 'Broadcast=' + ip.broadcast }}
{% endif %}
{% if ip.label is defined and ip.label != '' %}
{{ 'Label=' + ip.label }}
{% endif %}
{% if ip.preferred_lifetime is defined and
  ip.preferred_lifetime in ['forever', 'infinity', '0'] %}
{{ 'PreferredLifetime=' ~ ip.preferred_lifetime }}
{% endif %}
{% if ip.scope is defined and ip.scope != '' %}
{{ 'Scope=' ~ ip.scope }}
{% endif %}
{% if ip.home_address is defined and ip.home_address in ['true', 'false'] %}
{{ 'HomeAddress=' + ip.home_address }}
{% endif %}
{% if ip.duplicate_detection is defined and
  ip.duplicate_detection in ['true', 'false'] %}
{{ 'DuplicateAddressDetection=' + ip.duplicate_detection }}
{% endif %}
{% if ip.manage_temporary_address is defined and
  ip.manage_temporary_address in ['true', 'false'] %}
{{ 'ManageTemporaryAddress=' + ip.manage_temporary_address }}
{% endif %}
{% if ip.add_prefix_route is defined and
  ip.add_prefix_route in ['true', 'false'] %}
{{ 'AddPrefixRoute=' + ip.add_prefix_route }}
{% endif %}
{% if ip.autojoin is defined and ip.autojoin in ['true', 'false'] %}
{{ 'AutoJoin=' + ip.autojoin }}
{% endif %}
{% endif %}
