---
network:
  version: {{ bootstrap_netplan__configuration['network']['version'] | default('2') }}
{% if bootstrap_netplan__renderer is not none %}
  renderer: {{ bootstrap_netplan__renderer }}
{% endif %}
{% if bootstrap_netplan__configuration['network']['ethernets'] is defined %}
  ethernets:
{{ bootstrap_netplan__configuration['network']['ethernets']|to_nice_yaml|indent(4, true) }}
{% endif %}
{% if bootstrap_netplan__configuration['network']['wifis'] is defined %}
  wifis:
{{ bootstrap_netplan__configuration['network']['wifis']|to_nice_yaml|indent(4, true) }}
{% endif %}
{% if bootstrap_netplan__configuration['network']['bonds'] is defined %}
  bonds:
{{ bootstrap_netplan__configuration['network']['bonds']|to_nice_yaml|indent(4, true) }}
{% endif %}
{% if bootstrap_netplan__configuration['network']['bridges'] is defined %}
  bridges:
{{ bootstrap_netplan__configuration['network']['bridges']|to_nice_yaml|indent(4, true) }}
{% endif %}
{% if bootstrap_netplan__configuration['network']['vlans'] is defined %}
  vlans:
{{ bootstrap_netplan__configuration['network']['vlans']|to_nice_yaml|indent(4, true) }}
{% endif %}
