{{ ansible_managed | comment }}
network:
  version: {{ bootstrap_netplan__configuration['network']['version']|default('2') }}
  renderer: {{ bootstrap_netplan__renderer }}
  ethernets:
  {% for interface in __bootstrap_netplan__netplan_interfaces %}
  {{ interface.name }}:
      match:
        macaddress: "{{ interface.macaddress }}"
      set-name: "{{ interface.name }}"
      dhcp4: true
      dhcp6: true
      ## ref: https://www.oxcrag.net/2019/02/07/creating-a-working-ubuntu-18-04-vmware-template/
      dhcp-identifier: mac
  {% endfor %}
