---

- name: Ensure directory exists for CA signed TLS certs.
  file:
    path: "/etc/docker/certs.d/{{ docker_registry_info.endpoint }}"
    state: directory

#- name: Check if /etc/docker/certs.d/{{ docker_registry_info.endpoint }}/ca.crt exists
#  stat:
#    path: /etc/docker/certs.d/{{ docker_registry_info.endpoint }}/ca.crt
#  register: stat_result

### ref: https://codeblog.dotsandbrackets.com/private-registry-swarm/
#- name: Copy {{ docker_registry_info.certname }} certs to docker node
#  copy:
#    src: "{{ca_keyring_certs_dir}}/{{ docker_registry_info.certname }}"
#    dest: "/etc/docker/certs.d/{{ docker_registry_info.endpoint }}/ca.crt"
##    force: "{{ overwrite_configs }}"
##  when: stat_result.stat.exists == False

## ref: https://codeblog.dotsandbrackets.com/private-registry-swarm/
- name: Copy {{ docker_registry_info.certname }} certs to docker node
  copy:
    src: "{{ ca_local_cert_dir }}/{{ docker_registry_info.certname }}"
    dest: "/etc/docker/certs.d/{{ docker_registry_info.endpoint }}/ca.crt"
    remote_src: yes
#    force: "{{ overwrite_configs }}"
#  when: stat_result.stat.exists == False
