[Unit]
Description={{ bootstrap_systemd_service__unit_description }}

{% if bootstrap_systemd_service__unit_documentation is defined %}
Documentation={{ bootstrap_systemd_service__unit_documentation }}
{% endif -%}

{% if bootstrap_systemd_service__unit_defaultdependencies is defined %}
DefaultDependencies={{ bootstrap_systemd_service__unit_defaultdependencies }}
{% endif -%}

{% if bootstrap_systemd_service__unit_requires is defined %}
{% if bootstrap_systemd_service__unit_requires is string %}
Requires={{ bootstrap_systemd_service__unit_requires }}
{% elif bootstrap_systemd_service__unit_requires is iterable -%}
{% for _require_item in bootstrap_systemd_service__unit_requires %}
Requires={{ _require_item }}
{% endfor %}
{% endif %}
{% endif -%}

{% if bootstrap_systemd_service__unit_wants is defined %}
{% if bootstrap_systemd_service__unit_wants is string %}
Wants={{ bootstrap_systemd_service__unit_wants }}
{% elif bootstrap_systemd_service__unit_wants is iterable -%}
{% for _want_item in bootstrap_systemd_service__unit_wants %}
Wants={{ _want_item }}
{% endfor %}
{% endif %}
{% endif -%}

{% if bootstrap_systemd_service__unit_requiresmountsfor is defined %}
{% if bootstrap_systemd_service__unit_requiresmountsfor is string %}
RequiresMountsFor={{ bootstrap_systemd_service__unit_requiresmountsfor }}
{% elif bootstrap_systemd_service__unit_requiresmountsfor is iterable -%}
{% for _item in bootstrap_systemd_service__unit_requiresmountsfor %}
RequiresMountsFor={{ _item }}
{% endfor %}
{% endif -%}
{% endif -%}

{% if bootstrap_systemd_service__unit_assertpathexists is defined %}
{% if bootstrap_systemd_service__unit_assertpathexists is string %}
AssertPathExists={{ bootstrap_systemd_service__unit_assertpathexists }}
{% elif bootstrap_systemd_service__unit_assertpathexists is iterable -%}
{% for _item in bootstrap_systemd_service__unit_assertpathexists %}
AssertPathExists={{ _item }}
{% endfor %}
{% endif -%}
{% endif -%}

{% if bootstrap_systemd_service__unit_conditionpathexists is defined %}
{% if bootstrap_systemd_service__unit_conditionpathexists is string %}
ConditionPathExists={{ bootstrap_systemd_service__unit_conditionpathexists }}
{% elif bootstrap_systemd_service__unit_conditionpathexists is iterable -%}
{% for _item in bootstrap_systemd_service__unit_conditionpathexists %}
ConditionPathExists={{ _item }}
{% endfor %}
{% endif -%}
{% endif -%}

{% if bootstrap_systemd_service__unit_conditionpathismountpoint is defined %}
{% if bootstrap_systemd_service__unit_conditionpathismountpoint is string %}
ConditionPathIsMountPoint={{ bootstrap_systemd_service__unit_conditionpathismountpoint }}
{% elif bootstrap_systemd_service__unit_conditionpathismountpoint is iterable -%}
{% for _item in bootstrap_systemd_service__unit_conditionpathismountpoint %}
ConditionPathIsMountPoint={{ _item }}
{% endfor %}
{% endif -%}
{% endif -%}

{% if bootstrap_systemd_service__unit_before is defined %}
{% if bootstrap_systemd_service__unit_before is string %}
Before={{ bootstrap_systemd_service__unit_before }}
{% elif bootstrap_systemd_service__unit_before is iterable -%}
{% for _before_item in bootstrap_systemd_service__unit_before %}
Before={{ _before_item }}
{% endfor %}
{% endif %}
{% endif -%}

{% if bootstrap_systemd_service__unit_after is defined %}
{% if bootstrap_systemd_service__unit_after is string %}
After={{ bootstrap_systemd_service__unit_after }}
{% elif bootstrap_systemd_service__unit_after is iterable -%}
{% for _after_item in bootstrap_systemd_service__unit_after %}
After={{ _after_item }}
{% endfor %}
{% endif %}
{% endif -%}

[Service]
ExecStart={{ bootstrap_systemd_service__service_execstart }}
EnvironmentFile=-{{ bootstrap_systemd_service__default_dir }}/{{ bootstrap_systemd_service__name }}
Type={{ bootstrap_systemd_service__service_type }}
{% if bootstrap_systemd_service__service_remainafterexit is defined %}
RemainAfterExit={{ bootstrap_systemd_service__service_remainafterexit }}
{% endif -%}

{% if bootstrap_systemd_service__service_user is defined %}
User={{ bootstrap_systemd_service__service_user }}
{% endif -%}
{% if bootstrap_systemd_service__service_group is defined %}
Group={{ bootstrap_systemd_service__service_group }}
{% endif -%}
{% if bootstrap_systemd_service__service_workingdirectory is defined %}
WorkingDirectory={{ bootstrap_systemd_service__service_workingdirectory }}
{% endif -%}

{% if bootstrap_systemd_service__service_execreload is defined %}
{% if bootstrap_systemd_service__service_execreload is string -%}
ExecReload={{ bootstrap_systemd_service__service_execreload }}
{% elif bootstrap_systemd_service__service_execreload is iterable -%}
{% for _item in bootstrap_systemd_service__service_execreload -%}
ExecReload={{ _item }}
{% endfor %}
{% endif -%}
{% endif -%}

{% if bootstrap_systemd_service__service_execstop is defined %}
ExecStop={{ bootstrap_systemd_service__service_execstop }}
{% endif -%}
{% if bootstrap_systemd_service__service_killmode is defined %}
KillMode={{ bootstrap_systemd_service__service_killmode }}
{% endif -%}

{% if bootstrap_systemd_service__service_execstartpre is defined %}
{% if bootstrap_systemd_service__service_execstartpre is string %}
ExecStartPre={{ bootstrap_systemd_service__service_execstartpre }}
{% elif bootstrap_systemd_service__service_execstartpre is iterable %}
{% for _exec_pre_item in bootstrap_systemd_service__service_execstartpre %}
ExecStartPre={{ _exec_pre_item }}
{% endfor %}
{% endif %}
{% endif -%}

{% if bootstrap_systemd_service__service_execstartpost is defined -%}
{% if bootstrap_systemd_service__service_execstartpost is string -%}
ExecStartPost={{ bootstrap_systemd_service__service_execstartpost }}
{% elif bootstrap_systemd_service__service_execstartpost is iterable -%}
{% for _exec_post_item in bootstrap_systemd_service__service_execstartpost -%}
ExecStartPost={{ _exec_post_item }}
{% endfor %}
{% endif %}
{% endif -%}

{% if bootstrap_systemd_service__service_execstoppost is defined %}
{% if bootstrap_systemd_service__service_execstoppost is string -%}
ExecStopPost={{ bootstrap_systemd_service__service_execstoppost }}
{% elif bootstrap_systemd_service__service_execstoppost is iterable -%}
{% for _item in bootstrap_systemd_service__service_execstoppost -%}
ExecStartPost={{ _item }}
{% endfor %}
{% endif -%}
{% endif -%}

{% if bootstrap_systemd_service__service_pidfile is defined %}
PIDFile={{ bootstrap_systemd_service__service_pidfile }}
{% endif %}
{% if bootstrap_systemd_service__service_busname is defined %}
BusName={{ bootstrap_systemd_service__service_busname }}
{% endif %}
{% if bootstrap_systemd_service__service_restart is defined %}
Restart={{ bootstrap_systemd_service__service_restart }}
{% endif %}
{% if bootstrap_systemd_service__service_restartsec is defined %}
RestartSec={{ bootstrap_systemd_service__service_restartsec }}
{% endif %}
{% if bootstrap_systemd_service__service_privatetmp is defined %}
PrivateTmp={{ bootstrap_systemd_service__service_privatetmp }}
{% endif -%}

{% if bootstrap_systemd_service__service_limitnofile is defined %}
LimitNOFILE={{ bootstrap_systemd_service__service_limitnofile }}
{% endif -%}

[Install]
{% if bootstrap_systemd_service__install_wantedby is defined %}
{% if bootstrap_systemd_service__install_wantedby is string -%}
WantedBy={{ bootstrap_systemd_service__install_wantedby }}
{% elif bootstrap_systemd_service__install_wantedby is iterable -%}
{% for _wantedby_item in bootstrap_systemd_service__install_wantedby %}
Before={{ _wantedby_item }}
{% endfor %}
{% endif -%}
{% endif -%}

{% if bootstrap_systemd_service__install_requiredby is defined %}
{% if bootstrap_systemd_service__install_requiredby is string -%}
RequiredBy={{ bootstrap_systemd_service__install_requiredby }}
{% elif bootstrap_systemd_service__install_requiredby is iterable -%}
{% for _requiredby_item in bootstrap_systemd_service__install_requiredby %}
Before={{ _requiredby_item }}
{% endfor %}
{% endif -%}
{% endif -%}

{% if bootstrap_systemd_service__install_upheldby is defined %}
{% if bootstrap_systemd_service__install_upheldby is string -%}
UpheldBy={{ bootstrap_systemd_service__install_upheldby }}
{% elif bootstrap_systemd_service__install_upheldby is iterable -%}
{% for _upheldby_item in bootstrap_systemd_service__install_upheldby %}
Before={{ _upheldby_item }}
{% endfor %}
{% endif -%}
{% endif -%}

{% if bootstrap_systemd_service__install_also is defined %}
Also={{ bootstrap_systemd_service__install_also }}
{% endif -%}

{% if bootstrap_systemd_service__install_alias is defined %}
Alias={{ bootstrap_systemd_service__install_alias }}
{% endif %}
