version: "3"

services:
  handson-ml2:
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
      args:
        - username=devel
        - userid=1000
#    container_name: handson-ml2
#    image: handson-ml2
#    image: "{{ docker_image.app_name }}"
    image: "{{ docker_registry }}/{{ docker_image.app_name }}"
    restart: "no"

