{{ '[VLAN]' }}
{% if item.vlan_id is defined and item.vlan_id != '' %}
{{ 'Id=' ~ item.vlan_id }}
{% endif %}
{% if item.gvrp is defined and item.gvrp in ['true', 'false'] %}
{{ 'GVRP=' + item.gvrp }}
{% endif %}
