{{ '[Bridge]' }}
{% if br.hello_time is defined and br.hello_time != '' %}
{{ 'HelloTimeSec=' ~ br.hello_time }}
{% endif %}
{% if br.max_age is defined and br.max_age != '' %}
{{ 'MaxAgeSec=' ~ br.max_age }}
{% endif %}
{% if br.forward_delay is defined and br.forward_delay != '' %}
{{ 'ForwardDelaySec=' ~ br.forward_delay }}
{% endif %}
{% if br.ageing_time is defined and br.ageing_time != '' %}
{{ 'AgeingTimeSec=' ~ br.ageing_time }}
{% endif %}
{% if br.prio is defined and br.prio != '' %}
{{ 'Priority=' ~ br.prio }}
{% endif %}
{% if br.group_forward_mask is defined and br.group_forward_mask != '' %}
{{ 'GroupForwardMask=' ~ br.group_forward_mask }}
{% endif %}
{% if br.default_pvid is defined and br.default_pvid != '' %}
{{ 'DefaultPVID=' ~ br.default_pvid }}
{% endif %}
{% if br.multicast_querier is defined and
  br.multicast_querier in ['true', 'false'] %}
{{ 'MulticastQuerier=' + br.multicast_querier }}
{% endif %}
{% if br.multicast_snooping is defined and
  br.multicast_snooping in ['true', 'false'] %}
{{ 'MulticastSnooping=' + br.multicast_snooping }}
{% endif %}
{% if br.vlan_filtering is defined and br.vlan_filtering in ['true', 'false'] %}
{{ 'VLANFiltering=' + br.vlan_filtering }}
{% endif %}
{% if br.stp is defined and br.stp in ['true', 'false'] %}
{{ 'STP=' + br.stp }}
{% endif %}
