-- Storage Authority
GRANT SELECT,INSERT ON certificates TO '{{ app_conf.sa.db_user }}'@'127.0.0.1';
GRANT SELECT,INSERT,UPDATE ON certificateStatus TO '{{ app_conf.sa.db_user }}'@'127.0.0.1';
GRANT SELECT,INSERT ON issuedNames TO '{{ app_conf.sa.db_user }}'@'127.0.0.1';
GRANT SELECT,INSERT,UPDATE ON certificatesPerName TO '{{ app_conf.sa.db_user }}'@'127.0.0.1';
GRANT SELECT,INSERT,UPDATE ON registrations TO '{{ app_conf.sa.db_user }}'@'127.0.0.1';
GRANT SELECT,INSERT,UPDATE,DELETE ON challenges TO '{{ app_conf.sa.db_user }}'@'127.0.0.1';
GRANT SELECT,INSERT on fqdnSets TO '{{ app_conf.sa.db_user }}'@'127.0.0.1';
GRANT SELECT,INSERT,UPDATE ON orders TO '{{ app_conf.sa.db_user }}'@'127.0.0.1';
GRANT SELECT,INSERT ON requestedNames TO '{{ app_conf.sa.db_user }}'@'127.0.0.1';
GRANT SELECT,INSERT,DELETE ON orderFqdnSets TO '{{ app_conf.sa.db_user }}'@'127.0.0.1';
GRANT SELECT,INSERT,UPDATE ON authz2 TO '{{ app_conf.sa.db_user }}'@'127.0.0.1';
GRANT SELECT,INSERT ON orderToAuthz2 TO '{{ app_conf.sa.db_user }}'@'127.0.0.1';
GRANT SELECT,INSERT ON serials TO '{{ app_conf.sa.db_user }}'@'127.0.0.1';
GRANT SELECT,INSERT ON precertificates TO '{{ app_conf.sa.db_user }}'@'127.0.0.1';
GRANT SELECT,INSERT ON keyHashToSerial TO '{{ app_conf.sa.db_user }}'@'127.0.0.1';
GRANT SELECT,INSERT ON blockedKeys TO '{{ app_conf.sa.db_user }}'@'127.0.0.1';
GRANT SELECT,INSERT,UPDATE ON newOrdersRL TO '{{ app_conf.sa.db_user }}'@'127.0.0.1';

-- OCSP Responder
GRANT SELECT ON certificateStatus TO '{{ app_conf.ocsp_responder.db_user }}'@'127.0.0.1';

-- OCSP Generator Tool (Updater)
GRANT SELECT ON certificates TO '{{ app_conf.ocsp_updater.db_user }}'@'127.0.0.1';
GRANT SELECT,UPDATE ON certificateStatus TO '{{ app_conf.ocsp_updater.db_user }}'@'127.0.0.1';
GRANT SELECT ON precertificates TO '{{ app_conf.ocsp_updater.db_user }}'@'127.0.0.1';

-- Revoker Tool
GRANT SELECT ON registrations TO '{{ app_conf.admin_revoker.db_user }}'@'127.0.0.1';
GRANT SELECT ON certificates TO '{{ app_conf.admin_revoker.db_user }}'@'127.0.0.1';

-- Expired authorization purger
GRANT SELECT,DELETE ON challenges TO '{{ app_conf.expired_authz_purger2.db_user }}'@'127.0.0.1';
GRANT SELECT,DELETE ON authz2 TO '{{ app_conf.expired_authz_purger2.db_user }}'@'127.0.0.1';

-- Janitor
GRANT SELECT,DELETE ON certificates TO '{{ app_conf.janitor.db_user }}'@'127.0.0.1';
GRANT SELECT,DELETE ON certificateStatus TO '{{ app_conf.janitor.db_user }}'@'127.0.0.1';
GRANT SELECT,DELETE ON certificatesPerName TO '{{ app_conf.janitor.db_user }}'@'127.0.0.1';
GRANT SELECT,DELETE ON sctReceipts TO '{{ app_conf.janitor.db_user }}'@'127.0.0.1';
GRANT SELECT,DELETE ON orders TO '{{ app_conf.janitor.db_user }}'@'127.0.0.1';
GRANT SELECT,DELETE ON requestedNames TO '{{ app_conf.janitor.db_user }}'@'127.0.0.1';
GRANT SELECT,DELETE ON orderFqdnSets TO '{{ app_conf.janitor.db_user }}'@'127.0.0.1';
GRANT SELECT,DELETE ON orderToAuthz2 TO '{{ app_conf.janitor.db_user }}'@'127.0.0.1';
