#{{ 'Ansible managed' | comment(format="# {}") }}
##
## ref: https://smallstep.com/docs/step-ca/certificate-authority-server-production#automated-renewal
## ref: https://smallstep.com/docs/step-ca/certificate-authority-server-production#the-standalone-step-renewal-daemon
##

[Unit]
Description=Step TLS Renewer
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
#ExecStart=/usr/local/bin/step ca renew --daemon {{ stepca_local_cert_dir }}/{{ stepca_hostname_full }}.pem {{ stepca_local_key_dir }}/{{ stepca_hostname_full }}-key.pem
ExecStart=step ca renew --daemon {{ stepca_local_cert_dir }}/{{ stepca_hostname_full }}.pem {{ stepca_local_key_dir }}/{{ stepca_hostname_full }}-key.pem

[Install]
WantedBy=multi-user.target
