jigdo=''
debianMirror='http://us.archive.ubuntu.com/ubuntu/'
nonusMirror=''
tmpDir='.'
jigdoOpts='--cache jigdo-file-cache.db'
wgetOpts='--passive-ftp --dot-style=mega --continue --timeout=30 --non-verbose'
scanMenu=''
filesPerFetch='10'
