version: 0.1
log:
  fields:
    service: registry
storage:
  cache:
    blobdescriptor: inmemory
  filesystem:
    rootdirectory: /var/lib/registry
  delete:
      enabled: true
http:
  addr: :5000
  headers:
    X-Content-Type-Options: [nosniff]
health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3

  {% if bootstrap_docker_registry__proxy_remote_url is defined %}
## ref: https://docs.docker.com/registry/recipes/mirror/
## ref: https://docs.docker.com/registry/configuration/
proxy:
  remoteurl: {{ bootstrap_docker_registry__proxy_remote_url }}
  {% endif %}
