[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no
[req_distinguished_name]
C = {{ bootstrap_docker_registry__country }}
ST = {{ bootstrap_docker_registry__province }}
L = {{ bootstrap_docker_registry__locality }}
O = {{ bootstrap_docker_registry__organization }}
OU = {{ bootstrap_docker_registry__organizational_unit }}
CN = {{ bootstrap_docker_registry__common_name }}

[v3_req]
# Extensions to add to a certificate request
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
{% if bootstrap_docker_registry__altnames | length > 0 %}
subjectAltName = @alt_names

[alt_names]
{% for name in bootstrap_docker_registry__altnames %}
{{ name.type }} = {{ name.name }}
{% endfor %}
{% endif %}
