---
# tasks/update_java_keystore.yml
# This file handles adding the intermediate CA and other trusted certificates
# to the Java keystore, ensuring Java applications trust our internal PKI.

- name: "update-java-keystore : Define Java keystore and password variables"
  ansible.builtin.set_fact:
    __java_keystore_file: "{{ deploy_pki_certs__java_keystore | d(__deploy_pki_certs__java_keystore_default) }}"
    __java_keystore_pass: "{{ deploy_pki_certs__java_keystore_pass }}"

- name: "update-java-keystore : Ensure the CA cert is present in the Java keystore"
#  when: __ca_cert_has_changed | d(false)
  community.general.java_cert:
    keystore_path: "{{ __java_keystore_file }}"
    keystore_pass: "{{ __java_keystore_pass }}"
    cert_alias: "{{ __deploy_pki_certs__vault_pki_ca_cert_basename }}"
    cert_path: "{{ deploy_pki_certs__trust_ca_cacert_dir }}/{{ __deploy_pki_certs__vault_pki_ca_cert_basename }}.{{ deploy_pki_certs__trust_cert_extension }}"
    owner: root
    group: root
    state: present
  register: __intermediate_ca_keystore_result
  become: true

- name: "update-java-keystore : Ensure external certificates are present in the Java keystore"
#  when: __external_ca_certs.data | dict2items | length > 0
  when: __external_ca_keys_list | d([]) | length > 0
  community.general.java_cert:
    keystore_path: "{{ __java_keystore_file }}"
    keystore_pass: "{{ __java_keystore_pass }}"
#    cert_alias: "trusted-external-{{ item.description | d('cert-' + ansible_loop.index | string) | slugify }}"
#    cert_path: "{{ deploy_pki_certs__trust_ca_cacert_dir }}/{{ item.description
#      | d('cert-' + ansible_loop.index | string) | slugify }}.{{ deploy_pki_certs__trust_cert_extension }}"
    cert_alias: "trusted-{{ current_cert_name }}"
    cert_path: "{{ deploy_pki_certs__trust_ca_cacert_dir }}/{{ current_cert_name }}.{{ deploy_pki_certs__trust_cert_extension }}"
    executable: "{{ deploy_pki_certs__keytool_path | d(omit) }}"
    state: present
  loop: "{{ __external_ca_keys_list }}"
#  loop: "{{ __external_ca_certs }}"
#  loop: "{{ __external_ca_certs.data | dict2items | map(attribute='key') | list }}"
  loop_control:
    loop_var: current_cert_name
#    index_var: ansible_loop_index
