[Unit]
Description={{ bootstrap_systemd_service__Unit_Description }}

{% if bootstrap_systemd_service__Unit_Documentation is defined %}
Documentation={{ bootstrap_systemd_service__Unit_Documentation }}
{% endif -%}

{% if bootstrap_systemd_service__Unit_DefaultDependencies is defined %}
DefaultDependencies={{ bootstrap_systemd_service__Unit_DefaultDependencies }}
{% endif -%}

{% if bootstrap_systemd_service__Unit_Requires is defined %}
{% if bootstrap_systemd_service__Unit_Requires is string %}
Requires={{ bootstrap_systemd_service__Unit_Requires }}
{% elif bootstrap_systemd_service__Unit_Requires is iterable -%}
{% for _require_item in bootstrap_systemd_service__Unit_Requires %}
Requires={{ _require_item }}
{% endfor %}
{% endif %}
{% endif -%}

{% if bootstrap_systemd_service__Unit_Wants is defined %}
{% if bootstrap_systemd_service__Unit_Wants is string %}
Wants={{ bootstrap_systemd_service__Unit_Wants }}
{% elif bootstrap_systemd_service__Unit_Wants is iterable -%}
{% for _want_item in bootstrap_systemd_service__Unit_Wants %}
Wants={{ _want_item }}
{% endfor %}
{% endif %}
{% endif -%}

{% if bootstrap_systemd_service__Unit_RequiresMountsFor is defined %}
{% if bootstrap_systemd_service__Unit_RequiresMountsFor is string %}
RequiresMountsFor={{ bootstrap_systemd_service__Unit_RequiresMountsFor }}
{% elif bootstrap_systemd_service__Unit_RequiresMountsFor is iterable -%}
{% for _item in bootstrap_systemd_service__Unit_RequiresMountsFor %}
RequiresMountsFor={{ _item }}
{% endfor %}
{% endif -%}
{% endif -%}

{% if bootstrap_systemd_service__Unit_AssertPathExists is defined %}
{% if bootstrap_systemd_service__Unit_AssertPathExists is string %}
AssertPathExists={{ bootstrap_systemd_service__Unit_AssertPathExists }}
{% elif bootstrap_systemd_service__Unit_AssertPathExists is iterable -%}
{% for _item in bootstrap_systemd_service__Unit_AssertPathExists %}
AssertPathExists={{ _item }}
{% endfor %}
{% endif -%}
{% endif -%}

{% if bootstrap_systemd_service__Unit_ConditionPathExists is defined %}
{% if bootstrap_systemd_service__Unit_ConditionPathExists is string %}
ConditionPathExists={{ bootstrap_systemd_service__Unit_ConditionPathExists }}
{% elif bootstrap_systemd_service__Unit_ConditionPathExists is iterable -%}
{% for _item in bootstrap_systemd_service__Unit_ConditionPathExists %}
ConditionPathExists={{ _item }}
{% endfor %}
{% endif -%}
{% endif -%}

{% if bootstrap_systemd_service__Unit_ConditionPathIsMountPoint is defined %}
{% if bootstrap_systemd_service__Unit_ConditionPathIsMountPoint is string %}
ConditionPathIsMountPoint={{ bootstrap_systemd_service__Unit_ConditionPathIsMountPoint }}
{% elif bootstrap_systemd_service__Unit_ConditionPathIsMountPoint is iterable -%}
{% for _item in bootstrap_systemd_service__Unit_ConditionPathIsMountPoint %}
ConditionPathIsMountPoint={{ _item }}
{% endfor %}
{% endif -%}
{% endif -%}

{% if bootstrap_systemd_service__Unit_Before is defined %}
{% if bootstrap_systemd_service__Unit_Before is string %}
Before={{ bootstrap_systemd_service__Unit_Before }}
{% elif bootstrap_systemd_service__Unit_Before is iterable -%}
{% for _before_item in bootstrap_systemd_service__Unit_Before %}
Before={{ _before_item }}
{% endfor %}
{% endif %}
{% endif -%}

{% if bootstrap_systemd_service__Unit_After is defined %}
{% if bootstrap_systemd_service__Unit_After is string %}
After={{ bootstrap_systemd_service__Unit_After }}
{% elif bootstrap_systemd_service__Unit_After is iterable -%}
{% for _after_item in bootstrap_systemd_service__Unit_After %}
After={{ _after_item }}
{% endfor %}
{% endif %}
{% endif -%}

[Service]
ExecStart={{ bootstrap_systemd_service__Service_ExecStart }}
EnvironmentFile=-{{ bootstrap_systemd_service__default_dir }}/{{ bootstrap_systemd_service__name }}
Type={{ bootstrap_systemd_service__Service_Type }}
{% if bootstrap_systemd_service__Service_RemainAfterExit is defined %}
RemainAfterExit=bootstrap_systemd_service__Service_RemainAfterExit
{% endif -%}

{% if bootstrap_systemd_service__Service_User is defined %}
User={{ bootstrap_systemd_service__Service_User }}
{% endif -%}
{% if bootstrap_systemd_service__Service_Group is defined %}
Group={{ bootstrap_systemd_service__Service_Group }}
{% endif -%}
{% if bootstrap_systemd_service__Service_WorkingDirectory is defined %}
WorkingDirectory={{ bootstrap_systemd_service__Service_WorkingDirectory }}
{% endif -%}

{% if bootstrap_systemd_service__Service_ExecReload is defined %}
{% if bootstrap_systemd_service__Service_ExecReload is string -%}
ExecReload={{ bootstrap_systemd_service__Service_ExecReload }}
{% elif bootstrap_systemd_service__Service_ExecReload is iterable -%}
{% for _item in bootstrap_systemd_service__Service_ExecReload -%}
ExecReload={{ _item }}
{% endfor %}
{% endif -%}

{% if bootstrap_systemd_service__Service_ExecStop is defined %}
ExecStop={{ bootstrap_systemd_service__Service_ExecStop }}
{% endif -%}
{% if bootstrap_systemd_service__Service_KillMode is defined %}
KillMode={{ bootstrap_systemd_service__Service_KillMode }}
{% endif -%}

{% if bootstrap_systemd_service__Service_ExecStartPre is defined %}
{% if bootstrap_systemd_service__Service_ExecStartPre is string %}
ExecStartPre={{ bootstrap_systemd_service__Service_ExecStartPre }}
{% elif bootstrap_systemd_service__Service_ExecStartPre is iterable %}
{% for _exec_pre_item in bootstrap_systemd_service__Service_ExecStartPre %}
ExecStartPre={{ _exec_pre_item }}
{% endfor %}
{% endif %}
{% endif -%}

{% if bootstrap_systemd_service__Service_ExecStartPost is defined -%}
{% if bootstrap_systemd_service__Service_ExecStartPost is string -%}
ExecStartPost={{ bootstrap_systemd_service__Service_ExecStartPost }}
{% elif bootstrap_systemd_service__Service_ExecStartPost is iterable -%}
{% for _exec_post_item in bootstrap_systemd_service__Service_ExecStartPost -%}
ExecStartPost={{ _exec_post_item }}
{% endfor %}
{% endif %}
{% endif -%}

{% if bootstrap_systemd_service__Service_ExecStopPost is defined %}
{% if bootstrap_systemd_service__Service_ExecStopPost is string -%}
ExecStopPost={{ bootstrap_systemd_service__Service_ExecStopPost }}
{% elif bootstrap_systemd_service__Service_ExecStopPost is iterable -%}
{% for _item in bootstrap_systemd_service__Service_ExecStopPost -%}
ExecStartPost={{ _item }}
{% endfor %}
{% endif -%}

{% if bootstrap_systemd_service__Service_PIDFile is defined %}
PIDFile={{ bootstrap_systemd_service__Service_PIDFile }}
{% endif %}
{% if bootstrap_systemd_service__Service_BusName is defined %}
BusName={{ bootstrap_systemd_service__Service_BusName }}
{% endif %}
{% if bootstrap_systemd_service__Service_Restart is defined %}
Restart={{ bootstrap_systemd_service__Service_Restart }}
{% endif %}
{% if bootstrap_systemd_service__Service_RestartSec is defined %}
RestartSec={{ bootstrap_systemd_service__Service_RestartSec }}
{% endif %}
{% if bootstrap_systemd_service__Service_PrivateTmp is defined %}
PrivateTmp={{ bootstrap_systemd_service__Service_PrivateTmp }}
{% endif -%}

{% if bootstrap_systemd_service__Service_LimitNOFILE is defined %}
LimitNOFILE={{ bootstrap_systemd_service__Service_LimitNOFILE }}
{% endif -%}

[Install]
{% if bootstrap_systemd_service__Install_WantedBy is defined %}
{% if bootstrap_systemd_service__Install_WantedBy is string -%}
WantedBy={{ bootstrap_systemd_service__Install_WantedBy }}
{% elif bootstrap_systemd_service__Install_WantedBy is iterable -%}
{% for _wantedby_item in bootstrap_systemd_service__Install_WantedBy %}
Before={{ _wantedby_item }}
{% endfor %}
{% endif -%}

{% if bootstrap_systemd_service__Install_RequiredBy is defined %}
{% if bootstrap_systemd_service__Install_RequiredBy is string -%}
RequiredBy={{ bootstrap_systemd_service__Install_RequiredBy }}
{% elif bootstrap_systemd_service__Install_RequiredBy is iterable -%}
{% for _requiredby_item in bootstrap_systemd_service__Install_RequiredBy %}
Before={{ _requiredby_item }}
{% endfor %}
{% endif -%}

{% if bootstrap_systemd_service__Install_UpheldBy is defined %}
{% if bootstrap_systemd_service__Install_UpheldBy is string -%}
UpheldBy={{ bootstrap_systemd_service__Install_UpheldBy }}
{% elif bootstrap_systemd_service__Install_UpheldBy is iterable -%}
{% for _upheldby_item in bootstrap_systemd_service__Install_UpheldBy %}
Before={{ _upheldby_item }}
{% endfor %}
{% endif -%}

{% if bootstrap_systemd_service__Install_Also is defined %}
Also={{ bootstrap_systemd_service__Install_Also }}
{% endif -%}

{% if bootstrap_systemd_service__Install_Alias is defined %}
Alias={{ bootstrap_systemd_service__Install_Alias }}
{% endif %}
