[Unit]
Description={{ bootstrap_systemd_service_Unit_Description }}

{% if bootstrap_systemd_service_Unit_Documentation is defined %}
Documentation={{ bootstrap_systemd_service_Unit_Documentation }}
{% endif -%}

{% if bootstrap_systemd_service_Unit_Requires is defined %}
{% if bootstrap_systemd_service_Unit_Requires is string %}
Requires={{ bootstrap_systemd_service_Unit_Requires }}
{% else %}
Requires={{ bootstrap_systemd_service_Unit_Requires | join(",") }}
{% endif %}
{% endif -%}

{% if bootstrap_systemd_service_Unit_Wants is defined %}
{% if bootstrap_systemd_service_Unit_Wants is string %}
Wants={{ bootstrap_systemd_service_Unit_Wants }}
{% else %}
Wants={{ bootstrap_systemd_service_Unit_Wants | join(",") }}
{% endif %}
{% endif -%}

{% if bootstrap_systemd_service_Unit_ConditionPathExists is defined %}
{% if bootstrap_systemd_service_Unit_ConditionPathExists is string %}
ConditionPathExists={{ bootstrap_systemd_service_Unit_ConditionPathExists }}
{% endif -%}
{% endif -%}

{% if bootstrap_systemd_service_Unit_Before is defined %}
{% if bootstrap_systemd_service_Unit_Before is string %}
Before={{ bootstrap_systemd_service_Unit_Before }}
{% else %}
Before={{ bootstrap_systemd_service_Unit_Before | join(",") }}
{% endif %}
{% endif -%}

{% if bootstrap_systemd_service_Unit_After is defined %}
{% if bootstrap_systemd_service_Unit_After is string %}
After={{ bootstrap_systemd_service_Unit_After }}
{% else %}
After={{ bootstrap_systemd_service_Unit_After | join(",") }}
{% endif %}
{% endif -%}

[Service]
ExecStart={{ bootstrap_systemd_service_Service_ExecStart }}
EnvironmentFile=-{{ bootstrap_systemd_service_default_dir }}/{{ bootstrap_systemd_service_name }}
Type={{ bootstrap_systemd_service_Service_Type }}

{% if bootstrap_systemd_service_Service_User is defined %}
User={{ bootstrap_systemd_service_Service_User }}
{% endif -%}
{% if bootstrap_systemd_service_Service_Group is defined %}
Group={{ bootstrap_systemd_service_Service_Group }}
{% endif -%}
{% if bootstrap_systemd_service_Service_WorkingDirectory is defined %}
WorkingDirectory={{ bootstrap_systemd_service_Service_WorkingDirectory }}
{% endif -%}

{% if bootstrap_systemd_service_ExecReload is defined %}
ExecReload={{ bootstrap_systemd_service_ExecReload }}
{% endif -%}

{% if bootstrap_systemd_service_Service_ExecStop is defined %}
ExecStop={{ bootstrap_systemd_service_Service_ExecStop }}
{% endif -%}
{% if bootstrap_systemd_service_Service_KillMode is defined %}
KillMode={{ bootstrap_systemd_service_Service_KillMode }}
{% endif -%}

{% if bootstrap_systemd_service_Service_ExecStartPre is defined %}
{% if bootstrap_systemd_service_Service_ExecStartPre is string %}
ExecStartPre={{ bootstrap_systemd_service_Service_ExecStartPre }}
{% elif bootstrap_systemd_service_Service_ExecStartPre is iterable %}
{% for i in bootstrap_systemd_service_Service_ExecStartPre %}
ExecStartPre={{ i }}
{% endfor %}
{% endif %}
{% endif -%}

{% if bootstrap_systemd_service_Service_ExecStartPost is defined -%}
{% if bootstrap_systemd_service_Service_ExecStartPost is string -%}
ExecStartPost={{ bootstrap_systemd_service_Service_ExecStartPost }}
{% elif bootstrap_systemd_service_Service_ExecStartPost is iterable -%}
{% for i in bootstrap_systemd_service_Service_ExecStartPost -%}
ExecStartPost={{ i }}
{% endfor %}
{% endif %}
{% endif -%}

{% if bootstrap_systemd_service_Service_ExecStopPost is defined %}
ExecStopPost={{ bootstrap_systemd_service_Service_ExecStopPost }}
{% endif -%}

{% if bootstrap_systemd_service_Service_PIDFile is defined %}
PIDFile={{ bootstrap_systemd_service_Service_PIDFile }}
{% endif %}
{% if bootstrap_systemd_service_Service_BusName is defined %}
BusName={{ bootstrap_systemd_service_Service_BusName }}
{% endif %}
{% if bootstrap_systemd_service_Service_Restart is defined %}
Restart={{ bootstrap_systemd_service_Service_Restart }}
{% endif %}
{% if bootstrap_systemd_service_Service_RestartSec is defined %}
RestartSec={{ bootstrap_systemd_service_Service_RestartSec }}
{% endif %}
{% if bootstrap_systemd_service_Service_PrivateTmp is defined %}
PrivateTmp={{ bootstrap_systemd_service_Service_PrivateTmp }}
{% endif -%}

{% if bootstrap_systemd_service_Service_LimitNOFILE is defined %}
LimitNOFILE={{ bootstrap_systemd_service_Service_LimitNOFILE }}
{% endif -%}

[Install]
{% if bootstrap_systemd_service_Install_WantedBy is defined %}
WantedBy={{ bootstrap_systemd_service_Install_WantedBy }}
{% endif -%}

{% if bootstrap_systemd_service_Install_RequiredBy is defined %}
RequiredBy={{ bootstrap_systemd_service_Install_RequiredBy }}
{% endif -%}

{% if bootstrap_systemd_service_Install_Also is defined %}
Also={{ bootstrap_systemd_service_Install_Also }}
{% endif -%}

{% if bootstrap_systemd_service_Install_Alias is defined %}
Alias={{ bootstrap_systemd_service_Install_Alias }}
{% endif %}
