{{ ansible_managed | comment }}
## ref: https://github.com/jenkinsci/configuration-as-code-plugin/tree/master/demos/credentials
credentials:
  system:
    domainCredentials:
    - credentials:
      - usernamePassword:
          id: "jenkins-admin"
          password: "${JENKINS_ADMIN_PASSWORD}"
          scope: GLOBAL
          username: "${JENKINS_ADMIN_USERNAME}"
          usernameSecret: true
      - basicSSHUserPrivateKey:
          description: "bitbucket-ssh-jenkins"
          id: "bitbucket-ssh-jenkins"
          privateKeySource:
            directEntry:
               privateKey: "${BITBUCKET_SSH_PRIVATE_KEY}"
              ## ref: https://github.com/jenkinsci/configuration-as-code-plugin/tree/master/demos/credentials#example
#              privateKey: "${readFile:${BITBUCKET_SSH_PRIVATE_KEY}}"
          scope: GLOBAL
          username: "${BITBUCKET_SSH_USERNAME}"
          usernameSecret: true
      - string:
          id: "bitbucket-ssh-jenkins-string"
          scope: GLOBAL
          secret: "${readFile:${BITBUCKET_SSH_PRIVATE_KEY}}"
          description: "bitbucket-ssh-jenkins key string"
      - usernamePassword:
          id: "docker-registry-admin"
          password: "${DOCKER_REGISTRY_PASSWORD}"
          scope: GLOBAL
          username: "admin"
          usernameSecret: true
      - usernamePassword:
          id: "github-jenkins"
          password: "${GITHUB_PASSWORD}"
          scope: GLOBAL
          username: "${GITHUB_USERNAME}"
          usernameSecret: true
    - domain:
        name: "INFRA"
        description: "INFRA domain"
      credentials:
        - usernamePassword:
            id: "infra-govc-cred"
            password: "${VSPHERE_PASSWORD}"
            scope: GLOBAL
            username: "${VSPHERE_USERNAME}"
            usernameSecret: true
        - usernamePassword:
            id: "infra-vcenter-cred"
            password: "${VSPHERE_PASSWORD}"
            scope: GLOBAL
            username: "${VSPHERE_USERNAME}"
            usernameSecret: true
        - usernamePassword:
            id: "infra-jenkins-git-user"
            password: "${JENKINS_GIT_PASSWORD}"
            scope: GLOBAL
            username: "jenkins"
            usernameSecret: true
        - usernamePassword:
            description: "ansible-ssh-password"
            id: "infra-ansible-ssh-password"
            password: "${ANSIBLE_SSH_PASSWORD}"
            scope: GLOBAL
            username: "${ANSIBLE_SSH_USERNAME}"
            usernameSecret: true
        - basicSSHUserPrivateKey:
            description: "jenkins-ansible-ssh"
            id: "jenkins-ansible-ssh"
            privateKeySource:
              directEntry:
                # privateKey: "${ANSIBLE_SSH_PRIVATE_KEY}"
                ## ref: https://github.com/jenkinsci/configuration-as-code-plugin/tree/master/demos/credentials#example
                privateKey: "${readFile:${ANSIBLE_SSH_PRIVATE_KEY}}"
            scope: GLOBAL
            username: "ansible"
            usernameSecret: true
        - string:
            id: "vmware-vcenter-password"
            scope: GLOBAL
            secret: "${VSPHERE_PASSWORD}"
            description: "vmware-vcenter-password"
        - string:
            id: "vmware-esxi-password"
            scope: GLOBAL
            secret: "${VMWARE_ESXI_PASSWORD}"
            description: "vmware-esxi-password"
        - string:
            id: "packer-ssh-password"
            scope: GLOBAL
            secret: "${PACKER_SSH_PASSWORD}"
            description: "packer-ssh-password"
        - string:
            id: "ansible-vault-password"
            scope: GLOBAL
            secret: "${ANSIBLE_VAULT_PASSWORD}"
            description: "Ansible Vault Password"
#        - file:
#            scope: GLOBAL
#            id: "ansible-vault-password-file"
#            fileName: ".vault_pass"
#            secretBytes: "${base64:${readFile:${ANSIBLE_VAULT_PASSWORD_FILE}}}"
##            secretBytes: "${readFile:${ANSIBLE_VAULT_PASSWORD_FILE}}"
#            description: "Ansible Vault Password File"
jenkins:
  agentProtocols:
  - "JNLP4-connect"
  - "Ping"
#  ## ref: https://webapp.chatgpt4google.com/s/MjcyNDgx
#  agentProtocols:
#  - jnlp:
#      agentInboundSecurity:
#        preference: "preferred"
#        randomSeed: "some-random-string"
#        fixedSecret: "${JENKINS_AGENT_SECRET}"
#  ## ref: https://webapp.chatgpt4google.com/s/MTk5ODA5
#  agents:
#    inbound:
#      - name: "jenkins-agent-{{ inventory_hostname_short }}"
#        agentType: "jnlp"
#        labels:
#          - "linux"
#          - "docker"
#          - "packer"
#        secret: "${JENKINS_AGENT_SECRET}"
  authorizationStrategy:
    ## ref: https://github.com/jenkinsci/configuration-as-code-plugin/tree/master/demos/global-matrix-auth
    ## ref: https://stackoverflow.com/questions/32111825/jenkins-how-to-set-authorization-on-project-basis
    ## ref: https://github.com/jenkinsci/matrix-auth-plugin/blob/master/src/test/resources/org/jenkinsci/plugins/matrixauth/integrations/casc/configuration-as-code.yml
    projectMatrix:
      permissions:
      - "GROUP:Overall/Administer:Domain Admins"
      - "GROUP:Overall/Administer:admin"
      - "GROUP:Overall/Read:authenticated"
      - "USER:Overall/Administer:admin"
  clouds:
{% if __docker_stack__jenkins__agent_swarm_mode|bool %}
  - dockerSwarm:
      agentTemplates:
#      - command: |-
#          sh
#          -cx
#          curl --connect-timeout 20 --max-time 60 -o agent.jar $DOCKER_SWARM_PLUGIN_JENKINS_AGENT_JAR_URL && java -jar agent.jar -jnlpUrl $DOCKER_SWARM_PLUGIN_JENKINS_AGENT_JNLP_URL -secret $DOCKER_SWARM_PLUGIN_JENKINS_AGENT_SECRET -noReconnect -workDir /tmp
      - command: |-
          sh
          -cx
          java -jar /home/jenkins/swarm-client.jar ${ENV_COMMAND_OPTIONS}
        dnsIps: "10.0.0.1"
        envVars: |-
          ENV_COMMAND_OPTIONS="-master '${JENKINS_HOST}' \
                      -tunnel '{{ __docker_stack__jenkins_agent_tunnel }}' \
                      -username '@/run/secrets/jenkins_agent_username' \
                      -password '@/run/secrets/jenkins_agent_password' \
                      -name 'docker-swarm-{{ inventory_hostname_short }}' \
                      -deleteExistingClients \
                      -disableClientsUniqueId \
                      -disableSslVerification"
        image: "{{ __docker_stack__jenkins_swarm_agent_image }}"
        label: "docker-agent docker dockercloud"
        limitsMemoryBytes: 0
        limitsNanoCPUs: 0
        osWindows: false
        reservationsMemoryBytes: 0
        reservationsNanoCPUs: 0
        secrets: |
          jenkins_admin_username:/run/secrets/jenkins_admin_username
          jenkins_admin_password:/run/secrets/jenkins_admin_password
        workingDir: "/tmp"
      dockerHost:
        uri: "http://socket-proxy:2375"
      dockerSwarmApiUrl: "http://socket-proxy:2375"
      jenkinsUrl: "${JENKINS_HOST}"
#      swarmNetwork: "socket_proxy"
      timeoutMinutes: 5
      tunnel: "{{ __docker_stack__jenkins_agent_tunnel }}"
{% else %}
  - docker:
      dockerApi:
        connectTimeout: 60
        dockerHost:
          uri: "tcp://socket-proxy:2375"
        readTimeout: 60
      exposeDockerHost: true
      name: "dockercloud01"
      ## ref: https://github.com/jenkinsci/configuration-as-code-plugin/tree/master/demos/docker
      templates:
#      - connector:
#          attach:
#            user: "jenkins"
      - connector:
          jnlp:
            jnlpLauncher:
              tunnel: "{{ __docker_stack__jenkins_agent_tunnel }}"
              workDirSettings:
                disabled: false
                failIfWorkDirIsMissing: false
                internalDir: "remoting"
        dockerTemplateBase:
          bindAllPorts: true
          cpuPeriod: 0
          cpuQuota: 0
          environment:
          - "gid={{ docker_stack__user_gid }}"
          - "uid={{ docker_stack__user_uid }}"
          - "JAVA_OPTS=-Djavax.net.ssl.trustStore=/var/lib/jenkins/cacerts -Djavax.net.ssl.trustStorePassword=changeit"
          image: "{{ __docker_stack__jenkins_agent_image }}"
          mounts:
          - "type=tmpfs,destination=/run"
          - "type=bind,source=/var/run/docker.sock,destination=/var/run/docker.sock"
          - "type=bind,source={{ __docker_stack__ca_java_keystore }},destination=/var/lib/jenkins/cacerts,readonly"
          - "type=bind,source={{ __docker_stack__ca_cert_bundle }},destination=/etc/ssl/certs/ca-certificates.crt,readonly"
          - "type=bind,source={{ __docker_stack__jenkins_stack_dir }}/jenkins_agent,destination=/home/jenkins"
          - "type=bind,source={{ __docker_stack__jenkins_data_dir }},destination=/data"
          - "type=bind,source={{ __docker_stack__jenkins_vmware_data_dir }},destination=/vmware"
          pullCredentialsId: "docker-registry-admin"
        instanceCapStr: "1"
        labelString: "docker dockercloud dockercloud-agent ansible"
        mode: EXCLUSIVE
        name: "dockercloud-agent"
#        pullStrategy: PULL_ALWAYS
        pullStrategy: PULL_LATEST
        pullTimeout: 300
#        remoteFs: "/home/jenkins"
        remoteFs: "/home/jenkins/agent"
        removeVolumes: true
        retentionStrategy:
          idleMinutes: 30
        stopTimeout: 0
{% endif %}
  crumbIssuer:
    standard:
      excludeClientIPFromCrumb: false
  disableRememberMe: false
  disabledAdministrativeMonitors:
  - "hudson.node_monitors.MonitorMarkedNodeOffline"
  - "hudsonHomeIsFull"
  - "jenkins.diagnostics.ControllerExecutorsAgents"
  labelAtoms:
  - name: "ansible"
  - name: "built-in"
  - name: "controller"
  - name: "docker"
  - name: "dockercloud"
  - name: "dockercloud-agent"
  - name: "linux"
  - name: "packer"
  - name: "swarm"
  - name: "jenkins-agent-{{ inventory_hostname_short }}"
  labelString: "controller"
  markupFormatter: "plainText"
  mode: NORMAL
  myViewsTabBar: "standard"
  noUsageStatistics: true
  ## ref: https://github.com/jenkinsci/matrix-auth-plugin/blob/master/src/test/resources/org/jenkinsci/plugins/matrixauth/integrations/casc/configuration-as-code.yml
  nodes:
  - permanent:
      labelString: "docker ansible"
      launcher:
        inbound:
          tunnel: "{{ __docker_stack__jenkins_agent_tunnel }}"
          workDirSettings:
            disabled: false
            failIfWorkDirIsMissing: false
            internalDir: "remoting"
            workDirPath: "/home/jenkins/agent"
      name: "jenkins-agent-{{ inventory_hostname_short }}"
      nodeProperties:
      - authorizationMatrix:
          inheritanceStrategy: "inheritingGlobal"
          permissions:
          - "GROUP:Agent/Build:authenticated"
          - "GROUP:Agent/Disconnect:authenticated"
          - "USER:Agent/Build:anonymous"
      remoteFS: "/home/jenkins/agent"
      retentionStrategy: "always"
  numExecutors: 4
  primaryView:
    all:
      name: "all"
  projectNamingStrategy: "standard"
  quietPeriod: 5
#  ## Since Jenkins 2.326, the agent-to-controller security subsystem is always enabled, so
#  ## following block is no longer needed and only prints a deprecation message and stacktrace during startup:
#  ##   j.s.s2m.AdminWhitelistRule#setMasterKillSwitch: Setting AdminWhitelistRule no longer has any effect.
#  ## ref: https://github.com/cider-security-research/cicd-goat/issues/15
#  remotingSecurity:
#    enabled: true
  scmCheckoutRetryCount: 0
  securityRealm:
    ldap:
      cache:
        size: 100
        ttl: 30
      configurations:
      - groupMembershipStrategy:
          fromGroupSearch:
            filter: "(| (member={0}) (memberOf={0}) (uniqueMember={0}) (memberUid={1}))"
        groupSearchBase: "ou=groups"
        groupSearchFilter: "(&(cn={0})(|(objectclass=posixGroup)(objectclass=groupOfNames)(objectclass=groupOfURLs)))"
#        groupSearchFilter: "(&(cn={0})(objectclass=groupOfNames))"
#        groupSearchFilter: "(&(cn={0})(objectclass=posixGroup))"
        inhibitInferRootDN: false
        managerDN: "${LDAP_USERNAME}"
        managerPasswordSecret: "${LDAP_PASSWORD}"
        rootDN: "{{ __docker_stack__jenkins_ldap_base_dn }}"
        server: "{{ __docker_stack__jenkins_ldap_host }}"
        userSearch: "uid={0}"
        userSearchBase: "ou=users"
      disableMailAddressResolver: false
      disableRolePrefixing: true
      groupIdStrategy: "caseInsensitive"
      userIdStrategy: "caseInsensitive"
  slaveAgentPort: "{{ __docker_stack__jenkins_agent_tcp_port }}"
  systemMessage: |+
    Welcome to our CI\CD server.  This Jenkins is configured and managed 'as code'.

  updateCenter:
    sites:
    - id: "default"
      url: "https://updates.jenkins.io/update-center.json"
  views:
  - all:
      name: "all"
  viewsTabBar: "standard"
globalCredentialsConfiguration:
  configuration:
    providerFilter: "none"
    typeFilter: "none"
security:
  apiToken:
    creationOfLegacyTokenEnabled: false
    tokenGenerationOnCreationEnabled: false
    usageStatisticsEnabled: true
  gitHooks:
    allowedOnAgents: false
    allowedOnController: false
  gitHostKeyVerificationConfiguration:
    sshHostKeyVerificationStrategy: "noHostKeyVerificationStrategy"
  globalJobDslSecurityConfiguration:
    useScriptSecurity: false
  ## ref: https://github.com/jenkinsci/authorize-project-plugin/blob/master/src/test/resources/org/jenkinsci/plugins/authorizeproject/ConfigurationAsCodeTest/global.config.TriggeringUsersAuthorizationStrategy.yml
  ## ref: https://bobcares.com/blog/jenkins-setup-docker/
#  queueItemAuthenticator:
#    authenticators:
#    - global:
#        strategy: "triggeringUsersAuthorizationStrategy"
##        strategy: "systemAuthorizationStrategy"
  sSHD:
    port: -1
  updateSiteWarningsConfiguration:
    ignoredWarnings:
    - "SECURITY-1350"
    - "SECURITY-1351"
    - "SECURITY-2232"
    - "SECURITY-2617-extended-choice-parameter"
unclassified:
  ansiColorBuildWrapper:
    colorMaps:
    - black: "#000000"
      blackB: "#4C4C4C"
      blue: "#1E90FF"
      blueB: "#4682B4"
      cyan: "#00CDCD"
      cyanB: "#00FFFF"
      green: "#00CD00"
      greenB: "#00FF00"
      magenta: "#CD00CD"
      magentaB: "#FF00FF"
      name: "xterm"
      red: "#CD0000"
      redB: "#FF0000"
      white: "#E5E5E5"
      whiteB: "#FFFFFF"
      yellow: "#AA5500"
      yellowB: "#FFFF00"
    - black: "#000000"
      blackB: "#555555"
      blue: "#0000AA"
      blueB: "#5555FF"
      cyan: "#00AAAA"
      cyanB: "#55FFFF"
      defaultBackground: 0
      defaultForeground: 7
      green: "#00AA00"
      greenB: "#55FF55"
      magenta: "#AA00AA"
      magentaB: "#FF55FF"
      name: "vga"
      red: "#AA0000"
      redB: "#FF5555"
      white: "#AAAAAA"
      whiteB: "#FFFFFF"
      yellow: "#AA5500"
      yellowB: "#FFFF55"
    - black: "black"
      blackB: "black"
      blue: "blue"
      blueB: "blue"
      cyan: "darkcyan"
      cyanB: "cyan"
      green: "green"
      greenB: "green"
      magenta: "darkorange"
      magentaB: "magenta"
      name: "css"
      red: "red"
      redB: "red"
      white: "white"
      whiteB: "white"
      yellow: "brown"
      yellowB: "yellow"
    - black: "#2E3436"
      blackB: "#2E3436"
      blue: "#3465A4"
      blueB: "#3465A4"
      cyan: "#06989A"
      cyanB: "#06989A"
      defaultBackground: 0
      defaultForeground: 7
      green: "#4E9A06"
      greenB: "#4E9A06"
      magenta: "#75507B"
      magentaB: "#75507B"
      name: "gnome-terminal"
      red: "#CC0000"
      redB: "#CC0000"
      white: "#D3D7CF"
      whiteB: "#D3D7CF"
      yellow: "#C4A000"
      yellowB: "#C4A000"
    globalColorMapName: "css"
  buildDiscarders:
    configuredBuildDiscarders:
    - "jobBuildDiscarder"
  buildStepOperation:
    enabled: false
  defaultFolderConfiguration:
    healthMetrics:
    - worstChildHealthMetric:
        recursive: true
  email-ext:
    adminRequiredForTemplateTesting: false
    allowUnregisteredEnabled: false
    charset: "UTF-8"
    debugMode: false
    defaultBody: |-
      $PROJECT_NAME - Build # $BUILD_NUMBER - $BUILD_STATUS:

      Check console output at $BUILD_URL to view the results.
    defaultContentType: "text/plain"
    defaultSubject: "$PROJECT_NAME - Build # $BUILD_NUMBER - $BUILD_STATUS!"
    defaultSuffix: "{{ docker_stack__email_default_suffix }}"
    defaultTriggerIds:
    - "hudson.plugins.emailext.plugins.trigger.FailureTrigger"
    mailAccount:
      smtpHost: "{{ docker_stack__smtp }}"
    maxAttachmentSize: -1
    maxAttachmentSizeMb: -1
    precedenceBulk: false
    watchingEnabled: false
  enrichedSummaryConfig:
    enrichedSummaryEnabled: false
    httpClientDelayBetweenRetriesInSeconds: 1
    httpClientMaxRetries: 3
    httpClientTimeoutInSeconds: 1
  fingerprints:
    fingerprintCleanupDisabled: false
    storage: "file"
  gitHubConfiguration:
    apiRateLimitChecker: ThrottleForNormalize
  gitHubPluginConfig:
    hookUrl: "https://{{ __docker_stack__jenkins_endpoint }}/github-webhook/"
  giteaServers:
    servers:
    - credentialsId: "infra-jenkins-git-user"
      displayName: "gitea-admin"
      manageHooks: true
      serverUrl: "https://gitea.admin.dettonville.int"
  globalLibraries:
    libraries:
    - cachingConfiguration:
        refreshTimeMinutes: 30
      defaultVersion: "main"
      includeInChangesets: false
      name: "pipeline-automation-lib"
      retriever:
        modernSCM:
          scm:
            git:
              credentialsId: "bitbucket-ssh-jenkins"
#              id: "0f7f6074-dd56-42c9-8db4-9d6ec8a0b566"
              remote: "{{ __docker_stack__jenkins_pipeline_lib_repo }}"
              traits:
              - "gitBranchDiscovery"
              - cleanBeforeCheckout:
                  extension:
                    deleteUntrackedNestedRepositories: true
  globalTimeOutConfiguration:
    operations:
    - "abortOperation"
    overwriteable: false
  injectionConfig:
    allowUntrusted: false
    enabled: false
#    enforceUrl: false
    injectCcudExtension: false
    injectMavenExtension: false
#  jiraCloudPluginConfig:
#    autoBuildsEnabled: false
#    autoDeploymentsEnabled: false
#    autoDeploymentsRegex: "^deploy to (?<envName>.*)$"
#    debugLogging: false
  junitTestResultStorage:
    storage: "file"
  location:
    adminAddress: "{{ docker_stack__email_admin_address }}"
    url: "${JENKINS_HOST}"
  mailer:
    charset: "UTF-8"
    defaultSuffix: "{{ docker_stack__email_default_suffix }}"
    smtpHost: "{{ docker_stack__smtp }}"
    useSsl: false
    useTls: false
#  pluginImpl:
#    enableCredentialsFromNode: false
  pollSCM:
    pollingThreadCount: 10
  prismConfiguration:
    theme: PRISM
  prometheusConfiguration:
    appendParamLabel: false
    appendStatusLabel: false
    collectDiskUsage: true
    collectingMetricsPeriodInSeconds: 180
    countAbortedBuilds: true
    countFailedBuilds: true
    countNotBuiltBuilds: true
    countSuccessfulBuilds: true
    countUnstableBuilds: true
    defaultNamespace: "default"
    fetchTestResults: true
    jobAttributeName: "jenkins_job"
    path: "prometheus"
    perBuildMetrics: false
    processingDisabledBuilds: false
    useAuthenticatedEndpoint: false
  scmGit:
    addGitTagAction: false
    allowSecondFetch: false
    createAccountBasedOnEmail: false
    disableGitToolChooser: false
    globalConfigEmail: "{{ docker_stack__email_admin_address }}"
    globalConfigName: "jenkins"
    hideCredentials: false
    showEntireCommitSummaryInChanges: false
    useExistingAccountWithSameEmail: false
  simple-theme-plugin:
    elements:
    - cssText:
        text: |
          :root {
              --material-primary: #ff973f !important;
          }
          #jenkins-head-icon {
              display: none;
          }
          #jenkins-home-link::before {
              background-repeat: no-repeat;
              height: 40px;
              display: inline-block;
              width: 80px;
              content: '';
              background-size: contain;
              vertical-align: middle;
          }
  slackNotifier:
    botUser: false
    sendAsText: false
  themeManager:
    disableUserThemes: true
    theme: "noOp"
  timestamper:
    allPipelines: false
    elapsedTimeFormat: "'<b>'HH:mm:ss.S'</b> '"
    systemTimeFormat: "'<b>'HH:mm:ss'</b> '"
  warningsParsers:
    consoleLogScanningPermitted: false
  whitelist:
    enabled: false
tool:
  ansible:
    installations:
    - home: "/usr/local/bin"
      name: "ansible-local-bin"
    - name: "ansible-venv"
      properties:
      - installSource:
          installers:
          - command:
              command: |+
                {{ __docker_stack__jenkins_ansible_tool_python_interpreter }} -m venv .venv/ansible && \
                .venv/ansible/bin/pip3 -q install --upgrade pip && \
                .venv/ansible/bin/pip3 -q install ansible && \
                .venv/ansible/bin/pip3 -q install jmespath netaddr requests pywinrm
              label: "ansible"
              toolHome: ".venv/ansible/bin"
  customTool:
    installations:
    - home: "/usr/local/bin"
      name: "packer-local"
#      labelSpecifics:
#      - label: "packer"
  git:
    installations:
    - home: "git"
      name: "Default"
  mavenGlobalConfig:
    globalSettingsProvider: "standard"
    settingsProvider: "standard"
#  packer:
#    installations:
#    - home: "/usr/local/bin"
#      name: "packer-1.6.2"
#    # packer_template_file: provision/base.json
  pipelineMaven:
    globalTraceability: false
    triggerDownstreamUponResultAborted: false
    triggerDownstreamUponResultFailure: false
    triggerDownstreamUponResultNotBuilt: false
    triggerDownstreamUponResultSuccess: true
    triggerDownstreamUponResultUnstable: false
  terraform:
    installations:
    - home: "/usr/bin"
      name: "terraform"
## ref: https://github.com/jenkinsci/matrix-auth-plugin/blob/master/src/test/resources/org/jenkinsci/plugins/matrixauth/integrations/casc/configuration-as-code.yml
## ref: https://stackoverflow.com/questions/54434162/how-to-create-a-jenkins-pipelinejob-via-configuration-as-code
jobs:
  - file: /var/jenkins_home/casc_configs/seedjob.groovy
