loglevel: "DEBUG"
backupScript: "job-backup-incremental.sh"
emailFrom: "{{ bootstrap_linux_core__backups_email_from }}"
emailTo: "{{ bootstrap_linux_core__backups_email_to }}"
logDir: "{{ bootstrap_linux_core__backups_log_dir }}"

backups:
  daily:
    backupLabel: daily
    targets:
      - srcDir: /data/Records
        destDir: /srv/backups/records/daily

      - srcDir: /data/media/photos
        destDir: /srv/backups/media/photos

      - srcDir: /data/lee
        destDir: /srv/backups/lee/daily

      - srcDir: /data/jasmin
        destDir: /srv/backups/jasmin/daily

  monthly:
    backupLabel: monthly
    targets:
      - srcDir: /data/Records
        destDir: /srv/backups/records/monthly

      - srcDir: /data/media/photos
        destDir: /srv/backups/media/photos

      - srcDir: /data/lee
        destDir: /srv/backups/lee/monthly

      - srcDir: /data/jasmin
        destDir: /srv/backups/jasmin/monthly
