{{ ansible_managed | comment(decoration='# ') }}
EMAIL_FROM={{ bootstrap_linux_core__backups_email_from }}
EMAIL_TO={{ bootstrap_linux_core__backups_email_to }}
LOG_DIR={{ bootstrap_linux_core__backups_log_dir }}
