# {{ ansible_managed }}

[Unit]
Description=Caddy web server, version 2
Documentation=https://caddyserver.com/docs/
After=network.target

[Service]
User={{ caddy_user }}
Group={{ caddy_user }}
WorkingDirectory={{ caddy_install_root }}
ReadWritePaths={{ caddy_install_root }}
ExecStart={{ caddy_install_root }}/caddy run --config {{ caddy_install_root }}/Caddyfile --resume --environ
ExecReload={{ caddy_install_root }}/caddy reload
TimeoutStopSec=5s
LimitNOFILE=1048576
LimitNPROC=512
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
PrivateDevices=yes
ProtectHome=yes
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
