---

report_inventory_facts_inventory_source: DEV

#report_inventory_facts_git_repo_user: ansible
#report_inventory_facts_git_repo_token: "fasdgasgdf"
report_inventory_facts_git_repo_endpoint: gitea.admin.example.int/infra/report-inventory-facts.git
#report_inventory_facts_git_repo_endpoint: "gitea.admin.example.int:2222/infra/report-inventory-facts.git"

report_inventory_facts_git_repo_url_scheme: https
#report_inventory_facts_git_repo_url_scheme: "ssh"
report_inventory_facts_git_repo_branch: main

report_inventory_facts_git_repo_cred: "{{ 'git' if report_inventory_facts_git_repo_url_scheme=='ssh' else report_inventory_facts_git_repo_user +':' + report_inventory_facts_git_repo_token
  }}"
report_inventory_facts_git_repo_url: "{{ report_inventory_facts_git_repo_url_scheme }}://{{ report_inventory_facts_git_repo_endpoint }}"
report_inventory_facts_git_repo_url_cred: "{{ report_inventory_facts_git_repo_url_scheme }}://{{ report_inventory_facts_git_repo_cred }}@{{ report_inventory_facts_git_repo_endpoint
  }}"

#report_inventory_facts_git_ssh_private_keydir: "{{ '~/.ssh/' | expanduser }}"
report_inventory_facts_git_ssh_private_keyfile: ansible_git_ssh.key
#report_inventory_facts_git_ssh_private_key: "sshkeyhere"

#report_inventory_facts_create_mindmap: true
report_inventory_facts_create_mindmap: false

report_inventory_facts_git_user: ansible
report_inventory_facts_git_email: ansible@example.int

report_inventory_facts_cleanup_tempdir: true

report_inventory_list_facts_flattened_common:
  nodename: "{{ ansible_facts['nodename'] }}"
  machine_type: "{{ 'vm' if ansible_facts['virtualization_role'] | d('') == 'guest' else 'baremetal' }}"
  domain: "{{ ansible_facts['domain'] }}"
  distribution: "{{ ansible_facts['distribution'] }}"
  distribution_major_version: "{{ ansible_facts['distribution_major_version'] }}"
  distribution_version: "{{ ansible_facts['distribution_version'] }}"
  architecture: "{{ ansible_facts['architecture'] }}"
  bios_date: "{{ ansible_facts['bios_date'] }}"
  bios_version: "{{ ansible_facts['bios_version'] }}"
  default_gateway: "{{ ansible_facts | community.general.json_query('interfaces[*].default_gateway') }}"
  mac_address: "{{ ansible_facts | community.general.json_query('interfaces[*].macaddress') }}"
  uptime: "{{ ansible_facts['uptime_seconds'] }}"
  machine_id: "{{ ansible_facts['machine_id'] }}"
  total_memory: "{{ ansible_facts['memtotal_mb'] }}"
  processor: "{{ ansible_facts | community.general.json_query('processor[1]') }}"
  processor_cores: "{{ ansible_facts['processor_cores'] }}"
  processor_count: "{{ ansible_facts['processor_count'] }}"
  product_name: "{{ ansible_facts['product_name'] }}"
  ansible_user: "{{ ansible_user }}"
  ansible_host: "{{ ansible_host }}"
  ansible_hostname: "{{ ansible_facts['hostname'] | d('') }}"
  ansible_port: "{{ ansible_facts['port'] | d('') }}"
  ansible_fqdn: "{{ ansible_facts['fqdn'] | d('') }}"
  ansible_default_ipv4_address: "{{ ansible_facts['default_ipv4']['address'] | d(ansible_facts['all_ipv4_addresses'][0]) | d('') }}"
  ansible_connection: "{{ ansible_connection | d('') }}"
  ansible_virtualization_type: "{{ ansible_facts['virtualization_type'] | d('') }}"
  ansible_virtualization_role: "{{ ansible_facts['virtualization_role'] | d('') }}"
  ansible_system_vendor: "{{ ansible_facts['system_vendor'] | d('') }}"
  ansible_product_name: "{{ ansible_facts['product_name'] | d('') }}"
  ansible_os_family: "{{ ansible_facts['os_family'] | d('unknown') }}"
  ansible_distribution: "{{ ansible_facts['distribution'] | d('unknown') }}"
  ansible_distribution_release: "{{ ansible_facts['distribution_release'] | d('unknown') }}"
  ansible_distribution_major_version: "{{ ansible_facts['distribution_major_version'] | d('unknown') }}"
  group_names: "{{ group_names }}"

report_inventory_list_facts_flattened_linux:
  interface_name: "{{ ansible_facts.interfaces | d([]) | flatten }}"
  ipv4_address: "{{ ansible_facts.all_ipv4_addresses | d([]) | flatten }}"
  ipv6_address: "{{ ansible_facts.all_ipv6_addresses | d([]) | flatten }}"
  ansible_python_interpreter: "{{ ansible_python_interpreter | d('unknown') }}"
  ansible_pip_executable: "{{ ansible_pip_executable | d('unknown') }}"

report_inventory_list_facts_flattened_windows:
  interface_name: "{{ ansible_facts | community.general.json_query('interfaces[*].interface_name') | flatten }}"
  ipv4_address: "{{ ansible_facts | community.general.json_query('interfaces[*].ipv4.address') + ansible_facts.ip_addresses | d([]) | ansible.utils.ipv4('address') | flatten }}"
  ipv6_address: "{{ ansible_facts | community.general.json_query('interfaces[*].ipv6.address') + ansible_facts.ip_addresses | d([]) | ansible.utils.ipv6('address') | flatten }}"
  ansible_winrm_transport: "{{ ansible_winrm_transport | d('') }}"
  ansible_winrm_scheme: "{{ ansible_winrm_scheme | d('') }}"
  ansible_winrm_server_cert_validation: "{{ ansible_winrm_server_cert_validation | d('') }}"
  windows_domain_member: "{{ ansible_facts['windows_domain_member'] }}"
  windows_domain_role: "{{ ansible_facts['windows_domain_role'] }}"
  connection_name: "{{ ansible_facts | community.general.json_query('interfaces[*].connection_name') }}"
  lastboot: "{{ ansible_facts['lastboot'] }}"
  reboot_pending: "{{ ansible_facts['reboot_pending'] }}"

report_inventory_list_headers:
  nodename: Hostname
  machine_type: Machine Type
  domain: Domain
  windows_domain_member: Domain Member
  windows_domain_role: Domain Role
  distribution: OS
  distribution_major_version: Major Version
  distribution_version: Version
  architecture: Architecture
  bios_date: Bios Date
  bios_version: Bios Version
  connection_name: Connection Name(s)
  interface_name: Interface Name(s)
  ipv4_address: IPv4 Address
  ipv6_address: IPv6 Address
  default_gateway: Default Gateway
  mac_address: MAC Address
  lastboot: Last Boot
  reboot_pending: Last Boot
  uptime: Uptime Seconds
  machine_id: Machine ID
  total_memory: Total Memory MB
  processor: Processor
  processor_cores: Processor Cores
  processor_count: Processor Count
  product_name: Product Name
  group_names: Ansible Inventory Groups
