#!ipxe
#set ubuntu_mirror http://pxeboot.johnson.int:9080
set ubuntu_mirror http://192.168.0.15:9080
#set ubuntu_mirror http://${66}:9080
set dist_dir pxe/ubuntu/20.04
#set dir pxe/ubuntu/20.04/netboot/casper
set netboot_dir ${dist_dir}/netboot/casper
set squash_url ${ubuntu_mirror}/${netboot_dir}/filesystem.squashfs
set kernel_url ${ubuntu_mirror}/${dist_dir}
#set preseedurl ${kernel_url}/preseed.cfg
#set preseedurl ${kernel_url}/cloud.cfg
set preseedurl ${kernel_url}/autoinstall/

set nfsrooturl 192.168.0.15:/export/netboot/
set nfs_server_ip 192.168.0.15
set nfs_path /export/netboot

## ref: https://www.turnkeylinux.org/forum/support/20090127/pxe-boot
imgfree
kernel ${ubuntu_mirror}/${netboot_dir}/vmlinuz
initrd ${ubuntu_mirror}/${netboot_dir}/initrd
imgargs vmlinuz \
    initrd=initrd \
    boot=casper \
    root=/dev/nfs \
    ip=dhcp \
    netboot=nfs \
    toram \
    locale=en_US.UTF-8 \
    hostname= \
    keyboard-configuration/layoutcode=us \
    languagechooser/language-name=English \
    auto-install/enable=true \
    autoinstall \
    auto=true \
    autopart \
    priority=critical \
    nfsroot=${nfsrooturl} \
    ds=nocloud-net;s=${preseedurl} \
    vga=normal \
    --- quiet

echo
boot
exit
