# check_docker.yml
---
- name: awx_postgres_data_dir should be defined
  ansible.builtin.assert:
    that:
      - awx_postgres_data_dir is defined and awx_postgres_data_dir != ''
    msg: "Set the value of 'awx_postgres_data_dir' in the inventory file."
  when: awx_pg_hostname is not defined or awx_pg_hostname == ''

- name: awx_host_port should be defined
  ansible.builtin.assert:
    that:
      - awx_host_port is defined and awx_host_port != ''
    msg: "Set the value of 'awx_host_port' in the inventory file."
