*.retry

collections/ansible_collections
.molecule
./vaultpass
**/test_default.pyc
**/__pycache__/
**/pytestdebug.log

.rsync/
.idea/
.vscode/
venv/
save/
.DS_Store

*~

fetched/

*.log
.vault_pass

id_rsa

private/
files/private/
files/scripts/bashenv/.bash_env
vars/secrets.yml
secrets.yml
*.secrets.yml
