.vagrant
*.swp
*.pyc
*.retry
.molecule
./vaultpass

.pytest_cache/
__pycache__/

.test-reports/
.test-results/
test-results/

#collections/ansible_collections

.rsync/
.idea/
.vscode/
venv/
save/
.DS_Store

*~
*.log
.vault_pass

id_rsa

private/
files/private/
vars/vault.yml
vars/secrets.yml
vault.yml
*.vault.yml
secrets.yml
*.secrets.yml
