## TODO remove the following when resolved
# SC1083 (warning): This } is literal. Check expression (missing ;/\n?) or quote it
disable=SC1083
# SC1090 (warning): ShellCheck can't follow non-constant source. Use a directive to specify location
disable=SC1090
# SC1091 (info): Not following: tests/utils.sh was not specified as input (see shellcheck -x)
disable=SC1091
# SC1128 (error): The shebang must be on the first line. Delete blanks and move comments
disable=SC1128
# SC2001 (style): See if you can use ${variable//search/replace} instead
disable=SC2001
# SC2002 (style): Useless cat. Consider 'cmd < file | ..' or 'cmd file | ..' instead
disable=SC2002
# SC2004 (style): $/${} is unnecessary on arithmetic variables
disable=SC2004
# SC2006 (style): Use $(...) notation instead of legacy backticks
disable=SC2006
# SC2007 (style): Use $((..)) instead of deprecated $[..]
disable=SC2007
# SC2010 (warning): Don't use ls | grep. Use a glob or a for loop with a condition to allow non-alphanumeric filenames
disable=SC2010
# SC2012 (info): Use find instead of ls to better handle non-alphanumeric filenames
disable=SC2012
# SC2015 (info): Note that A && B || C is not if-then-else. C may run when A is true
disable=SC2015
# SC2016 (info): Expressions don't expand in single quotes, use double quotes for that
disable=SC2016
# SC2021 (info): Don't use [] around classes in tr, it replaces literal square brackets
disable=SC2021
# SC2028 (info): echo may not expand escape sequences. Use printf
disable=SC2028
# SC2034 (warning): var appears unused. Verify it or export it.
disable=SC2034
# SC2035 (info): Use ./*glob* or -- *glob* so names with dashes won't become options
disable=SC2035
# SC2046 (warning): Quote this to prevent word splitting
disable=SC2046
# SC2053 (warning): Quote the right-hand side of != in [[ ]] to prevent glob matching
disable=SC2053
# SC2059 (info): Don't use variables in the printf format string. Use printf
disable=SC2059
# SC2061 (warning): Quote the parameter to -name so the shell won't interpret it
disable=SC2061
# SC2062 (warning): Quote the grep pattern so the shell won't interpret it
disable=SC2062
# SC2063 (warning): Grep uses regex, but this looks like a glob
disable=SC2063
# SC2064 (warning): Use single quotes, otherwise this expands now rather than when signalled
disable=SC2064
# SC2068 (error): Double quote array expansions to avoid re-splitting elements
disable=SC2068
# # SC2070 -- -n doesn't work with unquoted arg
# disable=SC2070
# # SC2086 (info): Double quote to prevent globbing and word splitting.
# disable=SC2086
# SC2088 (warning): Tilde does not expand in quotes. Use $HOME
disable=SC2088
# SC2104 (error): In functions, use return instead of continue
disable=SC2104
# SC2115 (warning): Use "${var:?}" to ensure this never expands to /
disable=SC2115
# SC2116 (style): Useless echo? Instead of 'cmd $(echo foo)', just use 'cmd foo'.
disable=SC2116
# SC2124 (warning): Assigning an array to a string! Assign as array, or use * instead of @ to concatenate
disable=SC2124
# SC2128 (warning): Expanding an array without an index only gives the first element
disable=SC2128
# SC2139 (warning): This expands when defined, not when used. Consider escaping
disable=SC2139
# SC2145 -- Argument mixes string and array
disable=SC2145
# SC2148 (error): Tips depend on target shell and yours is unknown. Add a shebang or a 'shell' directive
disable=SC2148
# SC2153 (info): Possible misspelling: JENKINS_HOME may not be assigned. Did you mean JENKINS_HOST
disable=SC2153
# SC2154 (warning): var is referenced but not assigned.
disable=SC2154
# SC2155 (warning): Declare and assign separately to avoid masking return values
disable=SC2155
# SC2162 (info): read without -r will mangle backslashes
disable=SC2162
# SC2164 (warning): Use 'cd ... || exit' or 'cd ... || return' in case cd fails
disable=SC2164
# SC2166 (warning): Prefer [ p ] || [ q ] as [ p -o q ] is not well defined
disable=SC2166
# SC2181 (style): Check exit code directly with e.g. 'if ! mycmd;', not indirectly with $?
disable=SC2181
# SC2188 (warning): This redirection doesn't have a command. Move to its command (or use 'true' as no-op)
disable=SC2188
# SC2196 (info): egrep is non-standard and deprecated. Use grep -E instead
disable=SC2196
# SC2206 (warning): Quote to prevent word splitting/globbing, or split robustly with mapfile or read -a
disable=SC2206
# SC2207 (warning): Prefer mapfile or read -a to split command output (or quote to avoid splitting)
disable=SC2207
# SC2220 (warning): Invalid flags are not handled. Add a *) case
disable=SC2220
# SC2226 (warning): This ln has no destination. Check the arguments, or specify '.' explicitly
disable=SC2226
# SC2231 (info): Quote expansions in this for loop glob to prevent wordsplitting, e.g. "$dir"/*.txt
disable=SC2231
# SC2235 (style): Use { ..; } instead of (..) to avoid subshell overhead
disable=SC2235
# SC2236 (style): Use -n instead of ! -z.
disable=SC2236
# SC2259 -- This redirection overrides piped
disable=SC2259
# SC2260 (error): This redirection overrides the output pipe. Use 'tee' to output to both
disable=SC2260
# SC2317 (warning): Command appears to be unreachable. Check usage (or ignore if invoked indirectly).
disable=SC2317
# SC2329 (warning): This function is never invoked. Check usage (or ignore if invoked indirectly).
disable=SC2329
