---
# Based on ansible-lint config
extends: default
locale: en_US.UTF-8

## ignore paths
## ref: https://github.com/adrienverge/yamllint/blob/master/docs/configuration.rst#ignoring-paths
ignore-from-file: [.gitignore, .yamlignore]

#ignore:
#   - .github/stale.yml
#   - .travis.yml
#  - archive/
#  - collections/
#  - save/

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  colons:
    max-spaces-after: -1
    level: error
  commas:
    max-spaces-after: -1
    level: error
#  comments: disable
  comments:
    ## compatibility with ansible-lint
    ## ref: https://ansible.readthedocs.io/projects/lint/rules/yaml/#yamllint-configuration
    min-spaces-from-content: 1 # prettier compatibility
  comments-indentation: disable
  document-start: disable
  empty-lines:
    max: 3
    level: error
  hyphens:
    level: error
#  indentation: disable
  key-duplicates: enable
#  key-ordering: enable
  line-length: disable
#  line-length:
#    max: 120
#    level: warning
  new-line-at-end-of-file: disable
  new-lines:
    type: unix
  octal-values:
    ## compatibility with ansible-lint
    ## ref: https://ansible.readthedocs.io/projects/lint/rules/yaml/#yamllint-configuration
    forbid-implicit-octal: true # yamllint defaults to false
    forbid-explicit-octal: true # yamllint defaults to false
  trailing-spaces: disable
  truthy: disable
