#[galaxy]
#server_list = published_repo
#
#[galaxy_server.published_repo]
#url=https://ansiblehub.dettonville.int/api/galaxy/content/published/

[defaults]
remote_tmp = ~/.ansible/tmp
local_tmp = ~/.ansible/tmp

## ref: https://stackoverflow.com/questions/23074412/how-to-set-host-key-checking-False-in-ansible-inventory-file
host_key_checking = False

## https://stackoverflow.com/questions/39533532/ansible-timeout-12s-waiting-for-privilege-escalation-prompt
timeout = 30

# --- Paths & Structure ---
roles_path = ./roles
## be explicit, no relative path that could shadow installed collections
collections_paths = ~/.ansible/collections:/usr/share/ansible/collections
inventory = ./inventory/PROD/

# --- Custom plugin layouts restructured uniformly ---
## ref: https://stackoverflow.com/questions/53750049/location-to-keep-ansible-custom-modules
#library = ./library
#library = ~/.ansible/plugins/modules:/usr/share/ansible/plugins/modules:./library
library = ./plugins/modules

## custom filter paths
#filter_plugins = ./filter_plugins
filter_plugins = ./plugins/filter

## ref: https://github.com/ansible/ansible/issues/14678
#hash_behaviour = merge

# default user to use for playbooks if user is not specified
# (/usr/bin/ansible will use current user as default)

#ansible_user = deployer
#remote_user = root
#remote_user = deployer

# --- Logging & Output Formatting ---
## ref: https://docs.ansible.com/ansible/2.4/intro_configuration.html#log-path
#log_path = /var/log/ansible.log
log_path = ansible.log
force_color = 1
display_skipped_hosts = True

# Modern Ansible callback behavior
bin_ansible_callbacks = True
# Use the stdout_callback when running ad-hoc commands
#result_format = community.general.yaml
result_format = yaml

#callbacks_enabled = profile_tasks,timer
#callbacks_enabled = timer

# --- Error Handling & Safety ---
force_valid_group_names = always
## https://issues.jenkins-ci.org/browse/JENKINS-54557
ignore_unreachable = True

[inventory]
## how to enable fact caching on the ansible server
## ref: https://docs.ansible.com/ansible/latest/plugins/cache.html
#cache=True
cache=False

## If you configure Ansible with just the inventory plugin you are using,
## you avoid warnings about files not meeting the requirements of the other plugins.
## ref: https://github.com/ansible/ansible/issues/48859
#enable_plugins = ini

## ref: https://github.com/ansible/ansible/issues/40903
#enable_plugins = openstack

## ref: http://willthames.github.io/2017/11/01/generating-inventory.html
#enable_plugins = host_list,script,auto,yaml,ini,toml,openstack
enable_plugins = host_list, script, auto, yaml, ini, toml

[ssh_connection]
pipelining = True

# # --- CRITICAL FIX ---
# # Disabled to resolve the Python 3.12 zipimport 'FileNotFoundError'
# # during heavy package/apt module executions.
# pipelining = False

# SSH configuration belongs under [ssh_connection], not [defaults]
# Added IdentitiesOnly to completely isolate Jenkins/Packer local agent keys
ansible_ssh_common_args = '-C -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o IdentitiesOnly=yes'
#ssh_args = -o AddKeysToAgent=no

#ansible_ssh_use_agent = False
#ssh_use_agent = False

## To ensure Ansible SSH does not use keys from ~/.ssh
#ansible_ssh_common_args='-o userknownhostsfile=/dev/null'
#ansible_ssh_common_args = '-o IdentitiesOnly=yes -o userknownhostsfile=/dev/null'
