#ansible==2.9.4
ansible

molecule[docker]
pytest-testinfra

## vmware
pyVmomi
pyVim

## python-ldap
## required for the ansible ldap modules to work
## MUST install OS specific libs first for this to work
## https://www.python-ldap.org/en/python-ldap-3.3.0/installing.html
#python-ldap

## The ipaddr filter requires python's netaddr be installed on the ansible controller
netaddr

## windowsRM
## ref: https://docs.ansible.com/ansible/latest/user_guide/windows_winrm.html
pywinrm>=0.3.0

## auth related
passlib

## ansible tower libs
## https://docs.ansible.com/ansible/latest/collections/awx/awx/export_module.html#ansible-collections-awx-awx-export-module
awxkit>=9.3.0

## to operate openstack
#python-openstackclient

## dell open management sdk
## ref: https://github.com/dell/dellemc-openmanage-ansible-modules
#omsdk

## library module requirements
ruamel.yaml

python-vagrant
