ansible

## ref: https://www.jeffgeerling.com/blog/2024/newer-versions-ansible-dont-work-rhel-8
#ansible-core==2.17.2
#ansible-core==2.16.3

###'ansible-compat<4' is required due to https://github.com/ansible-community/molecule/issues/3903
### if moving to latest ansible-compat  - we get error "AttributeError: 'Runtime' object has no attribute 'exec'"
##ansible-compat<4
#ansible-compat

pyyaml
jmespath
netaddr
requests
requests-credssp
pywinrm
ruamel.yaml
dnspython
pytz
py
python-dateutil

## auth related
passlib

## library module requirements
ruamel.yaml

## python-ldap
## required for the ansible ldap modules to work
## MUST install OS specific libs first for this to work
## https://www.python-ldap.org/en/python-ldap-3.3.0/installing.html
python-ldap

#########
## Test related requirements
docker
yamllint
ansible-lint
ansible-lint-junit
edgegrid-python
defusedxml
yaml-lint-to-junit-xml
pytest
pytest-shell-utilities
pytest-parallel
pytest-testinfra
pytest-testinfra

#####################
## molecule related requirements
## ref: https://molecule.readthedocs.io/installation/#pip
## ref: https://github.com/ansible-community/molecule-plugins
#molecule[docker]
molecule
molecule-plugins[docker]

## vmware
pyVmomi
pyVim

## ansible tower libs
## https://docs.ansible.com/ansible/latest/collections/awx/awx/export_module.html#ansible-collections-awx-awx-export-module
#awxkit>=9.3.0

## to operate openstack
#python-openstackclient

## dell open management sdk
## ref: https://github.com/dell/dellemc-openmanage-ansible-modules
#omsdk

#python-vagrant
