#########################################
ansible-core
#ansible-core==2.20.2

pyyaml
jmespath
netaddr
requests
requests-credssp
pywinrm
ruamel.yaml
dnspython
pytz
py
python-dateutil

## auth related
passlib

## library module requirements
ruamel.yaml

#########
## Test related requirements
docker
yamllint
ansible-lint
ansible-lint-junit
edgegrid-python
defusedxml
yaml-lint-to-junit-xml
pytest
pytest-shell-utilities
pytest-parallel
pytest-testinfra
pytest-testinfra

#####################
## molecule related requirements
## ref: https://molecule.readthedocs.io/installation/#pip
## ref: https://github.com/ansible-community/molecule-plugins
#molecule[docker]
molecule
molecule-plugins[docker]
