ansible
docker
yamllint
ansible-lint

## ref: https://molecule.readthedocs.io/installation/#pip
## ref: https://github.com/ansible-community/molecule-plugins
#molecule[docker]
molecule-plugins[docker]

pytest-testinfra

## The ipaddr filter requires python's netaddr be installed on the ansible controller
netaddr

## windowsRM
## ref: https://docs.ansible.com/ansible/latest/user_guide/windows_winrm.html
pywinrm>=0.3.0

## auth related
passlib

## library module requirements
ruamel.yaml
