#ansible==2.9.4
ansible

## kolla-ansible prerequirements
## ref: https://github.com/gitpython-developers/gitdb/issues/61
gitdb2==4.0.2
pyyaml

## for kolla-ansible
## ref: https://docs.openstack.org/project-deploy-guide/kolla-ansible/latest/quickstart.html
kolla-ansible
kolla

## to operate openstack
python-openstackclient

## dell open management sdk
## ref: https://github.com/dell/dellemc-openmanage-ansible-modules
omsdk
