#ansible

#########################################
## ansible-core 2.17 drops support for Python 3.6 for target executions.
## The decision to drop Python 3.6 was intentional, due to a large scope of work related
## to future security that relies on the contextvars Python module introduced in Python 3.7.
##
## The impact for EL8 is that the packaging related modules depend on python bindings
## for rpm, dnf, gpgme, libcomps, and libdnf, and as such the dnf and package_facts modules are inoperable.
## Those python bindings are only packaged for the system python, and not the newer python versions available in RHEL.
##
## ref: https://github.com/ansible/ansible/issues/83357#issuecomment-2150254754
## ref: https://github.com/ansible/ansible/issues/83357
## ref: https://www.jeffgeerling.com/blog/2024/newer-versions-ansible-dont-work-rhel-8
## ref: https://github.com/ansible-collections/news-for-maintainers/issues/54
## ref: https://github.com/ansible-collections/news-for-maintainers/discussions/55
## ref: https://stackoverflow.com/questions/62634946/ansible-with-python3-on-redhat-centos-7-python3-dnf-issues
## ref: https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_10.html
#ansible-core==2.17.2
ansible-core==2.17.3

###'ansible-compat<4' is required due to https://github.com/ansible-community/molecule/issues/3903
### if moving to latest ansible-compat  - we get error "AttributeError: 'Runtime' object has no attribute 'exec'"
##ansible-compat<4
#ansible-compat

pyyaml
jmespath
netaddr
requests
requests-credssp
pywinrm
ruamel.yaml
dnspython
pytz
py
python-dateutil

## auth related
passlib

## library module requirements
ruamel.yaml

## python-ldap
## required for the ansible ldap modules to work
## MUST install OS specific libs first for this to work
## https://www.python-ldap.org/en/python-ldap-3.3.0/installing.html
python-ldap

#########
## Test related requirements
docker
yamllint
ansible-lint
ansible-lint-junit
edgegrid-python
defusedxml
yaml-lint-to-junit-xml
pytest
pytest-shell-utilities
pytest-parallel
pytest-testinfra
pytest-testinfra

#####################
## molecule related requirements
## ref: https://molecule.readthedocs.io/installation/#pip
## ref: https://github.com/ansible-community/molecule-plugins
#molecule[docker]
molecule
molecule-plugins[docker]

## vmware
pyVmomi
pyVim

## ansible tower libs
## https://docs.ansible.com/ansible/latest/collections/awx/awx/export_module.html#ansible-collections-awx-awx-export-module
#awxkit>=9.3.0

## to operate openstack
#python-openstackclient

## dell open management sdk
## ref: https://github.com/dell/dellemc-openmanage-ansible-modules
#omsdk

#python-vagrant
