## ref: https://www.ansible.com/blog/introducing-the-awx-collection
## https://tower-cli.readthedocs.io/en/latest/api_ref/conf.html
## https://docs.ansible.com/ansible/latest/collections/awx/awx/index.html#plugins-in-awx-awx

host: [$TOWER_HOST]
verify_ssl: False

#tower_username: [$TOWER_USERNAME]
#tower_password: [$TOWER_PASSWORD]

## if using oauth instead of a password
oauth_token: [$TOWER_OAUTH_TOKEN]
