{{ ansible_managed | comment }}

## ref: https://www.jenkins.io/doc/book/managing/casc/
#CASC_JENKINS_CONFIG=/var/jenkins_home/jenkins_casc.yml
CASC_JENKINS_CONFIG=/var/jenkins_home/casc_configs/jenkins.yml

JAVA_OPTS=-Djenkins.install.runSetupWizard=false -Djava.awt.headless=true -Djavax.net.ssl.trustStore=/var/lib/jenkins/cacerts -Djavax.net.ssl.trustStorePassword=changeit

#JENKINS_HOST=http://localhost:8080
JENKINS_HOST=https://{{ __docker_stack__jenkins_endpoint }}

JENKINS_SLAVE_AGENT_PORT=9000

JENKINS_ENV={{ __docker_stack__jenkins_jcac__environment }}

{% if __docker_stack__jenkins_jcac__jenkins_opts is defined %}
JENKINS_OPTS={{ __docker_stack__jenkins_jcac__jenkins_opts }}
{% endif %}
TZ={{ docker_stack__timezone }}

# prometheus
COLLECT_DISK_USAGE=true
COLLECTING_METRICS_PERIOD_IN_SECONDS=180

## ref: https://github.com/jenkinsci/docker/pull/577
#PLUGINS_FORCE_UPGRADE: 'true'
#JENKINS_UC_DOWNLOAD: "http://updates.jenkins.io"
#JENKINS_UC_DOWNLOAD: "http://updates.jenkins-ci.org"
#JENKINS_UC_DOWNLOAD: "https://mirrors.xmission.com/jenkins/updates/update-center.json"

#SAML_XML=CHANGE_ME
#SAML_URL=http://localhost

ENV_SECRETS_DEBUG=true

################################
## vaulted credentials
ANSIBLE_VAULT_PASSWORD=dksec://ansible_vault_password
ANSIBLE_VAULT_PASSWORD_FILE=dkseckey://ansible_vault_password

ANSIBLE_SSH_USERNAME_LINUX=dksec://ansible_ssh_username_linux
ANSIBLE_SSH_PASSWORD_LINUX=dksec://ansible_ssh_password_linux
ANSIBLE_USERNAME_WINDOWS=dksec://ansible_username_windows
ANSIBLE_PASSWORD_WINDOWS=dksec://ansible_password_windows

ANSIBLE_BITBUCKET_API_USERNAME=dksec://ansible_bitbucket_api_username
ANSIBLE_BITBUCKET_API_PASSWORD=dksec://ansible_bitbucket_api_password

ANSIBLE_INTEGRATION_USERNAME=dksec://ansible_integration_username
ANSIBLE_INTEGRATION_PASSWORD=dksec://ansible_integration_password

#ANSIBLE_SSH_PRIVATE_KEY=dkseckey://ansible_ssh_private_key

LDAP_USERNAME=dksec://ldap_username
LDAP_PASSWORD=dksec://ldap_password

#JENKINS_AGENT_USERNAME=dksec://jenkins_agent_username
#JENKINS_AGENT_PASSWORD=dksec://jenkins_agent_password
JENKINS_AGENT_USERNAME=dksec://jenkins_admin_username
JENKINS_AGENT_PASSWORD=dksec://jenkins_admin_password

#JENKINS_GIT_PASSWORD=dksec://jenkins_git_password
#DOCKER_REGISTRY_PASSWORD=dksec://docker_registry_password
VSPHERE_USERNAME=dksec://vsphere_username
VSPHERE_PASSWORD=dksec://vsphere_password
PACKER_USER_USERNAME=dksec://packer_user_username
PACKER_USER_PASSWORD=dksec://packer_user_password

BITBUCKET_SSH_USERNAME=dksec://bitbucket_ssh_username
BITBUCKET_SSH_PRIVATE_KEY=dkseckey://bitbucket_ssh_private_key

ANSIBLE_PRIVATE_AUTOMATION_HUB_TOKEN=dksec://ansible_galaxy_pah_token
ANSIBLE_PRIVATE_AUTOMATION_HUB_TOKEN_FILE=dkseckey://ansible_galaxy_pah_token

TOWER_MANAGEMENT_VAULT_PASSWORD=dksec://tower_management_vault_password
TOWER_MANAGEMENT_VAULT_PASSWORD_FILE=dkseckey://tower_management_vault_password

## AAC tokens
AAC_JENKINS_TOKEN_SANDBOX=dksec://aac_jenkins_token_sandbox
AAC_JENKINS_TOKEN_DEV=dksec://aac_jenkins_token_dev
AAC_JENKINS_TOKEN_QA=dksec://aac_jenkins_token_qa
AAC_JENKINS_TOKEN_PROD=dksec://aac_jenkins_token_prod
