{{ ansible_managed | comment }}

## ref: https://www.jenkins.io/doc/book/managing/casc/
#CASC_JENKINS_CONFIG=/var/jenkins_home/jenkins_casc.yml
CASC_JENKINS_CONFIG=/var/jenkins_home/casc_configs/jenkins.yml

JAVA_OPTS=-Djenkins.install.runSetupWizard=false -Djava.awt.headless=true -Djavax.net.ssl.trustStore=/var/lib/jenkins/cacerts -Djavax.net.ssl.trustStorePassword=changeit

#JENKINS_HOST=http://localhost:8080
JENKINS_HOST=https://{{ __docker_stack__jenkins_endpoint }}

JENKINS_SLAVE_AGENT_PORT=9000

{% if __docker_stack__jenkins_jcac__jenkins_opts is defined %}
JENKINS_OPTS={{ __docker_stack__jenkins_jcac__jenkins_opts }}
{% endif %}
TZ={{ docker_stack__timezone }}

# prometheus
COLLECT_DISK_USAGE=true
COLLECTING_METRICS_PERIOD_IN_SECONDS=180

## ref: https://github.com/jenkinsci/docker/pull/577
#PLUGINS_FORCE_UPGRADE: 'true'
#JENKINS_UC_DOWNLOAD: "http://updates.jenkins.io"
#JENKINS_UC_DOWNLOAD: "http://updates.jenkins-ci.org"
#JENKINS_UC_DOWNLOAD: "https://mirrors.xmission.com/jenkins/updates/update-center.json"

#SAML_XML=CHANGE_ME
#SAML_URL=http://localhost

#ENV_SECRETS_DEBUG=true
LDAP_USERNAME=dksec://ldap_username
LDAP_PASSWORD=dksec://ldap_password
JENKINS_ADMIN_USERNAME=dksec://jenkins_admin_username
JENKINS_ADMIN_PASSWORD=dksec://jenkins_admin_password
JENKINS_AGENT_USERNAME=dksec://jenkins_agent_username
JENKINS_AGENT_PASSWORD=dksec://jenkins_agent_password
JENKINS_GIT_PASSWORD=dksec://jenkins_git_password
DOCKER_REGISTRY_PASSWORD=dksec://docker_registry_password
VSPHERE_USERNAME=dksec://vsphere_username
VSPHERE_PASSWORD=dksec://vsphere_password
VMWARE_ESXI_PASSWORD=dksec://vmware_esxi_password
PACKER_SSH_PASSWORD=dksec://packer_ssh_password
ANSIBLE_VAULT_PASSWORD=dksec://ansible_vault_password
ANSIBLE_VAULT_PASSWORD_FILE=dkseckey://ansible_vault_password
ANSIBLE_SSH_USERNAME=dksec://ansible_ssh_username
ANSIBLE_SSH_PASSWORD=dksec://ansible_ssh_password
ANSIBLE_SSH_PRIVATE_KEY=dkseckey://ansible_ssh_private_key
BITBUCKET_SSH_USERNAME=dksec://bitbucket_ssh_username
BITBUCKET_SSH_PRIVATE_KEY=dkseckey://bitbucket_ssh_private_key
GITHUB_USERNAME=dksec://github_ssh_username
GITHUB_PASSWORD=dkseckey://github_ssh_password
