# Find documentation for the supported config variables at https://docs.photoprism.app/getting-started/config-options/

PHOTOPRISM_ADMIN_USER="{{ __docker_stack__photoprism__username }}"
PHOTOPRISM_ADMIN_PASSWORD="{{ __docker_stack__photoprism__password }}"

PHOTOPRISM_DETECT_NSFW="true"
