---

deploy_vm__vcenter_hostname: vcenter.example.int
deploy_vm__vcenter_username: administrator
deploy_vm__vcenter_password: password
deploy_vm__vcenter_validate_certs: false

deploy_vm__tags_init_all:
  - tag_name: vm_pre_bootstrap
    tag_description: New VM prior to OS bootstrap play
  - tag_name: vm_new
    tag_description: New VM
  - tag_name: vm_new_linux
    tag_description: New Linux VM
  - tag_name: vm_new_windows
    tag_description: New Windows VM

deploy_vm__vmware_appliance_list: []
deploy_vm__vmware_vm_list: []
#deploy_vm__govc_path: /tmp
#deploy_vm__govc_version: "0.12.1"
deploy_vm__govc_version: 0.23.0
deploy_vm__govc_path: /usr/local/bin
deploy_vm__govc_file: "{{deploy_vm__govc_path}}/govc"

# esx or vcenter host and credentials
deploy_vm__govc_host: "{{ deploy_vm__vcenter_hostname }}"
deploy_vm__govc_username: "{{ deploy_vm__vcenter_username }}"
deploy_vm__govc_password: "{{ deploy_vm__vcenter_password }}"
deploy_vm__govc_insecure: 1

deploy_vm__govc_environment:
  GOVC_HOST: "{{ deploy_vm__govc_host }}"
  GOVC_URL: https://{{ deploy_vm__govc_host }}/sdk
  GOVC_USERNAME: "{{ deploy_vm__govc_username }}"
  GOVC_PASSWORD: "{{ deploy_vm__govc_password }}"
  GOVC_INSECURE: "{{ deploy_vm__govc_insecure }}"
#  GOVC_DATASTORE: "{{ deploy_vm__govc_datastore }}"

# alternativly, use deploy_vm__govc_url
# deploy_vm__govc_url:  https://user:pass@host/sdk

#deploy_vm__create_async_delay: 5
deploy_vm__create_async_delay: 20

#deploy_vm__create_async_retries: 600
deploy_vm__create_async_retries: 1000

deploy_vm__template_info:
  ubuntu18:
    name: vm-template-ubuntu18
    network_service: systemd-networkd
  ubuntu20:
    name: vm-template-ubuntu20
    network_service: systemd-networkd
  ubuntu22:
    name: vm-template-ubuntu22
    network_service: systemd-networkd
  centos7:
    name: vm-template-centos7
    network_service: NetworkManager
  centos8:
    name: vm-template-centos8
    network_service: NetworkManager
  centos9:
    name: vm-template-centos9
    network_service: NetworkManager
  debian9:
    name: vm-template-debian9
    network_service: NetworkManager
  debian10:
    name: vm-template-debian10
    network_service: NetworkManager
  redhat8:
    name: vm-template-redhat8
    network_service: NetworkManager
  redhat9:
    name: vm-template-redhat9
    network_service: NetworkManager
  win2012:
    name: vm-template-win2012
  win2016:
    name: vm-template-win2016
  win2019:
    name: vm-template-win2019

deploy_vm__vmware_datacenter_default: dc-site-01
__deploy_vm__vmware_datacenter: "{{ deploy_vm__vmware_datacenter | d(deploy_vm__vmware_datacenter_default) }}"

##
## VM instance info
##
deploy_vm__vmware_guest_domain_default: example.int
deploy_vm__vmware_host_default: esx01.{{ __deploy_vm__vmware_guest_domain }}
deploy_vm__vmware_cluster_default: Management

__deploy_vm__vmware_guest_domain: "{{ deploy_vm__vmware_vm_guest_domain | d(deploy_vm__vmware_guest_domain_default) }}"

deploy_vm__vmware_gateway_ipv4_default: 192.168.0.1

deploy_vm__vmware_vm_dns_nameservers_default:
  - 10.0.0.1

__deploy_vm__vmware_vm_dns_nameservers: "{{ deploy_vm__vmware_vm_dns_nameservers | d(deploy_vm__vmware_vm_dns_nameservers_default) }}"

deploy_vm__vmware_nameservers_default:
  addresses: "{{ __deploy_vm__vmware_vm_dns_nameservers }}"
  search:
    - "{{ __deploy_vm__vmware_guest_domain }}"

deploy_vm__vmware_vm_folder_default: /{{ __deploy_vm__vmware_datacenter }}/vm/vm
deploy_vm__vmware_vm_datastore_default: datastore1
deploy_vm__vmware_vm_datastore_folder_default: vm

deploy_vm__vmware_vm_image_id_default: centos8
deploy_vm__vmware_vm_guest_id_default: centos64Guest
deploy_vm__vmware_vm_os_flavor_default: linux

#deploy_vm__vmware_vm_name_default: "{{ inventory_hostname_short }}"
deploy_vm__vmware_vm_name_default: test-vm
__deploy_vm__vmware_vm_name: "{{ deploy_vm__vmware_vm_name | d(deploy_vm__vmware_vm_name_default) }}"

##deploy_vm__vmware_vm_mac_address_default: "11:01:aa:91:65:5b"
#deploy_vm__vmware_vm_mac_address_default: "00:50:56:00:00:00"

#deploy_vm__vmware_vm_controller_type_default: "lsilogic"
deploy_vm__vmware_vm_controller_type_default: paravirtual

deploy_vm__vmware_vm_network_name_default: VM Network
#deploy_vm__vmware_vm_network_device_type_default: vmxnet3
#deploy_vm__vmware_vm_network_device_type_default: e1000

deploy_vm__vmware_vm_network_type_default: dhcp

deploy_vm__vmware_node_services_default: []
deploy_vm__vmware_new_vm_tags_default: []
deploy_vm__vmware_vm_memory_mb_default: 1024
deploy_vm__vmware_vm_num_cpus_default: 1
deploy_vm__vmware_vm_disk_size_gb_default: 20
deploy_vm__vmware_vm_disk_type_default: thin

deploy_vm__vmware_vm_hardware:
  memory_mb: "{{ deploy_vm__vmware_vm_memory_mb | d(deploy_vm__vmware_vm_memory_mb_default) }}"
  num_cpus: "{{ deploy_vm__vmware_vm_num_cpus | d(deploy_vm__vmware_vm_num_cpus_default) }}"
  scsi: "{{ deploy_vm__vmware_vm_controller_type | d(deploy_vm__vmware_vm_controller_type_default) | d(omit) }}"

deploy_vm__vmware_vm_disks:
  - size_gb: "{{ deploy_vm__vmware_vm_disk_size_gb | d(deploy_vm__vmware_vm_disk_size_gb_default) }}"
    type: "{{ deploy_vm__vmware_vm_disk_type | d(deploy_vm__vmware_vm_disk_type_default) }}"
    datastore: "{{ deploy_vm__vmware_vm_datastore | d(deploy_vm__vmware_vm_datastore_default) }}"
    controller_type: "{{ deploy_vm__vmware_vm_controller_type | d(omit) }}"
    controller_number: "{{ deploy_vm__vmware_vm_controller_number | d(omit) }}"
    unit_number: "{{ deploy_vm__vmware_vm_unit_number | d(omit) }}"

deploy_vm__vmware_new_vm_group_names_default: []
#__deploy_vm__vmware_vm_networks_default: []
#__deploy_vm__vmware_vm_networks_default:
#  - name: "{{ deploy_vm__vmware_vm_network_name_default }}"
#    start_connected: "{{ deploy_vm__vmware_vm_network_start_connected | d(true) }}"
#    connected: "{{ deploy_vm__vmware_vm_network_connected | d(true) }}"
#    mac: "{{ deploy_vm__vmware_vm_mac_address_default | d(omit) }}"
#    device_type: "{{ deploy_vm__vmware_vm_network_device_type_default | d(omit) }}"

__deploy_vm__vmware_vm_networks_default:
  - name: "{{ deploy_vm__vmware_vm_network_name | d(deploy_vm__vmware_vm_network_name_default) }}"
    start_connected: "{{ deploy_vm__vmware_vm_network_start_connected | d(true) }}"
    connected: "{{ deploy_vm__vmware_vm_network_connected | d(true) }}"
    mac: "{{ deploy_vm__vmware_vm_mac_address | d(omit) }}"
    type: "{{ deploy_vm__vmware_vm_network_type | d(deploy_vm__vmware_vm_network_type_default) }}"
    device_type: "{{ deploy_vm__vmware_vm_network_device_type | d(omit) }}"
    ip: "{{ deploy_vm__vmware_vm_network_ip | d(omit) }}"
    netmask: "{{ deploy_vm__vmware_vm_network_mask | d(omit) }}"
#  - name: "{{ workflow_stats[location][env].name }}"
#    ip: "{{ ip }}"
#    netmask: "{{ workflow_stats[location][env].netmask }}"
#    gateway: "{{ workflow_stats[location][env].gateway }}"
#    start_connected: True
#    type: static

__deploy_vm__vmware_vm_networks: "{{ deploy_vm__vmware_vm_networks | d(__deploy_vm__vmware_vm_networks_default) }}"

deploy_vm__vmware_vm_defaults:
  name: "{{ __deploy_vm__vmware_vm_name }}"
  hostname: "{{ __deploy_vm__vmware_vm_name }}.{{ deploy_vm__vmware_vm_guest_domain }}"
  template_id: "{{ deploy_vm__vmware_vm_image_id | d(deploy_vm__vmware_vm_image_id_default) }}"
  os_flavor: "{{ deploy_vm__vmware_vm_os_flavor | d(deploy_vm__vmware_vm_os_flavor_default) }}"
  guest_id: "{{ deploy_vm__vmware_vm_guest_id | d(deploy_vm__vmware_vm_guest_id_default) }}"
  guest_domain: "{{ deploy_vm__vmware_vm_guest_domain }}"
  cluster: "{{ deploy_vm__vmware_vm_cluster | d(deploy_vm__vmware_cluster_default) }}"
  host: "{{ deploy_vm__vmware_vm_host | d(deploy_vm__vmware_host_default) }}"
  folder: "{{ deploy_vm__vmware_vm_folder | d(deploy_vm__vmware_vm_folder_default) }}"
  gateway_ipv4: "{{ deploy_vm__vmware_vm_gateway_ipv4 | d(deploy_vm__vmware_gateway_ipv4_default) }}"
  nameservers: "{{ deploy_vm__vm_nameservers | d(deploy_vm__vmware_nameservers_default) }}"
  datastore: "{{ deploy_vm__vmware_vm_datastore | d(deploy_vm__vmware_vm_datastore_default) }}"
  datastore_folder: "{{ deploy_vm__vmware_vm_datastore_folder | d(deploy_vm__vmware_vm_datastore_folder_default) }}"
  controller_type: "{{ deploy_vm__vmware_vm_controller_type | d(deploy_vm__vmware_vm_controller_type_default) }}"
  hardware: "{{ deploy_vm__vmware_vm_hardware }}"
  network_type: "{{ deploy_vm__vmware_vm_network_type | d(deploy_vm__vmware_vm_network_type_default) }}"
  networks: "{{ __deploy_vm__vmware_vm_networks | d(__deploy_vm__vmware_vm_networks_default) }}"
  disks: "{{ deploy_vm__vmware_vm_disks }}"
  services: "{{ deploy_vm__vmware_vm_node_services | d(deploy_vm__vmware_vm_node_services_default) }}"
  deploy_groups: "{{ deploy_vm__vmware_node_services | d(deploy_vm__vmware_node_services_default) + deploy_vm__vmware_new_vm_group_names | d(deploy_vm__vmware_new_vm_group_names_default)
    | flatten }}"
  vm_tags: "{{ deploy_vm__vmware_new_vm_tags| d(deploy_vm__vmware_new_vm_tags_default) }}"
#  boot_order:
#    - floppy
#    - cdrom
#    - disk
#    - ethernet
  boot_order:
    - floppy
    - cdrom
    - hdd
#    - ethernet0

deploy_vm__containers: []
deploy_vm__workdir: /tmp/deploy_vm__workdir

#deploy_vm__vm_instance_id: "vm-01"
#
## ref: https://github.com/lj020326/ansible-libvirt-cloudinit/blob/main/roles/common/defaults/main.yml
#deploy_vm__vm_base_dir: /var/lib/libvirt/managed
#deploy_vm__vm_cloud_init_dir: "{{ deploy_vm__vm_base_dir }}/cloud_init"
#deploy_vm__vm_cloud_init_src_dir: "{{ deploy_vm__vm_cloud_init_dir }}/src/{{ deploy_vm__vm_instance_id }}"
#deploy_vm__vm_cloud_init_iso_dir: "{{ deploy_vm__vm_cloud_init_dir }}/iso"
#
#deploy_vm__vm_templates_dir:  "{{ deploy_vm__vm_base_dir }}/templates"
#deploy_vm__vm_images_dir: "{{ deploy_vm__vm_base_dir }}/images"

deploy_vm__python_pip_depends:
  - pyVmomi

deploy_vm__vm_os_template: gluster:vztmpl/centos-7-ssh-sudo_20180909.tar.gz
deploy_vm__vm_proxmox_node: gold
deploy_vm__vm_tftp_server: repo.example.int

deploy_vm__vm_proxmox_defaults:
  balloon: "1024"
  cores: "1"
  cpus: "1"
  disk:
    ct: "2"
    vm: "10"
  format: qcow2
  memory:
    ct: "1024"
    vm: "2048"
  nameserver: 10.3.3.2
  net: '{"net0":"virtio,bridge=vmbr0"}'
  netif: '{"net0":"name=eth0,ip=dhcp,ip6=dhcp,bridge=vmbr0"}'
  node: gold
  onboot: true
  ostype: l26
  pubkey: ""
  scsihw: virtio-scsi-pci
  searchdomain: lan.example.int
  storage:
    gluster: gluster
    lvm: local-lvm
  swap:
    ct: "0"
    vm: "4"
  type: centos
  virtio: '{"virtio0":"gluster:10,cache=none,discard=on,format=qcow2"}'

deploy_vm__vmware_appliance_name_default: vm-appliance-01
deploy_vm__vmware_appliance_ova_default: /mnt/iso/VMware/vIDM/3.3/identity-manager-3.3.0.0-10084102_OVF10.ova
deploy_vm__vmware_appliance_disk_provisioning_default: thin

deploy_vm__vmware_appliance_networks_default:
  VM Network: Management

#deploy_vm__vmware_appliance_properties_default: []
#deploy_vm__vmware_appliance_properties_default:
#  vami.hostname: vmware-vidm.sgroot.local
#  vami.ip0.IdentityManager: "10.1.10.120"
#  vami.netmask0.IdentityManager: "255.255.255.0"
#  vami.gateway.IdentityManager: "10.1.10.254"
#  vami.DNS.IdentityManager: "10.1.10.10"
#  vami.domain.IdentityManager: sgroot.local
#  vami.searchpath.IdentityManager: sgroot.local
#  ceip.enabled: true
#  vamitimezone: "Europe/London"

deploy_vm__vmware_appliance_defaults:
  name: "{{ deploy_vm__vmware_appliance_name | d(deploy_vm__vmware_appliance_name_default) }}"
  cluster: "{{ deploy_vm__vmware_vm_cluster | d(deploy_vm__vmware_cluster_default) }}"
  host: "{{ deploy_vm__vmware_vm_host | d(deploy_vm__vmware_host_default) }}"
  datastore: "{{ deploy_vm__vmware_appliance_datastore | d(deploy_vm__vmware_vm_datastore_default) }}"
  folder: "{{ deploy_vm__vmware_appliance_datastore_folder | d(deploy_vm__vmware_vm_datastore_folder_default) }}"
  disk_provisioning: "{{ deploy_vm__vmware_appliance_disk_provisioning | d(deploy_vm__vmware_appliance_disk_provisioning_default) }}"
  networks: "{{ deploy_vm__vmware_appliance_networks | d(deploy_vm__vmware_appliance_networks_default) }}"
  ova: "{{ deploy_vm__vmware_appliance_ova | d(deploy_vm__vmware_appliance_ova_default) }}"
  allow_duplicates: false
  power_on: true
  fail_on_spec_warnings: true
  wait: true
  wait_for_ip_address: true
  inject_ovf_env: true
  properties: "{{ deploy_vm__vmware_appliance_properties | d(omit) }}"
