FROM {{ __bootstrap_llm_host__custom_model.gguf_url | d(__bootstrap_llm_host__custom_model.source) }}

TEMPLATE """{{ .Prompt }}"""

PARAMETER num_ctx {{ __bootstrap_llm_host__custom_model.num_ctx | d(32768) }}
PARAMETER num_gpu {{ __bootstrap_llm_host__custom_model.num_gpu | d(99) }}
PARAMETER temperature {{ __bootstrap_llm_host__custom_model.temperature | d(0.7) }}
PARAMETER top_p {{ __bootstrap_llm_host__custom_model.top_p | d(0.95) }}
PARAMETER top_k {{ __bootstrap_llm_host__custom_model.top_k | d(40) }}
