{{ 'Ansible managed' | comment(decoration='# ') }}
[Unit]
Description=Ollama Server
After=network-online.target

[Service]
ExecStart=/usr/local/bin/ollama serve
User={{ bootstrap_llm_host__ollama_user }}
Group={{ bootstrap_llm_host__ollama_user }}
Restart=always
RestartSec=3
Environment="OLLAMA_MODELS={{ bootstrap_llm_host__model_storage }}"
Environment="OLLAMA_HOST=0.0.0.0:{{ bootstrap_llm_host__ollama_port }}"
#Environment="OLLAMA_ORIGINS=*"
{# Derive the first three octets for the x.y.z.* style wildcard #}
{% set network_prefix = ansible_facts['default_ipv4'].address.split('.')[:-1] | join('.') %}
#Environment="OLLAMA_ORIGINS=http://localhost:*,http://127.0.0.1:*,http://{{ bootstrap_llm_host__server_name }}:*,http://{{ network_prefix }}.*:*"
Environment="OLLAMA_ORIGINS=http://localhost,http://127.0.0.1,http://{{ bootstrap_llm_host__server_name }},http://{{ network_prefix }}.*"

[Install]
WantedBy=default.target
