{{ 'Ansible managed' | comment(decoration='# ') }}
http:
  routers:
    llm-api:
      rule: "Host(`{{ bootstrap_llm_host__server_name }}`) && PathPrefix(`/api`)"
      service: ollama-backend
      entryPoints:
        - {{ bootstrap_llm_host__traefik_entrypoint }}

    llm-webui:
      rule: "Host(`{{ bootstrap_llm_host__server_name }}`)"
      service: webui-backend
      entryPoints:
        - {{ bootstrap_llm_host__traefik_entrypoint }}

  services:
    ollama-backend:
      loadBalancer:
        servers:
          - url: "http://localhost:{{ bootstrap_llm_host__ollama_port }}"

    webui-backend:
      loadBalancer:
        servers:
          - url: "http://localhost:{{ bootstrap_llm_host__webui_port }}"
