{{ 'Ansible managed' | comment(decoration='# ') }}
[Unit]
Description=Traefik Proxy
After=network-online.target

[Service]
ExecStart=/usr/local/bin/traefik --configfile=/etc/traefik/traefik.yml
Restart=always
User=root

[Install]
WantedBy=multi-user.target
