{{ 'Ansible managed' | comment(decoration='# ') }}
entryPoints:
  web:
    address: ":{{ bootstrap_llm_host__proxy_port }}"
providers:
  file:
    directory: {{ bootstrap_llm_host__traefik_config_path }}
    watch: true
