DATABASE_USER={{ awx_pg_username|quote }}
DATABASE_NAME={{ awx_pg_database|quote }}
DATABASE_HOST={{ awx_pg_hostname|default('postgres')|quote }}
DATABASE_PORT={{ awx_pg_port|default('5432')|quote }}
DATABASE_PASSWORD={{ awx_pg_password|default('awxpass')|quote }}
{% if awx_pg_admin_password is defined %}
DATABASE_ADMIN_PASSWORD={{ awx_pg_admin_password|quote }}
{% endif %}
AWX_ADMIN_USER={{ awx_admin_user|quote }}
AWX_ADMIN_PASSWORD={{ awx_admin_password|quote }}
