---

internal_domain: "johnson.int"

ldap_domain: "example.int"
ldap_host: "ldap.{{ ldap_domain }}"
ldap_port: "389"
ldap_endpoint: "{{ ldap_host }}:{{ldap_port}}"
ldap_uri: "ldap://{{ ldap_endpoint }}"
#ldap_uri: ldaps://ldap.johnson.int

#ldap_sudoers: false
ldap_sudoers: true

ldap_base: "dc=example,dc=int"
#ldap_sudoer_group:
#  Fedora: &sudoer_group
#    group_name: sudoers
#  Scientific: *sudoer_group
#  Debian:
#    group_name: sudoers

ldap_nss_user_filter: (objectClass=posixAccount)

ldap_base_sudoers: ou=sudoers,{{ ldap_base }}
ldap_lookups:
  admin:
    base: cn=admins,ou=groups,{{ ldap_base }}
    scope: base
    filter: (member=%s)
  user:
    base: ou=users,{{ ldap_base }}
    scope: sub
    filter: (&(objectClass=posixAccount)(uid=%s)(gidNumber=502))
  host:
#    base: ou=hosts,{{ ldap_base }}
#    filter: (&(|(objectClass=virtualMachine)(objectClass=server))(cn=%s))
    base: ou=computers,{{ ldap_base }}
    scope: sub
    filter: (&(objectClass=posixAccount)(uid=%s)(gidNumber=515))
  membership:
    base: ou=projects,{{ ldap_base }}
    scope: sub
    filter: (&(objectClass=groupOfNames)(member=%1$s)(serverMember=%2$s))

### new:
ldap_client_server_host: "{{ ldap_host }}"
ldap_client_base_dn:     "{{ ldap_base }}"
ldap_client_sudo:        true
ldap_client_sudo_base:   "ou=SUDOers,{{ ldap_base }}"
ldap_client_nss_passwd:   true
ldap_client_nss_group:    true
ldap_client_nss_shadow:   true
ldap_client_nss_hosts:    true
ldap_client_nss_networks: true

ldap_client_path: "/etc/ldap/"

ldap_client_nslcd_filter:
#  filter:
#    passwd: "(memberOf=cn=testgroup,ou=servers,{{ ldap_base }})"

__ldap_conf: "{{ ldap_conf | d(__ldap_conf_defaults[ansible_distribution|lower]) }}"

## ref: https://www.tecmint.com/configure-ldap-client-to-connect-external-authentication/
## ref: https://www.golinuxcloud.com/configure-ldap-client-auth-ldap-server/
__ldap_conf_defaults:
  redhat: &rhldapconf
    ldap_conf_file: /etc/openldap/ldap.conf
    tls_cacert: /etc/ssl/certs/ca-certificates.crt
    nss_conf_file: /etc/libnss-ldap.conf
    nslcd_uid: "nslcd"
    nslcd_gid: "ldap"
    packages:
      - nss-pam-ldapd
      - openldap
      - openldap-clients
    ldap_config_tpls:
      - { src: nslcd.conf.j2, dest: /etc/nslcd.conf }
      - { src: nsswitch.conf.j2, dest: /etc/nsswitch.conf }
      - { src: nscd.conf.j2, dest: /etc/nscd.conf }
    ldap_app_services:
      - nslcd
      - nscd
  centos: *rhldapconf
  fedora: *rhldapconf
  scientific: *rhldapconf

  debian: &debldapconf
    ldap_conf_file: /etc/ldap/ldap.conf
    tls_cacert: /etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem
    nss_conf_file: /etc/libnss-ldap.conf
    nslcd_uid: "nslcd"
    nslcd_gid: "nslcd"
    packages:
      - nslcd
      - libnss-ldapd
      - libpam-ldapd
#      - sudo-ldap
      - ldap-utils
#      - libpam-param
#      - getauthorizedkeys
    ldap_config_tpls:
      - { src: nslcd.conf.j2, dest: /etc/nslcd.conf }
      - { src: nsswitch.conf.j2, dest: /etc/nsswitch.conf }
      - { src: nscd.conf.j2, dest: /etc/nscd.conf }
    ldap_app_services:
      - nslcd
      - nscd

  #  ubuntu: *debldapconf
  ubuntu: &ubuntuldapconf
    ldap_conf_file: /etc/ldap/ldap.conf
    tls_cacert: /etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem
    nss_conf_file: /etc/libnss-ldap.conf
    nslcd_uid: "nslcd"
    nslcd_gid: "nslcd"
    packages:
      - nslcd
      - nscd
      - libnss-ldapd
      - libpam-ldapd
      - ldap-utils
    #      - sudo-ldap
    ldap_config_tpls:
      - { src: nslcd.conf.j2, dest: /etc/nslcd.conf }
      - { src: nsswitch.conf.j2, dest: /etc/nsswitch.conf }
      - { src: nscd.conf.j2, dest: /etc/nscd.conf }
    ldap_app_services:
      - nslcd
      - nscd

#ldap_packages:
##  centos: &rhpackages
##    - nss-pam-ldapd
##    - openldap
##    - openldap-clients
##    - pam-param
##    - getauthorizedkeys
#  centos: &rhpackages
#    - nss-pam-ldapd
#    - openldap
#    - openldap-clients
#  fedora: *rhpackages
#  scientific: *rhpackages
#
#  debian: &debpackages
#    - nslcd
#    - libnss-ldapd
#    - libpam-ldapd
#    - sudo-ldap
#    - ldap-utils
#    - libpam-param
#    - getauthorizedkeys
#  ubuntu:
#    - nslcd
#    - nscd
#    - libnss-ldapd
#    - libpam-ldapd
#    - ldap-utils
##    - sudo-ldap

