---

#bind_aliases:
#  - esxi-01

vcenter_ipv4_host_id: "12"

dvs_uplink_vmnics:
  - vmnic0
  - vmnic1

vcenter_switch_teaming:
  active_adapters: "{{ dvs_uplink_vmnics }}"

vcenter_switch_nics:
  - vmnic0
  - vmnic1
  - vmnic2
  - vmnic3

vcenter_datastore: "esx02_ds1"

#vms_to_autostart:
#  nas02:
#    order: 1
#  vcenter:
#    order: 2
#  win2012-01:
#    order: 3
#  wordpress:
#  ppb450m-local:
#  'IPM-1.68.247.VA64_OVF10':
