---

#ipv4_address: 192.168.0.135
ipv4_address: "{{ gateway_ip4_subnet_1_2 }}.0.135"
#ipv4_net_prefix: 16

docker_stack_service_route_name: "media"

bind_aliases:
  - pki
  - mail
  - ldap
#  - auth

#bootstrap_firewalld_ports:
#  - 10000/tcp
#
#firewalld_ports:
#  - 10000/tcp

firewalld_default_enable_source_port_53: yes

#bootstrap_linux__network:
#  network:
#    version: 2
#    renderer: networkd
#    ethernets:
#      eno1:
#        dhcp4: no
#        dhcp6: no
##        addresses: [192.168.0.135/16, ]
#        addresses:
#          - "{{ ipv4_address }}/{{ ipv4_net_prefix }}"
#        gateway4: "{{ gateway_ip4 }}"
#        nameservers:
#          addresses: [192.168.0.1]


bootstrap_linux_node_mounts_tmpdir:
  - name: "/tmp"
    src: "tmpfs"
    fstype: "tmpfs"
    ## ref: https://forums.plex.tv/t/guide-plex-media-server-with-intel-nuc-and-ubuntu-16-04-lts/217937
    options: 'size=100G,defaults,noatime,nosuid,nodev,mode=1777'

bootstrap_linux_node_mounts_additional:
  - name: "/srv/media"
    src: "/data/media"
#    src: "/data/media"
    fstype: none
    options: "rw,bind"

#  - name: "/srv/media"
#    src: "nas02.dettonville.int:/mnt/storage/media"
#    fstype: "nfs"
#    options: "intr,_netdev"

#  - name: "/srv/media_control"
#    src: "control01.{{ internal_root_domain }}:/export/data/media"
#    fstype: "nfs"
#    options: "intr,_netdev"

  - name: "/srv/backups"
    src: "diskstation01.johnson.int:/volume2/backups"
    fstype: "nfs"
    options: "intr,_netdev"

  - name: "/data/backups"
    src: "/srv/backups"
    fstype: none
    options: "ro,bind"

