---

bind_aliases:
  - nas2

vmware_vm_image_id: ubuntu20
vmware_node_disk_size: 20
vmware_node_memory: 4096
#vmware_node_network_type: static
vmware_node_host: "esx02.dettonville.int"
vmware_node_datastore: "esx02_ds1"

#ipv4_address: 192.168.10.11
#ipv4_net_prefix: 16
ipv4_address: "{{ gateway_ip4_subnet_1_2 }}.10.11"

#ansible_host: "{{ ipv4_address }}"

### ref: https://netplan.io/examples/
#common_config__network:
#  network:
#    version: 2
#    renderer: networkd
#    ethernets:
#      ens192:
#        dhcp4: no
#        dhcp6: no
#        addresses:
#          - "{{ ipv4_address }}/{{ ipv4_net_prefix }}"
#        gateway4: "{{ gateway_ip4 }}"
#        nameservers:
#          addresses: [192.168.0.1]


nfs_exports:
  - "/mnt/storage         {{ gateway_ip4_subnet_1_2 }}.0.0/{{ ipv4_netmask }}(rw,no_root_squash,no_subtree_check,async,fsid=1)"
  - "/mnt/                 {{ gateway_ip4_subnet_1_2 }}.0.0/{{ ipv4_netmask }}(ro,no_subtree_check)"
#  - "/export/nfsdata1         {{ gateway_ip4_subnet_1_2 }}.0.0/{{ ipv4_netmask }}(rw,no_root_squash,no_subtree_check,async,insecure)"
  - "/export/nfsdata2        {{ gateway_ip4_subnet_1_2 }}.0.0/{{ ipv4_netmask }}(rw,no_root_squash,no_subtree_check,async,insecure)"
##  - "/export/nfsdata3        {{ gateway_ip4_subnet_1_2 }}.0.0/{{ ipv4_netmask }}(rw,no_root_squash,no_subtree_check,async,insecure)"
#  - "/export/nfsdata4        {{ gateway_ip4_subnet_1_2 }}.0.0/{{ ipv4_netmask }}(rw,no_root_squash,no_subtree_check,async,insecure)"
#  - "/export/backups         {{ gateway_ip4_subnet_1_2 }}.0.0/{{ ipv4_netmask }}(ro,no_root_squash,no_subtree_check)"
#  - "/export      *(ro,crossmnt,no_subtree_check)"
  - "/export      *(ro,no_subtree_check)"

common_node_mounts_additional:
  - name: "/export/nfsdata2"
#    src: "UUID=d91c2cda-893f-4707-813c-cf514dc0698d"
#    src: "/dev/disk/by-id/dm-name-vgnfs2-lvnfsdata"
    src: "/dev/vgnfs2/lvnfsdata"
    fstype: "ext4"
    options: "defaults,nodev"


is_veeam_backup_server: yes

