---

#vmware_vm_disk_size_gb: 40
#vmware_vm_memory_mb: 8192
##vmware_vm_network_type: static

#ipv4_address: 192.168.12.10
#ipv4_net_prefix: 16
ipv4_address: "{{ gateway_ip4_subnet_1_2 }}.12.10"

#bind_aliases: []

### ref: https://netplan.io/examples/
#common_config__network:
#  network:
#    version: 2
#    renderer: networkd
#    ethernets:
#      ens192:
#        dhcp4: no
#        dhcp6: no
#        addresses:
#          - "{{ ipv4_address }}/{{ ipv4_net_prefix }}"
#        gateway4: "{{ gateway_ip4 }}"
#        nameservers:
#          addresses: [192.168.0.1]
#
