---

docker_stack_internal_root_domain: "dettonville.int"

vmware_node_disk_size: 40
vmware_node_memory: 16384
#vmware_node_network_type: static
vmware_node_host: "esx00.dettonville.int"
vmware_node_datastore: "datastore1"
#vmware_node_host: "esx01.dettonville.int"
#vmware_node_datastore: "esx01_ds1"

ipv4_address: "{{ gateway_ip4_subnet_1_2 }}.20.10"

bind_aliases:
#  - "{{ docker_stack_service_route_name }}"
  - pki
  - ns0
  - mail
  - ldap
#  - auth

## ref: https://linuxconfig.org/how-to-move-docker-s-default-var-lib-docker-to-another-directory-on-ubuntu-debian-linux
docker__daemon_flags:
#  - "-g /export/data/docker_volumes"
  - "-H unix:///var/run/docker.sock"
#  - "-H tcp://0.0.0.0:2376"
#  - "-H fd://"
#  - "--containerd=/run/containerd/containerd.sock"

#docker_stack_services: []
#
#docker_stack_proxy_services: []

#docker_user_home_physical: "/export/data/home/{{docker_user_username}}"
docker_user_home_physical: "/data/home/{{docker_user_username}}"

#internal_registry_name: "media"

docker_stack_registry_enable_auth: no

#docker_stack_registry_service_data_path: "/srv/data2/data/docker_registry"
#docker_stack_registry_service_data_path: "/srv/data2/docker_registry"
#docker_stack_registry_service_data_path: "/export/data/docker_registry"
docker_stack_registry_service_data_path: "/data/docker_registry"

#docker_stack_jenkins_agent_jenkins_url: "https://jenkins.admin.dettonville.int:8443"

#docker_stack_traefik_http: 8080
#docker_stack_traefik_https: 8443
#docker_stack_jenkins_http: 10180

#docker_stack_jenkins_dir: "/srv/data1/data/datacenter/{{ inventory_hostname }}/home/{{ docker_user_username }}/docker/jenkins"
#docker_stack_jenkins_dir: "/export/data/home/{{ docker_user_username }}/docker/jenkins"

is_veeam_backup_server: yes

nfs_exports:
#  - "/srv      {{ gateway_ip4_subnet_1_2 }}.0.0/{{ ipv4_netmask }}(ro,fsid=0,async,nohide,no_root_squash,no_subtree_check,crossmnt)"
  - "/srv      {{ gateway_ip4_subnet_1_2 }}.0.0/{{ ipv4_netmask }}(ro,no_subtree_check)"
  - "/srv/data1         {{ gateway_ip4_subnet_1_2 }}.0.0/{{ ipv4_netmask }}(rw,async,no_root_squash,no_subtree_check)"
  - "/srv/data2         {{ gateway_ip4_subnet_1_2 }}.0.0/{{ ipv4_netmask }}(rw,async,no_root_squash,no_subtree_check)"
#  - "/srv/backups       {{ gateway_ip4_subnet_1_2 }}.0.0/{{ ipv4_netmask }}(ro,async,no_root_squash,no_subtree_check)"
  - "/data          {{ gateway_ip4_subnet_1_2 }}.0.0/{{ ipv4_netmask }}(rw,async,fsid=0,nohide,no_root_squash,no_subtree_check,crossmnt)"
#  - "/export/data       {{ gateway_ip4_subnet_1_2 }}.0.0/{{ ipv4_netmask }}(rw,async,no_root_squash,no_subtree_check)"
#  - "/export/netboot {{ gateway_ip4_subnet_1_2 }}.0.0/{{ ipv4_netmask }}(ro,nohide,no_subtree_check)"

common_node_mounts_tmpdir:
  - name: "/tmp"
    src: "tmpfs"
    fstype: "tmpfs"
    options: 'size=2G,defaults,noatime,nosuid,nodev,mode=1777'

common_node_mounts_additional:
  - name: "/home/{{docker_user_username}}"
    src: "{{ docker_user_home_physical }}"
    fstype: none
    options: "rw,bind"

  - name: "/srv/backups"
    src: "diskstation01.johnson.int:/volume2/backups"
    fstype: "nfs"
    options: "intr,_netdev"
#    options: "vers=4.1,intr,_netdev"

  - name: "/data/backups"
    src: "/srv/backups"
    fstype: none
    options: "ro,bind"

#   - name: "/data/plexmedia"
# #    src: "media.johnson.int:/export/media"
#     src: "media01.johnson.int:/export/media"
#     fstype: "nfs"
# #    options: "intr,_netdev"
#     options: "vers=4.1,intr,_netdev"
