---

###########
## ref: https://yamllint.readthedocs.io/en/stable/configuration.html#default-configuration
##
## NOTE:
##   the inventory test pipeline uses this yamllint configuration

# Based on ansible-lint config
extends: default
locale: en_US.UTF-8

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  colons:
    max-spaces-after: -1
    level: error
  commas:
    max-spaces-after: -1
    level: error
  comments: disable
  comments-indentation: disable
  document-start: disable
  empty-lines: disable
#  empty-lines:
#    max: 3
#    level: warning
  hyphens:
    level: error
#  indentation: disable
  key-duplicates: enable
#  key-ordering: enable
  line-length: disable
  new-line-at-end-of-file: disable
  new-lines:
    type: unix
  trailing-spaces: disable
  truthy: disable
