# This file describes the network interfaces available on your system
# For more information, see netplan(5).

## ref: https://netplan.io/examples/
## ref: https://cloudinit.readthedocs.io/en/latest/topics/network-config-format-v2.html#network-config-v2
## ref: https://discourse.ubuntu.com/t/network-configuration/11876
network:
  version: 2
  renderer: networkd
  ethernets:
    ens160:
      dhcp4: no
      dhcp6: no
      addresses:
        - {{ vm_info.ip }}/16
      gateway4: 192.168.0.1
      nameservers:
        {{ deploy_vm_nameservers | to_nice_yaml | indent(8) }}
#      set-name: ens192
