---
{{ ansible_managed | comment }}

## ref: https://kb.vmware.com/s/article/82229
network:
  renderer: networkd
  version: 2
  ethernets:
    default:
      match:
        name: e*
      dhcp4: yes
      dhcp-identifier: mac
