# {{ ansible_managed }}
# /etc/nsswitch.conf
#
# Example configuration of GNU Name Service Switch functionality.
# If you have the `glibc-doc-reference' and `info' packages installed, try:
# `info libc "Name Service Switch"' for information about this file.

passwd:         compat{% if bootstrap_ldap_client__client_nss_passwd %}  ldap{% endif %}

group:          compat{% if bootstrap_ldap_client__client_nss_group %}  ldap{% endif %}

shadow:         compat{% if bootstrap_ldap_client__client_nss_shadow %}  ldap{% endif %}

hosts:          files dns{% if bootstrap_ldap_client__client_nss_hosts %}  ldap{% endif %}

networks:       files{% if bootstrap_ldap_client__client_nss_networks %}  ldap{% endif %}


protocols:      db files
services:       db files
ethers:         db files
rpc:            db files

netgroup:       nis
sudoers:		files{% if bootstrap_ldap_client__client_sudo %}  ldap{% endif %}
