{
  "signing": {
    "default": {
      "expiry": "{{ bootstrap_kubernetes_ca__etcd_expiry }}"
    },
    "profiles": {
      "etcd_signing": {
        "usages": [
          "signing",
          "key encipherment",
          "cert sign"
        ],
        "expiry": "{{ bootstrap_kubernetes_ca__etcd_expiry }}",
        "ca_constraint": {
          "is_ca": true
        }
      },
      "server": {
        "usages": [
          "signing",
          "key encipherment",
          "server auth"
        ],
        "expiry": "{{ bootstrap_kubernetes_ca__etcd_expiry }}"
      },
      "peer": {
        "usages": [
          "signing",
          "key encipherment",
          "server auth",
          "client auth"
        ],
        "expiry": "{{ bootstrap_kubernetes_ca__etcd_expiry }}"
      },
      "client": {
        "usages": [
          "signing",
          "key encipherment",
          "client auth"
        ],
        "expiry": "{{ bootstrap_kubernetes_ca__etcd_expiry }}"
      }
    }
  }
}
