{
  "CN": "{{ bootstrap_kubernetes_ca__etcd_client_csr_cn_prefix }}-{{ item }}",
  "key": {
    "algo": "{{ bootstrap_kubernetes_ca__etcd_client_csr_key_algo }}",
    "size": {{ bootstrap_kubernetes_ca__etcd_client_csr_key_size }}
  },
  "names": [
    {
      "C": "{{ bootstrap_kubernetes_ca__etcd_client_csr_names_c }}",
      "L": "{{ bootstrap_kubernetes_ca__etcd_client_csr_names_l }}",
      "O": "{{ bootstrap_kubernetes_ca__etcd_client_csr_names_o }}",
      "OU": "{{ bootstrap_kubernetes_ca__etcd_client_csr_names_ou }}",
      "ST": "{{ bootstrap_kubernetes_ca__etcd_client_csr_names_st }}"
    }
  ]
}
