---
# defaults file for vcsa-deploy

# Prereqs.yml variables
vcenter_repo_dir: "/opt/repo"
vcsa_iso: "VMware-VCSA-all-6.7.0-9451876.iso"
esx_iso: "VMware-VMvisor-Installer-6.5.0-4564106.x86_64.iso"

vsphere_deploy_iso_hash_seed: "sldkfjlkenwq4tm;24togk34t"


vsphere_version: "6.5"
esx_custom_iso: "custom-esxi-{{vsphere_version}}.iso"
#vcenter_iso_dir: "/ESXI-ISO"
vcenter_iso_dir: "/ISO-Repo/vmware/esxi"

#pyvmomi==6.7.3
vcenter_python_pip_depends:
  - pyVmomi

vcenter_install_tmp_dir: "/tmp"

vcenter_mount_dir: "/mnt/VCSA"

ovftool: "{{ vcenter_mount_dir }}/vcsa/ovftool/lin64/ovftool"
vcsa_ova: "vcsa/VMware-vCenter-Server-Appliance-6.7.0.14000-9451876_OVF10.ova"

vcenter_appliance_type: "embedded"

# deploy.yml and deploy_appliance.yml variables
vcenter_network_ip_scheme: static
vcenter_disk_mode: "thin"

vcenter_appliance_name: "vcenter"
vcenter_appliance_size: "small"

vcenter_target_esxi_datastore: "vsanDatastore"
vcenter_target_esxi_portgroup: "Management"

vcenter_ssh_enable: true
vcenter_time_tools_sync: false
vcenter_net_addr_family: "ipv4"

vcenter_site_name: "Default-Site"
vcenter_sso_domain: "vsphere.local"
vcenter_domain: "example.int"
vcenter_cluster: "Management"

vcenter_username: "administrator@{{vcenter_sso_domain}}"
vcenter_password: "VMware1!"
vcenter_fqdn: "vcenter.example.int"
vcenter_ip: "192.168.0.25"
vcenter_netmask: "255.255.0.0"
vcenter_gateway: "192.168.0.1"
vcenter_net_prefix: "16"

vcenter_datastore: "datastore1"
vcenter_datacenter: "dc-01"
#vcenter_network: "Infrastructure" # this portGroup will be created on the pESX with the vlan id specified in the vcenter_target_esx_host section
vcenter_network: "VM Network" # this portGroup will be created on the pESX with the vlan id specified in the vcenter_target_esx_host section

vcenter_mgt_portgroup_name: "{{ vcenter_network }}"
vcenter_mgt_vlan_id: 0
vcenter_mgt_vswitch: "vSwitch0"
vcenter_mgt_network: "Management Network" # this portGroup will be created on the pESX with the vlan id specified in the

## VSS => vmware standard switch setup
#vcenter_nested_vss_portgroup_name: "AllVlansVSS"
vcenter_nested_vss_portgroup_name: "nested-trunk"
vcenter_nested_vss_vlan_id: 4095

vcenter_dns_servers:
  - 192.168.0.1

vcenter_search_domains:
  - subdomain.example.local
  - example.local

vcenter_ntp_servers:
  - 132.163.97.1
  - 132.163.96.1

vmware_dns_servers: "{{ dns_servers }}"
vmware_search_domains:
  - subdomain.example.local
  - example.local

vcenter_target_esxi: "192.168.0.11"
vcenter_target_esxi_username: 'root'
vcenter_target_esxi_password: 'foobar'

vcenter_license: f600d-21ae3-5592b-249e0-cc341
esxi_license: f600d-21ae3-5592b-249e0-cc341

vsphere_licenses:
  esx1.example.int: f600d-21ae3-5592b-249e0-cc341
  esx2.example.int: f600d-21ae3-5592b-249e0-cc342

## vsphere-lab-deploy

# the vCenter appliance that need to be deployed
vsphere_deploy__vcenter:
  name: "{{ vcenter_appliance_name }}"
  fqdn: "{{ vcenter_fqdn }}"
  hostname: "{{ vcenter_hostname }}"
  ip: "{{ vcenter_ip }}" # vCenter ip address
  mask: "{{ vcenter_net_prefix }}"
  gw: "{{ vcenter_gateway }}"
  switch_name: "{{ vcenter_mgt_vswitch }}"
  vlan: "{{ vcenter_mgt_vlan_id }}"
  network: "{{ vcenter_network }}" # this portGroup will be created on the pESX with the vlan id specified in the vcenter_target_esx_host section
  nested_vss_portgroup_name: "{{ vcenter_nested_vss_portgroup_name }}"
  nested_vss_vlan_id: "{{ vcenter_nested_vss_vlan_id }}"
  thin: "true"
  username: "{{ vcenter_username }}"
  password: "{{ vcenter_password }}"
  datacenter: "{{ vcenter_datacenter }}"
  datastore: "{{ vcenter_datastore }}" # Datastore name where the nested ESXi VMs will be deployed
  domain: "{{ vcenter_sso_domain }}"
  cluster: "{{ vcenter_cluster }}" # cluster where the vCenter VM will be deployed
  site_name: "{{ vcenter_site_name }}"
  license: "{{ vcenter_license }}"

## if there is existing VC connected to the physical ESXi change the configuration here.
## If there is no existing VC the config must be the same as the vcenter section above

### This is the vCenter which will be the target for nested vCenters and ESXi hosts
#vc_mng:
#  name: "{{ vcenter_appliance_name }}"
#  fqdn: "{{ vcenter_fqdn }}"
#  hostname: "{{ vcenter_hostname }}"
#  ip: "{{ vcenter_ip }}" # if you have existing VC already deployed and connected to the physical ESX put the ip address here, otherwise it must be the same as the parameters in vcenter section above
#  mask: "{{ vcenter_net_prefix }}"
#  gw: "{{ vcenter_gateway }}"
#  network: "{{ vcenter_mgt_portgroup_name }}"
#  username: "{{ vcenter_username }}"
#  password: "{{ vcenter_password }}"
#  datacenter: "{{ vcenter_datacenter }}"
#  datastore: "{{ vcenter_datastore }}" # Datastore name where the nested ESXi VMs will be deployed
#  domain: "{{ vcenter_domain }}"
#  ntp: "{{vcenter_ntp_servers}}"
#  cluster: "{{vcenter_cluster}}" # cluster where the vCenter VM will be deployed
#  site_name: "{{ vcenter_site_name }}"

#vc_mng: "{{ vcenter }}"

vcenter_clusters: # You can add, remove or rename clusters in this section, you can specify to which cluster specific nested ESXi to be connected to
# Do not change ha and vsan to True untill I fix a bug. It is better to go and enable first vSAN and HA after the deployment is done
  Management:
    ha: False
    drs: False
    vsan: False
  Compute:
    ha: False
    drs: True
    vsan: True

vcenter_folders:
  - name: vm
    type: vm

## vsphere-lab-deploy-orig (yasen) - to setup/configure physical/hosting esx & vcenter

#esxi_username: "root"
#esxi_password: 'VMware1!'

## configuration for accessing the existing physical ESXi
vcenter_physical_esx_hosts:
  - hostname: 'esx01.example.int'
    username: "{{ esxi_username }}"
    password: "{{ esxi_password }}"
    vlan: "{{ vcenter_mgt_vlan_id }}"
    switch_name: "{{ vcenter_mgt_vswitch }}"
    cluster: "{{ vcenter_cluster }}"

  - hostname: 'esx02.example.int'
    username: "{{ esxi_username }}"
    password: "{{ esxi_password }}"
    vlan: "{{ vcenter_mgt_vlan_id }}"
    switch_name: "{{ vcenter_mgt_vswitch }}"
    cluster: "{{ vcenter_cluster }}"

vcenter_target_esx_host: "{{ vcenter_physical_esx_hosts[0] }}"

## v2
#hosting_vcenter: # This is the vCenter which will be the target for nested vCenters and ESXi hosts
#  ip: "{{ vcenter_ip }}"
#  username: "{{ vcenter_username }}"
#  password: "{{ vcenter_password }}"
#  datacenter: "{{ vcenter_datacenter }}" # Target for all VM deployment
#  datastore: "{{ vcenter_datastore }}"

# vMotion vlan and network, no need to be reachible, you can configure random values here
vmotion_vlan: "1078"
vmotion_mask: "255.255.255.0"
vmotion_gw: "172.16.122.250"

# vSAN  vlan and network, no need to be reachible, you can configure random values here
vsan_vlan: "1079"
vsan_mask: "255.255.255.0"
vsan_gw: "172.16.123.250"

vcenter_mgmt_vlan: "0"
vcenter_external_vlan: "48"

vsphere_deploy__nested_vcenter: # the vCenter appliance that will be deployed
  ip: "192.168.0.181" # vCenter ip address
  mask: "24"
  gw: "192.168.0.1"
  host_name: "192.168.0.181" # FQDN if there is working DNS server, otherwise put the ip as a name
  thin: true
  user: "administrator@vsphere.local"
  password: "VMware1!"
  datacenter: "Lab" # DC to create after deployment
  ntp: time1.google.com
  # Below are properties of parent cluster
  network: "Net1" # Parent port group where the vCenter VM will be deployed
  cluster: "Physical" # Parent cluster where the vCenter VM will be deployed
  domain_name: "{{ vcenter_domain }}"
  site_name: "{{ vcenter_site_name }}"
  ## Parent datastore where the vCenter VM will be deployed
  datastore: "{{ vcenter_datastore }}"


nested_esx_host_defaults:
  domain: "{{ vcenter_domain }}"
  mask: 255.255.255.224
  gw: 10.114.209.225
  dns_servers: "{{ vcenter_dns_servers }}"
  mgmt_cluster: 'Management' # the cluster where physical ESXi is connected to. The nested VMs will be deployed here
  mgmt_portgroup: "Management Network"
  cluster: "Compute" # the cluster where this specific nested ESXi need to be connected to
  vlan: "{{ vcenter_external_vlan }}" # the external vlan id, need to have connectivity with the vCenter
  mgmt_vlan: "{{ vcenter_mgmt_vlan }}" # VLAN ID used to tag VMK0
  cpu: 8 # CPU count
  ram: 65536 # memory
  hdd: 180 # there is one HDD 8GB by default where the ESXi OS is installed. Additional one is SSD emulated drive configured half of the value here, and third HDD is according the value here

nested_hosts:
  - name: esxi1
#    fqdn: "esx1.{{ vcenter_domain }}"
    ip: 10.114.209.231
    vmotion_ip: 172.16.122.1
    vsan_ip: 172.16.123.1 # even if you dont need vSAN put an IP address here otherwise the install will fail

  - name: esxi2
#    fqdn: "esx2.{{ vcenter_domain }}"
    ip: 10.114.209.232
    mask: 255.255.255.224
    vmotion_ip: 172.16.122.2
    vsan_ip: 172.16.123.2 # even if you dont need vSAN put an IP address here otherwise the install will fail

  - name: esxi3
#    fqdn: "esx3.{{ vcenter_domain }}"
    ip: 10.114.209.233
    vmotion_ip: 172.16.122.3
    vsan_ip: 172.16.123.3 # even if you dont need vSAN put an IP address here otherwise the install will fail

  - name: esxi4
#    fqdn: "esx4.{{ vcenter_domain }}"
    ip: 10.114.209.234
    vmotion_ip: 172.16.122.4
    vsan_ip: 172.16.123.4 # even if you dont need vSAN put an IP address here otherwise the install will fail


vcenter_esx_hosts: |
  [
    {% for host in groups['vmware_esx_host'] %}
    {% if hostvars[host].vcenter_esxi_node_info is defined %}
    {{ hostvars[host].vcenter_esxi_node_info | to_json(ensure_ascii=False) }},
    {% endif %}
    {% endfor %}
  ]

nested_clusters: # You can add, remove or rename clusters in this section
  compute: # This name will by used in the nested vCenter
    drs: True
    # HA can only be enabled if there is are datastores accessible by all hosts.
    ha:
      enabled: True
      ha_host_monitoring_enabled: disabled
#      admission_control_enabled: False
#      reservation_based_admission_control:
      reservation_based_admission_control:
        auto_compute_percentages: False
        failover_level: 1
        cpu_failover_resources_percent: 50
        memory_failover_resources_percent: 50

    # Settings below are assigned to each host in the cluster
    vswitch0_port_group_name: net1
    mgmt_vlan: 0 # VLAN ID used to tag VMK0
    cpu_cores: 4 # CPU count
    ram_in_gb: 16 # memory
    # In order list of disks to assign to the nested host. All will be marked as SSD.
    # Datastore names will be automatically be pre-pended with the hostname. E.g esx1
    # The first disk will be ignored
    nested_hosts_disks:
      - size_gb: 30
      - size_gb: 200
        create_datastore_name: datastore # Omit to not create a datastore on the disk
    # Below are properties of the hosting cluster
    cluster: "Physical" # the cluster where physical ESXi is connected to. The nested VMs will be deployed here
    datastore: "NVME" # Datastore target for nested ESXi VMs
    vmnic_physical_portgroup_assignment: # In vmnic order, these port groups must exist on the physical host
      - "Nest"
      - "TEP"

resource_pools:
  - cluster_name: compute
    resource_pool_name:
      - PAS-AZ1
      - PKS-AZ1

vcenter_enable_vds: no

distributed_switches:
  - name: vds_overlay
    mtu: 9000
    hosts:
      - esx1
    switch_version: 7.0.0
    uplink_quantity: 1
    vmnics:
      - vmnic1

distributed_port_groups:
  - name: tep_pg
    switch_name: vds_overlay
    vlan_id: "0"

#nested_esxi_username: "root"
#nested_esxi_password: "VMware1!"
#
#nested_host_credentials: # Credentials set in kickstart file inside the custom ISO
##  user: "root"
##  password: "VMware1!"
#  user: "{{ nested_esxi_username }}"
#  password: "{{ nested_esxi_password }}"


