# {{ ansible_managed }}

[Unit]
Description=Trillian: General Transparency - Log server
Documentation=https://github.com/google/trillian
After=mariadb.service network-online.target

[Service]
User={{ ct_svc_user }}
Group={{ ct_svc_user }}
WorkingDirectory={{ trillian_install_root }}
ExecStart={{ trillian_install_root }}/trillian_log_server --config=config/log-server.cfg
KillMode=process
Restart=on-failure
StandardError=journal
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
PrivateDevices=yes

[Install]
WantedBy=multi-user.target
