{
  "ocspResponder": {
    "dbConnectFile": "config/dburl/ocsp-responder",
    "maxDBConns": 10,
    "path": "/",
    "listenAddress": "127.0.0.1:{{ app_conf.ocsp_responder.network.http }}",
    "maxAge": "10s",
    "timeout": "4.9s",
    "shutdownStopTimeout": "10s",
    "debugAddr": "127.0.0.1:9991"
  },

  "syslog": {
   "stdoutlevel": 6,
   "sysloglevel": 4
  },

  "common": {
    "issuerCert": "certs/web/{{ issuing_ca_crtname }}"
  }
}
