{
  "ocspUpdater": {
    "dbConnectFile": "config/dburl/ocsp-updater",
    "maxDBConns": 10,
    "oldOCSPWindow": "30s",
    "oldOCSPBatchSize": 5000,
    "parallelGenerateOCSPRequests": 10,
    "ocspMinTimeToExpiry": "72h",
    "ocspStaleMaxAge": "720h",
    "signFailureBackoffFactor": 1.2,
    "signFailureBackoffMax": "30m",
    "debugAddr": "127.0.0.1:9992",
    "tls": {
      "caCertFile": "certs/grpc/ca.crt",
      "certFile": "certs/grpc/ocsp-updater.crt",
      "keyFile": "certs/grpc/ocsp-updater.key"
    },
    "saService": {
      "serverAddress": "stepca-sa.{{ ansible_fqdn }}:{{ app_conf.sa.network.grpc }}",
      "timeout": "15s"
    },
    "ocspGeneratorService": {
      "serverAddress": "stepca-ca.{{ ansible_fqdn }}:{{ app_conf.ca.network.grpc.ocsp }}",
      "timeout": "15s"
    },
    "features": {
{% for k, v in app_conf.ocsp_updater.features.items() %}
      "{{ k }}": {{ v | lower }}{{ ',' if not loop.last else '' }}
{% endfor %}
    }
  },

  "syslog": {
    "stdoutlevel": 6,
    "sysloglevel": 4
  },

  "common": {
    "issuerCert": "certs/web/{{ issuing_ca_crtname }}"
  }
}
