{
  "expiredAuthzPurger2": {
    "syslog": {
      "stdoutlevel": 6
    },
    "dbConnectFile": "config/dburl/purger",
    "maxDBConns": 10,
    "gracePeriod": "168h",
    "batchSize": 1000,
    "waitDuration": "120m",
    "debugAddr": "127.0.0.1:9998"
  }
}
