EMAIL_HOST = "mail.johnson.int"
REGENERATE_SETTINGS = False
DEFAULT_FROM_EMAIL = "admin@dettonville.org"
BASE_URL = "{{ __docker_stack__appspecs__healthchecks_endpoint }}"
EMAIL_USE_TLS = False
SITE_ROOT = "{{ __docker_stack__appspecs__healthchecks_site_url }}"
DEBUG = False
EMAIL_PORT = "25"
SITE_NAME = "Dettonville HealthChecks"
ALLOWED_HOSTS = "*"
ALLOWED_HOSTS = ["*"]
CSRF_TRUSTED_ORIGINS = ["{{ __docker_stack__appspecs__healthchecks_site_url }}"]
PING_ENDPOINT = SITE_ROOT + "/ping/"
SECRET_KEY = "{{ docker_stack__healthchecks_secret_key }}"
