---

- name: create cloudinit autoinstall directory
  ansible.builtin.file:
    state: directory
    path: "{{ pxe_assets_dir }}/{{ item.pxe_dist_dir }}/autoinstall"
    owner: "{{ netboot_uid | default(omit) }}"
    group: "{{ netboot_gid | default(omit) }}"
  loop: "{{ pxe_os_dist_list }}"

- name: generate cloudinits
  ansible.builtin.template:
    src: "templates/{{ item.0.distro }}/cloudinit/{{ item.1 }}"
    dest: "{{ pxe_assets_dir }}/{{ item.0.pxe_dist_dir }}/autoinstall/{{ item.1 | replace('.yml.j2', '') }}"
    owner: "{{ netboot_uid | default(omit) }}"
    group: "{{ netboot_gid | default(omit) }}"
  loop: "{{ pxe_os_dist_list | subelements('cloudinit_templates', { 'skip_missing': true }) }}"

