export PATH=$PATH:{{ bootstrap_nodejs__npm_config_prefix }}/bin
export NPM_CONFIG_PREFIX={{ bootstrap_nodejs__npm_config_prefix }}
export NODE_PATH=$NODE_PATH:{{ bootstrap_nodejs__npm_config_prefix }}/lib/node_modules
