# Copyright © 2017 VMware, Inc. All Rights Reserved.
# SPDX-License-Identifier: MIT OR GPL-3.0-only

ansible.cfg
ansible-role-govc
.idea
.molecule
./vaultpass
**/test_default.pyc
**/__pycache__/
**/pytestdebug.log
