## {{ ansible_managed }}
##
## ref: https://smallstep.com/docs/step-ca/certificate-authority-server-production#automated-renewal
## ref: https://smallstep.com/docs/step-ca/certificate-authority-server-production#the-standalone-step-renewal-daemon
##

[Unit]
Description=Step TLS Renewer for Foo service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
#User=step
#ExecStart=/usr/bin/step ca renew --daemon /home/step/foo.crt /home/step/foo.key
User=root
#ExecStart=/usr/local/bin/step ca renew --daemon {{ ca_local_cert_dir }}/{{ hostname_name_full }}.pem {{ ca_local_key_dir }}/{{ hostname_name_full }}-key.pem
ExecStart=/bin/step ca renew --daemon {{ ca_local_cert_dir }}/{{ hostname_name_full }}.pem {{ ca_local_key_dir }}/{{ hostname_name_full }}-key.pem

[Install]
WantedBy=multi-user.target
