{
  "core.conf":{
    "UNIQUE_INSTANCE_CONFIG":{
      "instance_name":"conf.sql",
      "group_switch_value":"conf.sql",
      "SQL_DRIVER":{
        "core_driver":"core",
        "group_switch_value":"core"
      }
    },
    "AJXP_CLI_SECRET_KEY": "{{ __docker_stack__pydio__ajxp_cli_secret_key }}",
    "DIBI_PRECONFIGURATION": "{{ __docker_stack__pydio__dibi_preconfiguration | to_json }}"
  },
  "core.auth":{
    "ENABLE_USERS":true,
    "CASE_SENSITIVE":false,
    "ALLOW_GUEST_BROWSING":false,
    "PASSWORD_MINLENGTH":"8",
    "SESSION_SET_CREDENTIALS":false,
    "SECURE_LOGIN_FORM":true,
    "ENABLE_FORGOT_PASSWORD":false,
    "FORGOT_PASSWORD_ACTION":"reset-password-ask",
    "DISABLE_BRUTE_FORCE_CHECK":false,
    "MASTER_INSTANCE_CONFIG": "{{ __docker_stack__pydio__master_instance_config | to_json }}",
    "MULTI_MODE":{
      "instance_name":"MASTER_SLAVE",
      "CACHE_MASTER_USERS_TO_SLAVE":true,
      "group_switch_value":"MASTER_SLAVE"
    },
    "instance_name":"USER_CHOICE",
    "CACHE_MASTER_USERS_TO_SLAVE":true,
    "MULTI_USER_ID_SEPARATOR":"_-_",
    "MULTI_MASTER_LABEL":"Company Users",
    "MULTI_SLAVE_LABEL":"Guest Users",
    "SLAVE_INSTANCE_CONFIG":{
      "instance_name":"auth.sql",
      "SQL_DRIVER":{
        "core_driver":"core",
        "group_switch_value":"core"
      },
      "AUTOCREATE_AJXPUSER":true,
      "group_switch_value":"auth.sql"
    },
    "MULTI_USER_BASE_DRIVER":"-1",
    "UNIQUE_INSTANCE_CONFIG":{
      "instance_name":"conf.sql",
      "SQL_DRIVER":{
        "core_driver":"core"
      }
    },
    "PHPCAS_MODE":{
      "casmode":"client"
    },
    "DIBI_PRECONFIGURATION":{
      "mysql_use_mysqli":"true",
      "mysql_driver":"mysql"
    },
    "ADDRESSBOOK_GROUP_OR_USERS":{
      "ABOOK_BOTH":"both"
    }
  },
  "core.cache":{
    "UNIQUE_INSTANCE_CONFIG":{
      "instance_name":"cache.doctrine",
      "group_switch_value":"cache.doctrine",
      "CACHE_PREFIX":"pydio-abb31f5a",
      "DRIVER":{
        "group_switch_value":"apc",
        "driver":"apc"
      }
    }
  }
}