{% for key,value in bootstrap_docker__options.iteritems() %}
{% if value != '' %}
{% set myvalue = bootstrap_docker__config.update({ key: value }) %}
{% endif %}
{% endfor %}
{{ bootstrap_docker__config | to_nice_json }}
