[Service]
{% if bootstrap_docker__http_proxy is defined %}
Environment="HTTP_PROXY={{ bootstrap_docker__http_proxy }}"
{% endif %}
{% if bootstrap_docker__https_proxy is defined %}
Environment="HTTPS_PROXY={{ bootstrap_docker__https_proxy }}"
{% endif %}
{% if bootstrap_docker__no_proxy_params is defined %}
Environment="NO_PROXY={{ bootstrap_docker__no_proxy_params }}"
{% endif %}
