---
clouds:
  {{ cloud_name }}:
    auth:
      username: {{ admin_creds.username }}
      project_name: {{ admin_creds.project_name }}
      password: {{ admin_creds.password }}
#      auth_url: {{ admin_creds.auth_url }}
      auth_url: "http://{{ openstack_kolla_internal_vip_address }}:5000/v3/"
      user_domain_name: {{ admin_creds.user_domain_name }}
      project_domain_name: {{ admin_creds.project_domain_name }}
    identity_api_version: 3
