dn: ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: organizationalUnit
objectClass: top
ou: groups

dn: ou=Idmap,{{ ldap_internal_base_dn }}
changetype: add
objectClass: organizationalUnit
ou: Idmap

dn: ou=users,{{ ldap_internal_base_dn }}
changetype: add
objectClass: top
objectClass: organizationalUnit
ou: users

dn: cn=search,{{ ldap_internal_base_dn }}
changetype: add
objectClass: organizationalRole
objectClass: simpleSecurityObject
cn: search
userPassword: {{ vault__ldap_domain_users['search'].ssha_password }}
description: LDAP read only user

dn: ou=computers,{{ ldap_internal_base_dn }}
changetype: add
objectClass: organizationalUnit
ou: computers

dn: uid=root,ou=users,{{ ldap_internal_base_dn }}
changetype: add
objectClass: top
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
objectClass: sambaSamAccount
objectClass: posixAccount
objectClass: shadowAccount
cn: root
gidNumber: 500
homeDirectory: /root
sambaSID: S-1-5-21-2488225321-1182615644-1602239022-500
sn: root
uid: root
uidNumber: 0
gecos: Netbios Domain Administrator
loginShell: /bin/bash
sambaAcctFlags: [XU         ]
sambaDomainName: SAMBA1
sambaHomeDrive: H:
sambaHomePath: \\samba1\root
sambaKickoffTime: 2147483647
sambaLogoffTime: 2147483647
sambaLogonTime: 0
sambaNTPassword: {{ vault__ldap_domain_users['root'].sambaNTPassword }}
sambaPrimaryGroupSID: S-1-5-21-2488225321-1182615644-1602239022-512
sambaProfilePath: \\%L\profiles\root
sambaPwdCanChange: 0
sambaPwdLastSet: 1493062830
sambaPwdMustChange: 1495640860
shadowLastChange: 17280
shadowMax: 99999
userPassword: {{ vault__ldap_domain_users['root'].ssha_password }}

dn: uid=administrator,ou=users,{{ ldap_internal_base_dn }}
changetype: add
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: top
objectClass: sambaSamAccount
objectClass: shadowAccount
cn: administrator
gidNumber: 10000
homeDirectory: /home/administrator
sambaSID: S-1-5-21-2488225321-1182615644-1602239022-500
sn: Administrator
uid: administrator
uidNumber: 10000
displayName: administrator
gecos: administrator
givenName: administrator
loginShell: /bin/bash
sambaAcctFlags: [XU         ]
sambaDomainName: {{ ldap_internal_domain }}
sambaHomePath: \\samba.{{ ldap_internal_domain }}\profiles\administrator
sambaNTPassword: {{ vault__ldap_domain_users['administrator'].sambaNTPassword }}
sambaPrimaryGroupSID: S-1-5-21-2488225321-1182615644-1602239022-2005
sambaProfilePath: \\%L\profiles\administrator
sambaPwdLastSet: 1491784966
sambaUserWorkstations: machine01,johnson1,johnson3,ljlaptop,oradb1,plex,samb
 a1,vcenter50
userPassword: {{ vault__ldap_domain_users['administrator'].ssha_password }}

dn: uid=administrator,ou=users,{{ ldap_internal_base_dn }}
changeType: modify
add: objectClass
objectClass: ldapPublicKey
-
add: sshPublicKey
sshPublicKey: {{ vault__ldap_domain_users[username].ssh_public_key }}

dn: uid=ansible,ou=users,{{ ldap_internal_base_dn }}
changetype: add
objectClass: shadowAccount
objectClass: sambaSamAccount
objectClass: top
objectClass: posixAccount
objectClass: inetOrgPerson
cn: ansible
gidNumber: 5002
homeDirectory: /home/ansible
sambaSID: S-1-5-21-2488225321-1182615644-1602239022-502
sn: Ansible
uid: ansible
uidNumber: 10001
displayName: ansible
gecos: ansible
givenName: ansible
loginShell: /bin/bash
sambaAcctFlags: [XU         ]
sambaDomainName: {{ ldap_internal_domain }}
sambaHomePath: \\samba.{{ ldap_internal_domain }}\profiles\ansible
sambaNTPassword: {{ vault__ldap_domain_users['ansible'].sambaNTPassword }}
sambaPrimaryGroupSID: S-1-5-21-2488225321-1182615644-1602239022-2005
sambaProfilePath: \\%L\profiles\ansible
sambaPwdLastSet: 1491784966
sambaUserWorkstations: machine01,johnson1,johnson3,ljlaptop,oradb1,plex,samb
 a1,vcenter50
userPassword: {{ vault__ldap_domain_users['ansible'].ssha_password }}

dn: uid=ansible,ou=users,{{ ldap_internal_base_dn }}
changeType: modify
add: objectClass
objectClass: ldapPublicKey
-
add: sshPublicKey
sshPublicKey: {{ vault__ldap_domain_users[username].ssh_public_key }}

dn: uid=smbguest,ou=users,{{ ldap_internal_base_dn }}
changetype: add
objectClass: shadowAccount
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: sambaSamAccount
cn: smbguest
gidNumber: 10002
homeDirectory: /nonexistent
sambaSID: S-1-5-21-2488225321-1182615644-1602239022-21000
sn: smbguest
uid: smbguest
uidNumber: 10002
loginShell: /bin/bash
sambaAcctFlags: [XU         ]
sambaDomainName: {{ ldap_internal_domain }}
sambaNTPassword: {{ vault__ldap_domain_users['smbguest'].sambaNTPassword }}
sambaPrimaryGroupSID: S-1-5-21-2488225321-1182615644-1602239022-2005
userPassword: {{ vault__ldap_domain_users['smbguest'].ssha_password }}

dn: uid=media,ou=users,{{ ldap_internal_base_dn }}
changetype: add
objectClass: shadowAccount
objectClass: top
objectClass: posixAccount
objectClass: inetOrgPerson
cn: media
gidNumber: 995
homeDirectory: /home/media
sn: Media
uid: media
uidNumber: 10003
displayName: media
gecos: media
givenName: media
loginShell: /bin/bash
userPassword: {{ vault__ldap_domain_users['media'].ssha_password }}

dn: uid=admin,ou=users,{{ ldap_internal_base_dn }}
changetype: add
objectClass: sambaSamAccount
objectClass: posixAccount
objectClass: inetOrgPerson
objectClass: organizationalPerson
objectClass: person
cn: admin
gidNumber: 544
homeDirectory: /home/admin
sambaSID: S-1-5-21-2488225321-1182615644-1602239022-500
sn: admin
uid: admin
uidNumber: 10004
displayName: admin
loginShell: /bin/bash
mail: admin@epgtec.com
sambaAcctFlags: [XU         ]
sambaDomainName: {{ ldap_internal_domain }}
sambaHomeDrive: H:
sambaHomePath: \\samba.{{ ldap_internal_domain }}\profiles\admin
sambaKickoffTime: 1893474000
sambaPrimaryGroupSID: S-1-5-32-544
sambaProfilePath: \\%L\profiles\admin
userPassword: {{ vault__ldap_domain_users['admin'].ssha_password }}

dn: uid=plex,ou=users,{{ ldap_internal_base_dn }}
changetype: add
objectClass: shadowAccount
objectClass: top
objectClass: posixAccount
objectClass: inetOrgPerson
cn: plex
gidNumber: 995
homeDirectory: /var/lib/plexmediaserver
sn: Plex
uid: plex
uidNumber: 10005
displayName: plex
gecos: plex
givenName: plex
loginShell: /bin/bash
userPassword: {{ vault__ldap_domain_users['plex'].ssha_password }}

dn: uid=nobody,ou=users,{{ ldap_internal_base_dn }}
changetype: add
objectClass: shadowAccount
objectClass: posixAccount
objectClass: sambaSamAccount
objectClass: inetOrgPerson
objectClass: organizationalPerson
objectClass: person
objectClass: top
cn: nobody
gidNumber: 514
homeDirectory: /nonexistent
sambaSID: S-1-5-21-2488225321-1182615644-1602239022-501
sn: nobody
uid: nobody
uidNumber: 65534
loginShell: /bin/false
sambaAcctFlags: [NUD        ]
sambaHomeDrive: H:
sambaHomePath: \\samba1\nobody
sambaKickoffTime: 2147483647
sambaLMPassword: NO PASSWORDXXXXXXXXXXXXXXXXXXXXX
sambaLogoffTime: 2147483647
sambaLogonTime: 0
sambaNTPassword: {{ vault__ldap_domain_users['nobody'].sambaNTPassword }}
sambaPrimaryGroupSID: S-1-5-21-2488225321-1182615644-1602239022-514
sambaProfilePath: \\%L\profiles\nobody
sambaPwdCanChange: 0
sambaPwdLastSet: 0
sambaPwdMustChange: 2147483647

{% for user in vault__ldap_domain_users %}
{% if not user.system %}
dn: uid={{ user.username }},ou=users,{{ ldap_internal_base_dn }}
changetype: add
objectClass: sambaSamAccount
objectClass: posixAccount
objectClass: inetOrgPerson
objectClass: organizationalPerson
objectClass: person
objectClass: shadowAccount
cn: {{ user.cn }}
gidNumber: 502
homeDirectory: {{ user.homedir }}
sambaSID: {{ user.sambaSID }}
sn: {{ user.sn }}
uid: {{ user.uid }}
uidNumber: {{ user.uidNumber }}
displayName: {{ user.displayName }}
givenName: {{ user.givenName }}
initials: {{ user.initials }}
loginShell: {{ user.loginShell }}
mail: {{ user.mail }}
sambaAcctFlags: [XU         ]
sambaDomainName: {{ ldap_internal_domain }}
sambaHomeDrive: H:
sambaHomePath: \\samba.{{ ldap_internal_domain }}\profiles\{{ user.username }}
sambaNTPassword: {{ user.sambaNTPassword }}
sambaPrimaryGroupSID: S-1-5-21-2488225321-1182615644-1602239022-2005
sambaProfilePath: \\%L\profiles\{{ user.username }}
sambaUserWorkstations: {{ user.sambaUserWorkstations }}
userPassword: {{ user.ssha_password }}
{% endif %}

{% if user.ssh_public_key is defined %}
dn: uid={{ user.username }},ou=users,{{ ldap_internal_base_dn }}
changeType: modify
add: objectClass
objectClass: ldapPublicKey
-
add: sshPublicKey
sshPublicKey: {{ user.ssh_public_key }}
{% endif %}
{% endfor %}

dn: cn=irc,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: top
objectClass: posixGroup
cn: irc
gidNumber: 501

dn: cn=test,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: posixGroup
objectClass: sambaGroupMapping
cn: test
gidNumber: 10000
sambaGroupType: 2
sambaSID: S-1-5-21-2488225321-1182615644-1602239022-21001
displayName: test

dn: cn=admin,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: top
objectClass: posixGroup
cn: admin
gidNumber: 500
memberUid: administrator
memberUid: admin

dn: cn=users,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: sambaGroupMapping
objectClass: top
objectClass: posixGroup
cn: users
gidNumber: 502
sambaGroupType: 2
sambaSID: S-1-5-21-2488225321-1182615644-1602239022-2005
{% for user in vault__ldap_domain_users %}
{% if user.sambaSID is defined %}
sambaSIDList: {{ user.sambaSID }}
{% endif %}
{% endfor %}

dn: cn=wheel,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: top
objectClass: posixGroup
cn: wheel
gidNumber: 504
memberUid: administrator
{% for user in vault__ldap_domain_users %}
{% if user.groups|d([]) | intersect(['wheel','sudo']) | length>0 %}
memberUid: {{ user.uid }}
{% endif %}
{% endfor %}

dn: cn=admins,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: top
objectClass: posixGroup
cn: admins
gidNumber: 503
memberUid: administrator
memberUid: admin
memberUid: ansible
{% for user in vault__ldap_domain_users %}
{% if user.groups|d([]) | intersect(['admins']) | length>0 %}
memberUid: {{ user.uid }}
{% endif %}
{% endfor %}

dn: cn=Ensign,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: groupOfUniqueNames
objectClass: top
cn: Ensign
uniqueMember:

dn: ou=django,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: top
objectClass: organizationalUnit
ou: django

dn: cn=Crewman,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: groupOfUniqueNames
objectClass: top
cn: Crewman
uniqueMember:

dn: cn=smbuser,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: posixGroup
objectClass: sambaGroupMapping
cn: smbuser
gidNumber: 10001
sambaGroupType: 2
sambaSID: S-1-5-21-2488225321-1182615644-1602239022-21003
displayName: smbuser
sambaSIDList: S-1-5-21-2488225321-1182615644-1602239022-2027
memberUid: administrator
{% for user in vault__ldap_domain_users %}
{% if user.groups|d([]) | intersect(['smbuser']) | length>0 %}
memberUid: {{ user.uid }}
{% endif %}
{% endfor %}

dn: cn=Engineer,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: groupOfUniqueNames
objectClass: top
cn: Engineer
uniqueMember:

dn: cn=smbadmin,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: sambaGroupMapping
objectClass: posixGroup
cn: smbadmin
gidNumber: 10003
sambaGroupType: 2
sambaSID: S-1-5-21-2488225321-1182615644-1602239022-21007
description: smbadmin
displayName: smbadmin
sambaSIDList: S-1-5-32-544
sambaSIDList: S-1-5-21-2488225321-1182615644-1602239022-512
memberUid: administrator
memberUid: root
memberUid: admin
{% for user in vault__ldap_domain_users %}
{% if user.groups|d([]) | intersect(['smbadmin']) | length>0 %}
memberUid: {{ user.uid }}
{% endif %}
{% endfor %}

dn: cn=smbguest,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: posixGroup
objectClass: sambaGroupMapping
cn: smbguest
gidNumber: 10002
sambaGroupType: 2
sambaSID: S-1-5-21-2488225321-1182615644-1602239022-21005
description: smbguest
displayName: smbguest

dn: cn=Commander,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: groupOfUniqueNames
objectClass: top
cn: Commander
uniqueMember:

dn: ou=cloudusers,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: top
objectClass: organizationalUnit
ou: cloudusers

dn: cn=media,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: posixGroup
objectClass: top
cn: media
gidNumber: 995
memberUid: administrator
memberUid: admin
memberUid: media
{% for user in vault__ldap_domain_users %}
{% if user.groups|d([]) | intersect(['media']) | length>0 %}
memberUid: {{ user.uid }}
{% endif %}
{% endfor %}

dn: cn=Replicators,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: sambaGroupMapping
objectClass: posixGroup
objectClass: top
cn: Replicators
gidNumber: 552
sambaGroupType: 4
sambaSID: S-1-5-32-552
description: Netbios Domain Supports file replication in a sambaDomainName
displayName: Replicators

dn: cn=Domain Users,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: sambaGroupMapping
objectClass: posixGroup
objectClass: top
cn: Domain Users
gidNumber: 513
sambaGroupType: 2
sambaSID: S-1-5-21-2488225321-1182615644-1602239022-2027
description: Netbios Domain Users
displayName: Domain Users
sambaSIDList: S-1-5-21-2488225321-1182615644-1602239022-2027
memberUid: administrator
{% for user in vault__ldap_domain_users %}
{% if user.sambaDomainUser|d(False)|bool %}
memberUid: {{ user.uid }}
{% endif %}
{% endfor %}

dn: cn=Domain Admins,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: sambaGroupMapping
objectClass: posixGroup
objectClass: top
cn: Domain Admins
gidNumber: 512
sambaGroupType: 2
sambaSID: S-1-5-21-2488225321-1182615644-1602239022-512
description: Netbios Domain Administrators
displayName: Domain Admins
memberUid: administrator
memberUid: root
memberUid: admin
memberUid: ansible
{% for user in vault__ldap_domain_users %}
{% if user.sambaDomainAdmin|d(False)|bool %}
memberUid: {{ user.uid }}
{% endif %}
{% endfor %}

dn: cn=Domain Guests,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: sambaGroupMapping
objectClass: posixGroup
objectClass: top
cn: Domain Guests
gidNumber: 514
sambaGroupType: 2
sambaSID: S-1-5-21-2488225321-1182615644-1602239022-514
description: Netbios Domain Guests Users
displayName: Domain Guests

dn: cn=Administrators,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: sambaGroupMapping
objectClass: posixGroup
objectClass: top
cn: Administrators
gidNumber: 544
sambaGroupType: 4
sambaSID: S-1-5-32-544
description: Netbios Domain Members can fully administer the computer/sambaDomainName
displayName: Administrators
memberUid: administrator
{% for user in vault__ldap_domain_users %}
{% if user.groups|d([]) | intersect(['Administrators']) | length>0 %}
memberUid: {{ user.uid }}
{% endif %}
{% endfor %}

dn: cn=Print Operators,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: sambaGroupMapping
objectClass: posixGroup
objectClass: top
cn: Print Operators
gidNumber: 550
sambaGroupType: 4
sambaSID: S-1-5-32-550
description: Netbios Domain Print Operators
displayName: Print Operators
{% for user in vault__ldap_domain_users %}
{% if user.groups|d([]) | intersect(['Print Operators']) | length>0 %}
memberUid: {{ user.uid }}
{% endif %}
{% endfor %}

dn: cn=Backup Operators,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: sambaGroupMapping
objectClass: posixGroup
objectClass: top
cn: Backup Operators
gidNumber: 551
sambaGroupType: 4
sambaSID: S-1-5-32-551
description: Netbios Domain Members can bypass file security to back up file
 s
displayName: Backup Operators
{% for user in vault__ldap_domain_users %}
{% if user.groups|d([]) | intersect(['Backup Operators']) | length>0 %}
memberUid: {{ user.uid }}
{% endif %}
{% endfor %}

dn: cn=Domain Computers,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: sambaGroupMapping
objectClass: posixGroup
objectClass: top
cn: Domain Computers
gidNumber: 515
sambaGroupType: 2
sambaSID: S-1-5-21-2488225321-1182615644-1602239022-515
description: Netbios Domain Computers accounts
displayName: Domain Computers

dn: cn=Account Operators,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: sambaGroupMapping
objectClass: posixGroup
objectClass: top
cn: Account Operators
gidNumber: 548
sambaGroupType: 4
sambaSID: S-1-5-32-548
description: Netbios Domain Users to manipulate users accounts
displayName: Account Operators
{% for user in vault__ldap_domain_users %}
{% if user.groups|d([]) | intersect(['Account Operators']) | length>0 %}
memberUid: {{ user.uid }}
{% endif %}
{% endfor %}

dn: cn=staff,ou=django,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: top
objectClass: groupOfNames
cn: staff
member: uid=admin,ou=users,{{ ldap_internal_base_dn }}
{% for user in vault__ldap_domain_users %}
{% if user.groups|d([]) | intersect(['django']) | length>0 %}
member: uid={{ user.uid }},ou=users,{{ ldap_internal_base_dn }}
{% endif %}
{% endfor %}


dn: cn=epgblog,ou=django,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: top
objectClass: groupOfNames
cn: epgblog
member: uid=admin,ou=users,{{ ldap_internal_base_dn }}
{% for user in vault__ldap_domain_users %}
{% if user.groups|d([]) | intersect(['epgblog_django']) | length>0 %}
member: uid={{ user.uid }},ou=users,{{ ldap_internal_base_dn }}
{% endif %}
{% endfor %}

dn: cn=superuser,ou=django,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: top
objectClass: groupOfNames
cn: superuser
member: uid=admin,ou=users,{{ ldap_internal_base_dn }}
{% for user in vault__ldap_domain_users %}
{% if user.groups|d([]) | intersect(['superuser_django']) | length>0 %}
member: uid={{ user.uid }},ou=users,{{ ldap_internal_base_dn }}
{% endif %}
{% endfor %}

dn: cn=admin,ou=cloudusers,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: top
objectClass: groupOfNames
cn: admin
member: uid=admin,ou=users,{{ ldap_internal_base_dn }}
member: uid=administrator,ou=users,{{ ldap_internal_base_dn }}
{% for user in vault__ldap_domain_users %}
{% if user.groups|d([]) | intersect(['admin_cloudusers']) | length>0 %}
member: uid={{ user.uid }},ou=users,{{ ldap_internal_base_dn }}
{% endif %}
{% endfor %}


dn: cn=internal,ou=cloudusers,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: top
objectClass: groupOfNames
cn: family
member: uid=admin,ou=users,{{ ldap_internal_base_dn }}
{% for user in vault__ldap_domain_users %}
{% if user.groups|d([]) | intersect(['internal_cloudusers']) | length>0 %}
member: uid={{ user.uid }},ou=users,{{ ldap_internal_base_dn }}
{% endif %}
{% endfor %}

dn: cn=epgblog,ou=cloudusers,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: top
objectClass: groupOfNames
cn: epgblog
member: uid=admin,ou=users,{{ ldap_internal_base_dn }}
member: uid=administrator,ou=users,{{ ldap_internal_base_dn }}
{% for user in vault__ldap_domain_users %}
{% if user.groups|d([]) | intersect(['epgblog_cloudusers']) | length>0 %}
member: uid={{ user.uid }},ou=users,{{ ldap_internal_base_dn }}
{% endif %}
{% endfor %}

dn: cn=nextcloud,ou=cloudusers,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: top
objectClass: groupOfNames
cn: nextcloud
member: uid=admin,ou=users,{{ ldap_internal_base_dn }}
{% for user in vault__ldap_domain_users %}
{% if user.groups|d([]) | intersect(['nextcloud_cloudusers']) | length>0 %}
member: uid={{ user.uid }},ou=users,{{ ldap_internal_base_dn }}
{% endif %}
{% endfor %}

dn: cn=superuser,ou=cloudusers,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: top
objectClass: groupOfNames
cn: superuser
member: uid=admin,ou=users,{{ ldap_internal_base_dn }}
{% for user in vault__ldap_domain_users %}
{% if user.groups|d([]) | intersect(['superuser_cloudusers']) | length>0 %}
member: uid={{ user.uid }},ou=users,{{ ldap_internal_base_dn }}
{% endif %}
{% endfor %}

dn: cn=vcenter,ou=computers,{{ ldap_internal_base_dn }}
changetype: add
objectClass: sambaSamAccount
objectClass: account
objectClass: posixAccount
cn: vcenter
gidNumber: 515
homeDirectory: /dev/null
sambaSID: S-1-5-21-2488225321-1182615644-1602239022-101000
uid: vcenter50$
uidNumber: 50000
description: vcenter7
displayName: vcenter7
loginShell: /bin/false
sambaAcctFlags: [W          ]
sambaDomainName: {{ ldap_internal_domain }}
sambaNTPassword: {{ vault__host_creds['vcenter'].sambaNTPassword }}
sambaPrimaryGroupSID: S-1-5-21-2488225321-1182615644-1602239022-515
sambaPwdLastSet: 1505109455


dn: cn=oradb1,ou=computers,{{ ldap_internal_base_dn }}
changetype: add
objectClass: sambaSamAccount
objectClass: account
objectClass: posixAccount
cn: oradb1
gidNumber: 515
homeDirectory: /dev/null
sambaSID: S-1-5-21-2488225321-1182615644-1602239022-101002
uid: oradb1$
uidNumber: 50001
description: oradb1
displayName: oradb1
loginShell: /bin/false
sambaAcctFlags: [W          ]
sambaDomainName: {{ ldap_internal_domain }}
sambaNTPassword: {{ vault__host_creds['oradb1'].sambaNTPassword }}
sambaPrimaryGroupSID: S-1-5-21-2488225321-1182615644-1602239022-515
sambaPwdLastSet: 1491763006

dn: cn=samba1,ou=computers,{{ ldap_internal_base_dn }}
changetype: add
objectClass: account
objectClass: posixAccount
objectClass: sambaSamAccount
cn: samba1
gidNumber: 515
homeDirectory: /dev/null
sambaSID: S-1-5-21-2488225321-1182615644-1602239022-101004
uid: samba1$
uidNumber: 50002
description: johnson1
displayName: johnson1
loginShell: /bin/false
sambaAcctFlags: [W          ]
sambaDomainName: SAMBA1
sambaNTPassword: {{ vault__host_creds['samba1'].sambaNTPassword }}
sambaPrimaryGroupSID: S-1-5-21-2488225321-1182615644-1602239022-515
sambaPwdLastSet: 1491763043


{% for host in groups['ldap_managed_host'] %}
dn: cn={{ host.cn }},ou=computers,{{ ldap_internal_base_dn }}
changetype: add
objectClass: account
objectClass: posixAccount
objectClass: sambaSamAccount
cn: {{ host.cn }}
gidNumber: 515
homeDirectory: /dev/null
sambaSID: {{ host.sambaSID }}
uid: {{ host.uid }}$
uidNumber: {{ host.uidNumber }}
description: {{ host.description }}
displayName: {{ host.displayName }}
loginShell: /bin/false
sambaAcctFlags: [W          ]
sambaDomainName: {{ ldap_internal_domain }}
sambaNTPassword: {{ vault__host_creds[host.uid].sambaNTPassword }}
sambaPrimaryGroupSID: S-1-5-21-2488225321-1182615644-1602239022-515
{% endfor %}

dn: ou=SUDOers,{{ ldap_internal_base_dn }}
changetype: add
objectClass: organizationalUnit
objectClass: top
ou: SUDOers

dn: cn=defaults,ou=SUDOers,{{ ldap_internal_base_dn }}
changetype: add
objectClass: sudoRole
objectClass: top
cn: defaults
description: Default sudoOption's go here
sudoOption: env_reset
sudoOption: mail_badpass
sudoOption: secure_path="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/
 sbin:/bin"
sudoOrder: 1

dn: cn=root,ou=SUDOers,{{ ldap_internal_base_dn }}
changetype: add
objectClass: sudoRole
objectClass: top
cn: root
sudoCommand: ALL
sudoHost: ALL
sudoOrder: 2
sudoRunAsGroup: ALL
sudoRunAsUser: ALL
sudoUser: root

dn: cn=%admin,ou=SUDOers,{{ ldap_internal_base_dn }}
changetype: add
objectClass: sudoRole
objectClass: top
cn: %admin
sudoCommand: ALL
sudoHost: ALL
sudoOrder: 3
sudoRunAsUser: ALL
sudoUser: %admin

dn: cn=%sudo,ou=SUDOers,{{ ldap_internal_base_dn }}
changetype: add
objectClass: sudoRole
objectClass: top
cn: %sudo
sudoCommand: ALL
sudoHost: ALL
sudoOrder: 4
sudoRunAsGroup: ALL
sudoRunAsUser: ALL
sudoUser: %sudo

dn: cn=www-data,ou=SUDOers,{{ ldap_internal_base_dn }}
changetype: add
objectClass: sudoRole
objectClass: top
cn: www-data
sudoCommand: ALL
sudoHost: ALL
sudoOption: !authenticate
sudoOrder: 6
sudoRunAsUser: ALL
sudoUser: www-data

dn: cn=%wheel,ou=SUDOers,{{ ldap_internal_base_dn }}
changetype: add
objectClass: sudoRole
objectClass: top
cn: %wheel
sudoCommand: ALL
sudoHost: ALL
sudoOrder: 3
sudoRunAsUser: ALL
sudoUser: %wheel

dn: sambaDomainName={{ ldap_internal_domain }},{{ ldap_internal_base_dn }}
changetype: add
objectClass: sambaDomain
sambaDomainName: {{ ldap_internal_domain }}
sambaSID: S-1-5-21-2488225321-1182615644-1602239022
sambaAlgorithmicRidBase: 1000
sambaForceLogoff: -1
sambaLockoutDuration: 30
sambaLockoutObservationWindow: 30
sambaLockoutThreshold: 0
sambaLogonToChgPwd: 0
sambaMaxPwdAge: -1
sambaMinPwdAge: 0
sambaMinPwdLength: 5
sambaNextUserRid: 1000
sambaPwdHistoryLength: 0
sambaRefuseMachinePwdChange: 0

dn: sambaSID=S-1-5-32-545,ou=groups,{{ ldap_internal_base_dn }}
changetype: add
objectClass: sambaGroupMapping
objectClass: sambaSidEntry
gidNumber: 10004
sambaGroupType: 4
sambaSID: S-1-5-32-545
displayName: Users
sambaSIDList: S-1-5-21-2488225321-1182615644-1602239022-513

dn: ou=hosts,{{ ldap_internal_base_dn }}
changetype: add
objectClass: organizationalUnit
ou: hosts

dn: cn=vcsa7,ou=hosts,{{ ldap_internal_base_dn }}
changetype: add
objectClass: sambaSamAccount
objectClass: account
objectClass: posixAccount
cn: vcsa7
gidNumber: 515
homeDirectory: /dev/null
sambaSID: S-1-5-21-2488225321-1182615644-1602239022-101000
uid: vcsa7$
uidNumber: 50000
description: vcsa7
displayName: vcsa7
loginShell: /bin/false
sambaAcctFlags: [W          ]
sambaDomainName: {{ ldap_internal_domain }}
sambaNTPassword: {{ vault__host_creds['vcsa7'].sambaNTPassword }}
sambaPrimaryGroupSID: S-1-5-21-2488225321-1182615644-1602239022-515
sambaPwdLastSet: 1505109455

dn: cn=oradb1,ou=hosts,{{ ldap_internal_base_dn }}
changetype: add
objectClass: sambaSamAccount
objectClass: account
objectClass: posixAccount
cn: oradb1
gidNumber: 515
homeDirectory: /dev/null
sambaSID: S-1-5-21-2488225321-1182615644-1602239022-101002
uid: oradb1$
uidNumber: 50001
description: oradb1
displayName: oradb1
loginShell: /bin/false
sambaAcctFlags: [W          ]
sambaDomainName: {{ ldap_internal_domain }}
sambaNTPassword: {{ vault__host_creds['oradb1'].sambaNTPassword }}
sambaPrimaryGroupSID: S-1-5-21-2488225321-1182615644-1602239022-515
sambaPwdLastSet: 1491763006

dn: cn=samba1,ou=hosts,{{ ldap_internal_base_dn }}
changetype: add
objectClass: account
objectClass: posixAccount
objectClass: sambaSamAccount
cn: samba1
gidNumber: 515
homeDirectory: /dev/null
sambaSID: S-1-5-21-2488225321-1182615644-1602239022-101004
uid: samba1$
uidNumber: 50002
description: johnson1
displayName: johnson1
loginShell: /bin/false
sambaAcctFlags: [W          ]
sambaDomainName: SAMBA1
sambaNTPassword: {{ vault__host_creds['samba1'].sambaNTPassword }}
sambaPrimaryGroupSID: S-1-5-21-2488225321-1182615644-1602239022-515
sambaPwdLastSet: 1491763043

dn: cn=media,ou=hosts,{{ ldap_internal_base_dn }}
changetype: add
objectClass: account
objectClass: posixAccount
objectClass: sambaSamAccount
cn: media
gidNumber: 515
homeDirectory: /dev/null
sambaSID: S-1-5-21-2488225321-1182615644-1602239022-101014
uid: media$
uidNumber: 50007
description: media
displayName: media
loginShell: /bin/false
sambaAcctFlags: [W          ]
sambaDomainName: {{ ldap_internal_domain }}
sambaNTPassword: {{ vault__host_creds['media'].sambaNTPassword }}
sambaPrimaryGroupSID: S-1-5-21-2488225321-1182615644-1602239022-515
sambaPwdLastSet: 1492488570

{% for host in groups['ldap_managed_host'] %}
dn: cn={{ host.cn }},ou=hosts,{{ ldap_internal_base_dn }}
changetype: add
objectClass: account
objectClass: posixAccount
objectClass: sambaSamAccount
cn: {{ host.cn }}
gidNumber: 515
homeDirectory: /dev/null
sambaSID: S-1-5-21-2488225321-1182615644-1602239022-101016
uid: {{ host.uid }}$
uidNumber: 50008
description: {{ host.description }}
displayName: {{ host.uid }}$
loginShell: /bin/false
sambaAcctFlags: [W          ]
sambaDomainName: {{ ldap_internal_domain }}
sambaNTPassword: {{ vault__host_creds[host.uid].sambaNTPassword }}
sambaPrimaryGroupSID: S-1-5-21-2488225321-1182615644-1602239022-515
sambaPwdLastSet: 1497115441
{% endfor $}
