# {{ ansible_managed }}
# LDAP Defaults
#

# See ldap.conf(5) for details
# This file should be world readable but not world writable.
BASE {{ bootstrap_ldap_client__base_dn }}
URI {{ bootstrap_ldap_client__uri }}
{% if bootstrap_ldap_client__sudo %}
SUDOERS_BASE {{ bootstrap_ldap_client__sudo_base }}
{% endif %}
#SIZELIMIT	12
#TIMELIMIT	15
#DEREF		never

# TLS certificates (needed for GnuTLS)
TLS_CACERT	{{ __ldap_conf.tls_cacert }}

nss_base_passwd ou=users,{{ bootstrap_ldap_client__base_dn }}
nss_base_group ou=groups,{{ bootstrap_ldap_client__base_dn }}
