# Ansible managed
AcceptEnv LANG LC_*
AuthorizedKeysFile .ssh/authorized_keys
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
ChallengeResponseAuthentication no
Ciphers aes256-gcm@openssh.com,aes128-ctr,aes192-ctr,aes256-ctr
GSSAPIAuthentication yes
GSSAPICleanupCredentials no
KexAlgorithms curve25519-sha256,curve25519-sha256@libssh.org,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512,diffie-hellman-group14-sha256,diffie-hellman-group-exchange-sha256,diffie-hellman-group1-sha1
MACs hmac-sha2-256,hmac-sha2-512,hmac-sha1
PasswordAuthentication yes
PrintMotd no
Subsystem sftp /usr/lib/openssh/sftp-server
UseDNS no
UsePAM yes
X11Forwarding yes

## use LDAP ssh public key
## ref: http://pig.made-it.com/ldap-openssh.html#29273
AuthorizedKeysCommand /usr/local/bin/fetchSSHKeysFromLDAP
AuthorizedKeysCommandUser nobody
# AuthorizedKeysCommandRunAs root
