{% if network_netdev_kind == 'tun' %}
{{ '[Tun]' }}
{% elif network_netdev_kind == 'tap' %}
{{ '[Tap]' }}
{% endif %}
{% if item.one_queue is defined and item.one_queue in ['true', 'false'] %}
{{ 'OneQueue=' + item.one_queue }}
{% endif %}
{% if item.multi_queue is defined and item.multi_queue in ['true', 'false'] %}
{{ 'MultiQueue=' + item.multi_queue }}
{% endif %}
{% if item.packet_info is defined and item.packet_info in ['true', 'false'] %}
{{ 'PacketInfo=' + item.packet_info }}
{% endif %}
{% if item.vnet_header is defined and item.vnet_header in ['true', 'false'] %}
{{ 'VNetHeader=' + item.vnet_header }}
{% endif %}
{% if item.user is defined and item.user != '' %}
{{ 'User=' + item.user }}
{% endif %}
{% if item.group is defined and item.group != '' %}
{{ 'Group=' + item.group }}
{% endif %}
