{{ '[Bond]' }}
{% if b.mode is defined and b.mode in ['balance-rr', 'active-backup',
      'balance-xor', 'broadcast', '802.3ad', 'balance-tlb', 'balance-alb'] %}
{{ 'Mode=' + b.mode }}
{% endif %}
{% if b.xmit_hash_policy is defined and b.xmit_hash_policy in ['layer2',
      'layer3+4', 'layer2+3', 'encap2+3', 'encap3+4'] %}
{{ 'TransmitHashPolicy=' + b.xmit_hash_policy }}
{% endif %}
{% if b.lacp_rate is defined and b.lacp_rate in ['fast', 'slow'] %}
{{ 'LACPTransmitRate=' + b.lacp_rate }}
{% endif %}
{% if b.miimon is defined and b.miimon != '' %}
{{ 'MIIMonitorSec=' ~ b.miimon }}
{% endif %}
{% if b.updelay is defined and b.updelay != '' %}
{{ 'UpDelaySec=' ~ b.updelay }}
{% endif %}
{% if b.downdelay is defined and b.downdelay != '' %}
{{ 'DownDelaySec=' ~ b.downdelay }}
{% endif %}
{% if b.lp_interval is defined and b.lp_interval != '' %}
{{ 'LearnPacketIntervalSec=' ~ b.lp_interval }}
{% endif %}
{% if b.ad_select is defined and
      b.ad_select in ['stable', 'bandwidth', 'count'] %}
{{ 'AdSelect=' + b.ad_select }}
{% endif %}
{% if b.fail_over_mac is defined and
      b.fail_over_mac in ['none', 'active', 'follow'] %}
{{ 'FailOverMACPolicy=' + b.fail_over_mac }}
{% endif %}
{% if b.arp_validate is defined and b.arp_validate in
      ['none', 'active', 'backup', 'all'] %}
{{ 'ARPValidate=' + b.arp_validate }}
{% endif %}
{% if b.arp_interval is defined and b.lp_interval != '' %}
{{ 'ARPIntervalSec=' ~ b.arp_interval }}
{% endif %}
{% if b.arp_ip_target is defined and b.arp_ip_target != '' %}
{{ 'ARPIPTargets=' ~ b.arp_ip_target }}
{% endif %}
{% if b.arp_all_targets is defined and b.arp_all_targets in ['any', 'all'] %}
{{ 'ARPAllTargets=' + b.arp_all_targets }}
{% endif %}
{% if b.primary_reselect is defined and
      b.primary_reselect in ['always', 'better', 'failure'] %}
{{ 'PrimaryReselectPolicy=' + b.primary_reselect }}
{% endif %}
{% if b.resend_igmp is defined and b.resend_igmp != '' %}
{{ 'ResendIGMP=' ~ b.resend_igmp }}
{% endif %}
{% if b.packets_per_slave is defined and b.packets_per_slave != '' %}
{{ 'PacketsPerSlave=' ~ b.packets_per_slave }}
{% endif %}
{% if b.num_grat_arp is defined and b.num_grat_arp != '' %}
{{ 'GratuitousARP=' ~ b.num_grat_arp }}
{% endif %}
{% if b.all_slaves_active is defined and
      b.all_slaves_active in ['true', 'false'] %}
{{ 'AllSlavesActive=' + b.all_slaves_active }}
{% endif %}
{% if b.min_links is defined and b.min_links %}
{{ 'MinLinks=' ~ b.min_links }}
{% endif %}
