{{ '[Tunnel]' }}
{% if item.tun_local is defined and item.tun_local |
  ansible.utils.ipaddr('host') %}
{{ 'Local=' + item.tun_local }}
{% endif %}
{% if item.tun_remote is defined and item.tun_remote |
  ansible.utils.ipaddr('host') %}
{{ 'Remote=' + item.tun_remote }}
{% endif %}
{% if item.tun_tos is defined and item.tun_tos != '' %}
{{ 'TOS=' ~ item.tun_tos }}
{% endif %}
{% if item.tun_ttl is defined and item.tun_ttl != '' %}
{{ 'TTL=' ~ item.tun_ttl }}
{% endif %}
{% if item.discover_path_mtu is defined and
  item.discover_path_mtu in ['true', 'false'] %}
{{ 'DiscoverPathMTU=' + item.discover_path_mtu }}
{% endif %}
{% if item.ipv6_flow_label is defined and item.ipv6_flow_label != '' %}
{{ 'IPv6FlowLabel=' ~ item.ipv6_flow_label }}
{% endif %}
{% if item.copy_dscp is defined and item.copy_dscp in ['true', 'false'] %}
{{ 'CopyDSCP=' + item.copy_dscp }}
{% endif %}
{% if item.encapsulation_limit is defined and item.encapsulation_limit != '' %}
{{ 'EncapsulationLimit=' ~ item.encapsulation_limit }}
{% endif %}
{% if item.key is defined and item.key != '' %}
{{ 'Key=' ~ item.key }}
{% endif %}
{% if item.input_key is defined and item.input_key != '' %}
{{ 'InputKey=' ~ item.input_key }}
{% endif %}
{% if item.output_key is defined and item.output_key != '' %}
{{ 'OutputKey=' ~ item.output_key }}
{% endif %}
{% if item.mode is defined and item.mode in ['ip6ip6', 'ipip6', 'any'] %}
{{ 'Mode=' + item.mode }}
{% endif %}
{% if item.independent is defined and item.independent in ['true', 'false'] %}
{{ 'Independent=' + item.independent }}
{% endif %}
{% if item.assign_to_loopback is defined and
  item.assign_to_loopback in ['true', 'false'] %}
{{ 'AssignToLoopback=' + item.assign_to_loopback }}
{% endif %}
{% if item.allow_local_remote is defined and
  item.allow_local_remote in ['true', 'false'] %}
{{ 'AllowLocalRemote=' + item.allow_local_remote }}
{% endif %}
