Package: kubectl
Pin: version {{ bootstrap_kubernetes__version }}.*
Pin-Priority: 1000

Package: kubeadm
Pin: version {{ bootstrap_kubernetes__version }}.*
Pin-Priority: 1000

Package: kubelet
Pin: version {{ bootstrap_kubernetes__version }}.*
Pin-Priority: 1000
