---
apiVersion: kubeadm.k8s.io/{{ bootstrap_kubernetes__config_kubeadm_apiversion }}
kind: InitConfiguration
{{ bootstrap_kubernetes__config_init_configuration | to_nice_yaml }}
---
apiVersion: kubeadm.k8s.io/{{ bootstrap_kubernetes__config_kubeadm_apiversion }}
kind: ClusterConfiguration
{{ bootstrap_kubernetes__config_cluster_configuration | to_nice_yaml }}
{% if bootstrap_kubernetes__config_kubelet_configuration|length > 0 %}
---
apiVersion: kubelet.config.k8s.io/{{ kubenetes_config_kubelet_apiversion }}
kind: KubeletConfiguration
{{ bootstrap_kubernetes__config_kubelet_configuration | to_nice_yaml }}
{% endif %}
{% if bootstrap_kubernetes__config_kube_proxy_configuration|length > 0 %}
---
apiVersion: kubeproxy.config.k8s.io/{{ bootstrap_kubernetes__config_kubeproxy_apiversion }}
kind: KubeProxyConfiguration
{{ bootstrap_kubernetes__config_kube_proxy_configuration | to_nice_yaml }}
{% endif %}
