{{ 'Ansible managed' | comment(format="# {}") }}

################################
## vaulted credentials
ANSIBLE_VAULT_PASSWORD={{ __docker_stack__jenkins_jcac__cred_ansible_vault_password }}
#ANSIBLE_VAULT_PASSWORD_FILE=dkseckey://ansible_vault_password

ANSIBLE_SSH_USERNAME={{ __docker_stack__jenkins_jcac__cred_ansible_ssh_username }}
ANSIBLE_SSH_PASSWORD={{ __docker_stack__jenkins_jcac__cred_ansible_ssh_password }}
ANSIBLE_SSH_PRIVATE_KEY="{{ __docker_stack__jenkins_jcac__cred_ansible_ssh_key }}"

#DOCKER_REGISTRY_PASSWORD={{ __docker_stack__jenkins_jcac__cred_docker_registry_admin_password }}
DOCKER_REGISTRY_ADMIN_USERNAME={{ __docker_stack__jenkins_jcac__cred_docker_registry_admin_username }}
DOCKER_REGISTRY_ADMIN_PASSWORD={{ __docker_stack__jenkins_jcac__cred_docker_registry_admin_password }}

LDAP_USERNAME={{ __docker_stack__jenkins_jcac__ldap_bind_user_dn }}
LDAP_PASSWORD={{ __docker_stack__jenkins_jcac__ldap_bind_user_password }}

JENKINS_ADMIN_USERNAME={{ __docker_stack__jenkins_jcac__cred_jenkins_admin_user_username }}
JENKINS_ADMIN_PASSWORD={{ __docker_stack__jenkins_jcac__cred_jenkins_admin_user_password }}
JENKINS_AGENT_USERNAME={{ __docker_stack__jenkins_jcac__agent_username }}
JENKINS_AGENT_PASSWORD={{ __docker_stack__jenkins_jcac__agent_password }}
JENKINS_GIT_PASSWORD={{ __docker_stack__jenkins_jcac__cred_jenkins_git_user_password }}

VSPHERE_USERNAME={{ __docker_stack__jenkins_jcac__cred_vsphere_username }}
VSPHERE_PASSWORD={{ __docker_stack__jenkins_jcac__cred_vsphere_password }}
VMWARE_ESXI_PASSWORD={{ __docker_stack__jenkins_jcac__cred_esxi_password }}

PACKER_USER_USERNAME={{ __docker_stack__jenkins_jcac__cred_packer_user_username }}
PACKER_USER_PASSWORD={{ __docker_stack__jenkins_jcac__cred_packer_user_password }}
#PACKER_SSH_PASSWORD={{ __docker_stack__jenkins_jcac__cred_packer_ssh_password }}
PACKER_USER_SSH_PUBLIC_KEY={{ __docker_stack__jenkins_jcac__cred_packer_user_ssh_public_key }}

BITBUCKET_SSH_USERNAME={{ __docker_stack__jenkins_jcac__cred_bitbucket_ssh_username }}
BITBUCKET_SSH_PRIVATE_KEY="{{ __docker_stack__jenkins_jcac__cred_bitbucket_ssh_private_key }}"

GITEA_SSH_USERNAME={{ __docker_stack__jenkins_jcac__cred_gitea_ssh_username }}
GITEA_SSH_PRIVATE_KEY="{{ __docker_stack__jenkins_jcac__cred_gitea_ssh_private_key }}"

BITBUCKET_CLOUD_OAUTH_USERNAME={{ __docker_stack__jenkins_jcac__cred_bitbucket_cloud_oauth_key }}
BITBUCKET_CLOUD_OAUTH_PASSWORD={{ __docker_stack__jenkins_jcac__cred_bitbucket_cloud_oauth_token }}

GITHUB_USERNAME={{ __docker_stack__jenkins_jcac__cred_github_username }}
GITHUB_PASSWORD={{ __docker_stack__jenkins_jcac__cred_github_password }}
