# {{ ansible_managed }}

[Unit]
Description=Stepca the Let's Encrypt CA - Publisher for Certificate Transparency
Documentation=https://github.com/letsencrypt/stepca
After=ctfe.service network.target

[Service]
User={{ ca_svc_user }}
Group={{ ca_svc_user }}
WorkingDirectory={{ install_root }}
ExecStart={{ install_root }}/stepca-publisher --config config/publisher.json
Restart=on-failure
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=yes
ProtectHome=yes
PrivateDevices=yes

[Install]
WantedBy=multi-user.target
