{{ 'Ansible managed' | comment(format="# {}") }}

[Unit]
Description=Stepca the Let's Encrypt CA - OCSP Responder
Documentation=https://github.com/letsencrypt/stepca
After=stepca-sa.service network.target

[Service]
User={{ ca_svc_user }}
Group={{ ca_svc_user }}
WorkingDirectory={{ install_root }}
ExecStart={{ install_root }}/ocsp-responder --config config/ocsp-responder.json
Restart=on-failure
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=yes
ProtectHome=yes
PrivateDevices=yes

[Install]
WantedBy=multi-user.target
