{{ 'Ansible managed' | comment(format="# {}") }}

[Unit]
Description=Stepca the Let's Encrypt CA - Test CT log server
Documentation=https://github.com/letsencrypt/stepca
After=network.target

[Service]
User={{ ca_svc_user }}
Group={{ ca_svc_user }}
WorkingDirectory={{ install_root }}
ExecStart={{ install_root }}/ct-test-srv --config config/ct-test-srv.json
Restart=on-failure
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=yes
ProtectHome=yes
PrivateDevices=yes

[Install]
WantedBy=multi-user.target
