# {{ ansible_managed }}

[Unit]
Description=Stepca the Let's Encrypt CA - Web front end
Documentation=https://github.com/letsencrypt/stepca
After=stepca-nonce-provider.service network.target

[Service]
User={{ ca_svc_user }}
Group={{ ca_svc_user }}
WorkingDirectory={{ install_root }}
ExecStart={{ install_root }}/stepca-wfe2 --config config/wfe2.json
Restart=on-failure
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=yes
ProtectHome=yes
PrivateDevices=yes

[Install]
WantedBy=multi-user.target
