{{ 'Ansible managed' | comment(format="# {}") }}

{% include 'jenkins/jenkins.common.env.j2' %}

{% if docker_stack__swarm_mode | bool %}
{% include 'jenkins/jenkins.swarm.env.j2' %}
{% else %}
{% include 'jenkins/jenkins.standalone.env.j2' %}
{% endif %}
