{{ 'Ansible managed' | comment(format="# {}") }}

## ref: https://www.jenkins.io/doc/book/managing/casc/
#CASC_JENKINS_CONFIG=/var/jenkins_home/jenkins_casc.yml
CASC_JENKINS_CONFIG=/var/jenkins_home/casc_configs/jenkins.yml

## ref: https://github.com/Checkmarx/kics/blob/master/docs/integrations_jenkins.md
## ref: https://stackoverflow.com/questions/29539234/system-properties-management
JAVA_OPTS={{ __docker_stack__jenkins__java_opts }}

## ref: https://stackoverflow.com/questions/29539234/system-properties-management
JENKINS_JAVA_OPTS="{{ __docker_stack__jenkins__jenkins_java_opts }}"

#JENKINS_HOST=http://localhost:8080
JENKINS_HOST=https://{{ __docker_stack__jenkins_endpoint }}

JENKINS_SLAVE_AGENT_PORT=9000

JENKINS_ENV={{ __docker_stack__jenkins__environment }}

{% if __docker_stack__jenkins__jenkins_opts is defined %}
JENKINS_OPTS={{ __docker_stack__jenkins__jenkins_opts }}
{% endif %}
TZ={{ docker_stack__timezone }}

# prometheus
COLLECT_DISK_USAGE=true
COLLECTING_METRICS_PERIOD_IN_SECONDS=180

## ref: https://github.com/jenkinsci/docker/pull/577
#PLUGINS_FORCE_UPGRADE: 'true'
#JENKINS_UC_DOWNLOAD: "http://updates.jenkins.io"
#JENKINS_UC_DOWNLOAD: "http://updates.jenkins-ci.org"
#JENKINS_UC_DOWNLOAD: "https://mirrors.xmission.com/jenkins/updates/update-center.json"

#SAML_XML=CHANGE_ME
#SAML_URL=http://localhost

#ENV_SECRETS_DEBUG=true

################################
## vaulted credentials
ANSIBLE_VAULT_PASSWORD={{ __docker_stack__jenkins__cred_ansible_vault_password }}
#ANSIBLE_VAULT_PASSWORD_FILE=dkseckey://ansible_vault_password

ANSIBLE_SSH_USERNAME={{ __docker_stack__jenkins__cred_ansible_ssh_username }}
ANSIBLE_SSH_PASSWORD={{ __docker_stack__jenkins__cred_ansible_ssh_password }}
ANSIBLE_SSH_PRIVATE_KEY="{{ __docker_stack__jenkins__cred_ansible_ssh_key }}"

#DOCKER_REGISTRY_PASSWORD={{ __docker_stack__jenkins__cred_docker_registry_admin_password }}
DOCKER_REGISTRY_ADMIN_USERNAME={{ __docker_stack__jenkins__cred_docker_registry_admin_username }}
DOCKER_REGISTRY_ADMIN_PASSWORD={{ __docker_stack__jenkins__cred_docker_registry_admin_password }}

LDAP_USERNAME={{ __docker_stack__jenkins__ldap_bind_user_dn }}
LDAP_PASSWORD={{ __docker_stack__jenkins__ldap_bind_user_password }}

JENKINS_ADMIN_USERNAME={{ __docker_stack__jenkins__cred_jenkins_admin_user_username }}
JENKINS_ADMIN_PASSWORD={{ __docker_stack__jenkins__cred_jenkins_admin_user_password }}
JENKINS_AGENT_USERNAME={{ __docker_stack__jenkins__agent_username }}
JENKINS_AGENT_PASSWORD={{ __docker_stack__jenkins__agent_password }}
JENKINS_GIT_PASSWORD={{ __docker_stack__jenkins__cred_jenkins_git_user_password }}

VSPHERE_USERNAME={{ __docker_stack__jenkins__cred_vsphere_username }}
VSPHERE_PASSWORD={{ __docker_stack__jenkins__cred_vsphere_password }}
VMWARE_ESXI_PASSWORD={{ __docker_stack__jenkins__cred_esxi_password }}

PACKER_USER_USERNAME={{ __docker_stack__jenkins__cred_packer_user_username }}
PACKER_USER_PASSWORD={{ __docker_stack__jenkins__cred_packer_user_password }}
#PACKER_SSH_PASSWORD={{ __docker_stack__jenkins__cred_packer_ssh_password }}
PACKER_USER_SSH_PUBLIC_KEY={{ __docker_stack__jenkins__cred_packer_user_ssh_public_key }}

BITBUCKET_SSH_USERNAME={{ __docker_stack__jenkins__cred_bitbucket_ssh_username }}
BITBUCKET_SSH_PRIVATE_KEY="{{ __docker_stack__jenkins__cred_bitbucket_ssh_private_key }}"

GITEA_SSH_USERNAME={{ __docker_stack__jenkins__cred_gitea_ssh_username }}
GITEA_SSH_PRIVATE_KEY="{{ __docker_stack__jenkins__cred_gitea_ssh_private_key }}"

BITBUCKET_CLOUD_OAUTH_USERNAME={{ __docker_stack__jenkins__cred_bitbucket_cloud_oauth_key }}
BITBUCKET_CLOUD_OAUTH_PASSWORD={{ __docker_stack__jenkins__cred_bitbucket_cloud_oauth_token }}

GITHUB_USERNAME={{ __docker_stack__jenkins__cred_github_username }}
GITHUB_PASSWORD={{ __docker_stack__jenkins__cred_github_password }}
