{{ 'Ansible managed' | comment(format="# {}") }}

################################
## vaulted credentials
ANSIBLE_VAULT_PASSWORD=dksec://ansible_vault_password
ANSIBLE_VAULT_PASSWORD_FILE=dkseckey://ansible_vault_password

ANSIBLE_SSH_USERNAME=dksec://ansible_ssh_username
ANSIBLE_SSH_PASSWORD=dksec://ansible_ssh_password
ANSIBLE_SSH_PRIVATE_KEY=dkseckey://ansible_ssh_private_key

#DOCKER_REGISTRY_PASSWORD=dksec://docker_registry_password
DOCKER_REGISTRY_ADMIN_USERNAME=dksec://docker_registry_admin_username
DOCKER_REGISTRY_ADMIN_PASSWORD=dksec://docker_registry_admin_password

LDAP_USERNAME=dksec://ldap_username
LDAP_PASSWORD=dksec://ldap_password

JENKINS_ADMIN_USERNAME=dksec://jenkins_admin_username
JENKINS_ADMIN_PASSWORD=dksec://jenkins_admin_password
JENKINS_AGENT_USERNAME=dksec://jenkins_agent_username
JENKINS_AGENT_PASSWORD=dksec://jenkins_agent_password
JENKINS_GIT_PASSWORD=dksec://jenkins_git_password

VSPHERE_USERNAME=dksec://vsphere_username
VSPHERE_PASSWORD=dksec://vsphere_password
VMWARE_ESXI_PASSWORD=dksec://vmware_esxi_password

PACKER_USER_USERNAME=dksec://packer_user_username
PACKER_USER_PASSWORD=dksec://packer_user_password
#PACKER_SSH_PASSWORD=dksec://packer_ssh_password
PACKER_USER_SSH_PUBLIC_KEY=dksec://packer_user_ssh_public_key

BITBUCKET_SSH_USERNAME=dksec://bitbucket_ssh_username
BITBUCKET_SSH_PRIVATE_KEY=dkseckey://bitbucket_ssh_private_key

GITEA_SSH_USERNAME=dksec://gitea_ssh_username
GITEA_SSH_PRIVATE_KEY=dkseckey://gitea_ssh_private_key

BITBUCKET_CLOUD_OAUTH_USERNAME=dksec://bitbucket_cloud_oauth_username
BITBUCKET_CLOUD_OAUTH_PASSWORD=dksec://bitbucket_cloud_oauth_password

GITHUB_USERNAME=dksec://github_ssh_username
GITHUB_PASSWORD=dkseckey://github_ssh_password
