###############################################################
#                   Authelia configuration                    #
#                                                             #
###############################################################

## source: https://github.com/authelia/authelia/blob/master/compose/lite/authelia/configuration.yml
## https://github.com/authelia/authelia/blob/master/config.template.yml

#host: 0.0.0.0
#port: 9091

##
## Server Configuration
##
server:
  host: 0.0.0.0
  port: 9091

#log_level: "{{ __docker_stack__appspecs__auth_authelia_log_level }}"
log.level: "{{ __docker_stack__appspecs__auth_authelia_log_level }}"
jwt_secret: "{{ __docker_stack__appspecs__auth_authelia_jwt_secret }}"
default_redirection_url: "{{ __docker_stack__appspecs__auth_authelia_default_redirection_url }}"

## ref: https://www.authelia.com/docs/configuration/one-time-password.html
totp:
  {{ __docker_stack__appspecs__auth_authelia_totp | to_nice_yaml(indent=2) | indent(2) }}

ntp:
#  address: "time.cloudflare.com:123"
#  version: 3
#  max_desync: 3s
  disable_startup_check: true
  disable_failure: true


#duo_api:
#  hostname: api-123456789.example.com
#  integration_key: ABCDEF
#  # This secret can also be set using the env variables AUTHELIA_DUO_API_SECRET_KEY_FILE
#  secret_key: 1234567890abcdefghifjkl

authentication_backend:
  {{ __docker_stack__appspecs__auth_authelia_authentication_backend | to_nice_yaml(indent=2) | indent(2) }}

access_control:
  {{ __docker_stack__appspecs__auth_authelia_access_control | to_nice_yaml(indent=2) | indent(2) }}

session:
  {{ __docker_stack__appspecs__auth_authelia_session | to_nice_yaml(indent=2) | indent(2) }}

regulation:
  {{ __docker_stack__appspecs__auth_authelia_regulation | to_nice_yaml(indent=2) | indent(2) }}

storage:
  {{ __docker_stack__appspecs__auth_authelia_storage | to_nice_yaml(indent=2) | indent(2) }}

notifier:
  {{ __docker_stack__appspecs__auth_authelia_notifier | to_nice_yaml(indent=2) | indent(2) }}

