###############################################################
#                         Users Database                      #
###############################################################

# This file can be used if you do not have an LDAP set up.
# Create new hashed password: docker run authelia/authelia:latest authelia hash-password <new_password>
# https://docs.authelia.com/configuration/authentication/file.html

# List of users
users:
  {{ __docker_stack__appspecs__auth_authelia_users | to_nice_yaml(indent=2) | indent(2) }}
