<?php
$AUTOCONFIG = array (
  'dbtype' => 'sqlite',
  'datadirectory' => '/data',
  'trusted_domains' =>
  array (
    0 => 'localhost',
    1 => 'nextcloud.{{ docker_stack__external_domain }}',
    2 => '{{ docker_stack__external_domain }}',
    3 => 'nextcloud.{{ docker_stack__internal_domain }}',
    4 => '{{ docker_stack__internal_domain }}',
    5 => '{{ docker_stack__internal_domain }}:8812',
  ),
  'overwrite.cli.url' => 'https://nextcloud.{{ docker_stack__internal_domain }}',
  'theme' => '',
  'loglevel' => 2,
  'maintenance' => false,
  'ldapProviderFactory' => 'OCA\\User_LDAP\\LDAPProviderFactory',
  'upgrade.disable-web' => false,
);
