__version__ = 19
__encoding__ = utf-8
[misc]
win_menu = 1
queue_complete = ""
https_port = ""
folder_rename = 1
password_file = ""
movie_rename_limit = 100M
ionice = ""
https_key = server.key
cleanup_list = .nfo, .sfv, .nzb, .srr
notified_new_skin = 1
rating_filter_enable = 0
cache_limit = 1G
rating_enable = 0
fail_hopeless_jobs = 1
par_option = ""
web_color = Default
inet_exposure = 4
enable_recursive = 1
selftest_host = {{ __docker_stack_appspecs__media_sabnzbd_host }}
pre_check = 0
replace_spaces = 0
host_whitelist = sabnzbd, {{ __docker_stack_appspecs__media_sabnzbd_host }}
dirscan_speed = 5
enable_filejoin = 1
api_key = "{{ __docker_stack_appspecs__media_sabnzbd_apikey }}"
no_penalties = 0
load_balancing = 2
rating_filter_abort_video = 0
osx_speed = 1
dirscan_dir = /downloads/watch
disable_api_key = 0
quota_period = m
overwrite_files = 0
enable_7zip = 1
rating_filter_pause_audio = 0
rss_filenames = 0
password = ""
permissions = ""
check_new_rel = 1
require_modern_tls = 0
ssl_ciphers = ""
auto_disconnect = 1
use_pickle = 0
quota_size = ""
warn_empty_nzb = 1
movie_extra_folder = 0
history_limit = 10
rating_filter_pause_encrypted_confirm = 0
enable_all_par = 0
enable_https_verification = 1
replace_dots = 0
win_process_prio = 3
ipv6_hosting = 0
series_propercheck = 1
enable_bonjour = 1
movie_sort_extra = -cd%1
https_chain = ""
warned_old_queue = 10
enable_unzip = 1
download_free = ""
port = 8080
email_dir = ""
wait_ext_drive = 5
pre_script = None
ipv6_servers = 1
quick_check_ext_ignore = nfo, sfv, srr
enable_date_sorting = 0
email_full = 0
enable_tsjoin = 1
log_dir = logs
rating_filter_pause_encrypted = 0
queue_limit = 20
admin_dir = admin
nzb_backup_dir = ""
tv_sort_countries = 1
date_categories = tv,
ignore_empty_files = 0
osx_menu = 1
show_sysload = 2
no_dupes = 0
date_sort_string = ""
schedlines = ,
host = 0.0.0.0
ignore_unrar_dates = 0
rating_filter_pause_video = 0
ignore_samples = 0
sanitize_safe = 0
req_completion_rate = 100.2
language = en
movie_sort_string = ""
rating_filter_pause_spam_confirm = 0
multipar = 0
html_login = 1
direct_unpack_tested = 1
api_logging = 1
pause_on_post_processing = 0
debug_log_decoding = 0
allow_incomplete_nzb = 0
rating_filter_abort_keywords = ""
enable_unrar = 1
enable_meta = 1
direct_unpack = 0
url_base = /sabnzbd
email_account = ""
email_server = mail.johnson.int
converted_nzo_pickles = 1
config_lock = 0
quota_resume = 0
api_warnings = 1
wait_for_dfolder = 0
tv_sort_string = %sn.S%0sE%0e.%en.%ext
rating_filter_abort_encrypted = 0
rating_filter_pause_keywords = ""
warn_dupl_jobs = 1
username = ""
email_rss = 0
no_series_dupes = 0
propagation_delay = 0
download_dir = /incomplete-downloads
size_limit = 0
enable_par_cleanup = 1
safe_postproc = 1
new_nzb_on_failure = 0
nzb_key = {{ __docker_stack_appspecs__media_sabnzbd_nzbkey }}
complete_dir = /downloads/completed
x_frame_options = 1
rating_filter_pause_downvoted = 0
replace_illegal = 1
rating_filter_abort_audio = 0
nomedia_marker = ""
max_art_opt = 0
rating_filter_abort_encrypted_confirm = 0
quota_day = ""
bandwidth_max = ""
local_ranges = 192.168.0., 192.168.1., 192.168.100., 192.168.200.
enable_https = 0
email_to = {{ __docker_stack_appspecs__media_email_to }},
direct_unpack_threads = 3
sfv_check = 1
keep_awake = 1
top_only = 0
auto_browser = 1
email_from = {{ __docker_stack_appspecs__media_email_from }}
unwanted_extensions = ,
max_art_tries = 3
rating_filter_abort_spam_confirm = 0
email_endjob = 0
movie_categories = movies,
tv_categories = tv,
rss_odd_titles = nzbindex.nl/, nzbindex.com/, nzbclub.com/
pause_on_pwrar = 1
rating_filter_pause_spam = 0
backup_for_duplicates = 1
fixed_ports = 1
rss_rate = 60
refresh_rate = 0
sched_converted = 2
history_retention = 0
rating_filter_abort_downvoted = 0
script_can_fail = 0
script_dir = ""
bandwidth_perc = 0
email_pwd = ""
empty_postproc = 0
ignore_wrong_unrar = 0
email_cats = *,
nice = ""
rating_host = ""
enable_movie_sorting = 0
fast_fail = 1
https_cert = server.cert
max_url_retries = 10
fsys_type = 0
action_on_unwanted_extensions = 0
rating_api_key = "{{ __docker_stack_appspecs__media_sabnzbd_rating_apikey }}"
reject_duplicate_files = 0
flat_unpack = 0
auto_sort = 0
ampm = 0
rating_filter_abort_spam = 0
start_paused = 0
web_dir = Glitter
folder_max_length = 256
enable_tv_sorting = 0
queue_complete_pers = 0
[logging]
max_log_size = 5242880
log_level = 1
log_backups = 5
[ncenter]
ncenter_prio_download = 0
ncenter_prio_warning = 0
ncenter_cats = *,
ncenter_prio_new_login = 0
ncenter_prio_queue_done = 1
ncenter_prio_startup = 1
ncenter_prio_failed = 1
ncenter_prio_disk_full = 1
ncenter_prio_error = 0
ncenter_enable = 0
ncenter_prio_complete = 1
ncenter_prio_pp = 0
ncenter_prio_other = 0
[nscript]
nscript_cats = *,
nscript_prio_complete = 1
nscript_prio_other = 0
nscript_prio_warning = 0
nscript_prio_queue_done = 1
nscript_prio_failed = 1
nscript_prio_pp = 0
nscript_prio_new_login = 0
nscript_script = ""
nscript_prio_download = 0
nscript_prio_error = 0
nscript_prio_startup = 1
nscript_parameters = ""
nscript_enable = 0
nscript_prio_disk_full = 1
[pushover]
pushover_prio_error = 1
pushover_enable = 0
pushover_cats = *,
pushover_prio_new_login = -3
pushover_prio_complete = -1
pushover_prio_warning = 1
pushover_prio_startup = -3
pushover_prio_queue_done = -1
pushover_prio_other = -3
pushover_prio_disk_full = 1
pushover_prio_pp = -3
pushover_emergency_expire = 3600
pushover_device = ""
pushover_token = ""
pushover_emergency_retry = 60
pushover_prio_failed = -1
pushover_prio_download = -2
pushover_userkey = ""
[growl]
growl_prio_disk_full = 1
growl_enable = 0
growl_prio_new_login = 0
growl_prio_other = 0
growl_prio_download = 0
growl_server = ""
growl_prio_startup = 1
growl_prio_failed = 1
growl_prio_queue_done = 1
growl_prio_warning = 0
growl_prio_error = 0
growl_prio_complete = 1
growl_cats = *,
growl_prio_pp = 0
growl_password = ""
[prowl]
prowl_prio_disk_full = 1
prowl_prio_error = -3
prowl_prio_download = -3
prowl_apikey = ""
prowl_prio_failed = 1
prowl_prio_pp = -3
prowl_cats = *,
prowl_prio_new_login = -3
prowl_enable = 0
prowl_prio_startup = -3
prowl_prio_warning = -3
prowl_prio_other = -3
prowl_prio_complete = 0
prowl_prio_queue_done = 0
[acenter]
acenter_prio_warning = 0
acenter_prio_disk_full = 1
acenter_prio_new_login = 0
acenter_cats = *,
acenter_prio_startup = 0
acenter_prio_download = 0
acenter_prio_error = 0
acenter_prio_queue_done = 1
acenter_enable = 0
acenter_prio_failed = 1
acenter_prio_complete = 1
acenter_prio_pp = 0
acenter_prio_other = 0
[ntfosd]
ntfosd_prio_queue_done = 1
ntfosd_enable = 1
ntfosd_cats = *,
ntfosd_prio_error = 0
ntfosd_prio_startup = 1
ntfosd_prio_complete = 1
ntfosd_prio_pp = 0
ntfosd_prio_warning = 0
ntfosd_prio_other = 0
ntfosd_prio_disk_full = 1
ntfosd_prio_new_login = 0
ntfosd_prio_download = 0
ntfosd_prio_failed = 1
[pushbullet]
pushbullet_prio_error = 0
pushbullet_prio_download = 0
pushbullet_prio_queue_done = 0
pushbullet_cats = *,
pushbullet_prio_complete = 1
pushbullet_enable = 0
pushbullet_device = ""
pushbullet_prio_failed = 1
pushbullet_prio_other = 0
pushbullet_apikey = ""
pushbullet_prio_disk_full = 1
pushbullet_prio_new_login = 0
pushbullet_prio_pp = 0
pushbullet_prio_startup = 0
pushbullet_prio_warning = 0
[servers]
{% if __docker_stack_appspecs__media_newsgroups_servers is defined %}
{% for server in __docker_stack_appspecs__media_newsgroups_servers %}
[[{{ server.name }}]]
{% for key, value in server.options.items() %}
{{ key }} = {{ value or '""' }}
{% endfor %}
{% endfor %}
{% endif %}
[categories]
[[software]]
priority = -100
pp = ""
name = software
script = Default
newzbin = ""
order = 0
dir = ""
[[*]]
priority = 0
pp = 3
name = *
script = None
newzbin = ""
order = 0
dir = ""
[[tv]]
priority = -100
pp = ""
name = tv
script = Default
newzbin = ""
order = 0
dir = tv
[[movies]]
priority = -100
pp = ""
name = movies
script = Default
newzbin = ""
order = 0
dir = movies
[[music]]
priority = -100
pp = ""
name = music
script = Default
newzbin = ""
order = 0
dir = music
