---

docker_stack_appspec_services__archiva:
  ## ref: https://github.com/xetus-oss/docker-archiva
  ## ref: https://github.com/xetus-oss/docker-archiva/blob/master/docker-compose.yaml
  ## ref: https://github.com/xetus-oss/docker-archiva/blob/master/docker-compose.nginx-https.yaml
  ## ref: https://github.com/xetus-oss/docker-archiva/blob/master/docker-compose.cacerts.yaml
  archiva:
    container_name: archiva
    image: "xetusoss/archiva:latest"
    user: "{{ docker_user_uid }}:{{ docker_user_gid }}"
    environment:
      PROXY_BASE_URL: "https://archiva.{{ docker_stack_internal_domain }}{{ docker_stack_traefik_https_suffix }}/"
      SMTP_HOST: "{{ __docker_stack_appspecs__archiva_smtp_host }}"
      SMTP_PORT: "25"
#      restart: always
    restart: "unless-stopped"
    networks:
      - "{{ docker_stack_traefik_proxy_network }}"
      - net
    volumes:
      - "{{ docker_stack_dir }}/archiva:/archiva-data"
#        - "{{ docker_stack_ca_cert_bundle }}:/certs/ca-certificates.crt:ro"
      - "{{ docker_stack_ca_java_keystore }}:/etc/ssl/certs/java/cacerts"
    ports:
      - "{{ __docker_stack_appspecs__archiva_http_port }}:8080"
    labels:
#        - "traefik.docker.network=web"
      - "traefik.enable=true"
      - "traefik.backend=archiva"
      - "traefik.frontend.rule=Host:archiva.{{ docker_stack_internal_domain }}"
      - "traefik.port=8080"
#        - "traefik.protocol=http"
      - "traefik.docker.network={{ docker_stack_traefik_proxy_network }}"
      - "traefik.protocol=http"
      - "traefik.frontend.headers.SSLRedirect=true"
      - "traefik.frontend.headers.STSSeconds=315360000"
      - "traefik.frontend.headers.browserXSSFilter=true"
      - "traefik.frontend.headers.contentTypeNosniff=true"
      - "traefik.frontend.headers.forceSTSHeader=true"
      - "traefik.frontend.headers.SSLHost={{ docker_stack_internal_domain }}"
      - "traefik.frontend.headers.STSIncludeSubdomains=true"
      - "traefik.frontend.headers.STSPreload=true"
      - "traefik.frontend.headers.frameDeny=true"

docker_stack_appspec__archiva:
  dirs: "{{ docker_stack_appspec_config_dirs__archiva | d([]) }}"
  files: "{{ docker_stack_appspec_config_files__archiva | d([]) }}"
  templates: "{{ docker_stack_appspec_config_tpls__archiva | d([]) }}"
  firewalld_services: "{{ docker_stack_firewalld_appspec_services__archiva | d([]) }}"
  firewalld_ports: "{{ docker_stack_firewalld_appspec_ports__archiva | d([]) }}"
  docker_services: "{{ docker_stack_appspec_services__archiva | d({}) }}"
