#jinja2: trim_blocks:False
apiVersion: kubescheduler.config.k8s.io/v1
kind: KubeSchedulerConfiguration
clientConnection:
  kubeconfig: "{{ bootstrap_kubernetes_controller__scheduler_conf_dir }}/kubeconfig"
leaderElection:
  leaderElect: true
