<?php
$CONFIG = array (
  'memcache.local' => '\\OC\\Memcache\\APCu',
  'datadirectory' => '/data',
  'instanceid' => 'oci2uecr484z',
  'trusted_domains' =>
  array (
    'nextcloud.{{ docker_stack__internal_domain }}',
    '{{ docker_stack__internal_domain }}:8812',
    'nextcloud.{{ docker_stack__external_domain }}',
    '{{ docker_stack__internal_domain }}',
    '{{ docker_stack__external_domain }}',
  ),
  'dbtype' => 'sqlite3',
  'version' => '20.0.5.2',
  'overwrite.cli.url' => 'https://nextcloud.{{ docker_stack__internal_domain }}',
  'installed' => true,
  'theme' => '',
  'loglevel' => 2,
  'maintenance' => false,
  'ldapProviderFactory' => 'OCA\\User_LDAP\\LDAPProviderFactory',
);
