{{ 'Ansible managed' | comment(format="# {}") }}

POSTGRES_DB=vikunja
POSTGRES_USER=vikunja
{% if docker_stack__swarm_mode | bool %}
POSTGRES_PASSWORD_FILE=/run/secrets/vikunja_db_password
{% else %}
POSTGRES_PASSWORD={{ __docker_stack__vikunja__db_password }}
{% endif %}
