{{ 'Ansible managed' | comment(format="# {}") }}

## defined in app config.yml

# ======================
# General Configuration
# ======================
#VIKUNJA_SERVICE_FRONTENDURL="{{ __docker_stack__vikunja__root_url }}"

## ======================
## Database (PostgreSQL)
## ======================
#VIKUNJA_DATABASE_TYPE=postgres
#VIKUNJA_DATABASE_HOST=vikunja-db
#VIKUNJA_DATABASE_PORT=5432
#VIKUNJA_DATABASE_USER=vikunja
#VIKUNJA_DATABASE_DATABASE=vikunja
#VIKUNJA_DATABASE_SSLMODE=disable

#  # ======================
#  # File Storage
#  # ======================
#  VIKUNJA_FILES_BASEPATH="/app/vikunja/files"
#
## ======================
## Authentication
## ======================
#VIKUNJA_SERVICE_ENABLEEMAILREMINDERS=false
#VIKUNJA_SERVICE_ENABLEREGISTRATION=true
#VIKUNJA_SERVICE_ENABLETASKCOMMENTS=true

# Optional: Rate limiting
VIKUNJA_RATE_LIMIT_ENABLED=true
VIKUNJA_RATE_LIMIT_MAXREQUESTS=1000

# ======================
# Security
# ======================
{% if docker_stack__swarm_mode | bool %}
VIKUNJA_SERVICE_SECRET_FILE=/run/secrets/vikunja_service_jwt_secret
{% else %}
VIKUNJA_SERVICE_SECRET="{{ __docker_stack__vikunja__jwt_secret }}"
{% endif %}
