---

__docker_stack_appspecs__atlassian_stack_dir: "{{ docker_stack_dir | d('/home/user/docker-dirs') }}"

__docker_stack_appspecs__atlassian_agent_http_port: 4080

docker_stack_appspec_config_dirs__atlassian:
  - { path: "{{ __docker_stack_appspecs__atlassian_stack_dir }}/atlassian" }
  - { path: "{{ __docker_stack_appspecs__atlassian_stack_dir }}/atlassian/atlassian_home" }
  - { path: "{{ __docker_stack_appspecs__atlassian_data_dir }}" }
  - { path: "{{ __docker_stack_appspecs__atlassian_data_dir }}/osimages" }

#docker_stack_appspec_config_tpls__atlassian:
#  - { src: 'atlassian/config-group.conf.j2', dest: "{{ __docker_stack_appspecs__atlassian_stack_dir }}/atlassian/group" }
#  - { src: 'atlassian/config-passwd.conf.j2', dest: "{{ __docker_stack_appspecs__atlassian_stack_dir }}/atlassian/passwd" }

docker_stack_firewalld_appspec_ports__atlassian:
  - "{{ __docker_stack_appspecs__atlassian_agent_http_port }}/tcp"

docker_stack_appspec_volumes__atlassian:
  atlassian_postgres:
  confluence_data:
  crowd_data:
  jira_software_data:

docker_stack_appspec__atlassian:
  dirs: "{{ docker_stack_appspec_config_dirs__atlassian | d([]) }}"
  files: "{{ docker_stack_appspec_config_files__atlassian | d([]) }}"
  templates: "{{ docker_stack_appspec_config_tpls__atlassian | d([]) }}"
  firewalld_services: "{{ docker_stack_firewalld_appspec_services__atlassian | d([]) }}"
  firewalld_ports: "{{ docker_stack_firewalld_appspec_ports__atlassian | d([]) }}"
  networks: "{{ docker_stack_appspec_networks__atlassian | d({}) }}"
  volumes: "{{ docker_stack_appspec_volumes__atlassian | d({}) }}"
  docker_services: "{{ docker_stack_appspec_services__atlassian | d({}) }}"
