---

##
## registry configs
##

#__docker_stack_appspecs__registry_domain: "{{ docker_stack_registry_service_domain | d(registry_domain) | d('registry.example.int') }}"
__docker_stack_appspecs__registry_domain: "{{ docker_stack_registry_service_domain | d(internal_domain) | d('registry.example.int') }}"
#__docker_stack_appspecs__registry_name: "{{ docker_stack_registry_service_name | d(inventory_hostname) }}"
__docker_stack_appspecs__registry_name: "{{ docker_stack_registry_service_name | d('registry') }}"

__docker_stack_appspecs__registry_host_port: "{{ docker_stack_registry_host_port | d(5000) }}"
__docker_stack_appspecs__registry_container_port: "{{ docker_stack_registry_container_port | d(5000) }}"

#__docker_stack_docker_registry: "{{docker_stack_registry_service_name}}.{{__docker_stack_appspecs__registry_domain}}:{{__docker_stack_appspecs__registry_host_port}}"
#__docker_stack_appspecs__registry_fqdn: "{{ docker_stack_docker_registry_fqdn | d(__docker_stack_appspecs__registry_domain) }}"
__docker_stack_appspecs__registry_fqdn: "{{ docker_stack_docker_registry_endpoint | d(__docker_stack_appspecs__registry_name + '.' + __docker_stack_appspecs__registry_domain) }}"
__docker_stack_appspecs__registry_endpoint: "{{ docker_stack_docker_registry_url | d(__docker_stack_appspecs__registry_fqdn + ':' + __docker_stack_appspecs__registry_host_port) }}"

__docker_stack_appspecs__registry_common_name: "{{ docker_stack_registry_service_common_name | d(__docker_stack_appspecs__registry_fqdn) }}"

#__docker_stack_appspecs__registry_backend_fqdn: "{{ docker_stack_registry_endpoint | d('registry.example.int') }}"
#__docker_stack_appspecs__registry_backend_fqdn: "{{ docker_stack_registry_endpoint | d(__docker_stack_appspecs__registry_domain) }}"
__docker_stack_appspecs__registry_backend_fqdn: "{{ __docker_stack_appspecs__registry_fqdn }}"
__docker_stack_appspecs__registry_backend_endpoint: "{{ docker_stack_registry_backend_endpoint | d(__docker_stack_appspecs__registry_backend_fqdn + ':' + __docker_stack_appspecs__registry_host_port) }}"

__docker_stack_appspecs__registry_frontend_fqdn: "{{ docker_stack_registry_frontend_fqdn | d('registry.' + __docker_stack_appspecs__registry_domain) }}"
#__docker_stack_appspecs__registry_frontend_fqdn: "{{ docker_stack_registry_frontend_fqdn | d(__docker_stack_appspecs__registry_backend_fqdn) }}"

__docker_stack_appspecs__registry_enable_passthru: "{{ docker_stack_registry_enable_passthru | d(True) }}"
__docker_stack_appspecs__registry_proxy_remote_url: "{{ docker_stack_registry_proxy_remote_url | d('https://registry-1.docker.io') }}"

__docker_stack_appspecs__registry_stack_dir: "{{ docker_stack_dir | d('/home/user/docker-dirs') }}"
__docker_stack_appspecs__registry_data_path: "{{ docker_stack_registry_service_data_path | d('/srv/data/docker-registry') }}"
#__docker_stack_appspecs__registry_config_path: "/etc/docker-registry"
__docker_stack_appspecs__registry_config_path: "{{ docker_stack_registry_config_path | d(__docker_stack_appspecs__registry_stack_dir + '/docker-registry') }}"
#__docker_stack_appspecs__registry_auth_path: "{{ role_path }}/files/auth"
__docker_stack_appspecs__registry_auth_path: "{{ docker_stack_registry_auth_path | d(__docker_stack_appspecs__registry_config_path + '/files/auth') }}"
__docker_stack_appspecs__registry_auth_file: "{{ docker_stack_registry_auth_file | d('htpasswd') }}"

__docker_stack_appspecs__registry_cert_path: "{{ docker_stack_registry_cert_path | d(__docker_stack_appspecs__registry_config_path + '/certs') }}"

#__docker_stack_appspecs__registry_cert: "{{ docker_stack_registry_service_common_name }}.crt"
__docker_stack_appspecs__registry_cert: "{{ docker_stack_registry_cert_file | d(__docker_stack_appspecs__registry_common_name + '.pem') }}"
__docker_stack_appspecs__registry_certkey: "{{ docker_stack_registry_key_file | d(__docker_stack_appspecs__registry_common_name + '-key.pem') }}"

__docker_stack_appspecs__registry_host_cert_path: "{{ docker_stack_registry_host_cert_path | d(__docker_stack_appspecs__registry_cert_path) }}"
__docker_stack_appspecs__registry_host_auth_path: "{{ docker_stack_registry_host_auth_path | d(__docker_stack_appspecs__registry_auth_path) }}"


__docker_stack_appspecs__registry_enable_auth: "{{ docker_stack_registry_enable_auth | default(false) | bool }}"

__docker_stack_appspecs__registry_users_default:
  - username: testuser
    password: testpassword
  - username: testuser2
    password: testpassword2

__docker_stack_appspecs__registry_users: "{{ docker_stack_registry_users | d(__docker_stack_appspecs__registry_users_default) }}"
__docker_stack_appspecs__registry_container_name: "registry"

__docker_stack_appspecs__registry_env_default:
  REGISTRY_HTTP_TLS_CERTIFICATE: "/certs/{{ __docker_stack_appspecs__registry_cert }}"
  REGISTRY_HTTP_TLS_KEY: "/certs/{{ __docker_stack_appspecs__registry_certkey }}"

__docker_stack_appspecs__registry_env_auth_default:
  REGISTRY_AUTH: htpasswd
  REGISTRY_AUTH_HTPASSWD_REALM: "Registry Realm"
  REGISTRY_AUTH_HTPASSWD_PATH: "/auth/{{ __docker_stack_appspecs__registry_auth_file }}"

__docker_stack_appspecs__registry_env_auth: "{{ __docker_stack_appspecs__registry_env_auth_default if __docker_stack_appspecs__registry_enable_auth else {} }}"

__docker_stack_appspecs__registry_env: "{{ docker_stack_registry_env | d(__docker_stack_appspecs__registry_env_default) | combine(__docker_stack_appspecs__registry_env_auth) }}"



docker_stack_appspec_config_dirs__registry:
  - { path: "{{ __docker_stack_appspecs__registry_data_path }}" }
  - { path: "{{ __docker_stack_appspecs__registry_config_path }}" }
  - { path: "{{ __docker_stack_appspecs__registry_auth_path }}" }
  - { path: "{{ __docker_stack_appspecs__registry_cert_path }}" }

## ref: https://codeblog.dotsandbrackets.com/private-registry-swarm/
docker_stack_appspec_config_files__registry:
  - src: "{{ docker_stack_internal_ssl_cert_dir }}/{{ docker_stack_ca_root_cn }}.pem"
    dest: "{{ __docker_stack_appspecs__registry_cert_path }}/ca.pem"
    remote_src: yes
  - src: "{{ docker_stack_internal_ssl_cert_dir }}/{{ __docker_stack_appspecs__registry_cert }}"
    dest: "{{ __docker_stack_appspecs__registry_cert_path }}/{{ __docker_stack_appspecs__registry_cert }}"
    remote_src: yes
  - src: "{{ docker_stack_internal_ssl_certkey_dir }}/{{ __docker_stack_appspecs__registry_certkey }}"
    dest: "{{ __docker_stack_appspecs__registry_cert_path }}/{{ __docker_stack_appspecs__registry_certkey }}"
    remote_src: yes
  - src: "{{ docker_stack_ca_cert_bundle }}"
    dest: "{{ __docker_stack_appspecs__registry_cert_path }}/ca-certificates.crt"
    remote_src: yes

docker_stack_appspec_config_tpls__registry:
#  - { src: "registry/config-registry.yml.j2", dest: "{{ __docker_stack_appspecs__registry_config_path }}/config.yml", mode: 0664 }
  - { src: "registry/config-registry.yml.j2", dest: "{{ __docker_stack_appspecs__registry_config_path }}/config.yml" }

docker_stack_firewalld_appspec_ports__registry:
  - "8443/tcp"
  - "8080/tcp"


docker_stack_appspec__registry:
  dirs: "{{ docker_stack_appspec_config_dirs__registry | d([]) }}"
  files: "{{ docker_stack_appspec_config_files__registry | d([]) }}"
  templates: "{{ docker_stack_appspec_config_tpls__registry | d([]) }}"
  firewalld_services: "{{ docker_stack_firewalld_appspec_services__registry | d([]) }}"
  firewalld_ports: "{{ docker_stack_firewalld_appspec_ports__registry | d([]) }}"
  networks: "{{ docker_stack_appspec_networks__registry | d({}) }}"
  volumes: "{{ docker_stack_appspec_volumes__registry | d({}) }}"
  docker_services: "{{ docker_stack_appspec_services__registry | d({}) }}"
