---

__docker_stack_appspecs__base_stack_dir: "{{ docker_stack_dir | d('/home/user/docker-dirs') }}"

__docker_stack_appspecs__base_traefik_certresolver_enable_qa: "{{ docker_stack_traefik_certprovider_qa | d(False) | bool }}"

__docker_stack_appspecs__base_traefik_certresolver: "{{ 'letsencrypt-qa' if __docker_stack_appspecs__base_traefik_certresolver_enable_qa else 'letsencrypt' }}"

__docker_stack_appspecs__base_traefik_certresolver_acme_file_qa: "acme-qa.json"
__docker_stack_appspecs__base_traefik_certresolver_acme_file_prod: "acme.json"
__docker_stack_appspecs__base_traefik_certresolver_acme_file: "{{ __docker_stack_appspecs__base_traefik_certresolver_acme_file_qa if __docker_stack_appspecs__base_traefik_certresolver_enable_qa else __docker_stack_appspecs__base_traefik_certresolver_acme_file_prod }}"

__docker_stack_appspecs__base_traefik_version: "{{ docker_stack_traefik_version | d('v2') }}"

__docker_stack_appspecs__base_traefik_dirs:
  v1: "{{ __docker_stack_appspecs__base_stack_dir }}/traefik1"
  v2: "{{ __docker_stack_appspecs__base_stack_dir }}/traefik2"

__docker_stack_appspecs__base_traefik_dir: "{{ __docker_stack_appspecs__base_traefik_dirs[__docker_stack_appspecs__base_traefik_version] }}"

__docker_stack_appspecs__base_traefik_http: "{{ docker_stack_traefik_http | d('80') }}"
__docker_stack_appspecs__base_traefik_https: "{{ docker_stack_traefik_https | d('443') }}"
__docker_stack_appspecs__base_traefik_https_suffix: "{{ ':' + __docker_stack_appspecs__base_traefik_https|string if __docker_stack_appspecs__base_traefik_https != '443' else '' }}"

__docker_stack_appspecs__base_cert_dump_dir_default: "{{ __docker_stack_appspecs__base_stack_dir }}/shared/certs"
__docker_stack_appspecs__base_cert_dump_dir: "{{ docker_stack_external_ssl_cert_dir | d(__docker_stack_appspecs__base_cert_dump_dir_default) }}"

__docker_stack_appspecs__base_cacert_files:
  - src: "{{ docker_stack_internal_ssl_cert_dir }}/{{ docker_stack_ssl_internal_cert_file }}"
    dest: "{{ __docker_stack_appspecs__base_traefik_dir }}/certs/{{ docker_stack_ssl_internal_cert_file }}"
  - src: "{{ docker_stack_internal_ssl_certkey_dir }}/{{ docker_stack_ssl_internal_privatekey_file }}"
    dest: "{{ __docker_stack_appspecs__base_traefik_dir }}/certs/{{ docker_stack_ssl_internal_privatekey_file }}"
    mode: "0600"
#  - src: "{{ docker_stack_internal_ssl_cert_dir }}/{{ docker_stack_ssl_internal_root_cacert_file }}"
#    dest: "{{ __docker_stack_appspecs__base_traefik_dir }}/certs/{{ docker_stack_ssl_internal_root_cacert_file }}"
#  - src: "{{ docker_stack_internal_ssl_cert_dir }}/{{ docker_stack_ssl_internal_cacert_file }}"
#    dest: "{{ __docker_stack_appspecs__base_traefik_dir }}/certs/{{ docker_stack_ssl_internal_cacert_file }}"

docker_stack_appspec_config_dirs__base:
  - { path: "{{ __docker_stack_appspecs__base_stack_dir }}" }
  - { path: "{{ __docker_stack_appspecs__base_traefik_dir }}" }
  - { path: "{{ __docker_stack_appspecs__base_traefik_dir }}/rules" }
  - { path: "{{ __docker_stack_appspecs__base_traefik_dir }}/certs" }
  - { path: "{{ __docker_stack_appspecs__base_traefik_dir }}/acme" }
  - { path: "{{ __docker_stack_appspecs__base_stack_dir }}/shared" }
  - { path: "{{ __docker_stack_appspecs__base_stack_dir }}/shared/certs" }
  - { path: "{{ __docker_stack_appspecs__base_stack_dir }}/docker-gc" }
  - { path: "{{ __docker_stack_appspecs__base_stack_dir }}/portainer" }

docker_stack_firewalld_appspec_ports__base:
  - "{{ __docker_stack_appspecs__base_traefik_http }}/tcp"
  - "{{ __docker_stack_appspecs__base_traefik_https }}/tcp"

docker_stack_traefik_proxy_network_info: |
  {{ { docker_stack_traefik_proxy_network: { 'external': true } } }}

docker_stack_appspec_networks__base_default:
#  internal:
#    external: false
#    attachable: true

#  t2_proxy:
#    ipv4_address: 192.168.90.254 # You can specify a static IP
#    external: true

#  t2_proxy:
#    external: true

#  traefik_proxy:
#    name: "{{ docker_stack_traefik_proxy_network }}"
#    external: true

  default:
    driver: bridge

  ## ref: https://github.com/stefanprodan/swarmprom/blob/master/docker-compose.traefik.yml
  net:
#    driver: overlay
    external: false
    attachable: true

  socket_proxy:
    external: true

#docker_stack_appspec_networks__base: "{{ docker_stack_appspec_networks__base_default | combine( { docker_stack_traefik_proxy_network: { 'external': true } } ) }}"
docker_stack_appspec_networks__base: "{{ docker_stack_appspec_networks__base_default | combine( docker_stack_traefik_proxy_network_info ) }}"

docker_stack_appspec_volumes__base: {}

docker_stack_appspec__base:
  dirs: "{{ docker_stack_appspec_config_dirs__base | d([]) }}"
  files: "{{ docker_stack_appspec_config_files__base | d([]) }}"
  templates: "{{ docker_stack_appspec_config_tpls__base | d([]) }}"
  firewalld_services: "{{ docker_stack_firewalld_appspec_services__base | d([]) }}"
  firewalld_ports: "{{ docker_stack_firewalld_appspec_ports__base | d([]) }}"
  networks: "{{ docker_stack_appspec_networks__base | d({}) }}"
  volumes: "{{ docker_stack_appspec_volumes__base | d({}) }}"
  docker_services: "{{ docker_stack_appspec_services__base | d({}) }}"
