{
  "sigalg": "ECDSAWithSHA256",
  "signing": {
    "profiles": {
      "step-ca": {
        "ca_constraint": { "is_ca": true },
        "expiry": "87660h",
        "usages": ["signing"]
      }
    }
  }
}
