---

- include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution | lower }}-{{ ansible_distribution_major_version}}.yml"
    - "{{ ansible_distribution | lower }}.yml"
    - "{{ ansible_os_family | lower }}.yml"
    - "default.yml"

## ref: https://smallstep.com/docs/step-ca/installation
- name: Setup step cli
  include_tasks: setup-stepca-cli.yml

### ref: https://smallstep.com/docs/step-ca/getting-started#initialize-your-certificate-authority
#- name: Bootstrap step cli configuration with remote ca server
#  include_tasks: bootstrap-stepca-cli.yml

- name: Setup step ca server
  when: stepca_ca_server
  include_tasks: setup-stepca-server.yml

