Types: deb
URIs: https://snapshot.ppa.launchpadcontent.net/canonical-nvidia/vulkan-packages-nv-desktop/ubuntu/
Suites: noble
Components: main
Signed-By:
 -----BEGIN PGP PUBLIC KEY BLOCK-----
 .
 mQINBGXfTyoBEADL2xlBXPUKAvU4j0KZ+v5uFmMk8U7VeG7vhfEM7M4R++Y6xnvu
 cekI8bq5szaVq8BTq2rwlUUnVpNUgB6QrY8hCUtz7i8S8r+9sA3z4mkOn77IaFGf
 vcO2ZikD6Y6kH7PvpXuEOiW4uxPCYt1WFQQ36bHHlYk9EQekyMldDU7i7uSH8ydD
 6XEO/nWkspzcnBBfuX6pasmOkhIxJJhRjGNeeda7UbSIJbDIxDvVuR4kNu7QtIRS
 8YllIx2r7Ar9VzyYzXaHOfwhCvb/r7BS8i7fiqxIaFkCWlx+Z99way6Yn+dDzqEC
 PsrrVoWWrnv7ln/UxGaau1nubIQWhjDexLbH6VOSXOcQ+bocS/cUXcS+l+G16eHC
 54CLdKaXTwo07M4psNde6A+O/LjpX4roSWZW0c2SVySnQpkq7SszXSWyvlNABvx1
 v1K5bAcdNM5i7clpbHvmgyXUnKqQ4qWEHoZvYvw3PgdIaM8OR5VTMoFNlwMoJy/F
 Sb+9xvPdlkZJ1E8Fl/GOPN67JPHB6jEX5Th7dCABXcunYEwvIECE9GynPXV+6Wb1
 jPWSWwPBg5yQZC1mvSVSbwpXpFG8TD4+y1RxU32u7yIMArbJ/MIuwtEhzNpEIkvs
 pk67JYHTbAbXpZeTpzDFZ9Bh8WO7IPqlYsaDzV2EfbgiN4L9hoLvL8vbcwARAQAB
 tDlMYXVuY2hwYWQgUFBBIGZvciBDYW5vbmljYWwgZGV2ZWwgUFBBIGZvciBOVklE
 SUEgcHJvamVjdHOJAk4EEwEKADgWIQTqTDAzbAEJ8bdsLbccZVrE7cOvygUCZd9P
 KgIbAwULCQgHAgYVCgkICwIEFgIDAQIeAQIXgAAKCRAcZVrE7cOvyifwD/9m/YTU
 QROTYzsDHrsqu6tM5sjtJpDiYLYJdwtaHJjuZmYosdy1rhl6i9Bn1gUFORde4nsk
 EosGEf3NTCFxPEBOwG0fOtaYPT+Da+ODgaMpFLmu6+KU8NTMdXwtH6Xqz0lzoJmb
 4UJUfvsiimP0Y5Su6qxIF61tsAVIchaa98ADIA8PLv1Pgerb/AA4GzdH+ajbU4Zy
 9yD5Jjpo9I6QJfwFR9QiitOnvQ8dIqAe+xPUHe7Dn3+PQ5n9/h2eUi5/71CmZptp
 cN25eGmAKzmgvZWg1LtvZIPBKmkvbH6eB1jj2VSWnxPfVLampS16hg/+hVHkoXBW
 9yPp8dUchs1MCNHrl/j9arsAVA7Bymj8e4kpzB8LT6wJFjZDY3tSqtZzrbnWqY8a
 Z1pMQDctuLxp5hwiWierrifkCscBID/n14bVQ5LDWFjoRfGC1VBw+RnoRpiI/3sr
 zKv41GmBdft5fPHCd0KGAohw9VIvkylhH/6V8UAEhYu8CLoMJvuVVAzhpGQgdhrM
 iMKrUHX/mhyr6fpty2k+qfu8rv+yIktt418R+fJet6GbiUq2UEHuMbLnx4ViDzoN
 kO1Zrj3gDdrYEAAd4T60fn4SYfp5kNrDu6s7yUJu8jri1KO3heBLxowffDgN2lMr
 CXEdxRTUkSbz66H5ViaQcI0Cd3eTSW2YclRJqQ==
 =6QQD
 -----END PGP PUBLIC KEY BLOCK-----
