
dsmode: local
instance-id: {{ deploy_vm__vm_instance_id }}
local-hostname: {{ vm_hostname }}
network-interfaces: |
    auto eth0
    iface eth0 inet static
        address {{ vm_ip_network }}.{{ vm_ip_suffix }}
        network {{ vm_ip_network }}.0
        netmask {{ vm_info.netmask }}
        broadcast 255.255.255.255
        gateway {{ vm_info.gateway_ipv4 }}
        dns_nameservers {{ vm_info.dns_nameservers }}
