<?xml version="1.0" encoding="utf-8"?>
<ipset type="{{ item.type | default('hash:ip') }}">
{% if item.short is defined %}
  <short>{{ item.short }}</short>
{% endif %}
{% if item.description is defined %}
  <description>{{ item.description }}</description>
{% endif %}
{% for name,value in (item.option | default({})).items() %}
  <option name="{{ name }}" value="{{ value }}"/>
{% endfor %}
{% for entry in item.entry | default([]) %}
  <entry>{{ entry }}</entry>
{% endfor %}
</ipset>