[Unit]
Description=Resume OS Update Post-Reboot Hooks
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/run-os-update.sh
RemainAfterExit=false

[Install]
WantedBy=multi-user.target
