---
#******************************************************************************
# Role: linux-hardening
# File: vars/CentOS.yml
#******************************************************************************
ntp_package: ntp
ntp_service: ntpd
ssh_service: sshd
grubcfg_location: /boot/grub2/grub.cfg
cracklib_package: cracklib
pam_password_file: /etc/pam.d/system-auth

##
## harden_os_linux vars below
##

sysctl_rhel_config:
  # ExecShield protection against buffer overflows
  kernel.exec-shield: 1
  # Syncookies is used to prevent SYN-flooding attacks.
  net.ipv4.tcp_syncookies: 1
