{{ ansible_managed | comment }}
# See man 5 canonical maps for format

{% for map in __bootstrap_postfix__canonical_maps %}
{% if map.pattern|d(map.sender)|d(map.recipient) is defined and map.result|d(map.rewrite) is defined %}
{{ map.pattern|d(map.sender)|d(map.recipient) }} {{ map.result|d(map.rewrite) }}
{% endif %}
{% if map.virtual is defined and map.alias is defined %}
{{ map.virtual }} {{ map.alias }}
{% endif %}
{% if map.regex is defined %}
{{ map.regex | regex_escape }} {{ map.result }}
{% endif %}
{% endfor %}
