{{ 'Ansible managed' | comment(format="# {}") }}

{% if bootstrap_postfix__relayhost_mxlookup %}
{{ bootstrap_postfix__relayhost }}:{{ bootstrap_postfix__relayhost_port }}	{{ bootstrap_postfix__sasl_user }}:{{ bootstrap_postfix__sasl_password }}
{% else %}
[{{ bootstrap_postfix__relayhost }}]:{{ bootstrap_postfix__relayhost_port }}	{{ bootstrap_postfix__sasl_user }}:{{ bootstrap_postfix__sasl_password }}
{% endif %}
