#jinja2: trim_blocks: False
{%- if bootstrap_postfix__smtp_header_checks_database_type == 'hash' %}
{{ ansible_managed | comment }}
# See man 5 canonical maps for format

{% endif -%}
{%- for rule in bootstrap_postfix__smtp_header_checks | default([]) %}
{{ rule.pattern }} {{ rule.action }} {% if rule.text is defined %}{{ rule.text }}{% endif %}
{%- endfor %}
