{% if bootstrap_sshd__config['Match'] is defined %}
{{   match_iterate_block(bootstrap_sshd__config['Match']) -}}
{% endif %}
{% if bootstrap_sshd__match is defined %}
{{   match_iterate_block(bootstrap_sshd__match) -}}
{% endif %}
{% if bootstrap_sshd__match_1 is defined %}
{{ match_block(bootstrap_sshd__match_1) -}}
{% endif %}
{% if bootstrap_sshd__match_2 is defined %}
{{ match_block(bootstrap_sshd__match_2) -}}
{% endif %}
{% if bootstrap_sshd__match_3 is defined %}
{{ match_block(bootstrap_sshd__match_3) -}}
{% endif %}
{% if bootstrap_sshd__match_4 is defined %}
{{ match_block(bootstrap_sshd__match_4) -}}
{% endif %}
{% if bootstrap_sshd__match_5 is defined %}
{{ match_block(bootstrap_sshd__match_5) -}}
{% endif %}
{% if bootstrap_sshd__match_6 is defined %}
{{ match_block(bootstrap_sshd__match_6) -}}
{% endif %}
{% if bootstrap_sshd__match_7 is defined %}
{{ match_block(bootstrap_sshd__match_7) -}}
{% endif %}
{% if bootstrap_sshd__match_8 is defined %}
{{ match_block(bootstrap_sshd__match_8) -}}
{% endif %}
{% if bootstrap_sshd__match_9 is defined %}
{{ match_block(bootstrap_sshd__match_9) -}}
{% endif %}
