---
# tasks file for inspec - EL Family

- name: EL Family | Download Chef signing key for RPM packages
  ansible.builtin.rpm_key:
    key: "{{ inspec_el_rpm_key_url }}"
    fingerprint: "{{ inspec_el_rpm_key_fingerprint }}"
    state: "{{ inspec_el_rpm_key_state }}"
  when: not inspec_el_disable_gpg_check

- name: EL Family | Downloading and extracting {{ inspec_app }} {{ inspec_version }}
  yum:
    name: "{{ inspec_el_dl_url }}"
    disable_gpg_check: "{{ inspec_el_disable_gpg_check }}"
