[Unit]
Description=Gitea Act Runner Service
After=network.target

[Service]
Type=simple
User={{ bootstrap_gitea_runner__user }}
Group={{ bootstrap_gitea_runner__group }}
WorkingDirectory={{ bootstrap_gitea_runner__work_dir }}
ExecStart=/usr/local/bin/act_runner daemon
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
