############################
# Credential Configuration #
############################
# Note: you can specify two different configurations if you use a
# master ldap for writing access and a slave ldap server for reading access
# By default, we will use the same DN (so it will work for standard Samba
# release)
#slaveDN="{{ docker_stack_samba_ldap_admin_dn }}"
#slavePw="{{ docker_stack_samba_ldap_admin_pw }}"
masterDN="{{ docker_stack_samba_ldap_admin_dn }}"
masterPw="{{ docker_stack_samba_ldap_admin_pw }}"
