############################
# Credential Configuration #
############################
# Note: you can specify two different configurations if you use a
# master ldap for writing access and a slave ldap server for reading access
# By default, we will use the same DN (so it will work for standard Samba
# release)
#slaveDN="{{ __docker_stack__samba__ldap_admin_dn }}"
#slavePw="{{ __docker_stack__samba__ldap_admin_pw }}"
masterDN="{{ __docker_stack__samba__ldap_admin_dn }}"
masterPw="{{ __docker_stack__samba__ldap_admin_pw }}"
