############################
# Credential Configuration #
############################
# Note: you can specify two different configurations if you use a
# master ldap for writing access and a slave ldap server for reading access
# By default, we will use the same DN (so it will work for standard Samba
# release)
#slaveDN="{{ smb_ldap_admindn }}"
#slavePw="{{ smb_ldap_adminpw }}"
masterDN="{{ smb_ldap_admindn }}"
masterPw="{{ smb_ldap_adminpw }}"
