{{ 'Ansible managed' | comment(format="# {}") }}

{% if __docker_stack__openwebui__enable_persistent_config | bool %}
ENABLE_PERSISTENT_CONFIG=True
{% else %}
# Force the UI to use your .env values over the database settings
ENABLE_PERSISTENT_CONFIG=False
{% endif %}

# Point to the Ollama instance
OLLAMA_BASE_URL={{ __docker_stack__openwebui__ollama_base_url }}

WEBUI_URL=http://{{ __docker_stack__openwebui__host_addr }}
WEBUI_SESSION_COOKIE_SECURE=false
WEBUI_AUTH_COOKIE_SECURE=false

# CORS_ALLOW_ORIGIN must be a semicolon-separated list
# Include the FQDN, the IP, and localhost
CORS_ALLOW_ORIGIN={{ __docker_stack__openwebui__cors_allow_origin }}

{% if __docker_stack__openwebui__openai_api_base_url %}
# Connect to the remote llama.cpp as an OpenAI-compatible provider
OPENAI_API_BASE_URLS={{ __docker_stack__openwebui__openai_api_base_url }}
{% endif %}
{% if __docker_stack__openwebui__openai_api_key %}
OPENAI_API_KEY={{ __docker_stack__openwebui__openai_api_key }}
{% endif %}

################################
## vaulted credentials
{% if docker_stack__swarm_mode | bool %}
WEBUI_SECRET_KEY=dksec://openwebui_secret_key
{% else %}
WEBUI_SECRET_KEY={{ __docker_stack__openwebui__secret_key }}
{% endif %}
