{{ 'Ansible managed' | comment(format="# {}") }}

# Point to the Ollama instance
OLLAMA_BASE_URL={{ __docker_stack__openwebui__ollama_base_url }}

WEBUI_URL=http://{{ __docker_stack__openwebui__host_addr }}
WEBUI_SESSION_COOKIE_SECURE=false
WEBUI_AUTH_COOKIE_SECURE=false

# CORS_ALLOW_ORIGIN must be a semicolon-separated list
# Include the FQDN, the IP, and localhost
#CORS_ALLOW_ORIGIN="http://{{ __docker_stack__openwebui__host_addr }};http://{{ ansible_facts['default_ipv4'].address }};http://localhost:8080;http://127.0.0.1"
CORS_ALLOW_ORIGIN=*

################################
## vaulted credentials
{% if docker_stack__swarm_mode | bool %}
WEBUI_SECRET_KEY=dksec://openwebui_secret_key
{% else %}
WEBUI_SECRET_KEY={{ __docker_stack__openwebui__secret_key }}
{% endif %}
