---

#__docker_stack__appspec__web_image: "php:7.4-fpm-custom"
__docker_stack__appspec__web_image: "media.johnson.int:5000/docker-php7-custom:latest"

docker_stack__appspec_config_dirs__web:
  - { path: "{{ docker_stack__dir }}/nginx" }
  - { path: "{{ docker_stack__dir }}/nginx/conf" }
  - { path: "{{ docker_stack__dir }}/nginx/logs" }
  - { path: "{{ docker_stack__dir }}/nginx/vhost" }
  - { path: "{{ docker_stack__dir }}/nginx/site" }
  - { path: "{{ docker_stack__dir }}/nginx/ssl" }
  - { path: "{{ docker_stack__dir }}/sites/shb/html" }
  - { path: "{{ docker_stack__dir }}/shared" }
  - { path: "{{ docker_stack__dir }}/php/php7" }

docker_stack__appspec_config_tpls__web:
  - { src: "nginx/vhost/dettonville.org.vhost.j2", dest: "{{ docker_stack__dir }}/nginx/vhost/dettonville.org.vhost" }
  - { src: "nginx/ssl/certs/dettonville_org/dettonville_org.cert_chain.crt", dest: "{{ docker_stack__dir }}/nginx/ssl/certs/dettonville_org/dettonville_org.cert_chain.crt" }
  - { src: "nginx/ssl/private/dettonville.org.key", dest: "{{ docker_stack__dir }}/nginx/ssl/private/dettonville.org.key" }
  - { src: "nginx/conf/nginx.conf", dest: "{{ docker_stack__dir }}/nginx/conf/nginx.conf" }
  - { src: "nginx/conf/mime.types.nginx.conf", dest: "{{ docker_stack__dir }}/nginx/conf/mime.types" }
#    - { src: "nginx/conf/blacklist.nginx.conf", dest: "{{ docker_stack__dir }}/nginx/conf/blacklist.conf" }
#    - { src: "nginx/conf/fastcgi.nginx.conf", dest: "{{ docker_stack__dir }}/nginx/conf/fastcgi.conf" }
#    - { src: "nginx/conf/proxy.nginx.conf", dest: "{{ docker_stack__dir }}/nginx/conf/proxy.conf" }
#    - { src: "nginx/conf/fastcgi_microcache_zone.nginx.conf", dest: "{{ docker_stack__dir }}/nginx/conf/fastcgi_microcache_zone.conf" }
#    - { src: "nginx/conf/map_block_http_methods.nginx.conf", dest: "{{ docker_stack__dir }}/nginx/conf/map_block_http_methods.conf" }
#    - { src: "nginx/conf/nginx_status_allowed_hosts.nginx.conf", dest: "{{ docker_stack__dir }}/nginx/conf/nginx_status_allowed_hosts.conf" }
#    - { src: "nginx/conf/perfect-forward-secrecy.nginx.conf", dest: "{{ docker_stack__dir }}/nginx/conf/perfect-forward-secrecy.conf" }
#    - { src: "nginx/conf/proxy_microcache_zone.nginx.conf", dest: "{{ docker_stack__dir }}/nginx/conf/proxy_microcache_zone.conf" }
#    - { src: "nginx/conf/reverse_proxy.nginx.conf", dest: "{{ docker_stack__dir }}/nginx/conf/reverse_proxy.conf" }
#    - { src: "nginx/conf/upstream_phpapache.nginx.conf", dest: "{{ docker_stack__dir }}/nginx/conf/upstream_phpapache.conf" }
#    - { src: "nginx/conf/upstream_phpcgi_tcp.nginx.conf", dest: "{{ docker_stack__dir }}/nginx/conf/upstream_phpcgi_tcp.conf" }


docker_stack__firewalld_appspec_ports__web:
  - "11080/tcp"
  - "11443/tcp"


docker_stack__appspec__web:
  dirs: "{{ docker_stack__appspec_config_dirs__web | d([]) }}"
  files: "{{ docker_stack__appspec_config_files__web | d([]) }}"
  templates: "{{ docker_stack__appspec_config_tpls__web | d([]) }}"
  firewalld_services: "{{ docker_stack__firewalld_appspec_services__web | d([]) }}"
  firewalld_ports: "{{ docker_stack__firewalld_appspec_ports__web | d([]) }}"
  docker_services: "{{ docker_stack__appspec_services__web | d({}) }}"
