{{ '[StochasticFairnessQueueing]' }}
{% if bsq.parent is defined and bsq.parent != '' %}
{{ 'Parent=' ~ bsq.parent }}
{% endif %}
{% if bsq.handle is defined and bsq.handle != '' %}
{{ 'Handle=' ~ bsq.handle }}
{% endif %}
{% if bsq.perturb is defined and bsq.perturb != '' %}
{{ 'PerturbPeriodSec=' ~ bsq.perturb }}
{% endif %}
