{{ '[BFIFO]' }}
{% if bb.parent is defined and bb.parent != '' %}
{{ 'Parent=' ~ bb.parent }}
{% endif %}
{% if bb.handle is defined and bb.handle != '' %}
{{ 'Handle=' ~ bb.handle }}
{% endif %}
{% if bb.limit_size is defined and bb.limit_size != '' %}
{{ 'LimitSize=' ~ bb.limit_size }}
{% endif %}
