{{ '[PFIFO]' }}
{% if bp.parent is defined and bp.parent != '' %}
{{ 'Parent=' ~ bp.parent }}
{% endif %}
{% if bp.handle is defined and bp.handle != '' %}
{{ 'Handle=' ~ bp.handle }}
{% endif %}
{% if bp.packet_limit is defined and bp.packet_limit != '' %}
{{ 'PacketLimit=' ~ bp.packet_limit }}
{% endif %}
