{{ '[GenericRandomEarlyDetection]' }}
{% if bg.parent is defined and bg.parent != '' %}
{{ 'Parent=' ~ bg.parent }}
{% endif %}
{% if bg.handle is defined and bg.handle != '' %}
{{ 'Handle=' ~ bg.handle }}
{% endif %}
{% if bg.queues is defined and bg.queues != '' %}
{{ 'VirtualQueues=' ~ bg.queues }}
{% endif %}
{% if bg.default_queue is defined and bg.default_queue != '' %}
{{ 'DefaultVirtualQueue=' ~ bg.default_queue }}
{% endif %}
{% if bg.generic_rio is defined and bg.generic_rio in ['true', 'false'] %}
{{ 'GenericRIO=' + bg.generic_rio }}
{% endif %}
