{{ '[ControlledDelay]' }}
{% if bcd.parent is defined and bcd.parent != '' %}
{{ 'Parent=' ~ bcd.parent }}
{% endif %}
{% if bcd.handle is defined and bcd.handle != '' %}
{{ 'Handle=' ~ bcd.handle }}
{% endif %}
{% if bcd.packet_limit is defined and bcd.packet_limit != '' %}
{{ 'PacketLimit=' ~ bcd.packet_limit }}
{% endif %}
{% if bcd.target is defined and bcd.target != '' %}
{{ 'TargetSec=' + bcd.target }}
{% endif %}
{% if bcd.interval is defined and bcd.interval != '' %}
{{ 'IntervalSec=' + bcd.interval }}
{% endif %}
{% if bcd.ecn is defined and bcd.ecn in ['true', 'false'] %}
{{ 'ECN=' + bcd.ecn }}
{% endif %}
{% if bcd.ce_threshold is defined and bcd.ce_threshold != '' %}
{{ 'CEThresholdSec=' + bcd.ce_threshold }}
{% endif %}
