{{ '[TrivialLinkEqualizer]' }}
{% if btq.parent is defined and btq.parent != '' %}
{{ 'Parent=' ~ btq.parent }}
{% endif %}
{% if btq.handle is defined and btq.handle != '' %}
{{ 'Handle=' ~ btq.handle }}
{% endif %}
{% if btq.id is defined and btq.id != '' %}
{{ 'Id=' ~ btq.id }}
{% endif %}
