{{ '[TokenBucketFilter]' }}
{% if bt.parent is defined and bt.parent != '' %}
{{ 'Parent=' ~ bt.parent }}
{% endif %}
{% if bt.handle is defined and bt.handle != '' %}
{{ 'Handle=' ~ bt.handle }}
{% endif %}
{% if bt.latency_sec is defined and bt.latency_sec != '' %}
{{ 'LatencySec=' ~ bt.latency_sec }}
{% endif %}
{% if bt.limit_size is defined and bt.limit_size != '' %}
{{ 'LimitSize=' ~ bt.limit_size }}
{% endif %}
{% if bt.burst is defined and bt.burst != '' %}
{{ 'Burst=' ~ bt.burst }}
{% endif %}
{% if bt.rate is defined and bt.rate != '' %}
{{ 'Rate=' ~ bt.rate }}
{% endif %}
{% if bt.mpu is defined and bt.mpu != '' %}
{{ 'MPUBytes=' ~ bt.mpu }}
{% endif %}
{% if bt.peak_rate is defined and bt.peak_rate != '' %}
{{ 'PeakRate=' ~ bt.peak_rate }}
{% endif %}
{% if bt.mtu is defined and bt.mtu != '' %}
{{ 'MTUBytes=' ~ bt.mtu }}
{% endif %}
