{{ '[DeficitRoundRobinSchedulerClass]' }}
{% if bdc.parent is defined and bdc.parent != '' %}
{{ 'Parent=' ~ bdc.parent }}
{% endif %}
{% if bdc.classid is defined and bdc.classid != '' %}
{{ 'ClassId=' ~ bdc.classid }}
{% endif %}
{% if bdc.quantum is defined and bdc.quantum != '' %}
{{ 'Quantum=' ~ bdc.quantum }}
{% endif %}
