{{ '[NetworkEmulator]' }}
{% if bne.parent is defined and bne.parent != '' %}
{{ 'Parent=' ~ bne.parent }}
{% endif %}
{% if bne.handle is defined and bne.handle != '' %}
{{ 'Handle=' + bne.handle }}
{% endif %}
{% if bne.delay_sec is defined and bne.delay_sec != '' %}
{{ 'DelaySec=' ~ bne.delay_sec }}
{% endif %}
{% if bne.delay_jitter_sec is defined and bne.delay_jitter_sec != '' %}
{{ 'DelayJitterSec=' ~ bne.delay_jitter_sec }}
{% endif %}
{% if bne.packet_limit is defined and bne.packet_limit != '' %}
{{ 'PacketLimit=' ~ bne.packet_limit }}
{% endif %}
{% if bne.loss_rate is defined and bne.loss_rate != '' %}
{{ 'LossRate=' + bne.loss_rate }}
{% endif %}
{% if bne.duplicate_rate is defined and bne.duplicate_rate != '' %}
{{ 'DuplicateRate=' + bne.duplicate_rate }}
{% endif %}
