{{ '[FairQueueing]' }}
{% if bfq.parent is defined and bfq.parent != '' %}
{{ 'Parent=' ~ bfq.parent }}
{% endif %}
{% if bfq.handle is defined and bfq.handle != '' %}
{{ 'Handle=' ~ bfq.handle }}
{% endif %}
{% if bfq.packet_limit is defined and bfq.packet_limit != '' %}
{{ 'PacketLimit=' ~ bfq.packet_limit }}
{% endif %}
{% if bfq.flow_limit is defined and bfq.flow_limit != '' %}
{{ 'FlowLimit=' ~ bfq.flow_limit }}
{% endif %}
{% if bfq.quantum is defined and bfq.quantum != '' %}
{{ 'Quantum=' ~ bfq.quantum }}
{% endif %}
{% if bfq.initial_quantum is defined and bfq.initial_quantum != '' %}
{{ 'InitialQuantum=' ~ bfq.initial_quantum }}
{% endif %}
{% if bfq.maximum_rate is defined and bfq.maximum_rate != '' %}
{{ 'MaximumRate=' ~ bfq.maximum_rate }}
{% endif %}
{% if bfq.buckets is defined and bfq.buckets != '' %}
{{ 'Buckets=' ~ bfq.buckets }}
{% endif %}
{% if bfq.orphan_mask is defined and bfq.orphan_mask != '' %}
{{ 'OrphanMask=' ~ bfq.orphan_mask }}
{% endif %}
{% if bfq.pacing is defined and bfq.pacing in ['true', 'false'] %}
{{ 'Pacing=' + bfq.pacing }}
{% endif %}
{% if bfq.ce_threshold is defined and bfq.ce_threshold != '' %}
{{ 'CEThresholdSec=' + bfq.ce_threshold }}
{% endif %}
