{{ '[FairQueueingControlledDelay]' }}
{% if bfc.parent is defined and bfc.parent != '' %}
{{ 'Parent=' ~ bfc.parent }}
{% endif %}
{% if bfc.handle is defined and bfc.handle != '' %}
{{ 'Handle=' ~ bfc.handle }}
{% endif %}
{% if bfc.packet_limit is defined and bfc.packet_limit != '' %}
{{ 'PacketLimit=' ~ bfc.packet_limit }}
{% endif %}
{% if bfc.memory_limit is defined and bfc.memory_limit != '' %}
{{ 'MemoryLimit=' ~ bfc.memory_limit }}
{% endif %}
{% if bfc.flows is defined and bfc.flows != '' %}
{{ 'Flows=' ~ bfc.flows }}
{% endif %}
{% if bfc.target is defined and bfc.target != '' %}
{{ 'TargetSec=' + bfc.target }}
{% endif %}
{% if bfc.interval is defined and bfc.interval != '' %}
{{ 'IntervalSec=' + bfc.interval }}
{% endif %}
{% if bfc.quantum is defined and bfc.quantum != '' %}
{{ 'Quantum=' ~ bfc.quantum }}
{% endif %}
{% if bfc.ecn is defined and bfc.ecn in ['true', 'false'] %}
{{ 'ECN=' + bfc.ecn }}
{% endif %}
{% if bfc.ce_threshold is defined and bfc.ce_threshold != '' %}
{{ 'CEThresholdSec=' + bfc.ce_threshold }}
{% endif %}
