{{ '[StochasticFairBlue]' }}
{% if bsb.parent is defined and bsb.parent != '' %}
{{ 'Parent=' ~ bsb.parent }}
{% endif %}
{% if bsb.handle is defined and bsb.handle != '' %}
{{ 'Handle=' ~ bsb.handle }}
{% endif %}
{% if bsb.packet_limit is defined and bsb.packet_limit != '' %}
{{ 'PacketLimit=' ~ bsb.packet_limit }}
{% endif %}
