
version: "3.7"

networks:
  {{ docker_stack_networks | to_nice_yaml(indent=2) | indent(2) }}

volumes:
  {{ docker_stack_volumes | to_nice_yaml(indent=2) | indent(2) }}

configs:
  {{ docker_stack_configs | to_nice_yaml(indent=2) | indent(2) }}

services:

{% for service in __docker_stack_services %}
{% if service in docker_stack_services_tpl and docker_stack_services_tpl[service]|length > 0 %}
  ########################
  ## {{ service | upper }} SERVICES
{% for key, container in docker_stack_services_tpl[service].items() %}

  {{ key }}:
    {{ container | to_nice_yaml(indent=2) | indent(4) }}

{% endfor %}
{% endif %}
{% endfor %}

