domain {{ bootstrap_linux_core__dns_domain }}
search {{ bootstrap_linux_core__dns_search_domains | join(' ') }}
{% for server in bootstrap_linux_core__network_name_servers %}
nameserver {{ server }}
{% endfor %}
