[Unit]
Description=OpenBSD Secure Shell server per-connection daemon
Documentation=man:sshd(8) man:sshd_config(5)
{% if __bootstrap_sshd__service_after is not none %}
After={{ __bootstrap_sshd__service_after }}
{% endif %}
{% if __bootstrap_sshd__service_wants is string %}
Wants={{ __bootstrap_sshd__service_wants }}
{% elif __bootstrap_sshd__service_wants is iterable %}
{%   for file in __bootstrap_sshd__service_wants %}
Wants={{ file }}
{%   endfor %}
{% endif %}

[Service]
{% if __bootstrap_sshd__environment_file is string %}
EnvironmentFile=-{{ __bootstrap_sshd__environment_file }}
{% elif __bootstrap_sshd__environment_file is iterable %}
{%   for file in __bootstrap_sshd__environment_file %}
EnvironmentFile=-{{ file }}
{%   endfor %}
{% endif %}
ExecStart=-{{ bootstrap_sshd__binary }} -i {{ __bootstrap_sshd__environment_variable }} -f
{%- if bootstrap_sshd__main_config_file is not none and bootstrap_sshd__config_file | dirname == bootstrap_sshd__main_config_file ~ '.d' %}
{{- bootstrap_sshd__main_config_file }}
{% else %}
{{- bootstrap_sshd__config_file }}
{% endif %}
StandardInput=socket
{% if __bootstrap_sshd__runtime_directory is not none %}
RuntimeDirectory={{ __bootstrap_sshd__runtime_directory }}
RuntimeDirectoryPreserve=yes
RuntimeDirectoryMode={{ __bootstrap_sshd__runtime_directory_mode }}
{% endif %}
