{{ 'Ansible managed' | comment(format="# {}") }}
{{ role_name | comment(prefix="", postfix="") }}
{% macro render_option(key,value,indent=false) %}
{%   if value is defined %}
{%     if value is sameas true %}
{%     if indent %}  {% endif %}
{{ key }} yes
{%     elif value is sameas false %}
{%     if indent %}  {% endif %}
{{ key }} no
{%     elif value is string or value is number %}
{%     if indent %}  {% endif %}
{{ key }} {{ value | string }}
{%     else %}
{%       for i in value %}
{%     if indent %}  {% endif %}
{{ key }} {{ i | string }}
{%       endfor %}
{%     endif %}
{%   endif %}
{% endmacro %}
{% macro body_option(key,override) %}
{%   set value = undefined %}
{%   if override is defined %}
{%     set value = override %}
{%   elif bootstrap_sshd__config[key] is defined %}
{%     set value = bootstrap_sshd__config[key] %}
{%   elif bootstrap_sshd__main_config_file is not none
        and bootstrap_sshd__config_file | dirname == bootstrap_sshd__main_config_file ~ '.d' %}
{#     Do not use the defaults from main file to avoid recursion #}
{%   elif __bootstrap_sshd__defaults[key] is defined and not bootstrap_sshd__skip_defaults %}
{%     if key == 'HostKey' and __bootstrap_sshd__fips_mode %}
{%       set value = __bootstrap_sshd__defaults[key] | difference(__bootstrap_sshd__hostkeys_nofips) %}
{%     else %}
{%       set value = __bootstrap_sshd__defaults[key] %}
{%     endif %}
{%   endif %}
{{ render_option(key,value) -}}
{% endmacro %}
{% macro match_block(match_list) %}
{%   if match_list["Condition"] is defined %}
{%     set match_list = [ match_list ]%}
{%   endif %}
{%   if match_list is iterable %}
{%     for match in match_list %}
Match {{ match["Condition"] }}
{{       render_option("AcceptEnv",match["AcceptEnv"],true) -}}
{{       render_option("AllowAgentForwarding",match["AllowAgentForwarding"],true) -}}
{{       render_option("AllowGroups",match["AllowGroups"],true) -}}
{{       render_option("AllowStreamLocalForwarding",match["AllowStreamLocalForwarding"],true) -}}
{{       render_option("AllowTcpForwarding",match["AllowTcpForwarding"],true) -}}
{{       render_option("AllowUsers",match["AllowUsers"],true) -}}
{{       render_option("AuthenticationMethods",match["AuthenticationMethods"],true) -}}
{{       render_option("AuthorizedKeysCommand",match["AuthorizedKeysCommand"],true) -}}
{{       render_option("AuthorizedKeysCommandUser",match["AuthorizedKeysCommandUser"],true) -}}
{{       render_option("AuthorizedKeysFile",match["AuthorizedKeysFile"],true) -}}
{{       render_option("AuthorizedPrincipalsCommand",match["AuthorizedPrincipalsCommand"],true) -}}
{{       render_option("AuthorizedPrincipalsCommandUser",match["AuthorizedPrincipalsCommandUser"],true) -}}
{{       render_option("AuthorizedPrincipalsFile",match["AuthorizedPrincipalsFile"],true) -}}
{{       render_option("Banner",match["Banner"],true) -}}
{{       render_option("CASignatureAlgorithms",match["CASignatureAlgorithms"],true) -}}
{{       render_option("ChrootDirectory",match["ChrootDirectory"],true) -}}
{{       render_option("ChannelTimeout",match["ChannelTimeout"],true) -}}
{{       render_option("ClientAliveCountMax",match["ClientAliveCountMax"],true) -}}
{{       render_option("ClientAliveInterval",match["ClientAliveInterval"],true) -}}
{{       render_option("DenyGroups",match["DenyGroups"],true) -}}
{{       render_option("DenyUsers",match["DenyUsers"],true) -}}
{{       render_option("DisableForwarding",match["DisableForwarding"],true) -}}
{{       render_option("ExposeAuthInfo",match["ExposeAuthInfo"],true) -}}
{{       render_option("ForceCommand",match["ForceCommand"],true) -}}
{{       render_option("GatewayPorts",match["GatewayPorts"],true) -}}
{{       render_option("GSSAPIAuthentication",match["GSSAPIAuthentication"],true) -}}
{{       render_option("HostbasedAcceptedKeyTypes",match["HostbasedAcceptedKeyTypes"],true) -}}
{{       render_option("HostbasedAcceptedAlgorithms",match["HostbasedAcceptedAlgorithms"],true) -}}
{{       render_option("HostbasedAuthentication",match["HostbasedAuthentication"],true) -}}
{{       render_option("HostbasedUsesNameFromPacketOnly",match["HostbasedUsesNameFromPacketOnly"],true) -}}
{{       render_option("IgnoreRhosts",match["IgnoreRhosts"],true) -}}
{{       render_option("Include",match["Include"],true) -}}
{{       render_option("IPQoS",match["IPQoS"],true) -}}
{{       render_option("KbdInteractiveAuthentication",match["KbdInteractiveAuthentication"],true) -}}
{{       render_option("KerberosAuthentication",match["KerberosAuthentication"],true) -}}
{{       render_option("LogLevel",match["LogLevel"],true) -}}
{{       render_option("MaxAuthTries",match["MaxAuthTries"],true) -}}
{{       render_option("MaxSessions",match["MaxSessions"],true) -}}
{{       render_option("PasswordAuthentication",match["PasswordAuthentication"],true) -}}
{{       render_option("PermitEmptyPasswords",match["PermitEmptyPasswords"],true) -}}
{{       render_option("PermitListen",match["PermitListen"],true) -}}
{{       render_option("PermitOpen",match["PermitOpen"],true) -}}
{{       render_option("PermitRootLogin",match["PermitRootLogin"],true) -}}
{{       render_option("PermitTTY",match["PermitTTY"],true) -}}
{{       render_option("PermitTunnel",match["PermitTunnel"],true) -}}
{{       render_option("PermitUserRC",match["PermitUserRC"],true) -}}
{{       render_option("PubkeyAcceptedKeyTypes",match["PubkeyAcceptedKeyTypes"],true) -}}
{{       render_option("PubkeyAcceptedAlgorithms",match["PubkeyAcceptedAlgorithms"],true) -}}
{{       render_option("PubkeyAuthentication",match["PubkeyAuthentication"],true) -}}
{{       render_option("PubkeyAuthOptions",match["PubkeyAuthOptions"],true) -}}
{{       render_option("RDomain",match["RDomain"],true) -}}
{{       render_option("RekeyLimit",match["RekeyLimit"],true) -}}
{{       render_option("RevokedKeys",match["RevokedKeys"],true) -}}
{{       render_option("RequiredRSASize",match["RequiredRSASize"],true) -}}
{{       render_option("RhostsRSAAuthentication",match["RhostsRSAAuthentication"],true) -}}
{{       render_option("RSAAuthentication",match["RSAAuthentication"],true) -}}
{{       render_option("RSAMinSize",match["RSAMinSize"],true) -}}
{{       render_option("SetEnv",match["SetEnv"],true) -}}
{{       render_option("StreamLocalBindMask",match["StreamLocalBindMask"],true) -}}
{{       render_option("StreamLocalBindUnlink",match["StreamLocalBindUnlink"],true) -}}
{{       render_option("TrustedUserCAKeys",match["TrustedUserCAKeys"],true) -}}
{{       render_option("UnusedConnectionTimeout",match["UnusedConnectionTimeout"],true) -}}
{{       render_option("X11DisplayOffset",match["X11DisplayOffset"],true) -}}
{{       render_option("X11MaxDisplays",match["X11MaxDisplays"],true) -}}
{{       render_option("X11Forwarding",match["X11Forwarding"],true) -}}
{{       render_option("X11UseLocalHost",match["X11UseLocalHost"],true) -}}
{%     endfor %}
{%   endif %}
{% endmacro %}
{% macro match_iterate_block(match_list) %}
{%   if match_list | type_debug == "list" %}
{%     for match in match_list %}
{{       match_block(match) -}}
{%     endfor %}
{%   else %}
{{     match_block(match_list) -}}
{%   endif %}
{% endmacro %}
{{ body_option("Port",bootstrap_sshd__Port) -}}
{{ body_option("AddressFamily",bootstrap_sshd__AddressFamily) -}}
{{ body_option("ListenAddress",bootstrap_sshd__ListenAddress) -}}
{{ body_option("Protocol",bootstrap_sshd__Protocol) -}}
{{ body_option("HostKey",bootstrap_sshd__HostKey) -}}
{{ body_option("AcceptEnv",bootstrap_sshd__AcceptEnv) -}}
{{ body_option("AllowAgentForwarding",bootstrap_sshd__AllowAgentForwarding) -}}
{{ body_option("AllowGroups",bootstrap_sshd__AllowGroups) -}}
{{ body_option("AllowStreamLocalForwarding",bootstrap_sshd__AllowStreamLocalForwarding) -}}
{{ body_option("AllowTcpForwarding",bootstrap_sshd__AllowTcpForwarding) -}}
{{ body_option("AllowUsers",bootstrap_sshd__AllowUsers) -}}
{{ body_option("AuthenticationMethods",bootstrap_sshd__AuthenticationMethods) -}}
{{ body_option("AuthorizedKeysCommand",bootstrap_sshd__AuthorizedKeysCommand) -}}
{{ body_option("AuthorizedKeysCommandUser",bootstrap_sshd__AuthorizedKeysCommandUser) -}}
{{ body_option("AuthorizedKeysFile",bootstrap_sshd__AuthorizedKeysFile) -}}
{{ body_option("AuthorizedPrincipalsCommand",bootstrap_sshd__AuthorizedPrincipalsCommand) -}}
{{ body_option("AuthorizedPrincipalsCommandUser",bootstrap_sshd__AuthorizedPrincipalsCommandUser) -}}
{{ body_option("AuthorizedPrincipalsFile",bootstrap_sshd__AuthorizedPrincipalsFile) -}}
{{ body_option("Banner",bootstrap_sshd__Banner) -}}
{{ body_option("CASignatureAlgorithms",bootstrap_sshd__CASignatureAlgorithms) -}}
{{ body_option("ChallengeResponseAuthentication",bootstrap_sshd__ChallengeResponseAuthentication) -}}
{{ body_option("ChannelTimeout",bootstrap_sshd__ChannelTimeout) -}}
{{ body_option("ChrootDirectory",bootstrap_sshd__ChrootDirectory) -}}
{{ body_option("Ciphers",bootstrap_sshd__Ciphers) -}}
{{ body_option("ClientAliveCountMax",bootstrap_sshd__ClientAliveCountMax) -}}
{{ body_option("ClientAliveInterval",bootstrap_sshd__ClientAliveInterval) -}}
{{ body_option("Compression",bootstrap_sshd__Compression) -}}
{{ body_option("DebianBanner",bootstrap_sshd__DebianBanner) -}}
{{ body_option("DenyGroups",bootstrap_sshd__DenyGroups) -}}
{{ body_option("DenyUsers",bootstrap_sshd__DenyUsers) -}}
{{ body_option("DisableForwarding",bootstrap_sshd__DisableForwarding) -}}
{{ body_option("ExposeAuthenticationMethods",bootstrap_sshd__ExposeAuthenticationMethods) -}}
{{ body_option("ExposeAuthInfo",bootstrap_sshd__ExposeAuthInfo) -}}
{{ body_option("FingerprintHash",bootstrap_sshd__FingerprintHash) -}}
{{ body_option("ForceCommand",bootstrap_sshd__ForceCommand) -}}
{{ body_option("GatewayPorts",bootstrap_sshd__GatewayPorts) -}}
{{ body_option("GSSAPIAuthentication",bootstrap_sshd__GSSAPIAuthentication) -}}
{{ body_option("GSSAPICleanupCredentials",bootstrap_sshd__GSSAPICleanupCredentials) -}}
{{ body_option("GSSAPIEnablek5users",bootstrap_sshd__GSSAPIEnablek5users) -}}
{{ body_option("GSSAPIKeyExchange",bootstrap_sshd__GSSAPIKeyExchange) -}}
{{ body_option("GSSAPIKexAlgorithms",bootstrap_sshd__GSSAPIKexAlgorithms) -}}
{{ body_option("GSSAPIStoreCredentialsOnRekey",bootstrap_sshd__GSSAPIStoreCredentialsOnRekey) -}}
{{ body_option("GSSAPIStrictAcceptorCheck",bootstrap_sshd__GSSAPIStrictAcceptorCheck) -}}
{{ body_option("HPNBufferSize",bootstrap_sshd__HPNBufferSize) -}}
{{ body_option("HPNDisabled",bootstrap_sshd__HPNDisabled) -}}
{{ body_option("HostCertificate",bootstrap_sshd__HostCertificate) -}}
{{ body_option("HostKeyAgent",bootstrap_sshd__HostKeyAgent) -}}
{{ body_option("HostKeyAlgorithms",bootstrap_sshd__HostKeyAlgorithms) -}}
{{ body_option("HostbasedAcceptedKeyTypes",bootstrap_sshd__HostbasedAcceptedKeyTypes) -}}
{{ body_option("HostbasedAcceptedAlgorithms",bootstrap_sshd__HostbasedAcceptedAlgorithms) -}}
{{ body_option("HostbasedAuthentication",bootstrap_sshd__HostbasedAuthentication) -}}
{{ body_option("HostbasedUsesNameFromPacketOnly",bootstrap_sshd__HostbasedUsesNameFromPacketOnly) -}}
{{ body_option("Include",bootstrap_sshd__Include) -}}
{{ body_option("IPQoS",bootstrap_sshd__IPQoS) -}}
{{ body_option("IgnoreRhosts",bootstrap_sshd__IgnoreRhosts) -}}
{{ body_option("IgnoreUserKnownHosts",bootstrap_sshd__IgnoreUserKnownHosts) -}}
{{ body_option("KbdInteractiveAuthentication",bootstrap_sshd__KbdInteractiveAuthentication) -}}
{{ body_option("KerberosAuthentication",bootstrap_sshd__KerberosAuthentication) -}}
{{ body_option("KerberosGetAFSToken",bootstrap_sshd__KerberosGetAFSToken) -}}
{{ body_option("KerberosOrLocalPasswd",bootstrap_sshd__KerberosOrLocalPasswd) -}}
{{ body_option("KerberosTicketCleanup",bootstrap_sshd__KerberosTicketCleanup) -}}
{{ body_option("KerberosUniqueTicket",bootstrap_sshd__KerberosUniqueTicket) -}}
{{ body_option("KerberosUniqueCCache",bootstrap_sshd__KerberosUniqueCCache) -}}
{{ body_option("KerberosUseKuserok",bootstrap_sshd__KerberosUseKuserok) -}}
{{ body_option("KexAlgorithms",bootstrap_sshd__KexAlgorithms) -}}
{{ body_option("KeyRegenerationInterval",bootstrap_sshd__KeyRegenerationInterval) -}}
{{ body_option("LogLevel",bootstrap_sshd__LogLevel) -}}
{{ body_option("LogVerbose",bootstrap_sshd__LogVerbose) -}}
{{ body_option("LoginGraceTime",bootstrap_sshd__LoginGraceTime) -}}
{{ body_option("MACs",bootstrap_sshd__MACs) -}}
{{ body_option("MaxAuthTries",bootstrap_sshd__MaxAuthTries) -}}
{{ body_option("MaxSessions",bootstrap_sshd__MaxSessions) -}}
{{ body_option("MaxStartups",bootstrap_sshd__MaxStartups) -}}
{{ body_option("ModuliFile",bootstrap_sshd__ModuliFile) -}}
{{ body_option("NoneEnabled",bootstrap_sshd__NoneEnabled) -}}
{{ body_option("PasswordAuthentication",bootstrap_sshd__PasswordAuthentication) -}}
{{ body_option("PermitEmptyPasswords",bootstrap_sshd__PermitEmptyPasswords) -}}
{{ body_option("PermitListen",bootstrap_sshd__PermitListen) -}}
{{ body_option("PermitOpen",bootstrap_sshd__PermitOpen) -}}
{{ body_option("PermitRootLogin",bootstrap_sshd__PermitRootLogin) -}}
{{ body_option("PermitTTY",bootstrap_sshd__PermitTTY) -}}
{{ body_option("PermitTunnel",bootstrap_sshd__PermitTunnel) -}}
{{ body_option("PermitUserEnvironment",bootstrap_sshd__PermitUserEnvironment) -}}
{{ body_option("PermitUserRC",bootstrap_sshd__PermitUserRC) -}}
{{ body_option("PerSourceMaxStartups",bootstrap_sshd__PerSourceMaxStartups) -}}
{{ body_option("PerSourceNetBlockSize",bootstrap_sshd__PerSourceNetBlockSize) -}}
{{ body_option("PidFile",bootstrap_sshd__PidFile) -}}
{{ body_option("PrintLastLog",bootstrap_sshd__PrintLastLog) -}}
{{ body_option("PrintMotd",bootstrap_sshd__PrintMotd) -}}
{{ body_option("PubkeyAcceptedKeyTypes",bootstrap_sshd__PubkeyAcceptedKeyTypes) -}}
{{ body_option("PubkeyAcceptedAlgorithms",bootstrap_sshd__PubkeyAcceptedAlgorithms) -}}
{{ body_option("PubkeyAuthOptions",bootstrap_sshd__PubkeyAuthOptions) -}}
{{ body_option("PubkeyAuthentication",bootstrap_sshd__PubkeyAuthentication) -}}
{{ body_option("RSAAuthentication",bootstrap_sshd__RSAAuthentication) -}}
{{ body_option("RSAMinSize",bootstrap_sshd__RSAMinSize) -}}
{{ body_option("RekeyLimit",bootstrap_sshd__RekeyLimit) -}}
{{ body_option("RequiredRSASize",bootstrap_sshd__RequiredRSASize) -}}
{{ body_option("RevokedKeys",bootstrap_sshd__RevokedKeys) -}}
{{ body_option("RDomain",bootstrap_sshd__RDomain) -}}
{{ body_option("RhostsRSAAuthentication",bootstrap_sshd__RhostsRSAAuthentication) -}}
{{ body_option("SecurityKeyProvider",bootstrap_sshd__SecurityKeyProvider) -}}
{{ body_option("SetEnv",bootstrap_sshd__SetEnv) -}}
{{ body_option("ServerKeyBits",bootstrap_sshd__ServerKeyBits) -}}
{{ body_option("ShowPatchLevel",bootstrap_sshd__ShowPatchLevel) -}}
{{ body_option("StreamLocalBindMask",sshd_StreamLocalBindMask) -}}
{{ body_option("StreamLocalBindUnlink",sshd_StreamLocalBindUnlink) -}}
{{ body_option("StrictModes",sshd_StrictModes) -}}
{{ body_option("Subsystem",sshd_Subsystem) -}}
{{ body_option("SyslogFacility",sshd_SyslogFacility) -}}
{{ body_option("TCPKeepAlive",sshd_TCPKeepAlive) -}}
{{ body_option("TcpRcvBufPoll",sshd_TcpRcvBufPoll) -}}
{{ body_option("TrustedUserCAKeys",sshd_TrustedUserCAKeys) -}}
{{ body_option("UnusedConnectionTimeout",sshd_UnusedConnectionTimeout) -}}
{{ body_option("UseDNS",sshd_UseDNS) -}}
{{ body_option("UseLogin",sshd_UseLogin) -}}
{{ body_option("UsePAM",sshd_UsePAM) -}}
{{ body_option("UsePrivilegeSeparation",sshd_UsePrivilegeSeparation) -}}
{{ body_option("VersionAddendum",sshd_VersionAddendum) -}}
{{ body_option("X11DisplayOffset",sshd_X11DisplayOffset) -}}
{{ body_option("X11MaxDisplays",sshd_X11MaxDisplays) -}}
{{ body_option("X11Forwarding",sshd_X11Forwarding) -}}
{{ body_option("X11UseLocalhost",sshd_X11UseLocalhost) -}}
{{ body_option("XAuthLocation",sshd_XAuthLocation) -}}
{% if bootstrap_sshd__config['Match'] is defined %}
{{   match_iterate_block(bootstrap_sshd__config['Match']) -}}
{% endif %}
{% if sshd_match is defined %}
{{   match_iterate_block(sshd_match) -}}
{% endif %}
{% if sshd_match_1 is defined %}
{{ match_block(sshd_match_1) -}}
{% endif %}
{% if sshd_match_2 is defined %}
{{ match_block(sshd_match_2) -}}
{% endif %}
{% if sshd_match_3 is defined %}
{{ match_block(sshd_match_3) -}}
{% endif %}
{% if sshd_match_4 is defined %}
{{ match_block(sshd_match_4) -}}
{% endif %}
{% if sshd_match_5 is defined %}
{{ match_block(sshd_match_5) -}}
{% endif %}
{% if sshd_match_6 is defined %}
{{ match_block(sshd_match_6) -}}
{% endif %}
{% if sshd_match_7 is defined %}
{{ match_block(sshd_match_7) -}}
{% endif %}
{% if sshd_match_8 is defined %}
{{ match_block(sshd_match_8) -}}
{% endif %}
{% if sshd_match_9 is defined %}
{{ match_block(sshd_match_9) -}}
{% endif %}
