[Unit]
Description=OpenBSD Secure Shell server
After=network.target{{ (__bootstrap_sshd__service_after is none) | ternary('', ' ' ~ __bootstrap_sshd__service_after) }}
{% if __bootstrap_sshd__service_wants is string %}
Wants={{ __bootstrap_sshd__service_wants }}
{% elif __bootstrap_sshd__service_wants is iterable %}
{%   for file in __bootstrap_sshd__service_wants %}
Wants={{ file }}
{%   endfor %}
{% endif %}
Documentation=man:sshd(8) man:sshd_config(5)

[Service]
Type=notify
{% if __bootstrap_sshd__environment_file is string %}
EnvironmentFile={{ __bootstrap_sshd__environment_file_mandatory | ternary('', '-')}}{{ __bootstrap_sshd__environment_file }}
{% elif __bootstrap_sshd__environment_file is iterable %}
{%   for file in __bootstrap_sshd__environment_file %}
EnvironmentFile=-{{ file }}
{%   endfor %}
{% endif %}
ExecStartPre={{ bootstrap_sshd__binary }} -t
ExecStart={{ bootstrap_sshd__binary }} -D {{ __bootstrap_sshd__environment_variable }} -f
{%- if bootstrap_sshd__main_config_file is not none and bootstrap_sshd__config_file | dirname == bootstrap_sshd__main_config_file ~ '.d' %}
{{- bootstrap_sshd__main_config_file }}
{% else %}
{{- bootstrap_sshd__config_file }}
{% endif %}
ExecReload={{ bootstrap_sshd__binary }} -t
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
{% if __bootstrap_sshd__service_restart_timeout is not none %}
RestartSec={{ __bootstrap_sshd__service_restart_timeout }}
{% endif %}
RestartPreventExitStatus=255
{% if __bootstrap_sshd__runtime_directory is not none %}
RuntimeDirectory={{ __bootstrap_sshd__runtime_directory }}
RuntimeDirectoryMode={{ __bootstrap_sshd__runtime_directory_mode }}
{% endif %}

[Install]
WantedBy=multi-user.target
{% if __bootstrap_sshd__service_alias is not none %}
Alias={{ __bootstrap_sshd__service_alias }}.service
{% endif %}
