{{ 'Ansible managed' | comment(format="# {}") }}
{{ "dettonville:bootstrap_sshd" | comment(prefix="", postfix="") }}
{% if __bootstrap_sshd__sysconfig_supports_crypto_policy %}
{%   if bootstrap_sshd__sysconfig_override_crypto_policy | bool %}
CRYPTO_POLICY=
{%   endif %}
{% endif %}

{% if __bootstrap_sshd__sysconfig_supports_use_strong_rng %}
SSH_USE_STRONG_RNG={{ bootstrap_sshd__sysconfig_use_strong_rng }}
{% endif %}
