---

- name: Test windows hardening
  when: harden_win_testing_inspec | bool
  block:
    - name: testing | Ensure inspec is present
      chocolatey.chocolatey.win_chocolatey:
        name: inspec
        state: present

    - name: Restrict permissions for inspec directories
      ansible.windows.win_acl:
        path: "{{ item.p }}"
        user: "{{ item.u }}"
        rights: "{{ item.r }}"
        type: "{{ item.t }}"
        state: "{{ item.s }}"
        inherit: "{{ item.i }}"
        propagation: "{{ item.pr }}"
      loop:
        - { p: "c:\\opscode",
            u: 'BUILTIN\Users',
            r: 'Write,AppendData',
            t: allow,
            s: absent,
            i: 'ContainerInherit, ObjectInherit',
            pr: 'InheritOnly'
        }
        - { p: "c:\\opscode",
            u: 'Authenticated Users',
            r: 'Write,AppendData',
            t: allow,
            s: absent,
            i: 'ContainerInherit, ObjectInherit',
            pr: 'InheritOnly'
        }

    - name: testing | run windows-baseline
      ansible.windows.win_command: >
        c:\opscode\inspec\bin\inspec.bat exec https://github.com/juju4/windows-baseline
          >{{ harden_win_log_dir }}\inspec.log
      failed_when: false
      environment:
        CHEF_LICENSE: accept-no-persist

    - name: testing | inspec results
      ansible.windows.win_shell: "Get-Content -Path \"{{ harden_win_log_dir }}\\inspec.log\""
      changed_when: false
      failed_when: false


# https://blog.malwarebytes.com/security-world/technology/2017/11/when-you-shouldnt-trust-a-trusted-root-certificate/
# FIXME! FATAL ERROR DURING FILE TRANSFER: ...
# - name: Export trusted root certificates
#   ansible.windows.win_shell: >
#     Get-ChildItem -Path cert:\currentuser\AuthRoot -Recurse |
#       select Thumbprint, FriendlyName, Subject | ConvertTo-Html |
#       Set-Content c:\users\public\desktop\certificates.html

- name: Run testing-defender.yml
  ansible.builtin.import_tasks: testing-defender.yml
  when: harden_win_testing_defender | bool

- name: Run testing-uac.yml
  ansible.builtin.import_tasks: testing-uac.yml
  when: harden_win_testing_uac | bool

- name: Run testing-opf.yml
  ansible.builtin.import_tasks: testing-opf.yml
  when: harden_win_testing_opf | bool

- name: Run testing-speculative.yml
  ansible.builtin.import_tasks: testing-speculative.yml
  when: harden_win_testing_speculative | bool

- name: Run testing-intelme.yml
  ansible.builtin.import_tasks: testing-intelme.yml
  when: harden_win_testing_intelme | bool

- name: Run testing-iad.yml
  ansible.builtin.import_tasks: testing-iad.yml
  when: harden_win_testing_iad | bool

- name: Run testing-densityscout.yml
  ansible.builtin.import_tasks: testing-densityscout.yml
  when: harden_win_testing_densityscout | bool

# keep last. if defender catches it, may need to restart to complete cleaning/have ansible working again
- name: Run testing-mimikatz.yml
  ansible.builtin.import_tasks: testing-mimikatz.yml
  when: harden_win_testing_mimikatz | bool

# - name: Remove user _test
#   ansible.windows.win_user:
#     name: _test
#     state: absent
