---

- name: Add wef collector server to Event Log readers local group
  ansible.windows.win_user:
    name: "{{ harden_win_wef_collector_server_user }}"
    state: present
    groups_action: add
    groups:
      - Event Log Readers
    when: harden_win_wef_collector_server_user | d(True) | bool

- name: upload WEF configuration template
  ansible.windows.win_template:
    src: "{{ item }}"
    dest: "{{ harden_win_temp_dir }}\\{{ item | win_basename }}"
    backup: true
  loop: "{{ harden_win_wef_templates_list }}"

- name: Configure WEF subscriptions
  ansible.windows.win_command: "wecutil cs {{ harden_win_temp_dir }}\\{{ item | win_basename }}"
  loop: "{{ harden_win_wef_templates_list }}"
