[Webmin]
name=Webmin Distribution Neutral
#baseurl=http://download.webmin.com/download/yum
mirrorlist=https://download.webmin.com/download/yum/mirrorlist
enabled=1
#gpgcheck=1
gpgcheck=0
gpgkey=http://www.webmin.com/jcameron-key.asc
