[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no
[req_distinguished_name]
C = {{ registry_country }}  
ST = {{ registry_province }} 
L = {{ registry_locality }} 
O = {{ registry_organization }} 
OU = {{ registry_organizational_unit }} 
CN = {{ registry_common_name }} 

[v3_req]
# Extensions to add to a certificate request
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
{% if registry_altnames | length > 0 %}
subjectAltName = @alt_names

[alt_names]
{% for name in registry_altnames %}
{{ name.type }} = {{ name.name }}
{% endfor %}
{% endif %}
