{{ ansible_managed|comment }}
Set-StrictMode -Version 2
$WarningPreference='stop'
$ErrorActionPreference='stop'

javaw -jar "{{ win_swarm_client_jar_path }}" `
  -master "{{ jenkins_swarm_agent_master_protocol|default('http') }}://{{ jenkins_swarm_agent_master|default('') }}:{{ jenkins_swarm_agent_master_port|default('80') }}" `
  -name "{{ jenkins_swarm_agent_name }}" `
  -labels "{{ jenkins_swarm_agent_labels }}" `
  -username "{{ jenkins_swarm_agent_username }}" `
{% if jenkins_swarm_agent_password_file is defined %}
  -password '@{{ jenkins_swarm_agent_password_file }}'
{% elif jenkins_swarm_agent_password is defined %}
  -password '{{ jenkins_swarm_agent_password }}'
{% endif %}
  -disableClientsUniqueId `
  -executors "{{ jenkins_swarm_agent_num_executors }}" `
  -fsroot "C:\\jenkins"
