[Unit]
Description={{ jenkins_swarm_task_name }}
After=network.target
After=docker.service

[Service]
Type=simple
PIDFile=/var/run/{{ jenkins_swarm_service_name }}.pid
ExecStartPre=/bin/rm -f /var/run/{{ jenkins_swarm_service_name }}.pid
ExecStart=/usr/bin/java \
{% if jenkins_swarm_agent_jvm_args is defined %}
  {{ jenkins_swarm_agent_jvm_args|join(' ') }} \
{% endif %}
  -jar {{ swarm_jar.dest }} \
  -master '{{ jenkins_swarm_agent_master_url }}' \
{% if jenkins_swarm_agent_tunnel is defined %}
  -tunnel '{{ jenkins_swarm_agent_tunnel }}' \
{% endif %}
{% if jenkins_swarm_agent_username is defined %}
  -username '{{ jenkins_swarm_agent_username }}' \
{% endif %}
{% if jenkins_swarm_agent_password_file is defined %}
  -password '@{{ jenkins_swarm_agent_password_file }}' \
{% elif jenkins_swarm_agent_password is defined %}
  -password '{{ jenkins_swarm_agent_password }}' \
{% endif %}
  -name '{{ jenkins_swarm_agent_name }}' \
{% if jenkins_swarm_agent_labels_file is defined %}
  -labelsFile '{{ jenkins_swarm_agent_labels_file }}' \
{% else %}
  -labels '{{ jenkins_swarm_agent_labels }}' \
{% endif %}
{% if jenkins_swarm_agent_additional_args is defined %}
{% for arg in jenkins_swarm_agent_additional_args %}
  {{ arg }} \
{% endfor %}
{% endif %}
  -executors '{{ jenkins_swarm_agent_num_executors }}'
Restart=on-abort

[Install]
WantedBy=default.target
