{{ ansible_managed|comment }}
Set-StrictMode -Version 2
$WarningPreference='stop'
$ErrorActionPreference='stop'

javaw -jar "{{ win_swarm_agent_jar_path }}" `
  -master "{{ jenkins_swarm_agent__controller_url }}" `
  -name "{{ jenkins_swarm_agent__name }}" `
  -labels "{{ jenkins_swarm_agent__labels }}" `
  -username "{{ jenkins_swarm_agent__username }}" `
{% if jenkins_swarm_agent__password_file is defined %}
  -password '@{{ jenkins_swarm_agent__password_file }}'
{% elif jenkins_swarm_agent__password is defined %}
  -password '{{ jenkins_swarm_agent__password }}'
{% endif %}
  -disableClientsUniqueId `
  -executors "{{ jenkins_swarm_agent__num_executors }}" `
  -fsroot "C:\\jenkins"
