{
{%- if bootstrap_docker__default_daemon_json | d() -%}
{{ bootstrap_docker__default_daemon_json | indent(2, true) }}
{%- endif -%}
{%- if (bootstrap_docker__default_daemon_json | d()) and (bootstrap_docker__daemon_json | d()) -%}
,
{%- endif -%}
{%- if bootstrap_docker__daemon_json | d() -%}
{{ bootstrap_docker__daemon_json | indent(2, true) }}
{%- endif -%}
}
