{
  "signing": {
    "profiles": {
      "step-ca": {
        "ca_constraint": {
            "is_ca": true,
            "max_path_len": 0,
            "max_path_len_zero": true
        },
        "expiry": "87660h",
        "usages": [
            "cert sign",
            "crl sign"
        ]
      }
    }
  }
}
