Name: DG LDAP Authentication
Default: yes
Priority: 512
Auth-Type: Primary
Auth-Initial:
	[success=end default=ignore]	pam_ldap.so minimum_uid={{ bootstrap_ldap_client__uid_min }} ignore_authinfo_unavail
Auth:
	[success=end default=ignore]	pam_ldap.so minimum_uid={{ bootstrap_ldap_client__uid_min }} ignore_authinfo_unavail use_first_pass
Account-Type: Primary
Account:
	[success=end default=ignore]    pam_ldap.so
Password-Type: Primary
Password-Initial:
	[success=end default=ignore]	pam_ldap.so minimum_uid={{ bootstrap_ldap_client__uid_min }}
Password:
	[success=end default=ignore]	pam_ldap.so minimum_uid={{ bootstrap_ldap_client__uid_min }} use_authtok try_first_pass
Session-Type: Additional
Session:
	optional                        pam_ldap.so
