<?xml version="1.0" encoding="UTF-8"?><configuration>
<version>3</version>
<repositoryScanning>



<fileTypes>
<fileType>
<id>artifacts</id>
<patterns>
<pattern>**/*.pom</pattern>
<pattern>**/*.jar</pattern>
<pattern>**/*.ear</pattern>
<pattern>**/*.war</pattern>
<pattern>**/*.car</pattern>
<pattern>**/*.sar</pattern>
<pattern>**/*.mar</pattern>
<pattern>**/*.rar</pattern>
<pattern>**/*.dtd</pattern>
<pattern>**/*.tld</pattern>
<pattern>**/*.tar.gz</pattern>
<pattern>**/*.tar.bz2</pattern>
<pattern>**/*.zip</pattern>
<pattern>*.tgz</pattern>
</patterns>
</fileType>
<fileType>
<id>indexable-content</id>
<patterns>
<pattern>**/*.txt</pattern>
<pattern>**/*.TXT</pattern>
<pattern>**/*.block</pattern>
<pattern>**/*.config</pattern>
<pattern>**/*.pom</pattern>
<pattern>**/*.xml</pattern>
<pattern>**/*.xsd</pattern>
<pattern>**/*.dtd</pattern>
<pattern>**/*.tld</pattern>
</patterns>
</fileType>
<fileType>
<id>auto-remove</id>
<patterns>
<pattern>**/*.bak</pattern>
<pattern>**/*~</pattern>
<pattern>**/*-</pattern>
</patterns>
</fileType>
<fileType>
<id>ignored</id>
<patterns>
<pattern>**/.htaccess</pattern>
<pattern>**/KEYS</pattern>
<pattern>**/*.rb</pattern>
<pattern>**/*.sh</pattern>
<pattern>**/.svn/**</pattern>
<pattern>**/.DAV/**</pattern>
<pattern>.index/**</pattern>
<pattern>.indexer/**</pattern>
</patterns>
</fileType>
</fileTypes>
<knownContentConsumers>
<knownContentConsumer>create-missing-checksums</knownContentConsumer>
<knownContentConsumer>validate-checksum</knownContentConsumer>
<knownContentConsumer>validate-signature</knownContentConsumer>
<knownContentConsumer>index-content</knownContentConsumer>
<knownContentConsumer>auto-remove</knownContentConsumer>
<knownContentConsumer>auto-rename</knownContentConsumer>
<knownContentConsumer>metadata-updater</knownContentConsumer>
<knownContentConsumer>create-archiva-metadata</knownContentConsumer>
<knownContentConsumer>duplicate-artifacts</knownContentConsumer>
</knownContentConsumers>
<invalidContentConsumers>
<invalidContentConsumer>update-db-bad-content</invalidContentConsumer>
</invalidContentConsumers>
</repositoryScanning>
<webapp>
<ui>
<showFindArtifacts>true</showFindArtifacts>
<appletFindEnabled>true</appletFindEnabled>
<disableEasterEggs>false</disableEasterEggs>
<applicationUrl>https://archiva.admin.dettonville.int:8443</applicationUrl>
<disableRegistration>false</disableRegistration>
</ui>
</webapp>
<networkConfiguration>
<usePooling>true</usePooling>
</networkConfiguration>
<redbackRuntimeConfiguration>
<migratedFromRedbackConfiguration>true</migratedFromRedbackConfiguration>
<ldapConfiguration>
<port>389</port>
<ssl>false</ssl>
<contextFactory>com.sun.jndi.ldap.LdapCtxFactory</contextFactory>
<bindAuthenticatorEnabled>true</bindAuthenticatorEnabled>
<writable>false</writable>
<useRoleNameAsGroup>false</useRoleNameAsGroup>
<hostName>{{ ldap_host }}</hostName>
<baseDn>ou=users</baseDn>
<baseDn>dc=johnson</baseDn>
<baseGroupsDn>ou=cloudusers</baseGroupsDn>
<baseGroupsDn>ou=groups</baseGroupsDn>
<baseGroupsDn>dc=johnson</baseGroupsDn>
<bindDn>cn=admin</bindDn>
<bindDn>dc=johnson</bindDn>
<bindDn>dc=int</bindDn>
<password>{{ ldap_admin_password }}</password>
<baseDn>dc=local</baseDn>
<baseGroupsDn>dc=local</baseGroupsDn>
</ldapConfiguration>
<useUsersCache>true</useUsersCache>
<usersCacheConfiguration>
<timeToIdleSeconds>14400</timeToIdleSeconds>
<timeToLiveSeconds>14400</timeToLiveSeconds>
<maxElementsInMemory>1000</maxElementsInMemory>
<maxElementsOnDisk>0</maxElementsOnDisk>
</usersCacheConfiguration>



<ldapGroupMappings>
<ldapGroupMapping>
<group>admin</group>
<roleNames>
<roleName>User Administrator</roleName>
<roleName>Global Repository Manager</roleName>
<roleName>Archiva System Administrator</roleName>
<roleName>System Administrator</roleName>
<roleName>Archiva User Administrator</roleName>
</roleNames>
</ldapGroupMapping>
</ldapGroupMappings>
<userManagerImpls>
<userManagerImpl>jdo</userManagerImpl>
<userManagerImpl>ldap</userManagerImpl>
</userManagerImpls>
<rbacManagerImpls>
<rbacManagerImpl>jdo</rbacManagerImpl>
<rbacManagerImpl>ldap</rbacManagerImpl>
</rbacManagerImpls>
<configurationProperties>
<security>
<policy>
<password>
<rule>
<alphanumeric>
<enabled>false</enabled>
</alphanumeric>
<reuse>
<enabled>true</enabled>
</reuse>
<alphacount>
<minimum>1</minimum>
<enabled>true</enabled>
</alphacount>
<characterlength>
<maximum>24</maximum>
<minimum>1</minimum>
<enabled>true</enabled>
</characterlength>
<numericalcount>
<enabled>true</enabled>
<minimum>1</minimum>
</numericalcount>
<nowhitespace>
<enabled>true</enabled>
</nowhitespace>
<musthave>
<enabled>true</enabled>
</musthave>
</rule>
<previous>
<count>6</count>
</previous>
<expiration>
<enabled>true</enabled>
<days>90</days>
</expiration>
</password>
<allowed>
<login>
<attempt>10</attempt>
</login>
</allowed>
<unlockable>
<accounts/>
</unlockable>
</policy>
<rememberme>
<path>/</path>
<domain/>
<secure>false</secure>
<enabled>true</enabled>
<timeout>365</timeout>
</rememberme>
<signon>
<timeout>30</timeout>
</signon>
</security>
<ldap>
<config>
<mapper>
<attribute>
<user>
<id>uid</id>
<object>
<class>inetOrgPerson</class>
</object>
</user>
<fullname>cn</fullname>
<password>userPassword</password>
<email>mail</email>
</attribute>
</mapper>
<max>
<result>
<count>0</count>
</result>
</max>
<groups>
<useDnAsMemberValue>false</useDnAsMemberValue>
<name>
<attribute>cn</attribute>
</name>
<member>member</member>
<class>groupOfNames</class>
</groups>
<user>
<attribute>cn</attribute>
</user>
<dn>dn</dn>
</config>
<bind>
<authenticator>
<allowEmptyPasswords>false</allowEmptyPasswords>
</authenticator>
</bind>
</ldap>
<rest>
<csrffilter>
<enabled>true</enabled>
<disableTokenValidation>false</disableTokenValidation>
<absentorigin>
<deny>true</deny>
</absentorigin>
</csrffilter>
<baseUrl>https://archiva.admin.dettonville.int:8443/</baseUrl>
</rest>
<redback>
<default>
<guest>guest</guest>
<role>
<guest>
<id>guest</id>
</guest>
</role>
<admin>admin</admin>
</default>
</redback>
<email>
<validation>
<timeout>2880</timeout>
<subject>Welcome to Archiva</subject>
<required>true</required>
</validation>
</email>
<baseUrl>
<url>https://archiva.admin.dettonville.int:8443/</url>
</baseUrl>
</configurationProperties>
</redbackRuntimeConfiguration>
<archivaRuntimeConfiguration>
<fileLockConfiguration>
<skipLocking>true</skipLocking>
</fileLockConfiguration>
<urlFailureCacheConfiguration>
<timeToIdleSeconds>2700</timeToIdleSeconds>
<timeToLiveSeconds>1800</timeToLiveSeconds>
<maxElementsInMemory>1000</maxElementsInMemory>
<maxElementsOnDisk>0</maxElementsOnDisk>
</urlFailureCacheConfiguration>
</archivaRuntimeConfiguration>
<repositoryGroups>
<repositoryGroup>
<id>dettonville</id>
<mergedIndexPath>.indexer</mergedIndexPath>
</repositoryGroup>
</repositoryGroups>
<managedRepositories>
<managedRepository>
<location>/archiva-data/repositories/internal</location>
<releases>true</releases>
<blockRedeployments>true</blockRedeployments>
<snapshots>false</snapshots>
<scanned>true</scanned>
<daysOlder>30</daysOlder>
<deleteReleasedSnapshots>false</deleteReleasedSnapshots>
<skipPackedIndexCreation>false</skipPackedIndexCreation>
<stageRepoNeeded>false</stageRepoNeeded>
<id>internal</id>
<name>Archiva Managed Internal Repository</name>
<indexDir>/archiva-data/repositories/internal/.indexer</indexDir>
</managedRepository>
<managedRepository>
<location>/archiva-data/repositories/snapshots</location>
<releases>false</releases>
<blockRedeployments>false</blockRedeployments>
<snapshots>true</snapshots>
<scanned>true</scanned>
<refreshCronExpression>0 0\,30 * * * ?</refreshCronExpression>
<daysOlder>30</daysOlder>
<deleteReleasedSnapshots>false</deleteReleasedSnapshots>
<skipPackedIndexCreation>false</skipPackedIndexCreation>
<stageRepoNeeded>false</stageRepoNeeded>
<id>snapshots</id>
<name>Archiva Managed Snapshot Repository</name>
<indexDir>/archiva-data/repositories/snapshots/.indexer</indexDir>
</managedRepository>
</managedRepositories>
<remoteRepositories>
<remoteRepository>
<url>https://repo.maven.apache.org/maven2</url>
<downloadRemoteIndex>false</downloadRemoteIndex>
<downloadRemoteIndexOnStartup>false</downloadRemoteIndexOnStartup>
<id>central</id>
<name>Central Repository</name>
</remoteRepository>
</remoteRepositories>
<proxyConnectors>
<proxyConnector>
<order>1</order>
<sourceRepoId>internal</sourceRepoId>
<targetRepoId>central</targetRepoId>
<proxyId/>
<whiteListPatterns>
<whiteListPattern>**/*</whiteListPattern>
</whiteListPatterns>
<policies>
<releases>once</releases>
<checksum>fix</checksum>
<snapshots>never</snapshots>
<cache-failures>yes</cache-failures>
</policies>
<disabled>false</disabled>
</proxyConnector>
</proxyConnectors>
<legacyArtifactPaths>
<legacyArtifactPath>
<path>jaxen/jars/jaxen-1.0-FCS-full.jar</path>
<artifact>jaxen:jaxen:1.0-FCS:full:jar</artifact>
</legacyArtifactPath>
</legacyArtifactPaths>
<archivaDefaultConfiguration>
<defaultCheckPaths>
<defaultCheckPath>
<url>http://download.oracle.com/maven</url>
<path>com/sleepycat/je/license.txt</path>
</defaultCheckPath>
<defaultCheckPath>
<url>https://download.oracle.com/maven</url>
<path>com/sleepycat/je/license.txt</path>
</defaultCheckPath>
</defaultCheckPaths>
</archivaDefaultConfiguration>
</configuration>
