{
  "revoker": {
    "dbConnectFile": "config/dburl/admin-revoker",
    "maxDBConns": 1,
    "tls": {
      "caCertFile": "certs/grpc/ca.crt",
      "certFile": "certs/grpc/admin-revoker.crt",
      "keyFile": "certs/grpc/admin-revoker.key"
    },
    "raService": {
      "serverAddress": "stepca-ra.{{ ansible_fqdn }}:{{ app_conf.ra.network.grpc }}",
      "timeout": "15s"
    },
    "saService": {
      "serverAddress": "stepca-sa.{{ ansible_fqdn }}:{{ app_conf.sa.network.grpc }}",
      "timeout": "15s"
    },
    "features": {
    }
  },

  "syslog": {
    "stdoutlevel": 6,
    "sysloglevel": 4
  }
}
