{
  "NonceService": {
    "maxUsed": 500,
    "noncePrefix": "unic",
    "debugAddr": "127.0.0.1:9999",
    "grpc": {
      "address": "127.0.0.1:{{ app_conf.nonce.network.grpc }}",
      "clientNames": [
        "stepca-wfe2.{{ ansible_facts['fqdn'] }}"
      ]
    },
    "tls": {
      "caCertFile": "certs/grpc/ca.crt",
      "certFile": "certs/grpc/nonce-service.crt",
      "keyFile": "certs/grpc/nonce-service.key"
    },
    "syslog": {
      "stdoutlevel": 6
    }
  }
}
