{
  "backdate": "1h",

  "syslog": {
    "stdoutlevel": 7
  },

  "tls": {
      "caCertFile": "certs/grpc/ca.crt",
      "certFile": "certs/grpc/orphan-finder.crt",
      "keyFile": "certs/grpc/orphan-finder.key"
  },

  "ocspGeneratorService": {
    "serverAddress": "stepca-ca.{{ ansible_facts['fqdn'] }}:{{ app_conf.ca.network.grpc.ocsp }}",
    "timeout": "15s"
  },
  "saService": {
    "serverAddress": "stepca-sa.{{ ansible_facts['fqdn'] }}:{{ app_conf.sa.network.grpc }}",
    "timeout": "15s"
  },
}
