{
  "publisher": {
    "userAgent": "stepca/1.0",
    "blockProfileRate": 10000000,
    "maxConcurrentRPCServerRequests": 1000,
    "submissionTimeout": "5s",
    "debugAddr": "127.0.0.1:9990",
    "grpc": {
      "address": "127.0.0.1:{{ app_conf.publisher.network.grpc }}",
      "clientNames": [
        "stepca-ra.{{ ansible_facts['fqdn'] }}",
        "ocsp-updater.{{ ansible_facts['fqdn'] }}"
      ]
    },
    "tls": {
      "caCertFile": "certs/grpc/ca.crt",
      "certFile": "certs/grpc/stepca-publisher.crt",
      "keyFile": "certs/grpc/stepca-publisher.key"
    },
    "features": {
    }
  },

  "syslog": {
    "stdoutlevel": 6,
    "sysloglevel": 4
  },

  "common": {
    "ct": {
      "intermediateBundleFilename": "certs/web/{{ issuing_ca_crtname }}"
    }
  }
}
