{
  "wfe": {
    "listenAddress": "127.0.0.1:{{ app_conf.wfe2.network.http }}",
    "TLSListenAddress": "",
    "serverCertificatePath": "",
    "serverKeyPath": "",
    "allowOrigins": ["*"],
    "requestTimeout": "10s",
    "certCacheDuration": "6h",
    "certNoCacheExpirationWindow": "96h",
    "indexCacheDuration": "24h",
    "issuerCacheDuration": "48h",
    "blockedKeyFile": "config/blocked_keys.yml",
    "shutdownStopTimeout": "10s",
    "debugAddr": "127.0.0.1:9996",
    "subscriberAgreementURL": "{{ ca_policies.tos_url | d("") }}",
    "acceptRevocationReason": true,
    "allowAuthzDeactivation": true,
    "directoryCAAIdentity": "{{ ca_policies.caa_domain }}",
    "directoryWebsite": "{{ company_homepage | d("") }}",
    "legacyKeyIDPrefix": "",
    "tls": {
      "caCertFile": "certs/grpc/ca.crt",
      "certFile": "certs/grpc/stepca-wfe2.crt",
      "keyFile": "certs/grpc/stepca-wfe2.key"
    },
    "raService": {
      "serverAddress": "stepca-ra.{{ ansible_fqdn }}:{{ app_conf.ra.network.grpc }}",
      "timeout": "15s"
    },
    "saService": {
      "serverAddress": "stepca-sa.{{ ansible_fqdn }}:{{ app_conf.sa.network.grpc }}",
      "timeout": "15s"
    },
    "getNonceService": {
      "serverAddress": "nonce-service.{{ ansible_fqdn }}:{{ app_conf.nonce.network.grpc }}",
      "timeout": "15s"
    },
    "redeemNonceServices": {
      "unic": {
        "serverAddress": "nonce-service.{{ ansible_fqdn }}:{{ app_conf.nonce.network.grpc }}",
        "timeout": "15s"
      }
    },
    "certificateChains": {
      "http://{{ api_domain }}/acme/issuer-cert": ["certs/web/{{ issuing_ca_crtname }}"],
      "http://127.0.0.1:{{ app_conf.wfe2.network.http }}/acme/issuer-cert": ["certs/web/{{ issuing_ca_crtname }}"]
    },
    "features": {
{% for k, v in app_conf.wfe2.features.items() %}
      "{{ k }}": {{ v | lower }}{{ ',' if not loop.last else '' }}
{% endfor %}
    }
  },

  "syslog": {
    "stdoutlevel": 6,
    "sysloglevel": 4
  },

  "common": {
    "issuerCert": "certs/web/{{ issuing_ca_crtname }}"
  }
}
