#Storage
#Sat Feb 15 22:34:32 EST 2020
guest.network.device=cloudbr1
workers=5
private.network.device=cloudbr0
port=8250
resource=com.cloud.hypervisor.kvm.resource.LibvirtComputingResource
pod=1
zone=1
hypervisor.type=kvm
guid=21f1e5ab-ea6a-39b3-87f8-bae66d685595
public.network.device=cloudbr0
cluster=1
local.storage.uuid=4f904e22-3870-4cd9-b5c4-2c5c161e9eec
keystore.passphrase=WB3kGnHaR9huJukr
domr.scripts.dir=scripts/network/domr/kvm
LibvirtComputingResource.id=1
host=192.168.0.15
