{{ ansible_managed | comment }}
MASTER="{{ jenkins_swarm_agent__controller | default('') }}"
MASTER_PORT="{{ jenkins_swarm_agent__controller_port }}"
MASTER_PROTOCOL="{{ jenkins_swarm_agent__controller_protocol }}"
SWARM_AGENT_NUM_EXECUTORS="{{ jenkins_swarm_agent__num_executors }}"
SWARM_AGENT_JAR="{{ swarm_jar.dest }}"
SWARM_AGENT_USERNAME="{{ jenkins_swarm_agent__username }}"
SWARM_AGENT_PASSWORD_FILE="{{ jenkins_swarm_agent__password_file }}"
SWARM_AGENT_NAME="{{ jenkins_swarm_agent__name }}"
SWARM_AGENT_LABELS="{{ jenkins_swarm_agent__labels }}"
