<service>
  <id>{{ jenkins_swarm_agent__task_name | replace(' ', '_') | lower }}</id>
  <name>{{ jenkins_swarm_agent__task_name }}</name>
  <description>This service runs Jenkins continuous integration system.</description>
  <env name="JENKINS_HOME" value="%BASE%"/>
  <executable>java</executable>
{% if jenkins_swarm_agent__password_file is defined %}
  <arguments>-Xrs -Xms256m -jar "%BASE%\{{ jenkins_swarm_agent__jar }}" -master "{{ jenkins_swarm_agent__controller_url }}" -executors {{ jenkins_swarm_agent__num_executors }} -fsroot "{{ win_base_jenkins_path }}" -name "{{ jenkins_swarm_agent__name }}" -username "{{ jenkins_swarm_agent__username }}" -password "@{{ jenkins_swarm_agent__password_file }}" -labels "{{ jenkins_swarm_agent__labels }}" -disableSslVerification -disableClientsUniqueId</arguments>
{% else %}
  <arguments>-Xrs -Xms256m -jar "%BASE%\{{ jenkins_swarm_agent__jar }}" -master "{{ jenkins_swarm_agent__controller_url }}" -executors {{ jenkins_swarm_agent__num_executors }} -fsroot "{{ win_base_jenkins_path }}" -name "{{ jenkins_swarm_agent__name }}" -username "{{ jenkins_swarm_agent__username }}" -password "{{ jenkins_swarm_agent__password }}" -labels "{{ jenkins_swarm_agent__labels }}" -disableSslVerification -disableClientsUniqueId</arguments>
{% endif %}
  <logmode>rotate</logmode>
</service>
