version: "3"

services:
  handson-ml2:
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
      args:
        - username=devel
        - userid=1000
#    container_name: handson-ml2
#    image: handson-ml2
#    image: "{{ __docker_builder_image__image_config.app_name }}"
    image: "{{ docker_builder_image__registry }}/{{ __docker_builder_image__image_config.app_name }}"
    restart: "no"

