---
### https://sysadminonline.net/deploy-cloudstack-management-server-using-ansible-part-iii-kvm-setup/
- name: Add the OS specific varibles
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}.yml"
    - "{{ ansible_os_family }}.yml"
    - "default.yml"

# Setup/install OS specific tasks.
- ansible.builtin.include_tasks: "setup-{{ ansible_os_family }}.yml"

#- name: Update Cloudstack Related System Packages
#  tags:
#    - package
#    - cloudstack
#  ansible.builtin.package:
#    name: '*'
#    state: latest
#    update_cache: yes

- name: Installing Common Cloudstack Virtualization Packages
  tags:
    - package
    - cloudstack
  ansible.builtin.package:
    name: '{{ cloudstack_common_packages }}'
    state: present
#    update_cache: yes

#- name: "Configuring libvirt qemu.conf"
#  tags:
#    - package
#    - cloudstack
#  lineinfile:
#    path: /etc/libvirt/qemu.conf
#    line: 'vnc_listen="0.0.0.0"'
#
#- name: "Configuring libvirt.conf"
#  tags:
#    - package
#    - cloudstack
#  lineinfile:
#    path: /etc/libvirt/libvirtd.conf
#    line: "{{ item }}"
#  with_items:
#    - listen_tls = 0
#    - listen_tcp = 1
#    - tcp_port = "{{ libvirt_port }}"
#    - auth_tcp = "none"
#    - mdns_adv = 0
#
#- lineinfile:
#    path: '/etc/sysconfig/libvirtd'
#    line: 'LIBVIRTD_ARGS="--listen"'

#######################################################
## 2 different parts of KVM to configure, libvirt, and QEMU.
## ref: http://docs.cloudstack.apache.org/en/latest/installguide/hypervisor/kvm.html#install-and-configure-libvirt
## ref: https://cloudstack-installation.readthedocs.io/en/latest/qig.html#kvm-configuration
- name: "Update parts of KVM to configure: libvirt and QEMU"
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
#      force: "{{ overwrite_configs }}"
    mode: "{{ item.mode | default(omit) }}"
#    mode: "{{ item.mode | default('0664') }}"
  with_items:
    - { src: 'qemu.conf.j2', dest: "/etc/libvirt/qemu.conf" }
    - { src: 'libvirtd.conf.j2', dest: "/etc/libvirt/libvirtd.conf" }
    - { src: 'sysconfig-libvirtd.conf.j2', dest: "/etc/sysconfig/libvirtd" }
  tags:
    - nfs
    - secstorage

- name: "create libvirt pki cert directories"
  file:
    path: "{{ item.path }}"
    state: directory
  with_items:
    - { path: "{{ libvirt_cert_dir }}" }
    - { path: "{{ libvirt_cert_dir }}/private" }

## setup certs for libvirt
## ref: https://www.certdepot.net/rhel7-deal-kvm-certificate-expiration/
## ref: https://libvirt.org/tlscerts.html
- name: "copy certs to {{ pki_cert_dir }} for importing"
  copy:
    remote_src: yes
    group: "qemu"
    mode: "{{ item.mode | default('0440') }}"
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    force: "{{ item.force | default('true') }}"
  with_items:
    - { src: "{{ ssl_cert_dir }}/ca.pem", dest: "{{ pki_cacert_dir }}/cacert.pem" }
    - { src: "{{ ssl_cert_dir }}/{{ hostname_name_full }}.pem", dest: "{{ libvirt_cert_dir }}/servercert.pem" }
    - { src: "{{ ssl_certkey_dir }}/{{ hostname_name_full }}-key.pem", dest: "{{ libvirt_cert_dir }}/private/serverkey.pem" }
  register: trust_ca_cacertinstalled

- name: Mount NFS secondary storage
  mount:
    name: "{{ CMConfig.SecondaryMount }}"
    src: "{{ CMConfig.NFSHost }}:{{ CMConfig.NFSSecondaryShare}}"
    fstype: nfs
    state: mounted
  tags:
    - secstorage
    - nfs

- name: Restart libvirtd
  service:
    state: restarted
    enabled: yes
    name: libvirtd

- name: configure firewall for cloudstack node
  when: cloudstack_common_firewalld_enabled | default(True) | bool
  tags: [ firewall-config-cloudstack ]
  ansible.builtin.include_role:
    name: bootstrap-linux-firewalld
  vars:
    firewalld_action: configure
    firewalld_services: "{{ cloudstack_common_firewalld_services | d([]) }}"
    firewalld_ports: "{{ cloudstack_common_firewalld_ports | d([]) }}"

