export LDAP_CONFIG_PWD="{{ bashenv_ldap_config_pwd }}"
export ANSIBLE_SSH_PASSWORD="{{ bashenv_ansible_ssh_password }}"
export ANSIBLE_BECOME_PASSWORD="{{ bashenv_ansible_become_password }}"

export DOCKER_REGISTRY_USERNAME="{{ bashenv_docker_registry_username }}"
export DOCKER_REGISTRY_PASSWORD="{{ bashenv_docker_registry_password }}"

# vCenter host
export GOVC_URL="{{ bashenv_govc_url }}"
# vCenter credentials
export GOVC_USERNAME="{{ bashenv_govc_username }}"
export GOVC_PASSWORD="{{ bashenv_govc_password }}"
# disable cert validation
export GOVC_INSECURE=true
