{{ 'Ansible managed' | comment(format="# {}") }}
{% for server in esx_ntp_servers %}
server {{ server }}
{% endfor %}
driftfile /etc/ntp.drift
{% for server in esx_ntp_servers %}
restrict {{ server }} noquery nomodify notrap
{% endfor %}
restrict default ignore
restrict 127.0.0.1 nopeer
