# {{ ansible_managed }}

[Unit]
Description=Stepca the Let's Encrypt CA - Registration Authority
Documentation=https://github.com/letsencrypt/stepca
After=stepca-ca.service stepca-va.service stepca-publisher.service network.target

[Service]
User={{ ca_svc_user }}
Group={{ ca_svc_user }}
WorkingDirectory={{ install_root }}
ExecStart={{ install_root }}/stepca-ra --config config/ra.json
Restart=on-failure
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=yes
ProtectHome=yes
PrivateDevices=yes

[Install]
WantedBy=multi-user.target
