# {{ ansible_managed }}

[Unit]
Description=Stepca the Let's Encrypt CA - Web front end nonce provider
Documentation=https://smallstep.com/docs/
After=network.target

[Service]
User={{ ca_svc_user }}
Group={{ ca_svc_user }}
WorkingDirectory={{ install_root }}
ExecStart={{ install_root }}/nonce-service --config config/nonce.json
Restart=on-failure
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=yes
ProtectHome=yes
PrivateDevices=yes

[Install]
WantedBy=multi-user.target
