# {{ ansible_managed }}
# /etc/nslcd.conf
# nslcd configuration file. See nslcd.conf(5)
# for details.

# The user and group nslcd should run as.
uid {{ ldap_conf[ansible_distribution].nslcd_uid }}
gid {{ ldap_conf[ansible_distribution].nslcd_gid }}

# The location at which the LDAP server(s) should be reachable.
uri ldap://{{ ldap_client_server_host }}/

# The search base that will be used for all queries.
base {{ ldap_client_base_dn }}

{% if ldap_client_nslcd_filter %}
{% for key, value in ldap_client_nslcd_filter.items() %}
{% for item, filter in value.items() %}
{{ key }} {{ item }} {{ filter }}
{% endfor %}
{% endfor %}
{% endif %}

#The LDAP protocol version to use.
#ldap_version 3

# The DN to bind with for normal lookups.
#binddn cn=annonymous,dc=example,dc=net
#bindpw secret

# The DN used for password modifications by root.
#rootpwmoddn cn=admin,dc=example,dc=com

# SSL options
#ssl off
#tls_reqcert never

# The search scope.
#scope sub

