---

- name: "configure_vcenter | Add vCenter license"
  vcenter_license:
    hostname: "{{ vsphere_deploy__vcenter.hostname }}"
    username: "{{ vsphere_credentials[vsphere_deploy__vcenter.hostname].username }}"
    password: "{{ vsphere_credentials[vsphere_deploy__vcenter.hostname].password }}"
    license: "{{ vsphere_deploy__vcenter.license }}"
    state: present
    validate_certs: False

- name: "configure_vcenter | Create Datacenter"
  vmware_datacenter:
    hostname: "{{ vsphere_deploy__vcenter.hostname }}"
    username: "{{ vsphere_credentials[vsphere_deploy__vcenter.hostname].username }}"
    password: "{{ vsphere_credentials[vsphere_deploy__vcenter.hostname].password }}"
    datacenter_name: "{{ vsphere_deploy__vcenter.datacenter }}"
    state: present
    validate_certs: False

## Although this module can manage DRS, HA and VSAN related configurations, this functionality is deprecated and will be removed in 2.12.
## To manage DRS, HA and VSAN related configurations, use the new modules vmware_cluster_drs, vmware_cluster_ha and vmware_cluster_vsan
## ref: https://docs.ansible.com/ansible/latest/collections/community/vmware/vmware_cluster_module.html
#- name: "configure_vcenter | Create Clusters"
#  vmware_cluster:
#    hostname: "{{ vsphere_deploy__vcenter.ip }}"
#    username: "{{ vsphere_credentials[vsphere_deploy__vcenter.hostname].username }}"
#    password: "{{ vsphere_credentials[vsphere_deploy__vcenter.hostname].password }}"
#    datacenter_name: "{{ vsphere_deploy__vcenter.datacenter }}"
#    cluster_name: "{{ item.key }}"
#    validate_certs: False
#    enable_ha: False  # Hardcoded as we need to enable HA after vSAN is enabled and disks are claimed
#    enable_drs: "{{ item.value.drs }}"
#    enable_vsan: False  # Hardcoded as we need to enable vSAN when the hosts are added to the cluster
#  with_dict: "{{ vcenter_clusters }}"

- name: "configure_vcenter | Create Clusters"
#  vmware_cluster:
  vmware_cluster_drs:
    hostname: "{{ vsphere_deploy__vcenter.hostname }}"
    username: "{{ vsphere_credentials[vsphere_deploy__vcenter.hostname].username }}"
    password: "{{ vsphere_credentials[vsphere_deploy__vcenter.hostname].password }}"
    datacenter_name: "{{ vsphere_deploy__vcenter.datacenter }}"
    cluster_name: "{{ item.key }}"
    validate_certs: False
#    enable: true
    enable_drs: "{{ item.value.drs }}"
  with_dict: "{{ vcenter_clusters }}"

- name: "configure_vcenter | Disable Cluster HA"
  vmware_cluster_ha:
    hostname: "{{ vsphere_deploy__vcenter.hostname }}"
    username: "{{ vsphere_credentials[vsphere_deploy__vcenter.hostname].username }}"
    password: "{{ vsphere_credentials[vsphere_deploy__vcenter.hostname].password }}"
    datacenter_name: "{{ vsphere_deploy__vcenter.datacenter }}"
    cluster_name: "{{ item.key }}"
    validate_certs: False
    enable_ha: False # Hardcoded as we need to enable HA after vSAN is enabled and disks are claimed
  with_dict: "{{ vcenter_clusters }}"

#- name: "configure_vcenter | Configure Clusters DRS"
#  vmware_cluster_drs:
#    hostname: "{{ vsphere_deploy__vcenter.hostname }}"
#    username: "{{ vsphere_credentials[vsphere_deploy__vcenter.hostname].username }}"
#    password: "{{ vsphere_credentials[vsphere_deploy__vcenter.hostname].password }}"
#    datacenter_name: "{{ vsphere_deploy__vcenter.datacenter }}"
#    cluster_name: "{{ item.key }}"
#    validate_certs: False
#    enable_drs: "{{ item.value.drs }}"
#  with_dict: "{{ vcenter_clusters }}"

## this role requires installing the vsan SDSK manually
## ref: https://docs.ansible.com/ansible/latest/collections/community/vmware/vmware_cluster_vsan_module.html
## ref: https://code.vmware.com/web/sdk/6.7.0/vsan-python
#- name: "configure_vcenter | Disable Clusters vSAN"
##  vmware_cluster_vsan:
#  community.vmware.vmware_cluster_vsan:
#    hostname: "{{ vsphere_deploy__vcenter.ip }}"
#    username: "{{ vsphere_credentials[vsphere_deploy__vcenter.hostname].username }}"
#    password: "{{ vsphere_credentials[vsphere_deploy__vcenter.hostname].password }}"
#    datacenter_name: "{{ vsphere_deploy__vcenter.datacenter }}"
#    cluster_name: "{{ item.key }}"
#    validate_certs: False
#    enable_vsan: False  # Hardcoded as we need to enable vSAN when the hosts are added to the cluster
#  with_dict: "{{ vcenter_clusters }}"

- name: "configure_vcenter | Create a VM folder on given datacenter"
  vcenter_folder:
    hostname: '{{ vsphere_deploy__vcenter.hostname }}'
    username: "{{ vsphere_credentials[vsphere_deploy__vcenter.hostname].username }}"
    password: "{{ vsphere_credentials[vsphere_deploy__vcenter.hostname].password }}"
    datacenter_name: "{{ vsphere_deploy__vcenter.datacenter }}"
    folder_name: "{{ item.name }}"
    folder_type: "{{ item.type }}"
    state: present
    validate_certs: False
  loop: "{{ vcenter_folders }}"
  register: vm_folder_creation_result
