---

- name: "Configure VMware vSwitch"
  community.vmware.vmware_vswitch:
    hostname: "{{ item.0.hostname }}"
    username: "{{ vsphere_credentials[item.0.hostname].username }}"
    password: "{{ vsphere_credentials[item.0.hostname].password }}"
    validate_certs: False
    switch: "{{ item.1.switch_name }}"
    nics: "{{ item.1.nics }}"
    mtu: "{{ item.1.mtu }}"
  loop: "{{ vcenter_physical_esx_hosts | subelements('switches', { 'skip_missing': true }) }}"

- name: "prepare_esxi | Create physical ESX port groups"
#  when: vsphere_deploy__vcenter.ip  ==  vc_mng.ip
  community.vmware.vmware_portgroup:
    hostname: "{{ item.0.hostname }}"
    username: "{{ vsphere_credentials[item.0.hostname].username }}"
    password: "{{ vsphere_credentials[item.0.hostname].password }}"
    validate_certs: False
    esxi_hostname: "{{ item.0.hostname }}"
    switch_name: "{{ item.1.switch_name }}"
    portgroup_name: "{{ item.1.portgroup_name }}"
    vlan_id: "{{ item.1.vlan_id }}"
    network_policy: "{{ item.1.network_policy }}"
  loop: "{{ vcenter_physical_esx_hosts | subelements('portgroups', { 'skip_missing': true }) }}"
#  no_log: true

## ref: https://docs.ansible.com/ansible/latest/collections/community/vmware/vmware_host_dns_module.html#ansible-collections-community-vmware-vmware-host-dns-module
- name: "prepare_esxi | Configure DNS for an ESXi host"
#  delegate_to: localhost
  community.vmware.vmware_host_dns:
    hostname: "{{ item.hostname }}"
    username: "{{ vsphere_credentials[item.hostname].username }}"
    password: "{{ vsphere_credentials[item.hostname].password }}"
    validate_certs: False
    type: "{{ item.network_type | d('dhcp') }}"
    device: "{{ item.network_device | d('vmk0') }}"
    host_name: "{{ item.hostname }}"
    domain: "{{ item.dns_domain }}"
    dns_servers: "{{ item.dns_servers }}"
    search_domains: "{{ item.search_domains }}"
  loop: "{{ vcenter_physical_esx_hosts }}"

- name: "Mount NFS datastores"
  community.vmware.vmware_host_datastore:
    hostname: "{{ item.1.hostname }}"
    username: "{{ vsphere_credentials[item.1.hostname].username }}"
    password: "{{ vsphere_credentials[item.1.hostname].password }}"
    validate_certs: no
    datastore_name: '{{ item.0.name }}'
    datastore_type: '{{ item.0.type }}'
    nfs_server: '{{ item.0.server }}'
    nfs_path: '{{ item.0.path }}'
    nfs_ro: no
    state: present
  with_nested:
    - "{{ vmware_host_datastores }}"
    - "{{ vcenter_physical_esx_hosts }}"

