//
// /etc/default/bind9
//
{{ 'Ansible managed' | comment(format="// {}") }}
//
#
# run resolvconf?
RESOLVCONF=no

{% if bind_disable_ipv6 is sameas true %}
OPTIONS="-u bind -4"
{% else %}
OPTIONS="-u bind"
{% endif %}
