//
// rndc.conf
//
{{ 'Ansible managed' | comment(format="// {}") }}
{% for key in bind_tsig_keys %}
{% if key.name == "rndc-key" %}
# Start of rndc.conf
## ref: https://opensource.com/article/19/4/getting-started-openstack-designate

include "{{ bind_rndc_dir }}/rndc.key";
options {
        default-key "rndc-key";
        default-server {{ ansible_host }};
        default-port 953;
};
{% endif %}
{% endfor %}
# End of rndc.conf
