## ref: https://superuser.com/questions/1394724/how-to-prevent-ubuntu-18-04-1-unattended-install-using-preseed-from-booting-to-l

### Localization
# Locale sets language and country.
d-i debian-installer/locale string en_US

# Keyboard selection.
#d-i console-tools/archs select at
d-i console-keymaps-at/keymap select us
