#jinja2: lstrip_blocks: "True", trim_blocks: "True"
{{ ansible_managed | comment }}

{% if item.name is defined %}
NAME={{ item.name }}
{% endif -%}
DEVICE={{ item.device }}
TYPE=Bridge
{% if item.bootproto == "static" %}
BOOTPROTO=none
    {% if item.mtu is defined %}
MTU={{ item.mtu }}
    {% endif -%}

    {% if item.stp is defined %}
STP={{ item.stp }}
    {% endif -%}

    {% if item.address is defined %}
IPADDR={{ item.address }}
    {% endif -%}

    {% if item.netmask is defined %}
NETMASK={{ item.netmask }}
    {% endif -%}

    {% if item.gateway is defined %}
GATEWAY={{ item.gateway }}
    {% endif -%}

{% endif -%}

{% if item.dns_nameservers is defined %}
    {% for dns_nameserver in item.dns_nameservers %}
DNS{{ loop.index }}={{ dns_nameserver }}
    {% endfor %}
{% endif -%}

{% if item.bootproto == 'dhcp' %}
BOOTPROTO=dhcp
    {% if item.mtu is defined %}
MTU={{ item.mtu }}
    {% endif -%}

    {% if item.stp is defined %}
STP={{ item.stp }}
    {% endif %}
{% endif -%}

{% if item.onboot is defined %}
ONBOOT={{ item.onboot | bool | ternary("yes", "no") }}
{% endif -%}

{% if item.nm_controlled is defined %}
NM_CONTROLLED={{ item.nm_controlled }}
{% endif -%}

{% if item.ipv6_address is defined %}
IPV6INIT="yes"
IPV6_AUTOCONF="yes"
IPV6_DEFROUTE="yes"
IPV6_FAILURE_FATAL="no"
IPV6_FORWARDING="yes"
IPV6_PEERDNS="yes"
IPV6_PEERROUTES="yes"
IPV6_PRIVACY="no"
IPV6ADDR={{ item.ipv6_address }}
{% endif -%}

{% if item.ipv6_gateway is defined %}
IPV6_DEFAULTGW="{{ item.ipv6_gateway }}"
{% endif -%}

{% if item.defroute is defined %}
DEFROUTE={{ item.defroute | bool | ternary("yes", "no") }}
{% endif -%}

{% if item.mtu is defined %}
MTU={{ item.mtu }}
{% endif -%}

{% if item.bridging_opts is defined %}
BRIDGING_OPTS={{ item.bridging_opts }}
{% endif %}

{% if item.firewalld_zone is defined %}
ZONE={{ item.firewalld_zone }}
{% endif %}
