{{ ansible_managed | comment }}

auto {{ item.device }}
iface {{ item.device }} inet {% if item.bootproto is defined %}{{ item.bootproto }}{% elif item.cidr is defined or item.address is defined %}static{% else %}dhcp{% endif %}

{% include 'Debian_ipv4_config.j2' %}
{% include 'Debian_resolvconf.j2' %}
{% include 'route_Debian.j2' %}
{% if item.bridge_ports is defined %}        
    bridge_ports           {{ item.bridge_ports | join(' ') }}
{% else %}
    bridge_ports           none 
{% endif %}
{% if item.bridge_ageing is defined %}        
    bridge_ageing          {{ item.bridge_ageing }}
{% endif %}
{% if item.bridge_bridgeprio is defined %}        
    bridge_bridgeprio      {{ item.bridge_bridgeprio }}
{% endif %}
{% if item.bridge_fd is defined %}        
    bridge_fd              {{ item.bridge_fd }}
{% endif %}
{% if item.bridge_gcint is defined %}        
    bridge_gcint           {{ item.bridge_gcint }}
{% endif %}
{% if item.bridge_hello is defined %}        
    bridge_hello           {{ item.bridge_hello }}
{% endif %}
{% if item.hwaddr is defined %}
    bridge_hw              {{ item.hwaddr }}
{% endif %}
{% if item.bridge_maxage is defined %}        
    bridge_maxage          {{ item.bridge_maxage }}
{% endif %}
{% if item.bridge_maxwait is defined %}        
    bridge_maxwait         {{ item.bridge_maxwait }}
{% endif %}
{% if item.bridge_pathcost is defined %}        
    bridge_pathcost        {{ item.bridge_pathcost }}
{% endif %}
{% if item.bridge_portprio is defined %}        
    bridge_portprio        {{ item.bridge_portprio }}
{% endif %}
{% if item.bridge_stp is defined %}        
    bridge_stp             {{ item.bridge_stp }}
{% endif %}
{% if item.bridge_waitport is defined %}        
    bridge_waitport       {{ item.bridge_waitport }}
{% endif %}
{% if item.options is defined %}
{% for option in item.options %}
    {{ option }}
{% endfor %}
{% endif %}

{% if item.ipv6_address is defined %}
iface {{ item.device }} inet6 static
{% include 'Debian_ipv6_config.j2' %}
{% if item.ipv6_options is defined %}
{% for option in item.ipv6_options %}
    {{ option }}
{% endfor %}
{% endif %}
{% endif %}

