{% if item.ipv6_address is defined %}
    address   {{ item.ipv6_address | ansible.utils.ipaddr('address') }}
    netmask   {{ item.ipv6_address | ansible.utils.ipaddr('prefix') }}
{% if item.ipv6_gateway is defined and item.ipv6_gateway != 'auto' %}
    gateway   {{ item.ipv6_gateway }}
{% elif item.ipv6_gateway is defined and item.ipv6_gateway == 'auto' %}
    gateway   {{ item.ipv6_address | ansible.utils.ipaddr('1') | ansible.utils.ipaddr('address') }}
{% endif %}
{% endif %}
