{{ ansible_managed | comment }}

{% if item.dns_nameservers is defined %}
    dns-nameservers        {{ item.dns_nameservers | join(' ') }}
{% endif %}
{% if item.dns_search is defined %}
    dns-search             {{ item.dns_search }}
{% endif %}
{% if item.dns_domain is defined %}
    dns-domain             {{ item.dns_domain }}
{% endif %}

