{{ ansible_managed | comment }}

auto {{ item.device }}
iface {{ item.device }} inet {% if item.bootproto is defined %}{{ item.bootproto }}{% elif item.cidr is defined or item.address is defined %}static{% else %}dhcp{% endif %}

{% include 'Debian_ipv4_config.j2' %}
{% include 'Debian_resolvconf.j2' %}
{% include 'route_Debian.j2' %}
{% if item.hwaddr is defined %}
    hwaddr ether        {{ item.hwaddr }}
{% endif %}
{% if item.options is defined %}
{% for option in item.options %}
    {{ option }}
{% endfor %}
{% endif %}

{% if item.ipv6_address is defined %}
iface {{ item.device }} inet6 static
{% include 'Debian_ipv6_config.j2' %}
{% if item.ipv6_options is defined %}
{% for option in item.ipv6_options %}
    {{ option }}
{% endfor %}
{% endif %}
{% endif %}

