{{ ansible_managed|comment }}

{% if item.route is defined %}
{% for i in item.route %}
{% if i.cidr is defined %}
    up ip route add {{ i.cidr }} via {{ i.gateway }} dev {{ item.device }}
{% else %}
    up route add -net {{ i.network }} netmask {{ i.netmask }} gw {{ i.gateway }} {{ item.device }}
{% endif %}
{% endfor %}
{% endif %}
