{{ 'Ansible managed' | comment(format="# {}") }}

[Unit]
Description=Certificate Transparency Front End
Documentation=https://github.com/google/certificate-transparency-go/trillian
After=trillian-log.service network-online.target

[Service]
User={{ ct_svc_user }}
Group={{ ct_svc_user }}
WorkingDirectory={{ ct_install_root }}
ExecStart={{ ct_install_root }}/ct_server -log_config {{ ct_install_root }}/config/log_definitions.cfg -log_rpc_server "127.0.0.1:{{ trillian_log_server_grpc }}" -http_endpoint "127.0.0.1:{{ ctfe_server_http }}" -logtostderr
KillMode=process
Restart=on-failure
StandardError=journal
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
PrivateDevices=yes

[Install]
WantedBy=multi-user.target
