{{ 'Ansible managed' | comment(format="# {}") }}

[Unit]
Description=Trillian: General Transparency - Log signer
Documentation=https://github.com/google/trillian
After=trillian-log.service network-online.target

[Service]
User={{ ct_svc_user }}
Group={{ ct_svc_user }}
WorkingDirectory={{ trillian_install_root }}
ExecStart={{ trillian_install_root }}/trillian_log_signer --config=config/log-signer.cfg
KillMode=process
Restart=on-failure
StandardError=journal
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
PrivateDevices=yes

[Install]
WantedBy=multi-user.target
