
- block:

  - name: Disable firewall
    service:
      name: firewalld
      state: stopped
      enabled: no

  #- name: Remove Firewalld Package
  #  package:
  #    name: firewalld
  #    state: absent

  when: not firewalld_enabled | bool

- name: "Configure firewalld"
  when: firewalld_enabled | bool
  block:

#  - name: display firewalld vars json
#    debug:
#      msg:
#        - "firewalld_zones: {{ firewalld_zones | to_nice_json }}"
#        - "firewalld_services: {{ firewalld_services | to_nice_json }}"
#        - "firewalld_ports: {{ firewalld_ports | to_nice_json }}"

#  - name: display firewalld vars
#    when:
#      - firewalld_zones|flatten|d([])|count>0
#      - firewalld_services|flatten|d([])|count>0
#    debug:
#      msg:
#        - "zone: {{ item.0.name }}"
#        - "service: {{ item.1.name }}"
#    with_nested:
#      - "{{ firewalld_zones|flatten }}"
#      - "{{ firewalld_services|flatten }}"
#    loop_control:
#      label: "{{ item.0.name }} - {{ item.1.name }}"

  ## ref: https://docs.ansible.com/ansible/latest/collections/ansible/posix/firewalld_module.html
  - name: Configure firewalld services
    when: 
      - firewalld_zones|flatten|d([])|count>0
      - firewalld_services|flatten|d([])|count>0
    ansible.posix.firewalld:
      zone: "{{ item.0.name }}"
      service: "{{ item.1.name }}"
      permanent: true
      state: enabled
      immediate: yes
    with_nested:
      - "{{ firewalld_zones|flatten }}"
      - "{{ firewalld_services|flatten }}"
    loop_control:
      label: "{{ item.0.name }} - {{ item.1.name }}"
    notify: reload firewalld

  - name: Allow ports through the firewall
    when: 
      - firewalld_zones|flatten|d([])|count>0
      - firewalld_ports|flatten|d([])|count>0
    ansible.posix.firewalld:
      # zone: "{{ firewalld_default_zone }}"
      zone: "{{ item.0.name }}"
      port: "{{ item.1 }}"
      permanent: true
      state: enabled
      immediate: yes
    register: firewalld_result
    failed_when: firewalld_result is failed and 'ALREADY_ENABLED' not in firewalld_result.msg
    with_nested:
      - "{{ firewalld_zones|flatten }}"
      - "{{ firewalld_ports|flatten }}"
    loop_control:
      label: "{{ item.0.name }} - {{ item.1 }}"
    notify: "reload firewalld"

