{{ ansible_managed|comment }}
Set-StrictMode -Version 2
$WarningPreference='stop'
$ErrorActionPreference='stop'

javaw -jar "{{ win_jenkins_agent_jar_path }}" `
  -master "{{ jenkins_agent__controller_url }}" `
  -name "{{ jenkins_agent__name }}" `
{% if jenkins_agent__password_file is defined %}
  -password '@{{ jenkins_agent__password_file }}'
{% elif jenkins_agent__password is defined %}
  -password '{{ jenkins_agent__password }}'
{% endif %}
  -workDir '{{ jenkins_agent__win_base_jenkins_path }}'
