{{ ansible_managed|comment }}
JENKINS_HOST="{{ jenkins_agent__controller | default('') }}"
JENKINS_PORT="{{ jenkins_agent__controller_port }}"
JENKINS_PROTOCOL="{{ jenkins_agent__controller_protocol }}"
JENKINS_AGENT_JAR="{{ jenkins_agent_jar.dest }}"
JENKINS_AGENT_PASSWORD_FILE="{{ jenkins_agent__password_file }}"
JENKINS_AGENT_NAME="{{ jenkins_agent__name }}"
