<service>
  <id>{{ jenkins_agent__task_name|replace(' ', '_')|lower }}</id>
  <name>{{ jenkins_agent__task_name }}</name>
  <description>This service runs Jenkins continuous integration system.</description>
  <env name="JENKINS_HOME" value="%BASE%"/>
  <executable>java</executable>
{% if jenkins_agent__password_file is defined %}
  <arguments>-Xrs -Xms256m -jar "%BASE%\{{ jenkins_agent__jar }}" -url "{{ jenkins_agent__controller_url }}" -workDir "{{ win_base_jenkins_path }}" -name "{{ jenkins_agent__name }}" -secret "@{{ jenkins_agent__password_file }}"</arguments>
{% else %}
  <arguments>-Xrs -Xms256m -jar "%BASE%\{{ jenkins_agent__jar }}" -url "{{ jenkins_agent__controller_url }}" -workDir "{{ win_base_jenkins_path }}" -name "{{ jenkins_agent__name }}" -secret "{{ jenkins_agent__password }}"</arguments>
{% endif %}
  <logmode>rotate</logmode>
</service>
