:9090 {
    basicauth / {{ docker_stack__http_username }} htpasswd={{ docker_container_dir }}/shared/.htpasswd
    proxy / prometheus:9090 {
            transparent
        }

    errors stderr
    tls off
}

:9093 {
    basicauth / {{ docker_stack__http_username }} htpasswd={{ docker_container_dir }}/shared/.htpasswd
    proxy / alertmanager:9093 {
            transparent
        }

    errors stderr
    tls off
}

:9094 {
    basicauth / {{ docker_stack__http_username }} htpasswd={{ docker_container_dir }}/shared/.htpasswd
    proxy / unsee:8080 {
            transparent
        }

    errors stderr
    tls off
}

:3000 {
    proxy / grafana:3000 {
            transparent
            websocket
        }

    errors stderr
    tls off
}

