django-debug-toolbar
django-rest-swagger
pprofile
ipython
unittest2
pep8
flake8
pluggy
pyflakes
pytest
pytest-cov
pytest-django
pytest-pythonpath
pytest-mock
pytest-timeout
pytest-xdist<1.28.0
tox  # for awxkit
logutils
jupyter
matplotlib
backports.tempfile  # support in unit tests for py32+ tempfile.TemporaryDirectory
mockldap
sdb
gprof2dot
atomicwrites
