adal               # via msrestazure
apache-libcloud    # via -r /awx_devel/requirements/requirements_ansible.in
appdirs            # via openstacksdk
applicationinsights  # via azure-cli-core
argcomplete       # via azure-cli-core, knack
azure-cli-core    # via -r /awx_devel/requirements/requirements_ansible.in
azure-cli-nspkg    # via -r /awx_devel/requirements/requirements_ansible.in, azure-cli-core
azure-common      # via -r /awx_devel/requirements/requirements_ansible.in, azure-graphrbac, azure-mgmt-authorization, azure-mgmt-automation, azure-mgmt-batch, azure-mgmt-cdn, azure-mgmt-compute, azure-mgmt-containerinstance, azure-mgmt-containerregistry, azure-mgmt-containerservice, azure-mgmt-cosmosdb, azure-mgmt-devtestlabs, azure-mgmt-dns, azure-mgmt-hdinsight, azure-mgmt-iothub, azure-mgmt-keyvault, azure-mgmt-loganalytics, azure-mgmt-marketplaceordering, azure-mgmt-monitor, azure-mgmt-network, azure-mgmt-rdbms, azure-mgmt-redis, azure-mgmt-resource, azure-mgmt-servicebus, azure-mgmt-sql, azure-mgmt-storage, azure-mgmt-trafficmanager, azure-mgmt-web, azure-storage
azure-graphrbac   # via -r /awx_devel/requirements/requirements_ansible.in
azure-keyvaulta1   # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-authorization  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-automation  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-batch   # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-cdn     # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-compute  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-containerinstance  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-containerregistry  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-containerservice  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-cosmosdb  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-devtestlabs  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-dns     # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-hdinsight  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-iothub  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-keyvault  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-loganalytics  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-marketplaceordering  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-monitor  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-network  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-nspkg; python_version < "3" # via -r /awx_devel/requirements/requirements_ansible.in, azure-mgmt-authorization, azure-mgmt-automation, azure-mgmt-batch, azure-mgmt-cdn, azure-mgmt-compute, azure-mgmt-containerinstance, azure-mgmt-containerregistry, azure-mgmt-containerservice, azure-mgmt-cosmosdb, azure-mgmt-devtestlabs, azure-mgmt-dns, azure-mgmt-hdinsight, azure-mgmt-iothub, azure-mgmt-keyvault, azure-mgmt-loganalytics, azure-mgmt-marketplaceordering, azure-mgmt-monitor, azure-mgmt-network, azure-mgmt-rdbms, azure-mgmt-redis, azure-mgmt-resource, azure-mgmt-servicebus, azure-mgmt-sql, azure-mgmt-storage, azure-mgmt-trafficmanager, azure-mgmt-web
azure-mgmt-rdbms   # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-redis   # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-resource  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-servicebus  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-sql    # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-storage  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-trafficmanager  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-web    # via -r /awx_devel/requirements/requirements_ansible.in
azure-nspkg        # via -r /awx_devel/requirements/requirements_ansible.in, azure-cli-nspkg, azure-common, azure-graphrbac, azure-keyvault, azure-mgmt-nspkg, azure-storage
azure-storage     # via -r /awx_devel/requirements/requirements_ansible.in
backports.ssl-match-hostname  # via -r /awx_devel/requirements/requirements_ansible.in
bcrypt             # via paramiko
boto3            # via -r /awx_devel/requirements/requirements_ansible.in
boto              # via -r /awx_devel/requirements/requirements_ansible.in
botocore        # via boto3, s3transfer
cachetools         # via google-auth
certifi       # via msrest, requests
cffi              # via bcrypt, cryptography, pynacl
chardet            # via requests
colorama           # via azure-cli-core, knack
cryptography         # via adal, azure-keyvault, azure-storage, openstacksdk, paramiko, pyopenssl, requests-credssp, requests-kerberos, requests-ntlm
decorator          # via dogpile.cache, openstacksdk
docutils          # via botocore
dogpile.cache      # via openstacksdk
enum34; python_version < "3" # via cryptography, knack, msrest, ovirt-engine-sdk-python
futures; python_version < "3" # via openstacksdk, s3transfer
google-auth        # via -r /awx_devel/requirements/requirements_ansible.in
humanfriendly       # via azure-cli-core
idna                 # via requests
ipaddress; python_version < "3" # via cryptography, openstacksdk
iso8601           # via keystoneauth1, openstacksdk
isodate            # via msrest
jinja2            # via -r /awx_devel/requirements/requirements_ansible.in
jmespath           # via azure-cli-core, boto3, botocore, knack, openstacksdk
jsonpatch           # via openstacksdk
jsonpointer          # via jsonpatch
keystoneauth1     # via openstacksdk
knack              # via azure-cli-core
lxml               # via ncclient
markupsafe         # via jinja2
monotonic; python_version < "3" # via humanfriendly
msrest             # via -r /awx_devel/requirements/requirements_ansible.in, azure-cli-core, azure-keyvault, azure-mgmt-authorization, azure-mgmt-automation, azure-mgmt-compute, azure-mgmt-containerinstance, azure-mgmt-containerservice, azure-mgmt-cosmosdb, azure-mgmt-devtestlabs, azure-mgmt-dns, azure-mgmt-hdinsight, azure-mgmt-iothub, azure-mgmt-keyvault, azure-mgmt-network, azure-mgmt-rdbms, azure-mgmt-resource, azure-mgmt-servicebus, azure-mgmt-sql, azure-mgmt-storage, azure-mgmt-web, msrestazure
msrestazure        # via -r /awx_devel/requirements/requirements_ansible.in, azure-cli-core, azure-graphrbac, azure-keyvault, azure-mgmt-authorization, azure-mgmt-automation, azure-mgmt-batch, azure-mgmt-cdn, azure-mgmt-compute, azure-mgmt-containerinstance, azure-mgmt-containerregistry, azure-mgmt-containerservice, azure-mgmt-cosmosdb, azure-mgmt-devtestlabs, azure-mgmt-dns, azure-mgmt-hdinsight, azure-mgmt-iothub, azure-mgmt-keyvault, azure-mgmt-loganalytics, azure-mgmt-marketplaceordering, azure-mgmt-monitor, azure-mgmt-network, azure-mgmt-rdbms, azure-mgmt-redis, azure-mgmt-resource, azure-mgmt-servicebus, azure-mgmt-sql, azure-mgmt-storage, azure-mgmt-trafficmanager, azure-mgmt-web
munch              # via openstacksdk
ncclient           # via -r /awx_devel/requirements/requirements_ansible.in
netaddr           # via -r /awx_devel/requirements/requirements_ansible.in
netifaces         # via openstacksdk
ntlm-auth          # via requests-credssp, requests-ntlm
oauthlib           # via requests-oauthlib
openstacksdk      # via -r /awx_devel/requirements/requirements_ansible.in
os-service-types   # via keystoneauth1, openstacksdk
ovirt-engine-sdk-python  # via -r /awx_devel/requirements/requirements_ansible.in
packaging           # via -r /awx_devel/requirements/requirements_ansible.in
paramiko           # via azure-cli-core, ncclient
pbr                # via keystoneauth1, openstacksdk, os-service-types, stevedore
psutil             # via -r /awx_devel/requirements/requirements_ansible.in
pyasn1-modules     # via google-auth
pyasn1             # via pyasn1-modules, requests-credssp, rsa
pycparser           # via cffi
pycurl          # via -r /awx_devel/requirements/requirements_ansible.in, ovirt-engine-sdk-python
pygments           # via azure-cli-core, knack
pyjwt              # via adal, azure-cli-core
pykerberos         # via requests-kerberos
pynacl             # via paramiko
pyopenssl         # via azure-cli-core, requests-credssp
pyparsing          # via packaging
python-dateutil    # via adal, azure-storage, botocore
pyvmomi            # via -r /awx_devel/requirements/requirements_ansible.in
pywinrm[kerberos]  # via -r /awx_devel/requirements/requirements_ansible.in
pyyaml               # via azure-cli-core, knack, openstacksdk
requests-credssp   # via -r /awx_devel/requirements/requirements_ansible.in
requests-kerberos  # via pywinrm
requests-ntlm      # via pywinrm
requests-oauthlib  # via msrest
requests          # via -r /awx_devel/requirements/requirements_ansible.in, adal, apache-libcloud, azure-cli-core, azure-keyvault, azure-storage, keystoneauth1, msrest, pyvmomi, pywinrm, requests-credssp, requests-kerberos, requests-ntlm, requests-oauthlib
requestsexceptions  # via openstacksdk
rsa                  # via google-auth
s3transfer         # via boto3
selectors2         # via ncclient
six               # via azure-cli-core, bcrypt, cryptography, google-auth, isodate, keystoneauth1, knack, munch, ncclient, openstacksdk, ovirt-engine-sdk-python, packaging, pynacl, pyopenssl, python-dateutil, pyvmomi, pywinrm, requests-credssp, stevedore
stevedore         # via keystoneauth1
tabulate           # via azure-cli-core, knack
typing; python_version < "3" # via msrest
urllib3           # via botocore, requests
wheel  # via azure-cli-core (overriden, see upgrade blockers)
xmltodict         # via pywinrm

# The following packages are considered to be unsafe in a requirements file:
pip               # via -r /awx_devel/requirements/requirements_ansible.in, azure-cli-core
setuptools        # via -r /awx_devel/requirements/requirements_ansible.in, ncclient
