version: 1

dn: olcDatabase={1}mdb,cn=config
objectClass: olcMdbConfig
objectClass: olcDatabaseConfig
olcDatabase: {1}mdb
olcDbDirectory: /var/lib/ldap
olcAccess: {0}to attrs=userPassword,shadowLastChange by self write by dn="cn
 =admin,{{ docker_stack_ldap_base_dn }}" write by anonymous auth by * none
olcAccess: {1}to * by * read
olcAccess: {2}to * by self read by dn="cn=admin,{{ docker_stack_ldap_base_dn }}" write b
 y dn="cn=readonly,{{ docker_stack_ldap_base_dn }}" read by * none
olcDbCheckpoint: 512 30
olcDbIndex: objectClass eq
olcDbIndex: uidNumber,gidNumber eq
olcDbIndex: loginShell eq
olcDbIndex: uid,cn eq,sub
olcDbIndex: memberUid eq,sub
olcDbIndex: member,uniqueMember eq
olcDbIndex: sambaSID eq
olcDbIndex: sambaPrimaryGroupSID eq
olcDbIndex: sambaGroupType eq
olcDbIndex: sambaSIDList eq
olcDbIndex: sambaDomainName eq
olcDbIndex: default sub,eq
olcDbMaxSize: 1073741824
olcLastMod: TRUE
olcRootDN: cn=admin,{{ docker_stack_ldap_base_dn }}
olcRootPW: {{ __docker_stack_appspecs__openldap_root_password }}
olcSuffix: {{ docker_stack_ldap_base_dn }}

dn: olcOverlay={0}memberof,olcDatabase={1}mdb,cn=config
objectClass: olcMemberOf
objectClass: olcOverlayConfig
olcOverlay: {0}memberof
olcMemberOfDangling: ignore
olcMemberOfGroupOC: groupOfUniqueNames
olcMemberOfMemberAD: uniqueMember
olcMemberOfMemberOfAD: memberOf
olcMemberOfRefInt: TRUE

dn: olcOverlay={1}refint,olcDatabase={1}mdb,cn=config
objectClass: olcRefintConfig
objectClass: olcOverlayConfig
olcOverlay: {1}refint
olcRefintAttribute: owner
olcRefintAttribute: manager
olcRefintAttribute: uniqueMember
olcRefintAttribute: member
olcRefintAttribute: memberOf

