#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}

## LDAP System Users
{% for uid,user_config in docker_stack_ldap_base_user_map.items() %}

dn: cn={{ uid }},{{ docker_stack_ldap_base_dn }}
changetype: add
    {% if user_config.object_class_list|d([])|length > 0 %}
        {% for object_class in user_config.object_class_list %}
objectClass: {{ object_class }}
        {% endfor %}
    {% else %}
objectClass: organizationalRole
objectClass: simpleSecurityObject
    {% endif %}
cn: {{ uid }}
    {% if user_config.user_password is defined %}
userPassword:: {{ user_config.user_password }}
    {% endif %}
    {% if user_config.ssha_password is defined %}
userPassword: {{ user_config.ssha_password }}
    {% endif %}
description: {{ user_config.description | d(uid) }}
{% endfor %}

## LDAP Org Units (OUs)
{% if docker_stack_ldap_domain_ou_map|d({})|dict2items|length>0 %}
    {% for ou,ou_config in docker_stack_ldap_domain_ou_map.items() %}

        {% set _ou = ou_config.ou|d(ou) %}
        {% if ou_config.parent_ou is defined %}
            {% set _ou_dn = 'ou='+_ou+','+ou_config.parent_ou+','+docker_stack_ldap_base_dn %}
        {% else %}
            {% set _ou_dn = 'ou='+_ou+','+docker_stack_ldap_base_dn %}
        {% endif %}
dn: {{ _ou_dn }}
changetype: add
objectClass: top
objectClass: organizationalUnit
ou: {{ ou }}
    {% endfor %}
{% endif %}

## LDAP samba domains
{% for domain_name,domain_config in docker_stack_ldap_samba_domain_map.items() %}

dn: sambaDomainName={{ domain_name }},{{ docker_stack_ldap_base_dn }}
changetype: add
objectClass: sambaDomain
sambaDomainName: {{ domain_name }}
sambaSID: {{ domain_config.sid }}
sambaAlgorithmicRidBase: 1000
sambaForceLogoff: -1
sambaLockoutDuration: 30
sambaLockoutObservationWindow: 30
sambaLockoutThreshold: 0
sambaLogonToChgPwd: 0
sambaMaxPwdAge: -1
sambaMinPwdAge: 0
sambaMinPwdLength: 5
sambaNextUserRid: 1000
sambaPwdHistoryLength: 0
sambaRefuseMachinePwdChange: 0
{% endfor %}

## LDAP Domain Users
{% for user_key,user_config in __docker_stack_ldap_domain_user_map.items() %}

    {% set _uid = user_config.uid|d(user_key) %}
dn: {{ user_config.dn }}
changetype: add
    {% set _object_class_list = user_config.object_class_list %}
    {% if _object_class_list|d([])|length > 0 %}
        {% for object_class in _object_class_list %}
objectClass: {{ object_class }}
        {% endfor %}
    {% endif %}
cn: {{ user_config.cn | d(_uid) }}
    {% if user_config.gecos is defined %}
gecos: {{ user_config.gecos }}
    {% endif %}
    {% if user_config.gid_number is defined %}
gidNumber: {{ user_config.gid_number }}
    {% endif %}
homeDirectory: {{ user_config.homedir | d('/home/' + _uid) }}
sn: {{ user_config.sn | d(_uid) }}
uid: {{ _uid }}
    {% if user_config.uid_number is defined %}
uidNumber: {{ user_config.uid_number }}
    {% endif %}
    {% if user_config.display_name is defined %}
displayName: {{ user_config.display_name }}
    {% endif %}
    {% if user_config.given_name is defined %}
givenName: {{ user_config.given_name }}
    {% endif %}
    {% if user_config.initials is defined %}
initials: {{ user_config.initials }}
    {% endif %}
    {% if user_config.login_shell is defined %}
loginShell: {{ user_config.login_shell }}
    {% else %}
loginShell: /bin/bash
    {% endif %}
    {% if user_config.mail is defined %}
mail: {{ user_config.mail }}
    {% endif %}
    {% if user_config.samba is defined %}
        {% set _samba_sid = user_config.samba.sid %}
        {% set _samba_group_sid = user_config.samba.primary_group_sid | d(_samba_group_sid_default) %}
sambaSID: {{ _samba_sid }}
        {% if user_config.samba.primary_group_sid is defined %}
sambaPrimaryGroupSID: {{ user_config.samba.primary_group_sid }}
        {% endif %}
        {% if user_config.samba.nt_password is defined %}
sambaNTPassword: {{ user_config.samba.nt_password }}
        {% endif %}
        {% if user_config.samba.account_flags is defined %}
sambaAcctFlags: {{ user_config.samba.account_flags }}
        {% else %}
sambaAcctFlags: [XU         ]
        {% endif %}
sambaDomainName: {{ docker_stack_ldap_domain }}
        {% if user_config.homedir|d('') != '/nonexistent' %}
sambaHomeDrive: H:
sambaHomePath: {{ docker_stack_ldap_user_smb_profile_base }}\{{ _uid }}
sambaProfilePath: \\%L\profiles\{{ _uid }}
        {% endif %}
        {% if user_config.samba.workstations is defined %}
sambaUserWorkstations: {{ user_config.samba.workstations }}
        {% endif %}
    {% endif %}
    {% if user_config.user_password is defined %}
userPassword:: {{ user_config.user_password }}
    {% endif %}
    {% if user_config.ssha_password is defined %}
userPassword: {{ user_config.ssha_password }}
    {% endif %}
    {% if user_config.ssh_public_key is defined %}
sshPublicKey: {{ user_config.ssh_public_key }}
    {% endif %}
{% endfor %}

## LDAP Domain Groups
{% for group_key,group_config in __docker_stack_ldap_domain_group_map.items() %}

    {% set group_cn = group_config.cn | d(group_key) %}
dn: {{ group_config.dn }}
changetype: add
    {% set _object_class_list = group_config.object_class_list %}
    {% if _object_class_list|d([])|length > 0 %}
        {% for object_class in _object_class_list %}
objectClass: {{ object_class }}
        {% endfor %}
    {% endif %}
cn: {{ group_cn }}
    {% if group_config.gid_number is defined %}
gidNumber: {{ group_config.gid_number }}
    {% endif %}
    {% if group_config.description is defined %}
description: {{ group_config.description }}
    {% endif %}
    {% if group_config.display_name is defined %}
displayName: {{ group_config.display_name }}
    {% endif %}
    {% if group_config.sudo is defined %}
        {% for sudo_key,sudo_value in group_config.sudo.items() %}
            {% if sudo_key == 'sudoOptions' %}
                {% for sudo_option in sudo_value %}
sudoOption: {{ sudo_option }}
                {% endfor %}
            {% else %}
{{ sudo_key }}: {{ sudo_value }}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if group_config.memberDnList|d([])|length > 0 %}
        {% for uid in group_config.memberDnList %}
member: uid={{ uid }},{{ docker_stack_ldap_user_base_dn }}
        {% endfor %}
    {% endif %}
    {% if group_config.memberUidList|d([])|length > 0 %}
        {% for uid in group_config.memberUidList %}
memberUid: {{ uid }}
        {% endfor %}
    {% endif %}
    {% if group_config.samba is defined %}
        {% set _group_samba_sid = group_config.samba.sid %}
sambaSID: {{ _group_samba_sid }}
sambaGroupType: {{ group_config.samba.group_type | d(2) }}
        {% if group_config.samba.users|d([])|length > 0 %}
            {% for uid in group_config.samba.users %}
                {% set _user_config = __docker_stack_ldap_domain_user_map[uid] %}
                {% set _user_samba_sid = _user_config.samba.sid %}
sambaSIDList: {{ _user_samba_sid }}
            {% endfor %}
        {% endif %}
        {% if group_config.samba.groups|d([])|length > 0 %}
            {% for gid in group_config.samba.groups %}
                {% set _group_config = __docker_stack_ldap_domain_group_map[gid] %}
                {% set _group_samba_sid = _group_config.samba.sid %}
sambaSIDList: {{ _group_samba_sid }}
            {% endfor %}
        {% endif %}
    {% endif %}
{% endfor %}

## LDAP domain hosts
{% if __docker_stack_ldap_domain_host_map|d({})|dict2items|length>0 %}
    {% for host_cn,host_config in __docker_stack_ldap_domain_host_map.items() %}

dn: {{ host_config.dn }}
changetype: add
        {% set _object_class_list = host_config.object_class_list %}
        {% if _object_class_list|d([])|length > 0 %}
            {% for object_class in _object_class_list %}
objectClass: {{ object_class }}
            {% endfor %}
        {% endif %}
cn: {{ host_cn }}
        {% if host_config.gid_number is defined %}
gidNumber: {{ host_config.gid_number }}
        {% endif %}
homeDirectory: /dev/null
uid: {{ host_cn }}$
        {% if host_config.uid_number is defined %}
uidNumber: {{ host_config.uid_number }}
        {% endif %}
description: {{ host_config.description | d(host_cn) }}
displayName: {{ host_config.display_name | d(host_cn) }}
loginShell: /bin/false
        {% if host_config.samba is defined %}
            {% if host_config.samba.sid is defined %}
sambaSID: {{ host_config.samba.sid }}
            {% endif %}
sambaAcctFlags: [W          ]
sambaDomainName: {{ docker_stack_ldap_domain }}
            {% if host_config.samba.primary_group_sid is defined %}
sambaPrimaryGroupSID: {{ host_config.samba.primary_group_sid }}
            {% endif %}
            {% if host_config.samba.nt_password is defined %}
sambaNTPassword: {{ host_config.samba.nt_password }}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
