# https://openbao.org/docs/configuration/
storage "{{ __docker_stack__openbao__storage_backend }}" {
  path = "{{ __docker_stack__openbao__storage_path }}"
}

#listener "tcp" {
#  address     = "{{ __docker_stack__openbao__bind_addr }}:{{ __docker_stack__openbao__bind_http_port }}"
#  tls_disable = {{ __docker_stack__openbao__tls_disable }}
#}

plugin_directory = "{{ __docker_stack__openbao__plugins_dir }}"

api_addr = "{{ __docker_stack__openbao__internal_api_url }}"

{% if __docker_stack__openbao__dev_mode %}
disable_mlock = true
{% endif %}
