{{ 'Ansible managed' | comment(format="# {}") }}

VAULT_ADDR={{ __docker_stack__openbao__internal_api_url }}

# Add this line to explicitly set the cluster address
#VAULT_CLUSTER_ADDR=http://0.0.0.0:8201

OPENBAO_HOME_DIR={{ __docker_stack__openbao__container_home_dir }}
OPENBAO_CONFIG_DIR={{ __docker_stack__openbao__config_dir }}

#ENV_SECRETS_DEBUG=true

#ENTRYPOINT_LOG_LEVEL=DEBUG

################################
## vaulted credentials
{% if docker_stack__swarm_mode | bool %}
ANSIBLE_VAULT_PASSWORD=dksec://ansible_vault_password
{% else %}
ANSIBLE_VAULT_PASSWORD={{ __docker_stack__openbao__cred_ansible_vault_password }}
{% endif %}
