[configuration]
username={{ CSAdminUser }}
password={{ CSAdminPwd }}
#username=admin
#password=password
endpoint=http://{{ CMConfig.ManagementIP }}:8080/client/api
timeout = 30
cloudstack_conf_file={{ cloudstack_conf_file }}
