{% if item.ipv6_address is defined %}
    address   {{ item.ipv6_address | ipaddr('address') }} 
    netmask   {{ item.ipv6_address | ipaddr('prefix') }}
{% if item.ipv6_gateway is defined and item.ipv6_gateway != 'auto' %}
    gateway   {{ item.ipv6_gateway }}
{% elif item.ipv6_gateway is defined and item.ipv6_gateway == 'auto' %}
    gateway   {{ item.ipv6_address | ipaddr('1') | ipaddr('address') }}
{% endif %}
{% endif %}
