{% if item.cidr is defined %}
    address                {{ item.cidr | ipaddr('address') }}
    network                {{ item.cidr | ipaddr('network') }}
    netmask                {{ item.cidr | ipaddr('netmask') }}
    broadcast              {{ item.cidr | ipaddr('broadcast') }}
{% elif item.address is defined and item.netmask is defined %}
{% if item.address is defined %}
    address                {{ item.address }}
{% endif %}
{% if item.netmask is defined %}
    netmask                {{ item.netmask }}
{% endif %}
{% if item.network is defined %}
    network                {{ item.network }}
{% endif %}
{% if item.broadcast is defined %}
    broadcast              {{ item.broadcast }}
{% endif %}
{% endif %}
{% if item.gateway is defined and item.gateway != 'auto' %}
    gateway                {{ item.gateway }}
{% elif item.cidr is defined and item.gateway is defined and item.gateway == 'auto' %}
    gateway                {{ item.cidr | ipaddr('1') | ipaddr('address') }}
{% endif %}

