#jinja2: lstrip_blocks: "True", trim_blocks: "True"
{{ ansible_managed|comment }}

{% if nic_info.name is defined %}
NAME={{ nic_info.name }}
{% else -%}
NAME={{ nic_info.device }}
{% endif -%}
{% if nic_info.hwaddr is defined %}
HWADDR={{ nic_info.hwaddr }}
{% endif -%}

{% if nic_info.uuid is defined %}
UUID={{ nic_info.uuid }}
{% endif -%}
DEVICE={{ nic_info.device }}

{% if nic_info.bootproto == 'static' %}
BOOTPROTO=static
    {% if nic_info.address is defined %}
IPADDR={{ nic_info.address }}
    {% endif -%}
    {% if nic_info.netmask is defined %}
NETMASK={{ nic_info.netmask }}
    {% endif -%}
    {% if nic_info.gateway is defined %}
GATEWAY={{ nic_info.gateway }}
    {% endif -%}
{% endif -%}

{% if nic_info.bootproto == 'dhcp' %}
DEVICE={{ nic_info.device }}
BOOTPROTO=dhcp
{% endif -%}

{% if nic_info.dns_nameservers is defined %}
    {% for dns_nameserver in nic_info.dns_nameservers %}
DNS{{ loop.index }}={{ dns_nameserver }}
    {% endfor %}
{% endif -%}

{% if nic_info.vlan is defined and nic_info.vlan | bool %}
{% include  "ethernet_RedHat_vlan_options.j2" %}
{% endif %}

{% if nic_info.nm_controlled is defined %}
NM_CONTROLLED={{ nic_info.nm_controlled }}
{% endif -%}

{% if nic_info.ipv6_address is defined %}
IPV6INIT="yes"
IPV6_AUTOCONF="yes"
IPV6_DEFROUTE="yes"
IPV6_FAILURE_FATAL="no"
IPV6_FORWARDING="yes"
IPV6_PEERDNS="yes"
IPV6_PEERROUTES="yes"
IPV6_PRIVACY="no"
IPV6ADDR={{ nic_info.ipv6_address }}
{% endif -%}

{% if nic_info.ipv6_gateway is defined %}
IPV6_DEFAULTGW="{{ nic_info.ipv6_gateway }}"
{% endif -%}

{% if nic_info.onboot is defined %}
ONBOOT={{ nic_info.onboot | bool | ternary("yes", "no") }}
{% endif -%}

{% if nic_info.defroute is defined %}
DEFROUTE={{ nic_info.defroute | bool | ternary("yes", "no") }}
{% endif -%}

{% if nic_info.userctl is defined %}
USERCTL={{ nic_info.userctl | bool | ternary("yes", "no") }}
{% endif -%}

{% if nic_info.mtu is defined %}
MTU={{ nic_info.mtu }}
{% endif -%}

{% if nic_info.firewalld_zone is defined %}
ZONE={{ nic_info.firewalld_zone }}
{% endif %}

{% if nic_info.master is defined %}
MASTER={{ nic_info.master }}
{% endif %}
{% if nic_info.bridge is defined %}
BRIDGE={{ nic_info.bridge }}
{% endif %}

{% if nic_info.slave is defined %}
SLAVE={{ nic_info.slave | bool | ternary("yes", "no") }}
{% endif -%}
