# Shutdown current network configuration
# Ethernet
{% if ether_result is defined and 'results' in ether_result %}{% for item in ether_result.results %}
ifdown {{ item.item.device }}
{% endfor %}{% endif %}
# Bonding
{% if bond_port_result is defined and 'results' in bond_port_result %}{% for item in bond_port_result.results %}
ifdown {{ item.item.1 }}
{% endfor %}{% endif %}
{% if bond_result is defined and 'results' in bond_result %}{% for item in bond_result.results %}
ifdown {{ item.item.device }}
{% endfor %}{% endif %}
# Vlan 
{% if vlan_result is defined %}{% for item in vlan_result.results %}
ifdown {{ item.item.device }}
{% endfor %}{% endif %}
# Bridge
{% if bridge_port_result is defined and 'results' in bridge_port_result %}{% for item in bridge_port_result.results %}
ifdown {{ item.item.1 }}
{% endfor %}{% endif %}
{% if bridge_result is defined and 'results' in bridge_result %}{% for item in bridge_result.results %}
ifdown {{ item.item.device }}
{% endfor %}{% endif %}

# Short delay to prevent issues
sleep 1

# Start new network configuration
# Ethernet
{% if ether_result is defined and 'results' in ether_result %}{% for item in ether_result.results %}
ifup {{ item.item.device }}
{% endfor %}{% endif %}
# Bonding
{% if bond_port_result is defined and 'results' in bond_port_result %}{% for item in bond_port_result.results %}
ifup {{ item.item.1 }}
{% endfor %}{% endif %}
{% if bond_result is defined and 'results' in bond_result %}{% for item in bond_result.results %}
ifup {{ item.item.device }}
{% endfor %}{% endif %}
# Vlan 
{% if vlan_result is defined %}{% for item in vlan_result.results %}
ifup {{ item.item.device }}
{% endfor %}{% endif %}
# Bridge
{% if bridge_port_result is defined and 'results' in bridge_port_result %}{% for item in bridge_port_result.results %}
ifup {{ item.item.1 }}
{% endfor %}{% endif %}
{% if bridge_result is defined and 'results' in bridge_result %}{% for item in bridge_result.results %}
ifup {{ item.item.device }}
{% endfor %}{% endif %}


