{{ '[Link]' }}
{% if item.arp is defined and item.arp in ['true', 'false'] %}
{{ 'ARP=' + item.arp }}
{% endif %}
{% if item.multicast is defined and item.multicast in ['true', 'false'] %}
{{ 'Multicast=' + item.multicast }}
{% endif %}
{% if item.all_multicast is defined and
  item.all_multicast in ['true', 'false'] %}
{{ 'AllMulticast=' + item.all_multicast }}
{% endif %}
{% if item.unmanaged is defined and item.unmanaged in ['true', 'false'] %}
{{ 'Unmanaged=' + item.unmanaged }}
{% endif %}
{% if item.required_for_online is defined and
  item.required_for_online in ['true', 'false'] %}
{{ 'RequiredForOnline=' + item.required_for_online }}
{% endif %}
