{{ '[Bridge]' }}
{% if br.unicast_flood is defined and br.unicast_flood in ['true', 'false'] %}
{{ 'UnicastFlood=' + br.unicast_flood }}
{% endif %}
{% if br.hair_pin is defined and br.hair_pin in ['true', 'false'] %}
{{ 'HairPin=' + br.hair_pin }}
{% endif %}
{% if br.use_bpdu is defined and br.use_bpdu in ['true', 'false'] %}
{{ 'UseBPDU=' + br.use_bpdu }}
{% endif %}
{% if br.fast_leave is defined and br.fast_leave in ['true', 'false'] %}
{{ 'FastLeave=' + br.fast_leave }}
{% endif %}
{% if br.allow_port_to_be_root is defined and
      br.allow_port_to_be_root in ['true', 'false'] %}
{{ 'AllowPortToBeRoot=' + br.allow_port_to_be_root }}
{% endif %}
{% if br.cost is defined and br.cost != '' %}
{{ 'Cost=' ~ br.cost }}
{% endif %}
{% if br.priority is defined and br.priority != '' %}
{{ 'Priority=' ~ br.priority }}
{% endif %}
