{{ '[DHCPV4]' }}
{% if d.use_dns is defined and d.use_dns in ['true', 'false'] %}
{{ 'UseDNS=' + d.use_dns }}
{% endif %}
{% if d.routes_to_dns is defined and d.routes_to_dns in ['true', 'false'] %}
{{ 'RoutesToDNS=' + d.routes_to_dns }}
{% endif %}
{% if d.use_ntp is defined and d.use_ntp in ['true', 'false'] %}
{{ 'UseNTP=' + d.use_ntp }}
{% endif %}
{% if d.use_sip is defined and d.use_sip in ['true', 'false'] %}
{{ 'UseSIP=' + d.use_sip }}
{% endif %}
{% if d.use_mtu is defined and d.use_mtu in ['true', 'false'] %}
{{ 'UseMTU=' + d.use_mtu }}
{% endif %}
{% if d.anonymize is defined and d.anonymize in ['true', 'false'] %}
{{ 'Anonymize=' + d.anonymize }}
{% endif %}
{% if d.send_hostname is defined and d.send_hostname in ['true', 'false'] %}
{{ 'SendHostname=' + d.send_hostname }}
{% endif %}
{% if d.use_hostname is defined and d.use_hostname in ['true', 'false'] %}
{{ 'UseHostname=' + d.use_hostname }}
{% endif %}
{% if d.hostname is defined and d.hostname != '' %}
{{ 'Hostname=' ~ d.hostname }}
{% endif %}
{% if d.use_domains is defined and d.use_domains in ['true', 'false'] %}
{{ 'UseDomains=' + d.use_domains }}
{% endif %}
{% if d.use_routes is defined and d.use_routes in ['true', 'false'] %}
{{ 'UseRoutes=' + d.use_routes }}
{% endif %}
{% if d.use_timezone is defined and d.use_timezone in ['true', 'false'] %}
{{ 'UseTimezone=' + d.use_timezone }}
{% endif %}
{% if d.client_identifier is defined and
      d.client_identifier in ['mac', 'duid'] %}
{{ 'ClientIdentifier=' + d.client_identifier }}
{% endif %}
{% if d.vendor_class_identifier is defined and
      d.vendor_class_identifier != '' %}
{{ 'VendorClassIdentifier=' ~ d.vendor_class_identifier }}
{% endif %}
{% if d.user_class is defined and d.user_class != '' %}
{{ 'UserClass=' ~ d.user_class }}
{% endif %}
{% if d.max_attempts is defined and d.max_attempts != '' %}
{{ 'MaxAttempts=' ~ d.max_attempts }}
{% endif %}
{% if d.duid_type is defined and d.duid_type != '' %}
{{ 'DUIDType=' ~ d.duid_type }}
{% endif %}
{% if d.duid_raw_data is defined and d.duid_raw_data != '' %}
{{ 'DUIDRawData=' ~ d.duid_raw_data }}
{% endif %}
{% if d.iaid is defined and d.iaid != '' %}
{{ 'IAID=' ~ d.iaid }}
{% endif %}
{% if d.request_broadcast is defined and
  d.request_broadcast in ['true', 'false'] %}
{{ 'RequestBroadcast=' + d.request_broadcast }}
{% endif %}
{% if d.route_metric is defined and d.route_metric != '' %}
{{ 'RouteMetric=' ~ d.route_metric }}
{% endif %}
{% if d.route_table is defined and d.route_table != '' %}
{{ 'RouteTable=' ~ d.route_table }}
{% endif %}
{% if d.route_mtu is defined and d.route_mtu != '' %}
{{ 'RouteMTUBytes=' ~ d.route_mtu }}
{% endif %}
{% if d.listen_port is defined and d.listen_port != '' %}
{{ 'ListenPort=' ~ d.listen_port }}
{% endif %}
{% if d.send_release is defined and d.send_release in ['true', 'false'] %}
{{ 'SendRelease=' + d.send_release }}
{% endif %}
{% if d.send_decline is defined and d.send_decline in ['true', 'false'] %}
{{ 'SendDecline=' + d.send_decline }}
{% endif %}
{% if d.blacklist is defined and d.blacklist != '' %}
{% for db in d.blacklist %}
{% if loop.first %}
{{ 'BlackList' + '=' -}}
{% endif %}
{% if db | ansible.utils.ipaddr('host') %}
{{ db -}}
{% endif %}
{% if loop.last %}
{{ '' }}
{% else %}
{{ ' ' -}}
{% endif %}
{% endfor %}
{% endif %}
{% if d.request_options is defined and d.request_options != '' %}
{{ 'RequestOptions=' ~ d.request_options | join(' ') }}
{% endif %}
{% if d.send_option is defined and d.send_option != '' %}
{{ 'SendOption=' + d.send_option }}
{% endif %}
{{ '' }}
{{ '[DHCPV6]' }}
{% if d.rapid_commit is defined and d.rapid_commit in ['true', 'false'] %}
{{ 'RapidCommit=' + d.rapid_commit }}
{% endif %}
{% if d.force_dhcp_v6_pd_other_information is defined and
  d.force_dhcp_v6_pd_other_information in ['true', 'false'] %}
{{ 'ForceDHCPv6PDOtherInformation=' + d.force_dhcp_v6_pd_other_information }}
{% endif %}
{% if d.prefix_delegation_hint is defined and d.prefix_delegation_hint != '' %}
{{ 'PrefixDelegationHint=' + d.prefix_delegation_hint }}
{% endif %}
