{{ '[BridgeVLAN]' }}
{% if bv.vlan is defined and bv.vlan != '' %}
{{ 'VLAN=' ~ bv.vlan }}
{% endif %}
{% if bv.egress_untagged is defined and bv.egress_untagged != '' %}
{{ 'EgressUntagged=' ~ bv.egress_untagged }}
{% endif %}
{% if bv.pvid is defined and bv.pvid != '' %}
{{ 'PVID=' ~ bv.pvid }}
{% endif %}
