
dsmode: local
instance-id: {{ deploy_vm__vm_instance_id }}
local-hostname: {{ vm_hostname }}
network-interfaces: |
    auto eth0
    iface eth0 inet static
        address {{ vm_ip_network }}.{{ vm_ip_suffix }}
        network {{ vm_ip_network }}.0
        netmask 255.255.255.0
        broadcast 255.255.255.255
        gateway 192.168.0.1
        dns_nameservers 192.168.0.1
