{{ ansible_managed | comment }}

{% if __docker_stack__ansibletemplateui__path_prefix is defined %}
SCRIPT_NAME="{{ __docker_stack__ansibletemplateui__path_prefix }}"
{% endif %}

################################
## vaulted credentials
DOCKER_REGISTRY_USERNAME=dksec://docker_registry_username
DOCKER_REGISTRY_PASSWORD=dksec://docker_registry_password

LOG_LEVEL=DEBUG
{% if __docker_stack__ansibletemplateui__ansible_ee_image is defined %}
DOCKER_ANSIBLE_EE_IMAGE={{ __docker_stack__ansibletemplateui__ansible_ee_image }}
{% endif %}
