{{ 'Ansible managed' | comment(format="# {}") }}

OLLAMA_HOST=0.0.0.0:{{ __docker_stack__ollama__internal_http_port }}

#OLLAMA_ORIGINS="http://{{ __docker_stack__ollama__host_addr }};http://{{ ansible_facts['default_ipv4'].address }};http://localhost:8080;http://127.0.0.1"
OLLAMA_ORIGINS=*

# uncomment for troubleshooting
#OLLAMA_DEBUG=true

# optional: keep models loaded longer
OLLAMA_KEEP_ALIVE=24h
