
## ref: https://docs.traefik.io/https/tls/
## ref: https://doc.traefik.io/traefik/v2.3/https/tls/#certificates-stores
tls:
  certificates:
    - certFile: "/certs/{{ docker_stack__ssl_internal_cert_file }}"
      keyFile: "/certs/{{ docker_stack__ssl_internal_privatekey_file }}"
      stores:
        - default
{% if docker_stack__enable_external_route | d(False) %}
    - certFile: "/certs/{{ docker_stack__ssl_external_cert_file }}"
      keyFile: "/certs/{{ docker_stack__ssl_external_privatekey_file }}"
{% endif %}

  stores:
    default:
      defaultCertificate:
        certFile: "/certs/{{ docker_stack__ssl_internal_cert_file }}"
        keyFile: "/certs/{{ docker_stack__ssl_internal_privatekey_file }}"

  options:
    default:
      minVersion: VersionTLS12
#      sniStrict: true
