## source: https://github.com/htpcBeginner/docker-traefik/blob/master/traefik2/rules/tls-opts.yml
## ref: https://github.com/lj020326/docker_swarm-mode.traefik2-example/blob/master/traefik.dynamic.yml
## ref: https://github.com/rlagutinhub/docker_swarm-mode.traefik2-example/blob/master/traefik.dynamic.yml
tls:
  ## ref: https://smallstep.com/hello-mtls/doc/combined/traefik/nginx-proxy
  certificates:
    certFile: "{{ docker_stack__ssl_internal_cert_file }}"
    keyFile: "{{ docker_stack__ssl_internal_privatekey_file }}"
  options:
    mintls12:
      minVersion: VersionTLS12
      cipherSuites:
        - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305
        - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305
        - TLS_AES_128_GCM_SHA256
        - TLS_AES_256_GCM_SHA384
        - TLS_CHACHA20_POLY1305_SHA256
        - TLS_FALLBACK_SCSV # Client is doing version fallback. See RFC 7507
      curvePreferences:
        - CurveP521
        - CurveP384
#      sniStrict: true
    mintls12-strict:
      minVersion: VersionTLS12
      cipherSuites:
        - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305
        - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305
        - TLS_AES_128_GCM_SHA256
        - TLS_AES_256_GCM_SHA384
        - TLS_CHACHA20_POLY1305_SHA256
        - TLS_FALLBACK_SCSV # Client is doing version fallback. See RFC 7507
      curvePreferences:
        - CurveP521
        - CurveP384
      sniStrict: true
    mintls13:
      minVersion: VersionTLS13
      # sniStrict: true # not work def cert
  ## ref: https://smallstep.com/hello-mtls/doc/combined/traefik/nginx-proxy
  stores:
    default:
      defaultCertificate:
        certFile: "{{ docker_stack__ssl_internal_cert_file }}"
        keyFile: "{{ docker_stack__ssl_internal_privatekey_file }}"
