#jinja2: trim_blocks:False
[Unit]
Description=Kubernetes Kube Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Wants=network-online.target
After=network-online.target

[Service]
ExecStart={{ bootstrap_kubernetes_worker__worker_bin_dir }}/kube-proxy \
{%- for setting in bootstrap_kubernetes_worker__worker_kubeproxy_settings | sort %}
  --{{ setting }}={{ bootstrap_kubernetes_worker__worker_kubeproxy_settings[setting] }} {% if not loop.last %}\{% endif %}
{%- endfor %}

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
