---

deploy_ca_certs__ca_domain: example.com

deploy_ca_certs__using_stepca: false
deploy_ca_certs__deploy_intermediate_certs: true
deploy_ca_certs__stepca_start_service: true
deploy_ca_certs__validate_certs: true
deploy_ca_certs__deploy_host_certs: true
deploy_ca_certs__create_cert_bundle: true
deploy_ca_certs__ca_reset_local_certs: true

__deploy_ca_certs__trust_ca_cert_dir: "{{ deploy_ca_certs__trust_ca_cert_dir | d(__deploy_ca_certs__trust_ca_cert_dir_default) }}"

__deploy_ca_certs__trust_ca_update_trust_cmd: "{{ deploy_ca_certs__trust_ca_update_trust_cmd | d(__deploy_ca_certs__trust_ca_update_trust_cmd_default) }}"

__deploy_ca_certs__ca_java_keystore_default: "{{ deploy_ca_certs__ca_java_keystore | d(__deploy_ca_certs__ca_java_keystore_default) }}"

__deploy_ca_certs__script_dir_default: /opt/scripts
__deploy_ca_certs__script_dir: "{{ deploy_ca_certs__script_dir | d(__deploy_ca_certs__script_dir_default) }}"

__deploy_ca_certs__script_dirs:
  - path: "{{ __deploy_ca_certs__script_dir }}"
    recurse: true
__deploy_ca_certs__scripts:
  - src: get-site-cert-info.sh
    dest: "{{ __deploy_ca_certs__script_dir }}"
  - src: validate-cacerts.py
    dest: "{{ __deploy_ca_certs__script_dir }}"
  - src: validate-cacerts-urllib.py
    dest: "{{ __deploy_ca_certs__script_dir }}"

deploy_ca_certs__keystore_cert_base_dir: /usr/share/ca-certs
deploy_ca_certs__keystore_host: ca01.example.int
deploy_ca_certs__keystore_inventory_hostname: ca01
deploy_ca_certs__keystore_hostusing_stepca: false
deploy_ca_certs__keystore_python_interpreter: /usr/bin/python3

deploy_ca_certs__hostname_full: "{{ inventory_hostname_short }}.{{ deploy_ca_certs__ca_domain }}"

deploy_ca_certs__stepca_host_url: https://stepca.example.int/

## no longer needed since now pulled from api call
#deploy_ca_certs__stepca_root_ca_fingerprint: avkagkskgkkakgkkakg0099sbiskksgskl99bisjbjskgllslggskk

########
## MUST use a port other than `80` since it is commonly used by other processes
#__deploy_ca_certs__stepca_acme_http_challenge_proxy_port_default: 80
__deploy_ca_certs__stepca_acme_http_challenge_proxy_port_default: 6980
__deploy_ca_certs__stepca_acme_http_challenge_proxy_port: "{{ deploy_ca_certs__stepca_acme_http_challenge_proxy_port
  | d(__deploy_ca_certs__stepca_acme_http_challenge_proxy_port_default) }}"

deploy_ca_certs__ca_root_cn: ca-root
deploy_ca_certs__pki_ca_root_cert: "{{ deploy_ca_certs__ca_root_cn }}.pem"

deploy_ca_certs__ca_key_dir: /etc/ssl/private

## may get overridden by distribution vars
deploy_ca_certs__local_cert_dir: /usr/local/ssl/certs
deploy_ca_certs__local_key_dir: /usr/local/ssl/private

deploy_ca_certs__ca_java_keystore_enabled: true
deploy_ca_certs__ca_java_keystore_pass: changeit

deploy_ca_certs__trust_ca_cert_extension: pem

deploy_ca_certs__keystore_admin_user: "{{ ansible_ssh_user }}"

##
##
#deploy_ca_certs__ca_provisioner: "{{ deploy_ca_certs__ca_domain }}"
deploy_ca_certs__ca_provisioner: acme

deploy_ca_certs__ca_intermediate_certs_list:
  - domainName: example.com
    commonName: ca.example.com

deploy_ca_certs__ca_service_routes_list:
  - route: route-1.example.com
  - route: route-2.example.com

deploy_ca_certs__external_cacerts: []
#deploy_ca_certs__external_cacerts:
#  - https://files.pythonhosted.org
#  - https://pypi.org

__deploy_ca_certs__log_prefix_fetch: Deploy CA Certs | Fetch certs |
__deploy_ca_certs__log_prefix_fetch_stepca: Deploy CA Certs | Fetch step ca certs |
__deploy_ca_certs__log_prefix_slurp: Deploy CA Certs | Copy certs |
__deploy_ca_certs__log_prefix_trust: Deploy CA Certs | Trust external site CA certs |
__deploy_ca_certs__log_prefix_trust_ext: Deploy CA Certs | Trust external site CA certs |
