[Unit]
Description=DGX Dashboard Socat Forwarder
After=network.target dgx-dashboard.service

[Service]
ExecStart=/usr/bin/socat TCP-LISTEN:{{ __docker_stack__dgx_updates__socat_proxy_port }},fork,bind=0.0.0.0 TCP:127.0.0.1:11000
Restart=always

[Install]
WantedBy=multi-user.target
