{{ ansible_managed | comment(decoration='# ') }}
[Unit]
Description=Ollama Web UI
After=network-online.target ollama.service

[Service]
Type=simple
User={{ bootstrap_llm_server__webui_user }}
Group={{ bootstrap_llm_server__webui_user }}
WorkingDirectory={{ bootstrap_llm_server__webui_home }}/ollama-webui
Environment="OLLAMA_BASE_URL=http://localhost:{{ bootstrap_llm_server__ollama_port }}"
Environment="NODE_ENV=production"
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
