{{ ansible_managed | comment(decoration='# ') }}
[Unit]
Description=Ollama Server
After=network-online.target

[Service]
ExecStart=/usr/local/bin/ollama serve
User={{ bootstrap_llm_server__ollama_user }}
Group={{ bootstrap_llm_server__ollama_user }}
Restart=always
RestartSec=3
Environment="OLLAMA_HOST=0.0.0.0:{{ bootstrap_llm_server__ollama_port }}"

[Install]
WantedBy=default.target
