{{ 'Ansible managed' | comment(format="# {}") }}

# see "man logrotate" for details
{% if bootstrap_logrotate__options | length > 0 %}
{% for option in bootstrap_logrotate__options %}
{{ option }}
{% endfor %}
{% else %}
{% for option in bootstrap_logrotate__distribution_options | default([]) %}
{{ option }}
{% endfor %}
{% endif %}

# packages drop log rotation information into this directory
include {{ bootstrap_logrotate__include_dir }}

# no packages own wtmp, or btmp -- we'll rotate them here
{% if bootstrap_logrotate__wtmp_enable %}
{{ bootstrap_logrotate__wtmp.logs | join(" ") }} {
{% for option in bootstrap_logrotate__wtmp.options %}
    {{ option }}
{% endfor %}
}
{% endif %}

{% if bootstrap_logrotate__btmp_enable %}
{{ bootstrap_logrotate__btmp.logs | join(" ") }} {
{% for option in bootstrap_logrotate__btmp.options %}
    {{ option }}
{% endfor %}
}
{% endif %}

# system-specific logs may be configured here
