---

## added: lj
## following quickstart quide here:
## ref: https://docs.openstack.org/project-deploy-guide/kolla-ansible/latest/quickstart.html
kolla_base_distro: "centos"
kolla_install_type: "source"
openstack_release: "{{ openstack_release }}"

## management networks
network_interface: "{{ openstack_network_interface }}"

## Neutron external (or public) networks
neutron_external_interface: "{{ openstack_neutron_external_interface }}"

## floating IP for management traffic
kolla_internal_vip_address: "{{ openstack_kolla_internal_vip_address }}"
keepalived_virtual_router_id: "51"

#virtualenv: "/opt/openstack"
#ansible_python_interpreter: "{{ ansible_openstack_python_interpreter }}"
#easy_install_available: no

docker_registry: "{{ openstack_docker_registry }}"

##
## we only want to configure the jump host to use the venv - not the target nodes
## so only configure the virtualenv variable and not the ansible_python_interpreter per the following instructs:
##
## ref: https://opendev.org/openstack/kolla-ansible/commit/ddd9d6ae6d1ab0d6fed100343b090d023878a19b
## ref: https://sudomakeinstall.com/uncategorized/openstack-ansible-kolla-on-centos-7-with-python-virtual-env
##
#virtualenv: "/opt/openstack"
#ansible_python_interpreter: "{{ ansible_openstack_python_interpreter }}"
#ansible_python_interpreter: ./venv/bin/python

##
## the easy_install was not working on the jump host (node01 centos) so run without it
## or upgrading virtualenv seems to resolve
##
## NOTE: you might need to upgrade virtualenv if getting the following virtualenv requests error:
## ImportError: cannot import name requests
## ref: https://stackoverflow.com/posts/54100356/timeline
##
## e.g., pip install --upgrade virtualenv
##
#easy_install_available: no

## ref: https://docs.openstack.org/project-deploy-guide/kolla-ansible/latest/multinode.html#deploy-a-registry
#docker_registry: 192.168.1.100:5000
#docker_registry: media.johnson.int:5000
docker_registry: admin2.johnson.int:5000

###################
# OpenStack options
###################
# Use these options to set the various log levels across all OpenStack projects
# Valid options are [ True, False ]
#openstack_logging_debug: "False"

# These roles are required for Kolla to be operation, however a savvy deployer
# could disable some of these required roles and run their own services.
enable_glance: "yes"
#enable_haproxy: "yes"
#enable_haproxy: "no"

# OpenStack services can be enabled or disabled with these options
#enable_ceph: "yes"
enable_cinder: "yes"
