{
  "CN": "{{ __ca_cert_info.common_name }}",
  "key": {
    "algo": "{{ __ca_cert_info.key_algo }}",
    "size": {{ __ca_cert_info.key_size | int }}
  },
  "names": [
    {
      {% if __ca_cert_info.country | d('') | length > 0 %}"C": "{{ __ca_cert_info.country }}",{% endif %}
      {% if __ca_cert_info.state | d('') | length > 0 %}"ST": "{{ __ca_cert_info.state }}",{% endif %}
      {% if __ca_cert_info.locality | d('') | length > 0 %}"L": "{{ __ca_cert_info.locality }}",{% endif %}
      {% if __ca_cert_info.organization | d('') | length > 0 %}"O": "{{ __ca_cert_info.organization }}",{% endif %}
      {% if __ca_cert_info.organizational_unit | d('') | length > 0 %}"OU": "{{ __ca_cert_info.organizational_unit }}",{% endif %}
      {% if __ca_cert_info.email_address | d('') | length > 0 %}"emailAddress": "{{ __ca_cert_info.email_address }}"{% endif %}
    }
  ]
}
