---
# Vault configuration (required for PKI/KV fetches)
deploy_pki_certs__vault_url: "https://vault.example.com:8200"
deploy_pki_certs__vault_token: ""
deploy_pki_certs__vault_mount_path: "pki-intermediate"
deploy_pki_certs__vault_api_version: "v1"

deploy_pki_certs__vault_kv_mount_path: "secret"
#deploy_pki_certs__vault_kv_mount_path: "kv/pki"
deploy_pki_certs__vault_kv_path: "{{ deploy_pki_certs__vault_kv_mount_path }}/trusted_external"
deploy_pki_certs__vault_pki_cert_role_name: "internal-api"

#deploy_pki_certs__certificate_ttl: "720h"
deploy_pki_certs__certificate_ttl: "8760h" # 1 year
deploy_pki_certs__ca_service_routes_list: []
deploy_pki_certs__external_cacerts: []
deploy_pki_certs__validation_url: "{{ deploy_pki_certs__vault_url }}"

#deploy_pki_certs__trust_cert_extension: "crt"
deploy_pki_certs__trust_cert_extension: "pem"
deploy_pki_certs__trust_key_extension: "key"

# The intermediate CA configuration is defined here and can be overridden in inventory
deploy_pki_certs__root_ca_configs:
  cert_basename: "intermediate-ca"
  csr_json_filename: "intermediate-ca-csr.json"
  common_name: "MyOrg Intermediate CA"
  key_algo: "ecdsa"
  key_size: 256

deploy_pki_certs__local_cert_dir: "/usr/local/ssl/certs"
deploy_pki_certs__local_key_dir: "/usr/local/ssl/private"
deploy_pki_certs__java_keystore_enabled: false
deploy_pki_certs__java_keystore_pass: "changeit"

deploy_pki_certs__hostname_full: "{{ ansible_fqdn }}"
deploy_pki_certs__hostname_short: "{{ ansible_hostname }}"

# Variable to store the basename of the intermediate cert
__deploy_pki_certs__vault_pki_ca_cert_basename: "{{ deploy_pki_certs__root_ca_configs.cert_basename }}"

# The intermediate CA source path is now constructed from existing variables
deploy_pki_certs__intermediate_ca_source_path: "{{
  deploy_pki_certs__vault_kv_mount_path }}/intermediate/{{ __deploy_pki_certs__vault_pki_ca_cert_basename }}"

# OS-specific variables (with Debian values as defaults)
__deploy_pki_certs__trust_ca_cacert_dir_default: /usr/local/share/ca-certificates
__deploy_pki_certs__trust_ca_update_trust_cmd_default: update-ca-certificates
__deploy_pki_certs__java_keystore_default: /etc/ssl/certs/java/cacerts
