---
webmin_enabled: true                       # Enable module

webmin_base_dir: "/usr/share/webmin"

webmin_repo_files:
  - "webmin_mirror_somersettechsolutions_co_uk_repository.list"

webmin_repo_key_url: "http://download.webmin.com/jcameron-key.asc"

util_pkg_state: present

webmin_apt_repository: >
  deb [arch=amd64]
  https://download.webmin.com/download/repository {{ ansible_distribution_release }} contrib

#webmin_apt_repository: >
#  deb
#  https://download.webmin.com/download/repository sarge contrib

webmin_tmp:

webmin_modules:
  - url: disk-usage-1.2.wbm.gz

