{{ 'Ansible managed' | comment(format="# {}") }}

#LLAMA_ARG_MODEL=/models/gemma-4-31B-it-Q5_K_M.gguf
#LLAMA_ARG_MODEL_DRAFT=/models/gemma-4-2B-it-Q5_K_M.gguf
LLAMA_ARG_HOST=0.0.0.0
LLAMA_ARG_PORT={{ __docker_stack__llama_cppserver__internal_http_port }}
LLAMA_ARG_CTX_SIZE=32768
LLAMA_ARG_N_GPU_LAYERS=99
LLAMA_ARG_TEMP=0.7
# faster on modern GPUs
LLAMA_ARG_FLASH_ATTN=1
