############
# validate the model configurations are correct at runtime:
# docker exec llama-cpp curl -s http://localhost:8080/v1/models | jq
[gemma-4-31B-it-Q5_K_M]
model = /models/gemma-4-31B-it-Q5_K_M.gguf
ctx-size = 32768
n-gpu-layers = 32
parallel = 1
flash-attn = 1
rope-freq-base = 1000000

[gemma-4-E2B-it-Q5_K_M]
model = /models/gemma-4-E2B-it-Q5_K_M.gguf
ctx-size = 32768
n-gpu-layers = 32
parallel = 1
flash-attn = 1
rope-freq-base = 1000000
