{
  "CN": "{{ __bootstrap_ca_certs__ca_common_name }}",
  "key": {
    "algo": "{{ __bootstrap_ca_certs__ca_key_algo }}",
    "size": {{ __bootstrap_ca_certs__ca_key_size | int }}
  },
  "names": [
    {
      "C": "{{ __bootstrap_ca_certs__ca_country }}",
      "ST": "{{ __bootstrap_ca_certs__ca_state }}",
      "L": "{{ __bootstrap_ca_certs__ca_locality }}",
      "O": "{{ __bootstrap_ca_certs__ca_organization }}",
      "OU": "{{ __bootstrap_ca_certs__ca_organizational_unit }}"
      {% if __bootstrap_ca_certs__ca_email_address | d('') | length > 0 -%}
      ,"emailAddress": "{{ __bootstrap_ca_certs__ca_email_address }}"
      {%- endif %}
    }
  ]
}
