{
  "signing": {
    "default": {
      "expiry": "8760h"
    },
    "profiles": {
      "root_ca": {
        "usages": {{ __bootstrap_ca_certs__ca_root_profile.usages | to_json }},
        "expiry": "{{ __bootstrap_ca_certs__ca_root_profile.expiry }}",
        "ca_constraint": {{ __bootstrap_ca_certs__ca_root_profile.ca_constraint | to_json }}
      },
      "intermediate_ca": {
        "usages": {{ __bootstrap_ca_certs__ca_intermediate_profile.usages | to_json }},
        "expiry": "{{ __bootstrap_ca_certs__ca_intermediate_profile.expiry }}",
        "ca_constraint": {{ __bootstrap_ca_certs__ca_intermediate_profile.ca_constraint | to_json }}
      },
      "server": {
        "usages": {{ __bootstrap_ca_certs__ca_server_profile.usages | to_json }},
        "expiry": "{{ __bootstrap_ca_certs__ca_server_profile.expiry }}"
      },
      "client": {
        "usages": {{ __bootstrap_ca_certs__ca_client_profile.usages | to_json }},
        "expiry": "{{ __bootstrap_ca_certs__ca_client_profile.expiry }}"
      }
    }
  }
}
