{% if openstack_pip_packages is defined %}
{% for package in openstack_pip_packages %}
{% if package.version is defined %}
{{ package.name }}=={{ package.version }}
{% else %}
{{ package.name|e }}
{% endif -%}
{% endfor %}
{% else %}

{% if openstack_ansible_version is defined %}
ansible=={{openstack_ansible_version}}
{% else -%}
ansible
{% endif -%}

## for kolla-ansible
## ref: https://docs.openstack.org/project-deploy-guide/kolla-ansible/latest/quickstart.html
kolla-ansible
kolla

## to operate openstack
## ref: https://www.redhat.com/en/blog/full-stack-automation-ansible-and-openstack
python-openstackclient

python-cinderclient
python-glanceclient
python-heatclient
python-keystoneclient
python-neutronclient
python-novaclient
python-swiftclient
python-designateclient
{% endif -%}
