
## ref: https://stackoverflow.com/questions/46245684/how-to-get-traefik-to-redirect-to-specific-non-docker-port-from-inside-docker
## ref: https://www.smarthomebeginner.com/traefik-reverse-proxy-tutorial-for-docker/#Proxying_Non-Docker_Host_System_Apps
#loglevel = "ERROR"
loglevel = "INFO"

[backends]
[backends.nginx]
        [backends.nginx.servers.nginx]
            url = "https://admin2.johnson.int:8443"

[frontends]
        [frontends.domain]
                backend = "nginx"
        [frontends.domain.routes.domain]
                rule = "Host:www.dettonville.org"
