
http:
  middlewares:
    secured:
      chain:
        middlewares:
        - sslheaders
        - https-only
        - known-ips
        - auth-users


#    redirect:
#      redirectScheme:
#        scheme: "https"
#{% if __docker_stack__appspecs__base_traefik_https != '443' %}
#        port: "{{ __docker_stack__appspecs__base_traefik_https }}"
#{% endif %}

    https-only:
      redirectScheme:
        scheme: "https"
{% if __docker_stack__appspecs__base_traefik_https != '443' %}
        port: "{{ __docker_stack__appspecs__base_traefik_https }}"
{% endif %}

    auth-users:
      basicAuth:
        usersFile: "/shared/.htpasswd"
#        users:
#        - "test:$apr1$H6uskkkW$IgXLP6ewTrSuBkTrqE8wj/"

    known-ips:
      ipWhiteList:
        sourceRange:
        - "192.168.0.0/16"
        - "172.0.0.0/8"
        - "127.0.0.1/32"

### ref: https://docs.traefik.io/https/tls/
#tls:
#  certificates:
#    - certFile: "/certs/{{ docker_stack__ssl_internal_cert_file }}"
#      keyFile: "/certs/{{ docker_stack__ssl_internal_privatekey_file }}"
#
##  stores:
##    default:
##      defaultCertificate:
##        certFile: "/certs/{{ docker_stack__ssl_internal_cert_file }}"
##        keyFile: "/certs/{{ docker_stack__ssl_internal_privatekey_file }}"
#
#  options:
#    default:
#      minVersion: VersionTLS12
##      sniStrict: true
#
#
