# Putting non-docker apps behind traefik proxy.  This example shows registry.
[backends]
  [backends.backend-registry]
    [backends.backend-registry.servers]
      [backends.backend-registry.servers.server-registry-ext]
        url = "https://{{ __docker_stack_appspecs__registry_backend_endpoint }}"
        weight = 0

[frontends]
  [frontends.frontend-registry]
    backend = "backend-registry"
    passHostHeader = true
#    basicAuth = [
#      HTTP Authentication
#      "xxx:yyyyyyyyyyyy",
#    ]
    [frontends.frontend-registry.routes]
          [frontends.frontend-registry.routes.route-registry-ext]
        rule = "Host:{{ __docker_stack_appspecs__registry_frontend_fqdn }}"
