
http:
  serversTransports:
    ServersTransport0:
      serverName: {{ docker_stack_internal_domain }}
#      insecureSkipVerify: true
      rootCAs:
        - "/certs/{{ docker_stack_ssl_internal_root_cacert_file }}"
        - "/certs/{{ docker_stack_ssl_internal_cacert_file }}"
      maxIdleConnsPerHost: 42
      forwardingTimeouts:
        dialTimeout: 42s
        responseHeaderTimeout: 42s
        idleConnTimeout: 42s
    skipVerifyTransport0:
      serverName: "{{ docker_stack_internal_domain }}"
      insecureSkipVerify: true
      maxIdleConnsPerHost: 42
