# backports.list {{ ansible_managed }}

deb {{ 'http://' if not bootstrap_linux_package__apt_repo_use_https else 'https://' }}{{ bootstrap_linux_package__apt_backports_mirror_url }} {{ ansible_facts['distribution_release'] }}-backports main
{{ '# ' if not bootstrap_linux_package__apt_debsrc else '' }}deb-src {{ 'http://' if not bootstrap_linux_package__apt_repo_use_https else 'https://' }}{{ bootstrap_linux_package__apt_backports_mirror_url }} {{ ansible_facts['distribution_release'] }}-backports main
