# sources.list {{ ansible_managed }}
{% if ansible_facts['distribution'] == 'Debian' %}
deb {{ 'http://' if not bootstrap_linux_package__apt_repo_use_https else 'https://' }}{{ bootstrap_linux_package__apt_mirror_url }}/ {{ ansible_facts['distribution_release'] }} main {{ '' if not bootstrap_linux_package__apt_contrib_nonfree else 'contrib non-free' }}
{{ '# ' if not bootstrap_linux_package__apt_debsrc else '' }}deb-src {{ 'http://' if not bootstrap_linux_package__apt_repo_use_https else 'https://' }}{{ bootstrap_linux_package__apt_mirror_url }}/ {{ ansible_facts['distribution_release'] }} main {{ '' if not bootstrap_linux_package__apt_contrib_nonfree else 'contrib non-free' }}

{% if ansible_facts['distribution_major_version'] | int >= 11 %}
{% set __deb_security = '-security' %}
{% else %}
{% set __deb_security = '/updates' %}
{% endif %}
deb {{ 'http://' if not bootstrap_linux_package__apt_repo_use_https else 'https://' }}{{ bootstrap_linux_package__apt_security_mirror_url }} {{ ansible_facts['distribution_release'] }}{{ __deb_security }} main
{{ '# ' if not bootstrap_linux_package__apt_debsrc else '' }}deb-src {{ 'http://' if not bootstrap_linux_package__apt_repo_use_https else 'https://' }}{{ bootstrap_linux_package__apt_security_mirror_url }} {{ ansible_facts['distribution_release'] }}{{ __deb_security }} main

deb {{ 'http://' if not bootstrap_linux_package__apt_repo_use_https else 'https://' }}{{ bootstrap_linux_package__apt_updates_mirror_url }}/ {{ ansible_facts['distribution_release'] }}-updates main {{ '' if not bootstrap_linux_package__apt_contrib_nonfree else 'contrib non-free' }}
{{ '# ' if not bootstrap_linux_package__apt_debsrc else '' }}deb-src {{ 'http://' if not bootstrap_linux_package__apt_repo_use_https else 'https://' }}{{ bootstrap_linux_package__apt_updates_mirror_url }}/ {{ ansible_facts['distribution_release'] }}-updates main {{ '' if not bootstrap_linux_package__apt_contrib_nonfree else 'contrib non-free' }}
{% endif %}

{% if ansible_facts['distribution'] == 'Ubuntu' %}
deb {{ 'http://' if not bootstrap_linux_package__apt_repo_use_https else 'https://' }}{{ bootstrap_linux_package__apt_mirror_url }}/ {{ ansible_facts['distribution_release'] }} main restricted
{{ '# ' if not bootstrap_linux_package__apt_debsrc else '' }}deb-src {{ 'http://' if not bootstrap_linux_package__apt_repo_use_https else 'https://' }}{{ bootstrap_linux_package__apt_mirror_url }}/ {{ ansible_facts['distribution_release'] }} main restricted

deb {{ 'http://' if not bootstrap_linux_package__apt_repo_use_https else 'https://' }}{{ bootstrap_linux_package__apt_updates_mirror_url }}/ {{ ansible_facts['distribution_release'] }}-updates main restricted
{{ '# ' if not bootstrap_linux_package__apt_debsrc else '' }}deb-src {{ 'http://' if not bootstrap_linux_package__apt_repo_use_https else 'https://' }}{{ bootstrap_linux_package__apt_updates_mirror_url }}/ {{ ansible_facts['distribution_release'] }}-updates main restricted

deb {{ 'http://' if not bootstrap_linux_package__apt_repo_use_https else 'https://' }}{{ bootstrap_linux_package__apt_mirror_url }}/ {{ ansible_facts['distribution_release'] }} universe
{{ '# ' if not bootstrap_linux_package__apt_debsrc else '' }}deb-src {{ 'http://' if not bootstrap_linux_package__apt_repo_use_https else 'https://' }}{{ bootstrap_linux_package__apt_mirror_url }}/ {{ ansible_facts['distribution_release'] }} universe
deb {{ 'http://' if not bootstrap_linux_package__apt_repo_use_https else 'https://' }}{{ bootstrap_linux_package__apt_mirror_url }}/ {{ ansible_facts['distribution_release'] }}-updates universe
{{ '# ' if not bootstrap_linux_package__apt_debsrc else '' }}deb-src {{ 'http://' if not bootstrap_linux_package__apt_repo_use_https else 'https://' }}{{ bootstrap_linux_package__apt_mirror_url }}/ {{ ansible_facts['distribution_release'] }}-updates universe

deb {{ 'http://' if not bootstrap_linux_package__apt_repo_use_https else 'https://' }}{{ bootstrap_linux_package__apt_mirror_url }}/ {{ ansible_facts['distribution_release'] }} multiverse
{{ '# ' if not bootstrap_linux_package__apt_debsrc else '' }}deb-src {{ 'http://' if not bootstrap_linux_package__apt_repo_use_https else 'https://' }}{{ bootstrap_linux_package__apt_mirror_url }}/ {{ ansible_facts['distribution_release'] }} multiverse
deb {{ 'http://' if not bootstrap_linux_package__apt_repo_use_https else 'https://' }}{{ bootstrap_linux_package__apt_mirror_url }}/ {{ ansible_facts['distribution_release'] }}-updates multiverse
{{ '# ' if not bootstrap_linux_package__apt_debsrc else '' }}deb-src {{ 'http://' if not bootstrap_linux_package__apt_repo_use_https else 'https://' }}{{ bootstrap_linux_package__apt_mirror_url }}/ {{ ansible_facts['distribution_release'] }}-updates multiverse

{% if bootstrap_linux_package__apt_backports == true %}
deb {{ 'http://' if not bootstrap_linux_package__apt_repo_use_https else 'https://' }}{{ bootstrap_linux_package__apt_mirror_url }}/ {{ ansible_facts['distribution_release'] }}-backports main restricted universe multiverse
{{ '# ' if not bootstrap_linux_package__apt_debsrc else '' }}deb-src {{ 'http://' if not bootstrap_linux_package__apt_repo_use_https else 'https://' }}{{ bootstrap_linux_package__apt_mirror_url }}/ {{ ansible_facts['distribution_release'] }}-backports main restricted universe multiverse
{% endif %}

deb {{ 'http://' if not bootstrap_linux_package__apt_repo_use_https else 'https://' }}{{ bootstrap_linux_package__apt_mirror_url }}/ {{ ansible_facts['distribution_release'] }}-security main restricted
{{ '# ' if not bootstrap_linux_package__apt_debsrc else '' }}deb-src {{ 'http://' if not bootstrap_linux_package__apt_repo_use_https else 'https://' }}{{ bootstrap_linux_package__apt_mirror_url }}/ {{ ansible_facts['distribution_release'] }}-security main restricted
deb {{ 'http://' if not bootstrap_linux_package__apt_repo_use_https else 'https://' }}{{ bootstrap_linux_package__apt_mirror_url }}/ {{ ansible_facts['distribution_release'] }}-security universe
{{ '# ' if not bootstrap_linux_package__apt_debsrc else '' }}deb-src {{ 'http://' if not bootstrap_linux_package__apt_repo_use_https else 'https://' }}{{ bootstrap_linux_package__apt_mirror_url }}/ {{ ansible_facts['distribution_release'] }}-security universe
deb {{ 'http://' if not bootstrap_linux_package__apt_repo_use_https else 'https://' }}{{ bootstrap_linux_package__apt_mirror_url }}/ {{ ansible_facts['distribution_release'] }}-security multiverse
{{ '# ' if not bootstrap_linux_package__apt_debsrc else '' }}deb-src {{ 'http://' if not bootstrap_linux_package__apt_repo_use_https else 'https://' }}{{ bootstrap_linux_package__apt_mirror_url }}/ {{ ansible_facts['distribution_release'] }}-security multiverse
{% endif %}
