{{ '[DeficitRoundRobinScheduler]' }}
{% if bd.parent is defined and bd.parent != '' %}
{{ 'Parent=' ~ bd.parent }}
{% endif %}
{% if bd.handle is defined and bd.handle != '' %}
{{ 'Handle=' ~ bd.handle }}
{% endif %}
