{{ '[PFIFOFast]' }}
{% if bpf.parent is defined and bpf.parent != '' %}
{{ 'Parent=' ~ bpf.parent }}
{% endif %}
{% if bpf.handle is defined and bpf.handle != '' %}
{{ 'Handle=' ~ bpf.handle }}
{% endif %}
