{{ '[PFIFOHeadDrop]' }}
{% if bph.parent is defined and bph.parent != '' %}
{{ 'Parent=' ~ bph.parent }}
{% endif %}
{% if bph.handle is defined and bph.handle != '' %}
{{ 'Handle=' ~ bph.handle }}
{% endif %}
{% if bph.packet_limit is defined and bph.packet_limit != '' %}
{{ 'PacketLimit=' ~ bph.packet_limit }}
{% endif %}
