{{ '[HierarchyTokenBucketClass]' }}
{% if bhc.parent is defined and bhc.parent != '' %}
{{ 'Parent=' ~ bhc.parent }}
{% endif %}
{% if bhc.classid is defined and bhc.classid != '' %}
{{ 'ClassId=' ~ bhc.classid }}
{% endif %}
{% if bhc.prio is defined and bhc.prio != '' %}
{{ 'Priority=' ~ bhc.prio }}
{% endif %}
{% if bhc.quantum is defined and bhc.quantum != '' %}
{{ 'QuantumBytes=' ~ bhc.quantum }}
{% endif %}
{% if bhc.mtu is defined and bhc.mtu != '' %}
{{ 'MTUBytes=' ~ bhc.mtu }}
{% endif %}
{% if bhc.overhead is defined and bhc.overhead != '' %}
{{ 'OverheadBytes=' ~ bhc.overhead }}
{% endif %}
{% if bhc.rate is defined and bhc.rate != '' %}
{{ 'Rate=' ~ bhc.rate }}
{% endif %}
{% if bhc.ceil is defined and bhc.ceil != '' %}
{{ 'CeilRate=' ~ bhc.ceil }}
{% endif %}
{% if bhc.burst is defined and bhc.burst != '' %}
{{ 'BufferBytes=' ~ bhc.burst }}
{% endif %}
{% if bhc.cburst is defined and bhc.cburst != '' %}
{{ 'CeilBufferBytes=' ~ bhc.cburst }}
{% endif %}
