{{ '[HeavyHitterFilter]' }}
{% if bf.parent is defined and bf.parent != '' %}
{{ 'Parent=' ~ bf.parent }}
{% endif %}
{% if bf.handle is defined and bf.handle != '' %}
{{ 'Handle=' ~ bf.handle }}
{% endif %}
{% if bf.packet_limit is defined and bf.packet_limit != '' %}
{{ 'PacketLimit=' ~ bf.packet_limit }}
{% endif %}
