{{ '[CAKE]' }}
{% if bc.parent is defined and bc.parent != '' %}
{{ 'Parent=' ~ bc.parent }}
{% endif %}
{% if bc.handle is defined and bc.handle != '' %}
{{ 'Handle=' ~ bc.handle }}
{% endif %}
{% if bc.overhead is defined and bc.overhead != '' %}
{{ 'Overhead=' ~ bc.overhead }}
{% endif %}
{% if bc.bandwidth is defined and bc.bandwidth != '' %}
{{ 'Bandwidth=' ~ bc.bandwidth }}
{% endif %}
