{{ '[HierarchyTokenBucket]' }}
{% if bh.parent is defined and bh.parent != '' %}
{{ 'Parent=' ~ bh.parent }}
{% endif %}
{% if bh.handle is defined and bh.handle != '' %}
{{ 'Handle=' ~ bh.handle }}
{% endif %}
{% if bh.default is defined and bh.default != '' %}
{{ 'DefaultClass=' ~ bh.default }}
{% endif %}
{% if bh.r2q is defined and bh.r2q != '' %}
{{ 'RateToQuantum=' ~ bh.r2q }}
{% endif %}
