#Requirement: Set environmental variables: USERDIR, PUID, PGID, MYSQL_ROOT_PASSWORD, and TZ as explained in the reference.

version: "3.6"
services:

  ## ref: https://bitsanddragons.wordpress.com/2018/05/17/a-docker-cobbler-server-on-centos-7/
  ## ref: https://github.com/ContainerSolutions/docker-cobbler
  cobbler:
    container_name: "cobbler"
    image: {{ docker_registry }}/cobbler:latest
    privileged: true
    ports:
      - 69:69
      - 9080:80
      - 9443:443
      - 25151:25151
    restart: "unless-stopped"
    networks:
      - internal
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
#      - {{ docker_config_dir }}:/etc/cobbler
#      - {{ docker_config_dir }}/var/www/cobbler/images:/var/www/cobbler/images
#      - {{ docker_config_dir }}/var/www/cobbler/ks_mirror:/var/www/cobbler/ks_mirror
#      - {{ docker_config_dir }}/var/www/cobbler/links:/var/www/cobbler/links
#      - {{ docker_config_dir }}/var/lib/cobbler/config:/var/lib/cobbler/config
#      - {{ docker_config_dir }}/var/lib/tftpboot:/var/lib/tftpboot
#      - {{ docker_config_dir }}/dist/centos:/mnt:ro

networks:
  default:
    driver: bridge

  internal:
    external: false
    attachable: true


