---

docker_stack_appspec_services__samba:
  ## ref: https://github.com/andrespp/docker-samba-ldap
  samba:
    container_name: "samba"
    image: "andrespp/samba-ldap"
    restart: "unless-stopped"
    networks:
#      - internal
      - net
    environment:
      SAMBA_LDAP_PASSWORD: "{{ ldap_admin_password }}"
    ports:
      - "445:445"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "{{ docker_stack_dir }}/samba/libnss-ldap.conf:/etc/libnss-ldap.conf:ro"
      - "{{ docker_stack_dir }}/samba/smb.conf:/etc/samba/smb.conf:ro"
      - "{{ docker_docker_stack_samba_data_path }}:/data"

