---
#jinja2: lstrip_blocks: True

## ref: https://github.com/realtarget/traefik2-docker-stack/blob/master/gitlab/docker-compose.yml
## ref: https://blog.ramjee.uk/docker-desktop-gitlab-and-kubernetes/
## ref: https://docs.gitlab.com/omnibus/settings/smtp.html#smtp-without-ssl
docker_stack_appspec_services__gitlab:
  # The GitLab container itself
  gitlab:
    image: 'gitlab/gitlab-ce:latest'
    restart: always
    privileged: true
    hostname: 'gitlab.{{ docker_stack_internal_domain }}'
    environment:
      GITLAB_OMNIBUS_CONFIG: |-
        external_url '{{ __docker_stack_appspecs__gitlab_root_url }}'
        nginx['listen_https'] = false
        nginx['listen_port'] = 80
        gitlab_rails['smtp_enable'] = true
        gitlab_rails['smtp_tls'] = false
        gitlab_rails['smtp_openssl_verify_mode'] = 'none'
        gitlab_rails['smtp_enable_starttls_auto'] = false
        gitlab_rails['smtp_ssl'] = false
        gitlab_rails['smtp_force_ssl'] = false
        gitlab_rails['smtp_address'] = "{{ __docker_stack_appspecs__gitlab_smtp_address }}"
        gitlab_rails['smtp_port'] = "{{ __docker_stack_appspecs__gitlab_smtp_port }}"
        gitlab_rails['smtp_user_name'] = "{{ __docker_stack_appspecs__gitlab_smtp_user_name }}"
        gitlab_rails['smtp_password'] = "{{ __docker_stack_appspecs__gitlab_smtp_password }}"
        gitlab_rails['smtp_domain'] = "{{ docker_stack_internal_domain }}"
        gitlab_rails['smtp_authentication'] = "{{ __docker_stack_appspecs__gitlab_smtp_authentication }}"
        gitlab_rails['smtp_enable_starttls_auto'] = true
        gitlab_rails['gitlab_shell_ssh_port'] = "{{ __docker_stack_appspecs__gitlab_ssh_port }}"

#        ## https://github.com/geerlingguy/ansible-role-gitlab
#        ## LDAP Configuration.
#        gitlab_ldap_enabled = "false"
#        gitlab_ldap_host = "example.com"
#        gitlab_ldap_port = "389"
#        gitlab_ldap_uid = "sAMAccountName"
#        gitlab_ldap_method = "plain"
#        gitlab_ldap_bind_dn = "CN=Username,CN=Users,DC=example,DC=com"
#        gitlab_ldap_password = "password"
#        gitlab_ldap_base = "DC=example,DC=com"
    volumes:
#      - gitlab-config:/etc/gitlab
#      - gitlab-logs:/var/log/gitlab
#      - gitlab-data:/var/opt/gitlab
      - "{{ __docker_stack_appspecs__gitlab_stack_dir }}/gitlab/config:/etc/gitlab"
      - "{{ __docker_stack_appspecs__gitlab_stack_dir }}/gitlab/logs:/var/log/gitlab"
      - "{{ __docker_stack_appspecs__gitlab_stack_dir }}/gitlab/data:/var/opt/gitlab"
    networks:
      - "{{ docker_stack_traefik_proxy_network }}"
    ports:
      - "{{ __docker_stack_appspecs__gitlab_ssh_port }}:22"
    labels:
      traefik.enable: true
      traefik.http.routers.gitlab_insecure.entrypoints: http
      traefik.http.routers.gitlab_insecure.rule: Host(`gitlab.{{ docker_stack_internal_domain }}`)
      traefik.http.routers.gitlab_insecure.middlewares: https-only@file

      traefik.http.routers.gitlab.entrypoints: https
      traefik.http.routers.gitlab.rule: Host(`gitlab.{{ docker_stack_internal_domain }}`)
      traefik.http.services.gitlab.loadbalancer.server.port: 80

      traefik.tcp.routers.gitlab-ssh.rule: HostSNI(`gitlab.{{ docker_stack_internal_domain }}`)
      traefik.tcp.routers.gitlab-ssh.entrypoints: ssh
      traefik.tcp.routers.gitlab-ssh.service: gitlab-ssh-svc
      traefik.tcp.services.gitlab-ssh-svc.loadbalancer.server.port: "{{ __docker_stack_appspecs__gitlab_ssh_port }}"

#  ## ref: https://docs.gitlab.com/omnibus/docker/
#  ## ref: https://blog.ramjee.uk/docker-desktop-gitlab-and-kubernetes/
#  gitlab-runner:
#    image: gitlab/gitlab-runner:alpine
#    deploy:
#      mode: replicated
#      replicas: 4

