{
  "Personalities": [
    {
      "Addr": "127.0.0.1:{{ ctfe_server_http }}",
      "PrivKey": "{{ lookup("file", secret + "/certificates/" + ansible_facts['fqdn'] + "/ctlog/log.key") | decap_pem }}"
    }
  ]
}
