-mysql_uri "{{ trillian_log_db_user }}:{{ lookup("password", secret + "/credentials/" + ansible_facts['fqdn'] + "/database/atpki/" + trillian_log_db_user + " length=20") }}@tcp(localhost)/{{ ctlog_database_name }}"
-rpc_endpoint "127.0.0.1:{{ trillian_log_server_grpc }}"
-http_endpoint ""
-logtostderr
