{{ ansible_managed | comment }}

# Add extra Java options by uncommenting the following line
#- EXTRA_JAVA_OPTIONS=-Xmx4g

ENV_SECRETS_DEBUG=true
LDAP_USERNAME=dksec://ldap_username
LDAP_PASSWORD=dksec://ldap_password
ARTIFACTORY_ADMIN_USERNAME=dksec://artifactory_admin_username
ARTIFACTORY_ADMIN_PASSWORD=dksec://artifactory_admin_password

DB_TYPE=postgresql
# The following must match the POSTGRES_USER and POSTGRES_PASSWORD values passed to PostgreSQL
DB_USER=dksec://artifactory_admin_username
DB_PASSWORD=dksec://artifactory_admin_password

POSTGRES_DB=artifactory
# The following must match the DB_USER and DB_PASSWORD values passed to Artifactory
POSTGRES_USER=dksec://artifactory_admin_username
POSTGRES_PASSWORD=dksec://artifactory_admin_password
