<?xml version="1.0"?>
<configuration>
  <appSettings>
	<add key="log4netDllPath" value="C:\apps\powershell\logging\log4net\log4net.dll" />
	<add key="logConfigFilePath" value="C:\apps\powershell\powercli\logConfig.xml" />
	<add key="ServerFile" value= "C:\apps\powershell\logs\poweredonvms.csv" />
	<add key="vcenter" value= "vcenter50.johnson.local" />
	<add key="vmhost" value= "esx1.johnson.local" />
	<add key="subject" value= "List of started servers" />
	<add key="myImportantVMs" value= "nas1" />
	<add key="requiredDatastores" value= "nfs1_ds1" />
	<add key="emailFrom" value = "admin@dettonville.org" />
	<add key="emailTo" value = "admin@dettonville.org" />
	<add key="smtpServer" value = "mail1.johnson.local" />
  </appSettings>
</configuration>
