DOCKER_EXTERNAL_NETWORK_LIST=()
{% for docker_network_name, docker_network_config in __docker_stack__networks.items() %}
{% if docker_network_config.external | d(false) %}
{% if docker_network_config.ipam_config.0.subnet %}
DOCKER_EXTERNAL_NETWORK_LIST+=("{{ docker_network_name }},{{ docker_network_config.ipam_config.0.subnet }}")
{% else %}
DOCKER_EXTERNAL_NETWORK_LIST+=("{{ docker_network_name }}")
{% endif %}
{% endif %}
{% endfor %}
{% if __docker_stack__service_groups_by_name['postgres'] | d({}) | length > 0 %}
DOCKER_CLEANUP_POSTGRES_PIDFILE=1
{% endif %}
