---

linux_backup_jobs:
  - name: "daily fw backups job"
    special_time: daily
    job: "{{ bootstrap_linux_backup_script_dir }}/fwbackup.sh 2>&1 | tee -a {{ bootstrap_linux_backups_log_dir }}/fwbackup_daily.log"

  - name: "daily backups job"
#    special_time: daily
#    job: "{{ bootstrap_linux_backup_script_dir }}/job-backup-incremental.sh DAILY /data/Records {{ docker_stack_backups_dir }}/records/daily 2>&1 | tee -a {{ bootstrap_linux_backups_log_dir }}/backup_records_daily.log"
    minute: "5"
    hour: "18"
#    job: "bash -x {{ bootstrap_linux_backup_script_dir }}/run-daily-backup.sh"
    job: "python3 {{ bootstrap_linux_backup_script_dir }}/run-backups.py daily"

  - name: "monthly backups job"
    special_time: monthly
#    job: "{{ bootstrap_linux_backup_script_dir }}/job-backup-incremental.sh  MONTHLY /data/Records {{ docker_stack_backups_dir }}/records/monthly 2>&1 | tee -a {{ bootstrap_linux_backups_log_dir }}/backup_records_monthly.log"
#    job: "bash -x {{ bootstrap_linux_backup_script_dir }}//run-monthly-backup.sh"
    job: "python3 {{ bootstrap_linux_backup_script_dir }}/run-backups.py monthly"

