---

internal_root_domain: "johnson.int"
service_route_internal_root_domain: "johnson.int"

ca_country: US
ca_state: "New York"
ca_locality: "CSH"
ca_organization: "Johnsonville Internal"
ca_organizational_unit: "Mostly Impractical" # noqa: var-naming[pattern]

ldap_organisation: "Johnsonville LLC"
ldap_domain: "{{ ca_domain }}"

ldap_domain_parts: |
  [
    {% for domain in ldap_internal_domain.split('.') %}
    "dc={{ domain }}",
    {% endfor %}
  ]

ldap_base_dn: "{{ ldap_domain_parts | join(',') }}"
