---

## the primary certificate authority api endpoint host
#vault_host: "control01"
vault_host: "control02"
vault_config: "{{ vault__openbao_hosts[vault_host] }}"
vault_url: "{{ vault_config.url }}"
vault_token_root: "{{ vault_config.root_token }}"
vault_token_admin: "{{ vault_config.tokens['admin']['value'] | d('') }}"

ca_deploy_token_name: "deploy-ca"

vault_token_accessor_deployca: "{{ vault_config.tokens[ca_deploy_token_name]['accessor'] | d('') }}"
vault_token_deployca: "{{ vault_config.tokens[ca_deploy_token_name]['value'] | d('') }}"

#vault_kv_mount_path: "kv"
vault_kv_mount_path: "secret"

internal_subdomain: ""

ca_root_cn: "ca-root"
#ca_root_cn: "{{ internal_root_domain }}"

ca_root_domain: "{{ internal_root_domain }}"

# ca_subdomain: "{{ dc_environment | d('') | upper }}"
ca_subdomain: "{{ internal_subdomain | d('') }}"

ca_root_cert_basename: "{{ ca_root_cn }}"
#ca_root_cert_basename: "ca_root_{{ ca_root_domain | replace('.', '_') }}"

ca_key_type: "rsa"
ca_key_size: 4096
#ca_key_size: 2048

ca_key_spec:
  algo: "{{ ca_key_type }}"
  size: "{{ ca_key_size }}"

####################################
## inventory test
## ansible -i inventory/PROD/ -m debug -a var=ca_domain ca_keystore
#ca_domain: "{{ ca_root_domain if ca_subdomain | default('') | length == 0 else ca_subdomain + '.' + ca_root_domain }}"
#ca_domain: "{{ ca_subdomain | d('') | length > 0 | ternary(ca_subdomain + '.' + ca_root_domain, ca_root_domain) }}"
ca_domain: "{{ (ca_subdomain | d('') | length > 0) | ternary(ca_subdomain + '.' + ca_root_domain, ca_root_domain) }}"

#ca_domain: "{{ (ca_subdomain | default('')) + '.' + ca_root_domain if (ca_subdomain | default('') | length > 0) else ca_root_domain }}"
#ca_domain: "{{ ca_root_domain }}"
# ca_domain: "{{ internal_domain }}"

ca_common_name: "{{ hostname_name_full }}"
ca_signer_common_name: "ca.{{ ca_domain }}"
ca_signer_domain_name: "{{ ca_domain }}"
# ca_signer_domain_name: "{{ ('.').join(ca_signer_common_name.split('.')[1::]) }}"
ca_signer_name: "{{ 'ca.' + ('.').join(ca_signer_domain_name.split('.')[1::])
  if ca_signer_domain_name.split('.') | count > 2 else ca_root_cn }}" # noqa: jinja[spacing] var-naming[pattern]
ca_country: US
ca_state: "New Jersey"
ca_locality: "Trenton"
ca_organizational_unit: "Platform Technology"
ca_organization: "Dettonville Internal"
#ca_email: "admin@{{ ca_signer_domain_name }}"
ca_email: "admin@{{ ca_domain }}"
# ca_csr_profile: "domain"
# ca_csr_profile: "intermediate_ca"
ca_domains_hosted: []

## default TTL for new tokens (1y)
ca_certificate_ttl: "8760h" # 1 year
## Max TTL allowed (10y)
ca_certificate_max_ttl: "87600h" # 10 year

ca_cert_duration_root: "438000h" # 50 years
ca_cert_duration_intermediate: "87600h" # 10 years
ca_cert_duration_server: "87600h" # 10 years
ca_cert_duration_client: "87600h" # 10 years
ca_cert_duration_default: "87600h" # 10 years

ca_cert_info:
  common_name: "{{ ca_signer_common_name }}"
  domain_name: "{{ ca_signer_domain_name }}"
  issuer_name: "{{ ca_signer_name }}"
  country: "{{ ca_country }}"
  state: "{{ ca_state }}"
  locality: "{{ ca_locality }}"
  organization: "{{ ca_organization }}"
  organizational_unit: "{{ ca_organizational_unit }}"
  email: "{{ ca_email }}"

ldap_domain_sid_root: "{{ vault__ldap_domain_sid_root }}"

###
### moved from all.yml
###
debug_cacerts: false

stepca_svc_user: step
stepca_hostname_full: "{{ hostname_name_full }}"
stepca_host_url: "https://stepca.admin.dettonville.int/"
#stepca_host_url: "https://stepca.admin.{{ internal_root_domain }}/"
#stepca_host_url: "https://stepca.admin.{{ service_route_internal_root_domain }}/"
#stepca_host_url: "https://stepca.admin.dettonville.int/"
#stepca_root_ca_fingerprint: "{{ vault__stepca_root_ca_fingerprint }}"
#stepca_acme_http_challenge_proxy_port: 80

ca_keystore_inventory_host_default: control01
#ca_keystore_inventory_host_default: vcontrol01
ca_keystore_inventory_host: "{{ groups['ca_keystore'][0] | d(ca_keystore_inventory_host_default) }}"

# ca_keystore_host: "{{ ca_keystore_inventory_host }}"
# ca_keystore_host: "{{ hostvars[groups['ca_keystore'][0]]['ansible_facts']['hostname'] | d(ca_keystore_inventory_host_default) }}"
ca_keystore_host: "{{ hostvars[ca_keystore_inventory_host]['ansible_facts']['hostname'] }}"
#ca_keystore_host: "{{ hostvars[ca_keystore_inventory_host]['ansible_facts']['default_ipv4']['address']
#  | d(hostvars[host]['ansible_facts']['all_ipv4_addresses'] | first }}"

ca_ssl_certs_dir: /etc/ssl/certs
ca_ssl_keys_dir: /etc/ssl/private

ca_repo_url: "ssh://git@gitea.admin.{{ control_plane_domain }}:2222/infra/cacerts.git"
# where to deploy the finalized cert files to on the ansible control node
ca_base_dir: "{{ '~/pki' | expanduser }}"
#ca_certs_dir: "{{ ca_base_dir }}/certs"
#ca_keys_dir: "{{ ca_base_dir }}/keys"

ca_service_route_org: "{{ ca_organization }}"
ca_service_route_ou: "{{ ca_organizational_unit }}"

ca_service_route_key_type: "ec"  # Or "rsa" for 4096-bit fallback
ca_service_route_key_bits: 256  # 4096 for RSA

ca_signing_org: "{{ ca_organization }}"
ca_signing_ou: "{{ ca_organizational_unit }}"

ca_signing_key_type: "ec"  # Or "rsa" for 4096-bit fallback
ca_signing_key_bits: 256  # 4096 for RSA

ca_intermediate_certs_config:
  dettonville.int:
    common_name: "ca.dettonville.int"
    domain_name: "dettonville.int"
    issuer_name: "{{ ca_root_cn }}"
    country: US
    state: "New York"
    locality: "NYC"
    organization: "Dettonville Internal"
    organizational_unit: "Research & Technology"
    email: "admin@dettonville.int"

  johnson.int:
    common_name: "ca.johnson.int"
    domain_name: "johnson.int"
    issuer_name: "{{ ca_root_cn }}"
    country: US
    state: "North Carolina"
    locality: "Raleigh"
    organization: "Johnsonville Internal"
    organizational_unit: "Mostly Impractical"
    email: "admin@johnson.int"
#    ca_csr_profile: "domain"
#    ca_csr_profile: "intermediate_ca"

################################
## CA certificate service routes
## START of CA certificate domain and service routes definitions block
ca_hosted_service_routes: >-
  {{
    query('varnames', '^ca_hosted_service_routes__')
    | map('extract', hostvars[inventory_hostname])
    | flatten
  }}

#ca_service_routes: >-
#  {% set routes = [] %}
#  {% for var_name in query('varnames', '^ca_hosted_service_routes__') %}
#    {% set _ = routes.extend(lookup('vars', var_name)) %}
#  {% endfor %}
#  {{ routes | unique | sort }}

ca_internal_domains_dynamic: "{{ groups['ca_domain']
  | map('extract', hostvars, ['internal_domain']) | select('defined') | unique }}"

#ca_service_routes_dynamic: "{{ groups['ca_domain']
#  | map('extract', hostvars, ['ca_service_route']) | select('defined') | unique | d([]) }}"

ca_service_routes_dynamic: >-
  {%- set all_routes = [] -%}
  {%- for host in groups['ca_domain'] -%}
    {%- set host_dict = hostvars[host] -%}
    {%- for key in host_dict.keys() if key is match('^ca_hosted_service_routes__') -%}
      {%- set _ = all_routes.extend(host_dict[key]) -%}
    {%- endfor -%}
  {%- endfor -%}
  {{ all_routes | unique | sort }}

ca_internal_host_domains: "{{ ca_internal_domains_dynamic }}"
ca_domains_dynamic: "{{ ca_internal_domains_dynamic | d([]) + ca_service_routes_dynamic | d([]) }}"

ca_internal_api_domain: "api.{{ ca_root_domain }}"
ca_internal_api_domains: "{{ [ca_internal_api_domain] + ca_service_routes_dynamic }}"

ca_hosted_issuer_certs_list: >-
  {%- set _hosted_issuer_list = [] -%}
  {%- for domain in ca_hosted_service_routes -%}
    {%- set _ = _hosted_issuer_list.append('ca.' ~ domain) -%}
  {%- endfor -%}
  {{ _hosted_issuer_list }}

ca_intermediate_certs_list_dynamic: >-
  {%- set _ca_cert_list = [] -%}
  {%- for domain in ca_domains_dynamic if domain not in ca_intermediate_certs_config -%}
    {%- set _ = _ca_cert_list.append({
      'common_name': 'ca.' ~ domain,
      'domain_name': domain,
      'issuer_name': ('ca.' ~ domain.split('.')[1:] | join('.')) if domain.split('.') | count > 2 else ca_root_cn
    }) -%}
  {%- endfor -%}
  {{ _ca_cert_list }}

ca_intermediate_certs_list: "{{ (ca_intermediate_certs_config.values() | d([]) | list)
  + ca_intermediate_certs_list_dynamic }}"

ca_service_routes_issuer_list: >-
  {%- set _issuer_list = [] -%}
  {%- for domain in ca_service_routes_dynamic -%}
    {%- set _ = _issuer_list.append({
      'route': domain,
      'issuer_name': 'ca.' ~ domain
    }) -%}
  {%- endfor -%}
  {{ _issuer_list }}

## END of CA domain and service routes definitions block
################################

ca_keystore_base_dir_orig: /usr/share/ca-certs
ca_keystore_base_dir: "/etc/ansible/cacerts"

ca_java_keystore_enabled: true
ca_java_keystore_pass: changeit

ca_renew_threshold_days: 30  # Renew if < this days left

# Renew if < this days left
ca_cert_renewal_tolerance_days: 30

####################################
# CA Vault PKI Configuration
####################################
ca_vault_pki_root_cert: "{{ ca_root_cert_basename }}.pem"
ca_vault_pki_root_key: "{{ ca_root_cert_basename }}-key.pem"
ca_vault_pki_certs_dir: "/etc/pki/cacerts"
ca_vault_pki_key_type: "ecdsa"
ca_vault_pki_key_size: 256

#ca_vault_pki_common_name: "Dettonville Intermediate CA"
#ca_vault_pki_cert_basename: "intermediate-ca"
ca_vault_pki_common_name: "Dettonville Vault CA"
ca_vault_pki_cert_basename: "dettonville-vault-ca"

ca_vault_pki_root_cert_path: "{{ ca_vault_pki_certs_dir }}/{{ ca_vault_pki_root_cert }}"
ca_vault_pki_root_key_path: "{{ ca_vault_pki_certs_dir }}/{{ ca_vault_pki_root_key }}"

ca_vault_pki_cert_configs:
  cert_basename: "{{ ca_vault_pki_cert_basename }}"
  common_name: "{{ ca_vault_pki_common_name }}"
  key_type: "{{ ca_vault_pki_key_type }}"
  key_size: "{{ ca_vault_pki_key_size }}"
  country: "{{ ca_country }}"
  state: "{{ ca_state }}"
  locality: "{{ ca_locality }}"
  organization: "{{ ca_organization }}"
  organizational_unit: "{{ ca_organizational_unit }}"
  email_address: "{{ ca_email }}"
  ca_issuer_path: "{{ ca_vault_pki_root_cert_path }}"
  ca_issuer_key_path: "{{ ca_vault_pki_root_key_path }}"

ca_vault_pki_deploy_host_role_name: "internal-host"
ca_vault_pki_deploy_route_role_name: "internal-service-route"
ca_vault_pki_deploy_signing_role_name: "internal-signing"

#pki_intermediate_ca_vault_path: "pki_int"
ca_vault_pki_vault_mount_path: "pki-intermediate"

########################
## COALESCE global cert-auth (ca) vars to role specific deploy_pki_certs vars
deploy_pki_certs__vault_enabled: true
deploy_pki_certs__vault_url: "{{ vault_url }}"
deploy_pki_certs__vault_token: "{{ vault_token_deployca }}"
#deploy_pki_certs__vault_token: "{{ vault_token_root }}"

deploy_pki_certs__vault_mount_path: "{{ ca_vault_pki_vault_mount_path }}"
deploy_pki_certs__vault_kv_mount_path: "{{ vault_kv_mount_path }}"
deploy_pki_certs__vault_pki_service_route_role_name: "{{ ca_vault_pki_deploy_route_role_name }}"
deploy_pki_certs__vault_pki_signing_role_name: "{{ ca_vault_pki_deploy_signing_role_name }}"
deploy_pki_certs__vault_pki_host_role_name: "{{ ca_vault_pki_deploy_host_role_name }}"

deploy_pki_certs__vault_cert_configs: "{{ ca_vault_pki_cert_configs }}"
deploy_pki_certs__vault_cert_basename: "{{ ca_vault_pki_cert_basename }}"

#deploy_pki_certs__ca_reset_local_certs: "{{ ca_reset_local_certs | d(false) }}"
#deploy_pki_certs__ca_reset_local_certs: false

#deploy_pki_certs__ca_reset_trust_certs: true

#deploy_pki_certs__ca_force_deploy: true
#deploy_pki_certs__ca_force_create: true

deploy_pki_certs__ca_host_cn: "{{ hostname_name_full }}"

deploy_pki_certs__ca_cert_renewal_tolerance_days: "{{ ca_cert_renewal_tolerance_days }}"

deploy_pki_certs__ca_cert_duration_root: "{{ ca_cert_duration_root }}"
deploy_pki_certs__ca_cert_duration_intermediate: "{{ ca_cert_duration_intermediate }}"

deploy_pki_certs__certificate_ttl: "{{ ca_certificate_ttl }}"
deploy_pki_certs__certificate_max_ttl: "{{ ca_certificate_max_ttl }}"

deploy_pki_certs__ca_root_cert_basename: "{{ ca_root_cert_basename }}"
deploy_pki_certs__ca_root_cn: "{{ ca_root_cn }}"

#deploy_pki_certs__keystore_cert_base_dir: "{{ ca_keystore_base_dir }}"

deploy_pki_certs__local_cert_dir: "{{ ca_local_cert_dir }}"
deploy_pki_certs__local_key_dir: "{{ ca_local_key_dir }}"

deploy_pki_certs__ca_service_routes_list: "{{ ca_hosted_service_routes }}"
deploy_pki_certs__ca_signing_certs_list: "{{ ca_hosted_issuer_certs_list }}"

deploy_pki_certs__pre_deploy_verify_fail_fast: true

deploy_pki_certs__java_keystore_enabled: "{{ ca_java_keystore_enabled }}"
deploy_pki_certs__java_keystore_pass: "{{ ca_java_keystore_pass }}"

#deploy_pki_certs__trust_ca_cert_extension: "{{ trust_ca_cert_extension }}"
#
#deploy_pki_certs__keystore_admin_user: "{{ keystore_admin_user }}"
#
#deploy_pki_certs__ca_domain: "{{ ca_domain }}"
#
#deploy_pki_certs__ca_provisioner: "acme"

########################
## COALESCE global cert-auth (ca) vars to role specific deploy_ca_certs vars
#deploy_ca_certs__stepca_acme_http_challenge_proxy_port: "{{ stepca_acme_http_challenge_proxy_port }}"
deploy_ca_certs__ca_key_dir: "{{ ca_ssl_keys_dir }}"
deploy_ca_certs__hostname_full: "{{ hostname_name_full }}"
deploy_ca_certs__keystore_host: "{{ ca_keystore_host }}"
deploy_ca_certs__keystore_inventory_hostname: "{{ ca_keystore_inventory_host }}"
deploy_ca_certs__keystore_python_interpreter: "{{ hostvars[ca_keystore_inventory_host]['ansible_python_interpreter'] }}"

deploy_ca_certs__ca_force_create: "{{ ca_force_create | d(false) }}"
deploy_ca_certs__ca_force_distribute_nodes: "{{ ca_force_distribute_nodes | d(false) }}"
deploy_ca_certs__ca_reset_local_certs: "{{ ca_reset_local_certs | d(false) }}"

deploy_ca_certs__keystore_cert_base_dir: "{{ ca_keystore_base_dir_orig }}"
deploy_ca_certs__stepca_host_url: "{{ stepca_host_url }}"
#deploy_ca_certs__stepca_root_ca_fingerprint: "{{ stepca_root_ca_fingerprint }}"

deploy_ca_certs__ca_root_cn: "{{ ca_root_cn }}"

deploy_ca_certs__pki_ca_root_cert: "{{ ca_vault_pki_root_cert }}"

deploy_ca_certs__local_cert_dir: "{{ ca_local_cert_dir }}"
deploy_ca_certs__local_key_dir: "{{ ca_local_key_dir }}"

deploy_ca_certs__ca_java_keystore_enabled: "{{ ca_java_keystore_enabled }}"
deploy_ca_certs__ca_java_keystore_pass: "{{ ca_java_keystore_pass }}"

deploy_ca_certs__trust_ca_cert_extension: "{{ trust_ca_cert_extension }}"

deploy_ca_certs__keystore_admin_user: "{{ keystore_admin_user }}"

deploy_ca_certs__ca_domain: "{{ ca_domain }}"

deploy_ca_certs__ca_provisioner: "acme"

# deploy_ca_certs__ca_service_routes_list: "{{ ca_service_routes_issuer_list }}"
deploy_ca_certs__ca_service_routes_list: |
  {% set _hosted_ca_service_route_list = [] %}
  {% for _ca_service_route in ca_service_routes_list %}
  {% if _ca_service_route.route in ca_domains_hosted %}
  {%   set _ = _hosted_ca_service_route_list.append(_ca_service_route) %}
  {% endif %}
  {% endfor %}
  {{ _hosted_ca_service_route_list }}

# deploy_ca_certs__ca_signing_certs_list: "{{ ca_intermediate_certs_list }}"
deploy_ca_certs__ca_signing_certs_list: |
  {% set _hosted_ca_signing_certs_list = [] %}
  {% for _ca_cert_info in ca_intermediate_certs_list %}
  {%   set _pki_cert_info = {} %}
  {%   if _ca_cert_info.domain_name in ca_domains_hosted %}
  {%     set _ = _pki_cert_info.update({'common_name': _ca_cert_info.common_name}) %}
  {%     set _ = _hosted_ca_signing_certs_list.append(_pki_cert_info) %}
  {%   endif %}
  {% endfor %}
  {{ _hosted_ca_signing_certs_list }}

deploy_ca_certs__external_ca_cert_list:
  - https://files.pythonhosted.org
  - https://pypi.org
