---

## the primary certificate authority api endpoint host
vault_host: "control01"
vault_config: "{{ vault__openbao_hosts[vault_host] }}"
vault_url: "{{ vault_config.url }}"
vault_token: "{{ vault_config.root_token }}"
vault_admin_token: "{{ vault_config.admin_token }}"

internal_subdomain: ""

ca_root_cn: "ca-root"
ca_root_domain: "{{ internal_root_domain }}"
# ca_subdomain: "{{ dc_environment|d('') | upper }}"
ca_subdomain: "{{ internal_subdomain | d('') }}"

####################################
## inventory test
## ansible -i inventory/PROD/ -m debug -a var=ca_domain ca_keystore
#ca_domain: "{{ ca_root_domain if ca_subdomain | default('') | length == 0 else ca_subdomain + '.' + ca_root_domain }}"
#ca_domain: "{{ ca_subdomain | d('') | length > 0 | ternary(ca_subdomain + '.' + ca_root_domain, ca_root_domain) }}"
ca_domain: "{{ (ca_subdomain | d('') | length > 0) | ternary(ca_subdomain + '.' + ca_root_domain, ca_root_domain) }}"

#ca_domain: "{{ (ca_subdomain | default('')) + '.' + ca_root_domain if (ca_subdomain | default('') | length > 0) else ca_root_domain }}"
#ca_domain: "{{ ca_root_domain }}"
# ca_domain: "{{ internal_domain }}"

ca_common_name: "{{ hostname_name_full }}"
ca_signer_common_name: "ca.{{ ca_domain }}"
ca_signer_domain_name: "{{ ca_domain }}"
# ca_signer_domain_name: "{{ ('.').join(ca_signer_common_name.split('.')[1::]) }}"
ca_signer_name: "{{ 'ca.' + ('.').join(ca_signer_domain_name.split('.')[1::])
  if ca_signer_domain_name.split('.') | count > 2 else ca_root_cn }}" # noqa: jinja[spacing] var-naming[pattern]
ca_country: US
ca_state: "New Jersey"
ca_locality: "Trenton"
ca_organization: "Example Internal"
ca_organizational_unit: "Research & Technology" # noqa: var-naming[pattern]
#ca_email: "admin@{{ ca_signer_domain_name }}"
ca_email: "admin@{{ ca_domain }}"
# ca_csr_profile: "domain"
# ca_csr_profile: "intermediate_ca"
ca_domains_hosted: []

ca_cert_info:
  commonName: "{{ ca_signer_common_name }}"
  domainName: "{{ ca_signer_domain_name }}"
  signerName: "{{ ca_signer_name }}"
  country: "{{ ca_country }}"
  state: "{{ ca_state }}"
  locality: "{{ ca_locality }}"
  organization: "{{ ca_organization }}"
  organizationalUnit: "{{ ca_organizational_unit }}"
  email: "{{ ca_email }}"

ldap_domain_sid_root: "{{ vault__ldap_domain_sid_root }}"

###
### moved from all.yml
###
debug_cacerts: false

stepca_svc_user: step
stepca_hostname_full: "{{ hostname_name_full }}"
stepca_host_url: "https://stepca.admin.dettonville.int/"
#stepca_host_url: "https://stepca.admin.{{ internal_root_domain }}/"
#stepca_host_url: "https://stepca.admin.{{ service_route_internal_root_domain }}/"
#stepca_host_url: "https://stepca.admin.dettonville.int/"
#stepca_root_ca_fingerprint: "{{ vault__stepca_root_ca_fingerprint }}"
#stepca_acme_http_challenge_proxy_port: 80


cacert_keystore_inventory_host_default: control01
#cacert_keystore_inventory_host_default: vcontrol01
cacert_keystore_inventory_host: "{{ groups['ca_keystore'][0] | d(cacert_keystore_inventory_host_default) }}"

# cacert_keystore_host: "{{ cacert_keystore_inventory_host }}"
# cacert_keystore_host: "{{ hostvars[groups['ca_keystore'][0]]['ansible_host'] | d(cacert_keystore_inventory_host_default) }}"
cacert_keystore_host: "{{ hostvars[cacert_keystore_inventory_host]['ansible_host'] }}"
# cacert_keystore_host: "{{ hostvars[cacert_keystore_inventory_host]['ansible_default_ipv4']['address'] | d(hostvars[host]['ansible_all_ipv4_addresses'] | first }}"
cacert_keystore_dir: /etc/ssl/private

bootstrap_certs__keystore_host: "{{ cacert_keystore_host }}"
bootstrap_certs__ca_key_dir: "{{ cacert_keystore_dir }}"
bootstrap_linux_caroot__keystore_host: "{{ cacert_keystore_host }}"

cacert_repo_url: "ssh://git@gitea.admin.{{ control_plane_domain }}:2222/infra/cacerts.git"
# where to deploy the finalized cert files to on the ansible control node
cacert_base_dir: "{{ '~/pki' | expanduser }}"
cacert_certs_dir: "{{ cacert_base_dir }}/certs"
cacert_keys_dir: "{{ cacert_base_dir }}/keys"

ca_key_type: "rsa"
ca_key_size: 4096

ca_intermediate_certs_config:
  dettonville.int:
    commonName: "ca.dettonville.int"
    domainName: "dettonville.int"
    signerName: "{{ ca_root_cn }}"
    country: US
    state: "New York"
    locality: "NYC"
    organization: "Dettonville Internal"
    organizationalUnit: "Research & Technology"
    email: "admin@dettonville.int"

  johnson.int:
    commonName: "ca.johnson.int"
    domainName: "johnson.int"
    signerName: "{{ ca_root_cn }}"
    country: US
    state: "North Carolina"
    locality: "Raleigh"
    organization: "Johnsonville Internal"
    organizationalUnit: "Mostly Impractical"
    email: "admin@johnson.int"
#    ca_csr_profile: "domain"
#    ca_csr_profile: "intermediate_ca"

ca_internal_domains_dynamic: "{{ groups['ca_domain'] | map('extract', hostvars, ['internal_domain']) | select('defined') | unique }}"
# ca_domains_dynamic: "{{ groups['ca_domain'] | map('extract', hostvars, ['internal_domain', 'docker_stack__internal_domain']) | select('defined') | unique }}"
ca_routes_dynamic: "{{ groups['ca_domain'] | map('extract', hostvars, ['ca_service_route']) | select('defined') | unique | d([]) }}"

ca_domains_dynamic: "{{ ca_internal_domains_dynamic|d([]) + ca_routes_dynamic|d([]) }}"

ca_intermediate_certs_list_dynamic: |
  [
    {% for domain in ca_domains_dynamic %}
    {% if domain not in ca_intermediate_certs_config %}
    {
      'commonName': "ca.{{ domain }}",
      'domainName': "{{ domain }}",
      'signerName': "{{ 'ca.' + ('.').join(domain.split('.')[1::]) if domain.split('.')|count>2 else ca_root_cn }}"
    },
    {% endif %}
    {% endfor %}
  ]

#ca_intermediate_certs_list_dynamic:
#  {% for domain in ca_domains_dynamic %}
#  {% if domain not in ca_intermediate_certs_config %}
#  - commonName: "ca.{{ domain }}"
#    domainName: "{{ domain }}"
#    signerName: "{{ 'ca.' + ('.').join(domain.split('.')[1::]) if domain.split('.')|count>2 else ca_root_cn }}"
#  {% endif %}
#  {% endfor %}

# ca_intermediate_certs_list: "{{ ca_intermediate_certs_list_static + ca_intermediate_certs_list_dynamic }}"
#ca_intermediate_certs_list: "{{ ca_intermediate_certs_config.values() | d([]) | list + ca_intermediate_certs_list_dynamic }}"
ca_intermediate_certs_list: "{{ ca_intermediate_certs_config.values() | d([]) | list + (ca_intermediate_certs_list_dynamic | from_yaml) }}"

# stepca_root_list: "{{ ca_intermediate_certs_list_static }}"

ca_service_routes_list_yaml: |
  [
    {% for domain in ca_routes_dynamic %}
    {
      'route': "{{ domain }}",
      'signerName': "ca.{{ domain }}"
    },
    {% endfor %}
  ]

ca_service_routes_list: "{{ ca_service_routes_list_yaml | from_yaml }}"

hostname_name_full: "{{ inventory_hostname_short }}.{{ hostname_internal_domain }}"
cacert_keystore_base_dir: /usr/share/ca-certs

ca_java_keystore_enabled: true
ca_java_keystore_pass: changeit

pki_ca_root_cert: "{{ ca_root_cn }}.pem"
pki_ca_root_key: "{{ ca_root_cn }}-key.pem"
pki_ca_dir: "/etc/pki/cacerts"
pki_ca_key_type: "ecdsa"
pki_ca_key_size: 256

#pki_vault_ca_common_name: "Dettonville Intermediate CA"
#pki_vault_ca_cert_basename: "intermediate-ca"
pki_vault_ca_common_name: "Dettonville Vault CA"
pki_vault_ca_cert_basename: "dettonville-vault-ca"

pki_ca_root_cert_path: "{{ pki_ca_dir }}/{{ pki_ca_root_cert }}"
pki_ca_root_key_path: "{{ pki_ca_dir }}/{{ pki_ca_root_key }}"

pki_vault_ca_cert_configs:
  output_basename: "{{ pki_vault_ca_cert_basename }}"
  common_name: "{{ pki_vault_ca_common_name }}"
  key_algo: "{{ pki_ca_key_type }}"
  key_size: "{{ pki_ca_key_size }}"
  country: "{{ ca_country }}"
  state: "{{ ca_state }}"
  locality: "{{ ca_locality }}"
  organization: "{{ ca_organization }}"
  organizational_unit: "{{ ca_organizational_unit }}"
  email_address: "{{ ca_email }}"
  ca_issuer_path: "{{ pki_ca_root_cert_path }}"
  ca_issuer_key_path: "{{ pki_ca_root_key_path }}"

pki_cacert_deploy_role_name: "internal-api"

#pki_intermediate_ca_vault_path: "pki_int"
pki_ca_vault_mount_path: "pki-intermediate"

deploy_ca_certs__vault_mount_path: "{{ pki_ca_vault_mount_path }}"

deploy_ca_certs__root_ca_configs: "{{ pki_vault_ca_cert_configs }}"
deploy_ca_certs__pki_cert_role_name: "{{ pki_cacert_deploy_role_name }}"

## COALESCE global cert-auth (ca) vars to role specific deploy_ca_certs vars
deploy_ca_certs__vault_enabled: true
deploy_ca_certs__vault_url: "{{ vault_url }}"
deploy_ca_certs__vault_token: "{{ vault_admin_token }}"
#deploy_ca_certs__vault_token: "{{ vault_token }}"

deploy_ca_certs__hostname_full: "{{ hostname_name_full }}"
deploy_ca_certs__vault_kv_path: "kv/pki"
deploy_ca_certs__pki_vault_ca_cert_basename: "{{ pki_vault_ca_cert_basename }}"

deploy_ca_certs__ca_force_create: "{{ ca_force_create | d(False) }}"
deploy_ca_certs__ca_force_distribute_nodes: "{{ ca_force_distribute_nodes | d(False) }}"
deploy_ca_certs__ca_reset_local_certs: "{{ ca_reset_local_certs | d(False) }}"

#deploy_ca_certs__keystore_cert_base_dir: "{{ cacert_keystore_base_dir | d('/usr/share/ca-certs') }}"

deploy_ca_certs__cacert_local_cert_dir: "{{ cacert_local_cert_dir }}"
deploy_ca_certs__cacert_local_key_dir: "{{ cacert_local_key_dir }}"

deploy_ca_certs__ca_java_keystore_enabled: "{{ ca_java_keystore_enabled }}"
deploy_ca_certs__ca_java_keystore_pass: "{{ ca_java_keystore_pass }}"

#deploy_ca_certs__trust_ca_cert_extension: "{{ trust_ca_cert_extension }}"
#
#deploy_ca_certs__keystore_admin_user: "{{ keystore_admin_user }}"
#
#deploy_ca_certs__ca_domain: "{{ ca_domain }}"
#
#deploy_ca_certs__ca_provisioner: "acme"

# deploy_ca_certs__ca_service_routes_list: "{{ ca_service_routes_list }}"
deploy_ca_certs__ca_service_routes_list: |
  {% set _hosted_ca_service_route_list = [] %}
  {% for _ca_service_route in ca_service_routes_list %}
  {% if _ca_service_route.route in ca_domains_hosted %}
  {%   set _ = _hosted_ca_service_route_list.append(_ca_service_route) %}
  {% endif %}
  {% endfor %}
  {{ _hosted_ca_service_route_list }}

# deploy_ca_certs__ca_intermediate_certs_list: "{{ ca_intermediate_certs_list }}"
deploy_ca_certs__ca_intermediate_certs_list: |
  {% set _hosted_ca_intermediate_certs_list = [] %}
  {% for _ca_certinfo in ca_intermediate_certs_list %}
  {% if _ca_certinfo.domainName in ca_domains_hosted %}
  {%   set _ = _hosted_ca_intermediate_certs_list.append(_ca_certinfo) %}
  {% endif %}
  {% endfor %}
  {{ _hosted_ca_intermediate_certs_list }}

deploy_ca_certs__external_cacerts:
  - https://files.pythonhosted.org
  - https://pypi.org


## COALESCE global cert-auth (ca) vars to role specific deploy_cacerts vars
#deploy_cacerts__stepca_acme_http_challenge_proxy_port: "{{ stepca_acme_http_challenge_proxy_port }}"
deploy_cacerts__ca_key_dir: "{{ cacert_keystore_dir }}"
deploy_cacerts__hostname_full: "{{ hostname_name_full }}"
deploy_cacerts__keystore_host: "{{ cacert_keystore_host }}"
deploy_cacerts__keystore_inventory_hostname: "{{ cacert_keystore_inventory_host }}"
deploy_cacerts__keystore_python_interpreter: "{{ hostvars[cacert_keystore_inventory_host]['ansible_python_interpreter'] }}"

deploy_cacerts__ca_force_create: "{{ ca_force_create | d(False) }}"
deploy_cacerts__ca_force_distribute_nodes: "{{ ca_force_distribute_nodes | d(False) }}"
deploy_cacerts__ca_reset_local_certs: "{{ ca_reset_local_certs | d(False) }}"

deploy_cacerts__keystore_cert_base_dir: "{{ cacert_keystore_base_dir | d('/usr/share/ca-certs') }}"
deploy_cacerts__stepca_host_url: "{{ stepca_host_url }}"
#deploy_cacerts__stepca_root_ca_fingerprint: "{{ stepca_root_ca_fingerprint }}"

deploy_cacerts__ca_root_cn: "{{ ca_root_cn }}"

deploy_cacerts__pki_ca_root_cert: "{{ pki_ca_root_cert }}"

deploy_cacerts__cacert_local_cert_dir: "{{ cacert_local_cert_dir }}"
deploy_cacerts__cacert_local_key_dir: "{{ cacert_local_key_dir }}"

deploy_cacerts__ca_java_keystore_enabled: "{{ ca_java_keystore_enabled }}"
deploy_cacerts__ca_java_keystore_pass: "{{ ca_java_keystore_pass }}"

deploy_cacerts__trust_ca_cert_extension: "{{ trust_ca_cert_extension }}"

deploy_cacerts__keystore_admin_user: "{{ keystore_admin_user }}"

deploy_cacerts__ca_domain: "{{ ca_domain }}"

deploy_cacerts__ca_provisioner: "acme"

# deploy_cacerts__ca_service_routes_list: "{{ ca_service_routes_list }}"
deploy_cacerts__ca_service_routes_list: |
  {% set _hosted_ca_service_route_list = [] %}
  {% for _ca_service_route in ca_service_routes_list %}
  {% if _ca_service_route.route in ca_domains_hosted %}
  {%   set _ = _hosted_ca_service_route_list.append(_ca_service_route) %}
  {% endif %}
  {% endfor %}
  {{ _hosted_ca_service_route_list }}

# deploy_cacerts__ca_intermediate_certs_list: "{{ ca_intermediate_certs_list }}"
deploy_cacerts__ca_intermediate_certs_list: |
  {% set _hosted_ca_intermediate_certs_list = [] %}
  {% for _ca_certinfo in ca_intermediate_certs_list %}
  {% if _ca_certinfo.domainName in ca_domains_hosted %}
  {%   set _ = _hosted_ca_intermediate_certs_list.append(_ca_certinfo) %}
  {% endif %}
  {% endfor %}
  {{ _hosted_ca_intermediate_certs_list }}

deploy_cacerts__external_cacerts:
  - https://files.pythonhosted.org
  - https://pypi.org
