---

ca_distribute_certs: true

cacert_repo_email: "{{ ca_root.email }}"

bootstrap_pki__vault_url: "{{ vault_url }}"
bootstrap_pki__vault_token: "{{ vault_token }}"
bootstrap_pki__vault_api_version: "v1"
bootstrap_pki__vault_kv_mount_point: "kv"
bootstrap_pki__vault_kv_path: "pki"
bootstrap_pki__vault_verify_token_capabilities:
  - "{{ vault_token }}"
#  - "{{ vault_admin_token }}"

bootstrap_pki__vault_mount_path: "{{ pki_ca_vault_mount_path }}"
bootstrap_pki__ca_dir: "{{ pki_ca_dir }}"

bootstrap_pki__root_ca_cert_duration: "87600h" # 10 years
bootstrap_pki__root_ca_crl_expiry: "8760h" # 1 year

## TODO: this is only for testing purposes and must be disabled upon success
bootstrap_pki__ca_reset_cert: true
bootstrap_pki__debug: true

bootstrap_pki__root_ca_cert_info:
  output_basename: "{{ ca_root_cn }}"
  key_algo: "{{ ca_key_type }}"
  key_size: "{{ ca_key_size }}"
  common_name: "{{ ca_root_cn }}"
  country: "{{ ca_country }}"
  state: "{{ ca_state }}"
  locality: "{{ ca_locality }}"
  organization: "{{ ca_organization }}"
  organizational_unit: "{{ ca_organizational_unit }}"
  email_address: "{{ ca_email }}"

bootstrap_pki__vault_ca_cert_info: "{{ pki_vault_ca_cert_configs }}"

ca_internal_api_domains: "{{ ['api.internal'] + ca_domains_dynamic }}"

bootstrap_pki__vault_roles:
  - name: "web-server"
    allowed_domains: "{{ ca_domains_dynamic }}"
    allow_subdomains: true
    key_type: "{{ ca_key_type }}"
    key_bits: "{{ ca_key_size }}"
    max_ttl: "720h"
    ttl: "24h"
  - name: internal-api
    allowed_domains: "{{ ca_internal_api_domains }}"
    allow_subdomains: true
    key_type: "ecdsa"
    key_bits: 256
    max_ttl: "720h"
    ttl: "720h"

#####################
## old role to be deprecated
bootstrap_ca_certs__vault_enabled: true
#bootstrap_ca_certs__vault_url: "http://127.0.0.1:8200"
#bootstrap_ca_certs__vault_url: "https://vault.admin.dettonville.int"
bootstrap_ca_certs__vault_url: "{{ vault_url }}"
bootstrap_ca_certs__vault_token: "{{ vault_token }}"
bootstrap_ca_certs__vault_kv_path: "secret/{{ bootstrap_ca_certs__ca_root_cn }}/ca"

## COALESCE global certificate authentication (CA) vars to role specific bootstrap_ca_certs vars
bootstrap_ca_certs__ca_init: "{{ ca_init | d(True) }}"
bootstrap_ca_certs__ca_certify_nodes: "{{ ca_certify_nodes | d(True) }}"
bootstrap_ca_certs__ca_certify_routes: "{{ ca_certify_routes | d(True) }}"
bootstrap_ca_certs__ca_fetch_certs: "{{ ca_fetch_certs | d(True) }}"
bootstrap_ca_certs__ca_force_create: "{{ ca_force_create | d(False) }}"
bootstrap_ca_certs__ca_force_certify_nodes: "{{ ca_force_certify_nodes | d(False) }}"
bootstrap_ca_certs__ca_force_distribute_nodes: "{{ ca_force_distribute_nodes | d(False) }}"

bootstrap_ca_certs__ca_certify_node_list: "{{ groups['cert_node'] }}"

#bootstrap_ca_certs__trust_ca_update_trust_cmd: "{{ trust_ca_update_trust_cmd | d('update-ca-trust extract') }}"
bootstrap_ca_certs__trust_ca_cacert_dir: "{{ trust_ca_cacert_dir | d('/etc/pki/ca-trust/source/anchors') }}"

bootstrap_ca_certs__cacerts_base_dir: "{{ cacert_keystore_base_dir }}"

bootstrap_ca_certs__ca_key_dir: "{{ cacert_keystore_dir }}"

bootstrap_ca_certs__ca_root_cn: "{{ ca_root_cn }}"

bootstrap_ca_certs__caroot_cert: "{{ pki_ca_root_cert }}"
bootstrap_ca_certs__caroot_key: "{{ pki_ca_root_key }}"

bootstrap_ca_certs__cacert_local_cert_dir: "{{ cacert_local_cert_dir }}"
bootstrap_ca_certs__cacert_local_key_dir: "{{ cacert_local_key_dir }}"

bootstrap_ca_certs__ca_java_keystore_enabled: "{{ ca_java_keystore_enabled | d(True) }}"
bootstrap_ca_certs__ca_java_keystore_pass: "{{ ca_java_keystore_pass | d('changeit') }}"

bootstrap_ca_certs__trust_ca_cert_extension: "{{ trust_ca_cert_extension }}"

bootstrap_ca_certs__cacert_base_dir: "{{ cacert_base_dir }}"

bootstrap_ca_certs__ca_domains_hosted: "{{ ca_domains_hosted }}"

bootstrap_ca_certs__ca_root: "{{ ca_root }}"

bootstrap_ca_certs__ca_root_cert: "{{ ca_root_cn }}.pem"
bootstrap_ca_certs__ca_root_key: "{{ ca_root_cn }}-key.pem"

bootstrap_ca_certs__ca_intermediate_certs_list: "{{ ca_intermediate_certs_list }}"

bootstrap_ca_certs__ca_service_routes_list: "{{ ca_service_routes_list }}"

bootstrap_ca_certs__ca_key_spec: "{{ ca_key_spec }}"

#################
## TODO: Following `bootstrap_certs__*` configuration to be deprecated and replaced by `bootstrap_ca_certs__*`

## COALESCE global cert-auth (ca) vars to role specific bootstrap_signing_certs vars
bootstrap_certs__ca_init: "{{ ca_init | d(True) }}"
bootstrap_certs__ca_certify_nodes: "{{ ca_certify_nodes | d(True) }}"
bootstrap_certs__ca_certify_routes: "{{ ca_certify_routes | d(True) }}"
bootstrap_certs__ca_fetch_certs: "{{ ca_fetch_certs | d(True) }}"
bootstrap_certs__ca_force_create: "{{ ca_force_create | d(False) }}"
bootstrap_certs__ca_force_certify_nodes: "{{ ca_force_certify_nodes | d(False) }}"
bootstrap_certs__ca_force_distribute_nodes: "{{ ca_force_distribute_nodes | d(False) }}"

bootstrap_certs__ca_certify_node_list: "{{ groups['cert_node'] }}"

#bootstrap_certs__trust_ca_update_trust_cmd: "{{ trust_ca_update_trust_cmd | d('update-ca-trust extract') }}"
bootstrap_certs__trust_ca_cacert_dir: "{{ trust_ca_cacert_dir | d('/etc/pki/ca-trust/source/anchors') }}"

bootstrap_certs__cacerts_base_dir: "{{ cacert_keystore_base_dir }}"

bootstrap_certs__ca_key_dir: "{{ cacert_keystore_dir }}"

bootstrap_certs__ca_root_cn: "{{ ca_root_cn }}"

bootstrap_certs__caroot_cert: "{{ pki_ca_root_cert }}"

bootstrap_certs__caroot_key: "{{ pki_ca_root_key }}"

bootstrap_certs__cacert_local_cert_dir: "{{ cacert_local_cert_dir }}"
bootstrap_certs__cacert_local_key_dir: "{{ cacert_local_key_dir }}"

bootstrap_certs__ca_java_keystore_enabled: "{{ ca_java_keystore_enabled | d(True) }}"
bootstrap_certs__ca_java_keystore_pass: "{{ ca_java_keystore_pass | d('changeit') }}"

bootstrap_certs__trust_ca_cert_extension: "{{ trust_ca_cert_extension }}"

bootstrap_certs__cacert_base_dir: "{{ cacert_base_dir }}"

bootstrap_certs__ca_domains_hosted: "{{ ca_domains_hosted }}"

bootstrap_certs__ca_root: "{{ ca_root }}"

bootstrap_certs__ca_root_cert: "{{ ca_root_cn }}.pem"
bootstrap_certs__ca_root_key: "{{ ca_root_cn }}-key.pem"

bootstrap_certs__ca_intermediate_certs_list: "{{ ca_intermediate_certs_list }}"

bootstrap_certs__ca_service_routes_list: "{{ ca_service_routes_list }}"

bootstrap_certs__ca_key_spec: "{{ ca_key_spec }}"


## ref: https://github.com/cloudflare/cfssl/releases/
## ref: https://github.com/githubixx/ansible-role-cfssl
# cfssl_version: 1.3.4
# cfssl_version: 1.4.0
# cfssl_version: 1.4.1
