---

ca_distribute_certs: true

ca_repo_email: "{{ ca_root.email }}"

ca_pki_role_config_service_route:
  name: "{{ ca_vault_pki_deploy_route_role_name }}"
  allowed_domains: "{{ ca_domains_dynamic }}"
  allow_ip_sans: true
  allow_subdomains: true
  allow_wildcard_certificates: true
  key_type: "{{ ca_service_route_key_type }}"
  key_bits: "{{ ca_service_route_key_bits }}"
  max_ttl: "{{ ca_certificate_max_ttl }}"
  ttl: "{{ ca_certificate_ttl }}"
  organization: "{{ ca_service_route_org }}"
  organizational_unit: "{{ ca_service_route_ou }}"
  key_usage:
    - "DigitalSignature"
    - "KeyAgreement"
    - "KeyEncipherment"

ca_pki_role_config_signing_cert:
  name: "{{ ca_vault_pki_deploy_signing_role_name }}"
#  allowed_domains: "{{ ca_internal_host_domains }}"
  allowed_domains: "{{ ca_domains_dynamic }}"
  allow_ip_sans: false
  allow_subdomains: true
  allow_wildcard_certificates: false
  allow_other_sans: false
  client_flag: false               # usually not client auth
  server_flag: false               # usually not server auth
  key_type: "{{ ca_signing_key_type }}"
  key_bits: "{{ ca_signing_key_bits }}"
  max_ttl: "{{ ca_certificate_max_ttl }}"
  ttl: "{{ ca_certificate_ttl }}"
  organization: "{{ ca_service_route_org }}"
  organizational_unit: "{{ ca_service_route_ou }}"
  key_usage:
    - "CertSign" # keyCertSign – required to sign other certs
    - "CrlSign" # required / recommended to sign CRLs
  ext_key_usage: []
#  ## Optional – if you also want the cert to sign OCSP responses
#  ext_key_usage:
#    - "OCSPSigning"            # 1.3.6.1.5.5.7.3.9

ca_pki_role_config_host_cert:
  name: "{{ ca_vault_pki_deploy_host_role_name }}"
  allowed_domains: "{{ ca_internal_host_domains }}"
  allow_ip_sans: true
  allow_subdomains: true
  allow_wildcard_certificates: false
  client_flag: true
  max_ttl: "{{ ca_certificate_max_ttl }}"
  ttl: "{{ ca_certificate_ttl }}"
  organization: "{{ ca_organization }}"
  organizational_unit: "{{ ca_organizational_unit }}"
  key_usage:
    - "DigitalSignature"
    - "KeyAgreement"
    - "KeyEncipherment"

ca_pki_vault_roles:
  - "{{ ca_pki_role_config_service_route }}"
  - "{{ ca_pki_role_config_signing_cert }}"
  - "{{ ca_pki_role_config_host_cert }}"

ca_vault_deploy_token_policy_hcl_content: |
  path "{{ ca_vault_pki_vault_mount_path }}/*" {
    capabilities = ["read", "list"]
  }
  # issue/sign for deploys
  path "{{ ca_vault_pki_vault_mount_path }}/issue/*" {
    capabilities = ["create", "update"]
  }
  path "{{ ca_vault_pki_vault_mount_path }}/issue/internal-api" {
    capabilities = ["create", "update"]
  }
  # Add this to handle CSR signing specifically
  path "{{ ca_vault_pki_vault_mount_path }}/sign/*" {
    capabilities = ["create", "update"]
  }
  path "{{ ca_vault_pki_vault_mount_path }}/config/*" {
    capabilities = ["read", "list"]
  }
  # Allow role management
  path "{{ ca_vault_pki_vault_mount_path }}/roles/*" {
    capabilities = ["read", "list"]
  }
  # Allow full access to the PKI KV Cache
  path "{{ vault_kv_mount_path }}/data/pki_cache/*" {
    capabilities = ["create", "read", "update", "list"]
  }
  # If using KV version 1, or for listing metadata in KV version 2
  path "{{ vault_kv_mount_path }}/metadata/pki_cache/*" {
    capabilities = ["read", "list"]
  }
  path "{{ vault_kv_mount_path }}/data/trusted_external/*" {
    capabilities = ["read", "list"]
  }
  path "{{ vault_kv_mount_path }}/metadata/trusted_external/*" {
    capabilities = ["read", "list"]
  }
  # Allow full access to the PKI KV to dynamically store created service route and host certificates
  path "{{ vault_kv_mount_path }}/data/trusted_internal/*" {
    capabilities = ["create", "read", "update", "list"]
  }
  path "{{ vault_kv_mount_path }}/metadata/trusted_internal/*" {
    capabilities = ["create", "read", "update", "list"]
  }
  path "auth/token/lookup*" {
    capabilities = ["read"]
  }
  path "sys/mounts" {
    capabilities = ["read", "list"]
  }
  path "sys/mounts/*" {
    capabilities = ["read", "list"]
  }
  path "sys/seal-status" {
    capabilities = ["read"]
  }
  {% for role in ca_pki_vault_roles %}
  # Policy for role: {{ role.name }}
  # role cert issuance
  path "{{ ca_vault_pki_vault_mount_path }}/issue/{{ role.name }}" {
    capabilities = ["create", "update"]
  }
  {% endfor %}


bootstrap_certs__keystore_host: "{{ ca_keystore_host }}"
bootstrap_linux_caroot__keystore_host: "{{ ca_keystore_host }}"

########################
## COALESCE global cert-auth (ca) vars to role specific bootstrap_pki vars
bootstrap_pki__vault_url: "{{ vault_url }}"
bootstrap_pki__vault_token: "{{ vault_token_root }}"
bootstrap_pki__vault_api_version: "v1"
bootstrap_pki__vault_kv_mount_point: "{{ vault_kv_mount_path }}"
bootstrap_pki__vault_mount_path: "{{ ca_vault_pki_vault_mount_path }}"

bootstrap_pki__ca_dir: "{{ ca_vault_pki_certs_dir }}"

## Renew if < this days left
bootstrap_pki__ca_cert_renewal_tolerance_days: "{{ ca_cert_renewal_tolerance_days }}"

bootstrap_pki__ca_cert_duration_root: "{{ ca_cert_duration_root }}"
bootstrap_pki__ca_cert_duration_intermediate: "{{ ca_cert_duration_intermediate }}"
bootstrap_pki__ca_cert_duration_server: "{{ ca_cert_duration_server }}"
bootstrap_pki__ca_cert_duration_client: "{{ ca_cert_duration_client }}"
bootstrap_pki__ca_cert_duration_default: "{{ ca_cert_duration_default }}"

## TODO: this is only for testing purposes and must be disabled upon success
#bootstrap_pki__ca_reset_cert: true
#bootstrap_pki__ca_reset_trusted_kv_internal: true
#bootstrap_pki__ca_reset_trusted_kv_external: true

bootstrap_pki__external_cas:
  - name: "lets-encrypt-isrg-root-x1"
    fetch_method: "url"
    url: "https://letsencrypt.org/certs/isrgrootx1.pem"
    description: "ISRG Root X1 (Let's Encrypt)"
  - name: "pypi.org"
    host: "pypi.org"
  - name: "pypi.python.org"
    host: "pypi.python.org"
  - name: "files.pythonhosted.org"
    host: "files.pythonhosted.org"
  - name: "bootstrap.pypa.io"
    host: "bootstrap.pypa.io"
  - name: "galaxy.ansible.com"
    host: "galaxy.ansible.com"
  - name: "repo.maven.apache.org"
    host: "repo.maven.apache.org"

bootstrap_pki__ca_root_cert_info:
  cert_basename: "{{ ca_root_cert_basename }}"
  key_type: "{{ ca_key_type }}"
  key_size: "{{ ca_key_size }}"
  common_name: "{{ ca_root_cn }}"
  country: "{{ ca_country }}"
  state: "{{ ca_state }}"
  locality: "{{ ca_locality }}"
  organization: "{{ ca_organization }}"
  organizational_unit: "{{ ca_organizational_unit }}"
  email_address: "{{ ca_email }}"

bootstrap_pki__vault_cert_configs: "{{ ca_vault_pki_cert_configs }}"

# Service Route PKI Role Defaults
bootstrap_pki__vault_pki_service_route_role_name: "service-route-role"
bootstrap_pki__vault_pki_service_route_domains: "{{ ca_service_routes_dynamic }}"

#bootstrap_pki__vault_pki_service_route_ttl: "{{ ca_certificate_ttl }}"
#bootstrap_pki__vault_pki_service_route_max_ttl: "{{ ca_certificate_max_ttl }}"
#bootstrap_pki__vault_pki_service_route_key_type: "{{ ca_service_route_key_type }}"
#bootstrap_pki__vault_pki_service_route_key_bits: "{{ ca_service_route_key_bits }}"
#bootstrap_pki__vault_pki_service_route_ou: "{{ ca_service_route_ou }}"
#bootstrap_pki__vault_pki_service_route_org: "{{ ca_service_route_org }}"

bootstrap_pki__deploy_token_name: "{{ ca_deploy_token_name }}"
bootstrap_pki__deploy_token_value: "{{ vault_token_deployca }}"
bootstrap_pki__deploy_token_accessor: "{{ vault_token_accessor_deployca }}"

bootstrap_pki__vault_verify_token_capabilities:
  root: "{{ vault_token_root }}"
  deploy-ca: "{{ bootstrap_pki__deploy_token_value }}"

bootstrap_pki__vault_roles_allowed_domains: "{{ ca_domains_dynamic }}"

bootstrap_pki__vault_roles: "{{ ca_pki_vault_roles }}"


#####################
## old role to be deprecated
bootstrap_ca_certs__vault_enabled: true
#bootstrap_ca_certs__vault_url: "http://127.0.0.1:8200"
#bootstrap_ca_certs__vault_url: "https://vault.admin.dettonville.int"
bootstrap_ca_certs__vault_url: "{{ vault_url }}"
bootstrap_ca_certs__vault_token: "{{ vault_token_root }}"
bootstrap_ca_certs__vault_kv_path: "{{ vault_kv_mount_path }}/{{ bootstrap_ca_certs__ca_root_cn }}/ca"

## COALESCE global certificate authentication (CA) vars to role specific bootstrap_ca_certs vars
bootstrap_ca_certs__ca_init: "{{ ca_init | d(true) }}"
bootstrap_ca_certs__ca_certify_nodes: "{{ ca_certify_nodes | d(true) }}"
bootstrap_ca_certs__ca_certify_routes: "{{ ca_certify_routes | d(true) }}"
bootstrap_ca_certs__ca_fetch_certs: "{{ ca_fetch_certs | d(true) }}"
bootstrap_ca_certs__ca_force_create: "{{ ca_force_create | d(false) }}"
bootstrap_ca_certs__ca_force_certify_nodes: "{{ ca_force_certify_nodes | d(false) }}"
bootstrap_ca_certs__ca_force_distribute_nodes: "{{ ca_force_distribute_nodes | d(false) }}"

bootstrap_ca_certs__ca_certify_node_list: "{{ groups['cert_node'] }}"

#bootstrap_ca_certs__trust_ca_update_trust_cmd: "{{ trust_ca_update_trust_cmd | d('update-ca-trust extract') }}"
bootstrap_ca_certs__trust_ca_cert_dir: "{{ trust_ca_cert_dir | d('/etc/pki/ca-trust/source/anchors') }}"

bootstrap_ca_certs__base_dir: "{{ ca_keystore_base_dir }}"
#bootstrap_ca_certs__base_dir: "{{ ca_base_dir }}"

bootstrap_ca_certs__ca_root_cn: "{{ ca_root_cn }}"

bootstrap_ca_certs__ca_domains_hosted: "{{ ca_domains_hosted }}"

bootstrap_ca_certs__ca_root: "{{ ca_root }}"

bootstrap_ca_certs__ca_root_cert: "{{ ca_vault_pki_root_cert }}"
bootstrap_ca_certs__ca_root_key: "{{ ca_vault_pki_root_key }}"

bootstrap_ca_certs__ca_intermediate_certs_list: "{{ ca_intermediate_certs_list }}"

bootstrap_ca_certs__ca_service_routes_list: "{{ ca_service_routes_issuer_list }}"

bootstrap_ca_certs__ca_key_spec: "{{ ca_key_spec }}"

#################
## TODO: Following `bootstrap_certs__*` configuration to be deprecated and replaced by `bootstrap_ca_certs__*`

## COALESCE global cert-auth (ca) vars to role specific bootstrap_signing_certs vars
bootstrap_certs__ca_init: "{{ ca_init | d(true) }}"
bootstrap_certs__ca_certify_nodes: "{{ ca_certify_nodes | d(true) }}"
bootstrap_certs__ca_certify_routes: "{{ ca_certify_routes | d(true) }}"
bootstrap_certs__ca_fetch_certs: "{{ ca_fetch_certs | d(true) }}"
#bootstrap_certs__ca_force_create: false
bootstrap_certs__ca_force_create: true
bootstrap_certs__ca_force_certify_nodes: "{{ ca_force_certify_nodes | d(false) }}"
bootstrap_certs__ca_force_distribute_nodes: "{{ ca_force_distribute_nodes | d(false) }}"

#bootstrap_certs__ca_certify_node_list: "{{ groups['cert_node'] }}"
## remove all nodes that source certificates from step ca
bootstrap_certs__ca_certify_node_list: "{{ groups['cert_node'] | difference(groups['step_ca_network']) }}"

#bootstrap_certs__trust_ca_update_trust_cmd: "{{ trust_ca_update_trust_cmd | d('update-ca-trust extract') }}"
bootstrap_certs__trust_ca_cert_dir: "{{ trust_ca_cert_dir | d('/etc/pki/ca-trust/source/anchors') }}"

bootstrap_certs__keystore_base_dir: "{{ ca_keystore_base_dir_orig }}"

bootstrap_certs__ca_key_dir: "{{ ca_ssl_keys_dir }}"

bootstrap_certs__ca_root_cn: "{{ ca_root_cn }}"

bootstrap_certs__ca_java_keystore_enabled: "{{ ca_java_keystore_enabled | d(true) }}"
bootstrap_certs__ca_java_keystore_pass: "{{ ca_java_keystore_pass | d('changeit') }}"

bootstrap_certs__trust_ca_cert_extension: "{{ trust_ca_cert_extension }}"

bootstrap_certs__base_dir: "{{ ca_base_dir }}"
bootstrap_certs__local_cert_dir: "{{ ca_local_cert_dir }}"
bootstrap_certs__local_key_dir: "{{ ca_local_key_dir }}"

bootstrap_certs__ca_domains_hosted: "{{ ca_domains_hosted }}"

bootstrap_certs__ca_root: "{{ ca_root }}"

#bootstrap_certs__ca_root_cert: "{{ ca_root_cn }}.pem"
#bootstrap_certs__ca_root_key: "{{ ca_root_cn }}-key.pem"
bootstrap_certs__ca_root_cert: "{{ ca_vault_pki_root_cert }}"
bootstrap_certs__ca_root_key: "{{ ca_vault_pki_root_key }}"


bootstrap_certs__ca_intermediate_certs_list: "{{ ca_intermediate_certs_list }}"

bootstrap_certs__ca_service_routes_list: "{{ ca_service_routes_issuer_list }}"

bootstrap_certs__ca_key_spec: "{{ ca_key_spec }}"


## ref: https://github.com/cloudflare/cfssl/releases/
## ref: https://github.com/githubixx/ansible-role-cfssl
# cfssl_version: 1.3.4
# cfssl_version: 1.4.0
# cfssl_version: 1.4.1
