---

idrac_racname: "{{ inventory_hostname_short }}-idrac"
idrac_ip: "{{ gateway_ipv4_subnet_1_2 }}.0.20"

ansible_host: "{{ idrac_ip }}"

idrac_user: "{{ vault__idrac_user | d('') }}"
idrac_password: "{{ vault__idrac_password | d('') }}"

ansible_connection: local

ansible_user: "{{ idrac_user }}"
ansible_ssh_user: "{{ idrac_user }}"
ansible_ssh_pass: "{{ idrac_password }}"
# remote_user: "{{ bootstrap_user }}"
ansible_keystore_user: "ansible"

idrac_port: '443'
idrac_dns1: "{{ dns_nameservers | first }}"
# idrac_dns2: 192.168.0.1
idrac_gateway: "{{ gateway_ipv4 }}"
idrac_netmask: "{{ gateway_ipv4_netmask }}"
idrac_domainname: dettonville.int

racadm_raid_force: false
racadm_fw_update_force: false
racadm_setup_bios: false
racadm_setup_idrac: true

# catalog_http_share: 10.231.7.155/DellRepo/072017
# mgmt_vlanid: 104
mgmt_gateway: "{{ gateway_ipv4 }}"
mgmt_netmask: "{{ gateway_ipv4_netmask }}"

# target_array:
#  - { target: 'BIOS.SysProfileSettings.SysProfile', job_target: 'Bios.Setup.1-1', target_set: 'SysProfile', value: 'PerfOptimized' }
#  - { target: 'bios.biosbootsettings.BootMode', job_target: 'Bios.Setup.1-1', target_set: 'BootMode', value: 'Bios' }
#  - { target: 'nic.nicconfig.1.LegacyBootProto', job_target: 'NIC.Integrated.1-1-1', target_set: 'LegacyBootProto', value: 'NONE' }
#  - { target: 'nic.nicconfig.3.LegacyBootProto', job_target: 'NIC.Integrated.1-3-1', target_set: 'LegacyBootProto', value: 'PXE' }

## Coalesce global inventory variables to role-specific variables
bootstrap_dell_racadm_host__ansible_user: root
bootstrap_dell_racadm_host__keystore_user: "{{ ansible_user }}"

bootstrap_dell_racadm_host__ca_keystore_host: "{{ ca_keystore_host }}"
bootstrap_dell_racadm_host__ca_keystore_base_dir: "{{ ca_keystore_base_dir }}"

bootstrap_dell_racadm_host__racadm_raid_force: "{{ racadm_raid_force }}"
bootstrap_dell_racadm_host__racadm_fw_update_force: "{{ racadm_fw_update_force }}"
bootstrap_dell_racadm_host__racadm_setup_bios: "{{ racadm_setup_bios }}"
bootstrap_dell_racadm_host__racadm_setup_idrac: "{{ racadm_setup_idrac }}"

########################
## DEPLOYMENT PARAMETERS
########################
#
# cluster_name: CNMS Cluster
# num_tokens: 128
# dse_version: 5.1.1
#
########################################
## TRANSPARENT DATA ENCRYPTION (AES-128)
########################################
#
# tde_enabled: true
# tde_regen_keys: true # generate AES keys, should be true for initial deployment, false if keys already exist
#
#####################################################
## SSL FOR INTERNODE AND CLIENT-CLUSTER COMMUNICATION
#####################################################
#
# tls_enabled: true
# tls_regen_keys: true # generate new node keystores, should be true for initial deployment, false if keystores already exist
# keystore: /etc/dse/certs/dse-keystore.jks # keystore file location
# keystore_password: Melody1!
# truststore: /etc/dse/certs/dse-truststore.jks # truststore file location
# truststore_password: truststorePass
# client_encryption_optional: true # allow non-encrypted client, true is acceptable for dev, false for production
# require_client_auth: false # require client authentication, false is acceptable for dev, true for production
# cert_org: att_labs
# ca_path: /home/ansible/roles/cassandra/files/certs # path to root CA files
# ca_password:
# dse_username:
# dse_password:
#
##################################
## OTHER CASSANDRA.YAML PARAMETERS
##################################
#
# disk_optimization_strategy: ssd
# endpoint_snitch: GossipingPropertyFileSnitch
# custom_directories: true
#
#############
## OPS CENTER
#############
#
# opscenter_enabled: true
#
################
## PREPARE DISKS
################
#
# raid_device: /dev/md0
# ssd_devices: [ /dev/sdb, /dev/sdc, /dev/sdd ]
# raid_mountpoint: /dse_data
#
# date: "{{ lookup('pipe', 'date +%Y%m%d-%H%M') }}"
#
