---

# Failover peer definition
dhcp_global_failover_peer: failover-group
dhcp_global_failover:
  role: secondary
  address: "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}"
#  address: "{{ hostvars[inventory_hostname]['ansible_host'] }}"
  port: 647
  peer_address: "{{ hostvars[groups['dhcp_primary'][0]]['ansible_default_ipv4']['address'] }}"
#  peer_address: "{{ hostvars[groups['dhcp_primary'][0]]['ansible_host'] }}"
  peer_port: 647
  max_response_delay: 15
  max_unacked_updates: 10
  mclt: 3600
