---

# Failover peer definition
dhcp_global_failover_peer: failover-group
dhcp_global_failover:
  role: primary # | secondary
  address: "{{ hostvars[inventory_hostname]['ansible_facts']['default_ipv4']['address'] }}"
#  address: "{{ hostvars[inventory_hostname]['ansible_facts']['hostname'] }}"
  port: 647
  peer_address: "{{ hostvars[groups['dhcp_replica'][0]]['ansible_facts']['default_ipv4']['address'] }}"
#  peer_address: "{{ hostvars[groups['dhcp_replica'][0]]['ansible_facts']['hostname'] }}"
  peer_port: 647
  max_response_delay: 15
  max_unacked_updates: 10
  load_balance_max_seconds: 5
  split: 255
  mclt: 3600
