---

docker_stack__service_groups:
  - netbootxyz
  - jenkins
#  - mariadb
#  - fog

docker_stack__netbootxyz__root_dir: "/export/data/netbootxyz"
docker_stack__netbootxyz__config_dir: "{{ docker_stack__netbootxyz__root_dir }}/config"
docker_stack__netbootxyz__assets_dir: "{{ docker_stack__netbootxyz__root_dir }}/assets"

pxe_root_dir: "{{ docker_stack__netbootxyz__root_dir }}"
pxe_config_dir: "{{ docker_stack__netbootxyz__config_dir }}"
pxe_assets_dir: "{{ docker_stack__netbootxyz__assets_dir }}"

# kickstart_tftpdir: /var/lib/tftpboot
kickstart_tftpdir: "{{ pxe_config_dir }}/menus"
