---

docker_stack__jenkins_jcac__environment: "{{ docker_stack__environment }}"

###########
## JENKINS_JCAC
###########
docker_stack__service_groups__jenkins_jcac:
  - jenkins_jcac

# docker_stack__jenkins_jcac__ansible_tool_python_interpreter: python3.11

# docker_stack__jenkins_jcac__pipeline_lib_repo: "https://gitea.admin.dettonville.int/infra/pipeline-automation-lib.git"
docker_stack__jenkins_jcac__pipeline_lib_repo: "ssh://git@gitea.admin.dettonville.int:2222/infra/pipeline-automation-lib.git"

docker_stack__jenkins_jcac__pipeline_lib_credential_id: "gitea-ssh-jenkins"

docker_stack__jenkins_jcac__ldap_host: "{{ docker_stack__ldap__host }}"
docker_stack__jenkins_jcac__ldap_base_dn: "{{ docker_stack__ldap__base_dn }}"

docker_stack__jenkins_jcac__ldap_bind_user_dn: "cn={{ docker_stack__ldap__bind_user_username }},{{ docker_stack__jenkins__ldap_base_dn }}"
docker_stack__jenkins_jcac__ldap_bind_user_password: "{{ docker_stack__ldap__bind_user_password }}"

docker_stack__jenkins_jcac__mgr_pwd_secret: "{{ ldap_readonly_password }}"

docker_stack__jenkins_jcac__agent_username: "{{ vault__jenkins_agent_username }}"
docker_stack__jenkins_jcac__agent_password: "{{ vault__jenkins_agent_password }}"

# external_domain: "{{ external_root_domain }}"
# docker_stack__external_domain: "{{ external_domain }}"

docker_registry_login: true
docker_stack__registry__enable_passthru: false
# docker_stack__firewalld_enabled: false

docker_stack__jenkins_jcac__image: "{{ docker_stack__registry__endpoint }}/docker-jenkins-jcac:latest"
docker_stack__jenkins_jcac__agent_image: "{{ docker_stack__registry__endpoint }}/jenkins-docker-cicd-agent:latest"
# docker_stack__jenkins_jcac__agent_image: "{{ docker_stack__registry__endpoint }}/jenkins-swarm-agent:latest"

docker_stack__jenkins_jcac__agent_jenkins_host: "jenkins.{{ docker_stack__internal_domain }}"

## moved to group_vars/docker_stack.yml
# docker_stack__jenkins_jcac__agent_secret: "{{ vault__docker_stack__jenkins_agent_secret | d('') }}"

docker_stack__jenkins_jcac__vmware_data_dir: "{{ docker_stack__vmware_data_dir }}"

docker_stack__jenkins_jcac__ssh_private_key: "{{ vault__git_ssh_private_keyfile }}"
docker_stack__jenkins_jcac__ssh_public_key: "{{ vault__git_ssh_public_keyfile }}"

#######################
## config-as-code creds
docker_stack__jenkins_jcac__cred_jenkins_admin_user_username: "{{ vault__jenkins_admin_user_username }}"
docker_stack__jenkins_jcac__cred_jenkins_admin_user_password: "{{ vault__jenkins_admin_user_password }}"
docker_stack__jenkins_jcac__cred_jenkins_git_user_password: "{{ vault__jenkins_git_user_password }}"
docker_stack__jenkins_jcac__cred_ansible_vault_password: "{{ vault__ansible_vault_password }}"
docker_stack__jenkins_jcac__cred_ansible_ssh_key: "{{ vault__ansible_ssh_key }}"

docker_stack__jenkins_jcac__cred_ansible_ssh_username: "{{ vault__ansible_ssh_username }}"
docker_stack__jenkins_jcac__cred_ansible_ssh_password: "{{ vault__ansible_ssh_password }}"

docker_stack__jenkins_jcac__cred_vsphere_username: "{{ vault__vsphere_username }}"
docker_stack__jenkins_jcac__cred_vsphere_password: "{{ vault__vsphere_password }}"
docker_stack__jenkins_jcac__cred_esxi_password: "{{ vault__esxi_password }}"
docker_stack__jenkins_jcac__cred_bitbucket_ssh_username: "{{ vault__bitbucket_ssh_username }}"
docker_stack__jenkins_jcac__cred_bitbucket_ssh_private_key: "{{ vault__bitbucket_ssh_private_key }}"

# docker_stack__jenkins_jcac__cred_packer_ssh_password: "{{ vault__packer_user_password }}"
docker_stack__jenkins_jcac__cred_packer_user_password: "{{ vault__packer_user_password }}"
docker_stack__jenkins_jcac__cred_packer_user_ssh_public_key: "{{ vault__packer_user_ssh_public_key }}"
docker_stack__jenkins_jcac__cred_vm_root_password: "{{ vault__sha512_hashed_root_password }}"
docker_stack__jenkins_jcac__cred_github_username: "{{ vault__github_username }}"
docker_stack__jenkins_jcac__cred_github_password: "{{ vault__github_password }}"

docker_stack__jenkins_jcac__cred_docker_registry_admin_username: "{{ vault__docker_registry_username }}"
docker_stack__jenkins_jcac__cred_docker_registry_admin_password: "{{ vault__docker_registry_password }}"

docker_stack__jenkins_jcac__cred_bitbucket_cloud_oauth_key: "{{ vault__jenkins_bitbucket_cloud_oauth_key }}"
docker_stack__jenkins_jcac__cred_bitbucket_cloud_oauth_token: "{{ vault__jenkins_bitbucket_cloud_oauth_token }}"

docker_stack__jenkins_jcac__cred_gitea_ssh_username: "{{ vault__gitea_ssh_username }}"
docker_stack__jenkins_jcac__cred_gitea_ssh_private_key: "{{ vault__gitea_ssh_private_key }}"
