---

deploy_ca_certs__using_stepca: false

## run 2:30 AM every day
docker_stack__restart_stack_schedule: ["30", "2", "*", "*", "*"]

docker_stack__service_groups__control:
  - healthchecks
  - registry
  - postgres
  - auth
  - redis
#  - acmedns
#  - bind
#  - cobbler

docker_stack__proxy_services:
  - awx
  - awx_orig
#  - wordpress
#  - nginx

docker_stack__service_route_name: "admin"
# docker_stack__service_route_name: "control"

docker_stack__external_domain: "{{ docker_stack__external_root_domain }}"

# docker_stack__acmedns_tls_cert_host_privkey: "/etc/ssl/private/admin.dettonville.int-key.pem"
# docker_stack__acmedns_tls_cert_host_fullchain: "/etc/ssl/certs/admin.dettonville.int.pem"
# docker_stack__acmedns_tls_cert_host_privkey: "/etc/ssl/private/admin.johnson.int-key.pem"
# docker_stack__acmedns_tls_cert_host_fullchain: "/etc/ssl/certs/admin.johnson.int.pem"

docker_stack__acmedns__tls_cert_host_privkey: "/etc/ssl/private/{{ docker_stack__internal_domain }}-key.pem"
docker_stack__acmedns__tls_cert_host_fullchain: "/etc/ssl/certs/{{ docker_stack__internal_domain }}.pem"

# docker_stack__acmedns_domain: "dyn.{{ docker_stack__internal_domain }}"
# docker_stack__acmedns_domain: "acmedns.{{ docker_stack__internal_domain }}"
# docker_stack__acmedns_domain: "{{ docker_stack__internal_domain }}"
docker_stack__acmedns__domain: "acmedns.{{ docker_stack__internal_domain }}"
# zone name server
# docker_stack__acmedns_nsname: "dyn.{{ docker_stack__internal_domain }}"
docker_stack__acmedns__nsname: "{{ docker_stack__acmedns_domain }}"
# admin email address, where @ is substituted with .
docker_stack__acmedns__nsadmin: "admin.{{ docker_stack__internal_domain }}"

docker_stack__acmedns__ip: "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}"

# docker_stack__user_uid: 1006
# docker_stack__user_gid: 1006

bootstrap_linux_package__package_list__docker_stack__control:
  - sshpass

# external_domain: "{{ external_root_domain }}"
# docker_stack__external_domain: "{{ external_domain }}"
#

docker_stack__wordpress__backend: "http://wordpress.johnson.int:80"

## JENKINS
# docker_stack__jenkins__ldap_host: "{{ ldap_internal_host }}"
# docker_stack__jenkins__ldap_base_dn: "{{ ldap_internal_base_dn }}"

# docker_stack__jenkins__image: "{{ docker_stack__registry__endpoint }}/docker-jenkins:latest"
# docker_stack__jenkins__image: "{{ docker_stack__registry__endpoint }}/docker-jenkins-jcac:latest"

# docker_stack__jenkins__agent_image: "media.johnson.int:5000/jenkins-docker-cicd-agent:latest"
# docker_stack__jenkins__agent_jenkins_url: "https://jenkins.admin.johnson.int"
# docker_stack__jenkins__agent_tunnel: "jenkins.admin.johnson.int:9000"
# docker_stack__jenkins__agent_jenkins_host: "jenkins.admin.johnson.int"
docker_stack__jenkins__agent_jenkins_host: "jenkins.{{ docker_stack__internal_domain }}"
docker_stack__jenkins__agent_jenkins_url: "https://{{ docker_stack__jenkins__agent_jenkins_host }}"
docker_stack__jenkins__agent_tunnel: "{{ docker_stack__jenkins__agent_jenkins_host }}:9000"
docker_stack__jenkins__agent_workdir: "/home/jenkins/agent"

docker_stack__jenkins__mgr_pwd_secret: "{{ vault__docker_stack__jenkins_mgr_pwd_secret | d('') }}"

## moved to group_vars/docker_stack.yml
# docker_stack__jenkins__agent_secret: "{{ vault__docker_stack__jenkins_agent_secret | d('') }}"

docker_stack__jenkins_agent__swarm_image: "media.johnson.int:5000/jenkins-swarm-agent:latest"
# docker_stack__jenkins_agent__swarm_username: "{{ jenkins_agent_username }}"
# docker_stack__jenkins_agent__swarm_password: "{{ vault__jenkins_agent_password }}"

# docker_stack__keycloak__postgres_user: keycloak
# docker_stack__keycloak__postgres_password: "{{ vault__docker_stack__keycloak_postgres_password | d('') }}"

docker_stack__gitea__postgres_user: gitea
docker_stack__gitea__postgres_password: "{{ vault__docker_stack__gitea_postgres_password | d('') }}"

docker_stack__postgres__user: "{{ postgres_user }}"
docker_stack__postgres__password: "{{ postgres_password }}"

docker_stack__postgres__pgadmin_username: "{{ pgadmin_username }}"
docker_stack__postgres__pgadmin_password: "{{ pgadmin_password }}"

docker_stack__postgres__databases:
  - "{{ docker_stack__keycloak__postgres_user }},{{ docker_stack__keycloak__postgres_password }}"
  - "{{ docker_stack__gitea__postgres_user }},{{ docker_stack__gitea__postgres_password }}"

### AWX
# awx_orig_enabled: false
awx_orig_enabled: true
