---

docker_stack_service_configs:
  - netbootxyz
  - jenkins
#  - mariadb
#  - fog

docker_stack_netbootxyz_root_dir: "/export/data/netbootxyz"
docker_stack_netbootxyz_config_dir: "{{ docker_stack_netbootxyz_root_dir }}/config"
docker_stack_netbootxyz_assets_dir: "{{ docker_stack_netbootxyz_root_dir }}/assets"

pxe_root_dir: "{{ docker_stack_netbootxyz_root_dir }}"
pxe_config_dir: "{{ docker_stack_netbootxyz_config_dir }}"
pxe_assets_dir: "{{ docker_stack_netbootxyz_assets_dir }}"

#kickstart_tftpdir: /var/lib/tftpboot
kickstart_tftpdir: "{{ pxe_config_dir }}/menus"

