---

#media_server_fqdn: media.johnson.int

#docker_stack_run_services: no
#docker_stack_traefik_version: v1
#docker_stack_traefik_certprovider_qa: yes

#docker_stack_sonarr_image: "linuxserver/sonarr:5.14"
#docker_stack_sonarr_image: "linuxserver/sonarr:latest"
#docker_stack_sonarr_image: "{{ docker_stack_registry_endpoint }}/docker-sonarr:latest"
#docker_stack_radarr_image: "{{ docker_stack_registry_endpoint }}/docker-radarr:latest"

docker_stack_enable_external_route: yes
#docker_stack_openvpn_network: "192.168.0.0/16"
docker_stack_openvpn_network: "{{ gateway_ipv4_network_cidr }}"

docker_stack_mediaserver_media_path: "/export/media"

#docker_stack_mediaserver_nas_media_path: "/data/media"
docker_stack_mediaserver_nas_media_path: "/srv/media"

#ca_java_keystore_enabled: no

## container user
docker_user_username: media
docker_user_password: media
docker_user_group: media
docker_user_uid: 1003
docker_user_gid: 995

docker_stack_services:
  - openldap
#  - stepca
  - samba
  - registry
  - redis
  - media
  - mermaidjs_editor
##  - plex
##  - postgres
##  - auth
##  - keycloak
##  - gitea

#docker_stack_dir: "{{ docker_user_home }}/docker"

#docker_registry_backend: media.johnson.int:5000
#docker_registry: media.johnson.int:5000
#docker_registry: registry.media.johnson.int:5000

docker_stack_registry_service_common_name: "{{ docker_stack_internal_domain }}"

#docker_stack_registry_service_data_path: "/srv/data2/docker_registry_local"
docker_stack_registry_service_data_path: "/data/docker_registry_local"

docker_registry_login: yes
docker_stack_registry_enable_passthru: no

## piwigo
docker_piwigo_mysql_host: "media.{{ internal_root_domain }}:3306"
docker_lychee_mysql_host: "media.{{ internal_root_domain }}:3306"

docker_stack_registry_enable_auth: yes
docker_stack_registry_users: "{{ registry_users }}"

pgadmin_username: "admin"

plex_host: "media.{{ internal_root_domain }}:32400"
#plex_host_ip: "192.168.0.135"
plex_host_ip: "{{ gateway_ip4_subnet_1_2 }}.0.135"

## ref:
#docker_stack_admin_jobs: []
#docker_stack_admin_jobs:
#  - name: "hourly docker restart job"
##    special_time: daily
#    minute: "5"
#    hour: "*"
##    job: "cd {{ docker_stack_dir }} && /usr/local/bin/docker-compose restart qbittorrent sonarr radarr lidarr readarr"
#    job: "cd {{ docker_stack_dir }} && /usr/local/bin/docker-compose restart sonarr radarr lidarr readarr"
#
#  - name: "hourly docker restart job"
#    minute: "10"
#    hour: "*/6"
##    hour: "*"
#    job: "cd {{ docker_stack_dir }} && /usr/local/bin/docker-compose up -d"

nfs_exports:
  - "/export      *(rw,fsid=0,async,nohide,no_root_squash,no_subtree_check,crossmnt)"
  - "/export/media         {{ gateway_ip4_subnet_1_2 }}.0.0/{{ gateway_ipv4_netmask }}(rw,async,nohide,no_subtree_check)"
  - "/data          {{ gateway_ip4_subnet_1_2 }}.0.0/{{ gateway_ipv4_netmask }}(rw,async,fsid=1,nohide,no_root_squash,no_subtree_check,crossmnt)"

