---

## ISCSI info

# iscsi__portals: [ '192.168.0.200' ]
iscsi__portals: [ 'eqstore.johnson.int' ]
# iscsi__iqn: "iqn.2001-05.com.equallogic"
## iscsi__iqn: "iqn.2001-05.com.equallogic:0-8a0906-d8bdab402-ae2e07435c35c543-datastore1"
# iscsi__iqn: "iqn.2001-05.com.equallogic:0-8a0906-4a7dab402-a30e074388f5d14a-datastore2"
## bootstrap_iscsi_client__iqn: "iqn.2001-05.com.equallogic:0-8a0906-a86b5b502-1efcc853ec0599ee-datastore1"
bootstrap_iscsi_client__iqn: "iqn.2001-05.com.equallogic"

# iscsi__session_auth_username:
# iscsi__session_auth_password:

iscsi__targets:
#  - target: '{{ bootstrap_iscsi_client__iqn }}:server:storage'
#    lvm_vg: 'vg_iscsi_target'

  - target: "{{ bootstrap_iscsi_client__iqn }}:0-8a0906-d8bdab402-ae2e07435c35c543-datastore1"
    lvm_vg: 'vg_iscsi_data1'
    lvm_pesize: "4"
    port: "3260"

  - target: "{{ bootstrap_iscsi_client__iqn }}:0-8a0906-4a7dab402-a30e074388f5d14a-datastore2"
    lvm_vg: 'vg_iscsi_data2'
    lvm_pesize: "4"
    port: "3260"

  - target: "{{ bootstrap_iscsi_client__iqn }}:0-8a0906-1eedab402-762e074388c5d14a-backups"
    lvm_vg: 'vg_iscsi_backups'
    lvm_pesize: "4"
    port: "3260"

iscsi__logical_volumes:
  - lv: 'data1'
    vg: 'vg_iscsi_data1'
    size: '4000G'
    mount: '/srv/data1'

  - lv: 'data2'
    vg: 'vg_iscsi_data2'
    size: '4000G'
#    fs_type: "xfs"
    mount: '/srv/data2'

  - lv: 'backups'
    vg: 'vg_iscsi_backups'
    size: '3000G'
    mount: '/srv/backups_iscsi'
