---

#jenkins_agent_master: "{{ hostvars[groups['jenkins_master'][0]].ansible_host }}"
#jenkins_agent_master: "jenkins.admin.{{ internal_root_domain }}"
jenkins_agent_master: "{{ hostvars[groups['jenkins_master'][0]].docker_stack_jenkins_agent_jenkins_host }}"
jenkins_agent_tunnel: "{{ hostvars[groups['jenkins_master'][0]].docker_stack_jenkins_agent_tunnel }}"

jenkins_agent_master_port: "443"
jenkins_agent_master_protocol: https
#jenkins_agent_username: sa_swarm_agent
jenkins_agent_username: admin
jenkins_agent_password: f00bar

jenkins_agent_num_executors: 8
jenkins_agent_labels: "linux packer ansible{{ ' docker' if 'docker' in group_names else '' }}{{ ' control_node' if 'control_node' in group_names else '' }}"
jenkins_swarm_client_version: 3.25

