---
######### Kubernetes CA Certs
bootstrap_kubernetes_ca__use_existing_root_ca: true

vault_host: control01
#bootstrap_kubernetes_ca__vault_url: "http://127.0.0.1:8200"
#bootstrap_kubernetes_ca__vault_url: "https://vault.admin.dettonville.int"
bootstrap_kubernetes_ca__vault_url: "{{ vault__openbao_url }}"
bootstrap_kubernetes_ca__vault_token: "{{ vault__openbao_token }}"
bootstrap_kubernetes_ca__vault_kv_path: "{{ vault_kv_mount_path }}/kubernetes/ca"

# Path to the existing root CA certificate file (.pem)
bootstrap_kubernetes_ca__root_ca_cert_path: "{{ ca_local_cert_dir }}/{{ ca_vault_pki_root_cert }}"

# Path to the existing root CA private key file (.pem)
bootstrap_kubernetes_ca__root_ca_key_path: "{{ ca_local_key_dir }}/{{ ca_vault_pki_root_key }}"

# Specifies Ansible's hosts group which contains all K8s controller
# nodes (as specified in Ansible's "hosts" file).
bootstrap_kubernetes_ca__ca_controller_nodes_group: "kubernetes_controller"
# As above but for the K8s etcd nodes.
bootstrap_kubernetes_ca__ca_etcd_nodes_group: "kubernetes_etcd"
# As above but for the K8s worker nodes.
bootstrap_kubernetes_ca__ca_worker_nodes_group: "kubernetes_worker"

### etcs ca certs ###
bootstrap_kubernetes_ca__ca_etcd_csr_cn: "etcd"
bootstrap_kubernetes_ca__ca_etcd_csr_key_algo: "rsa"
bootstrap_kubernetes_ca__ca_etcd_csr_key_size: "2048"
bootstrap_kubernetes_ca__ca_etcd_csr_names_c: "{{ ca_country }}"
bootstrap_kubernetes_ca__ca_etcd_csr_names_l: "{{ ca_locality }}"
#bootstrap_kubernetes_ca__ca_etcd_csr_names_o: "{{ ca_organization }}"
bootstrap_kubernetes_ca__ca_etcd_csr_names_ou: "{{ ca_organizational_unit }}"
bootstrap_kubernetes_ca__ca_etcd_csr_names_st: "{{ ca_state }}"

### CA api server ca certs ###
bootstrap_kubernetes_ca__ca_apiserver_csr_cn: "kubernetes"
bootstrap_kubernetes_ca__ca_apiserver_csr_key_algo: "rsa"
bootstrap_kubernetes_ca__ca_apiserver_csr_key_size: "2048"
bootstrap_kubernetes_ca__ca_apiserver_csr_names_c: "{{ ca_country }}"
bootstrap_kubernetes_ca__ca_apiserver_csr_names_l: "{{ ca_locality }}"
#bootstrap_kubernetes_ca__ca_apiserver_csr_names_o: "{{ ca_organization }}"
bootstrap_kubernetes_ca__ca_apiserver_csr_names_ou: "{{ ca_organizational_unit }}"
bootstrap_kubernetes_ca__ca_apiserver_csr_names_st: "{{ ca_state }}"

# CSR parameter for etcd server certificate. The server certificate is used by
# etcd server and verified by client for server identity (for example
# "Kubernetes API server").
# etcd parameter: --cert-file and --key-file
bootstrap_kubernetes_ca__etcd_server_csr_cn: "etcd-server"
bootstrap_kubernetes_ca__etcd_server_csr_key_algo: "rsa"
bootstrap_kubernetes_ca__etcd_server_csr_key_size: "2048"
bootstrap_kubernetes_ca__etcd_server_csr_names_c: "{{ ca_country }}"
bootstrap_kubernetes_ca__etcd_server_csr_names_l: "{{ ca_locality }}"
#bootstrap_kubernetes_ca__etcd_server_csr_names_o: "{{ ca_organization }}"
bootstrap_kubernetes_ca__etcd_server_csr_names_ou: "{{ ca_organizational_unit }}"
bootstrap_kubernetes_ca__etcd_server_csr_names_st: "{{ ca_state }}"

# CSR parameter for etcd peer certificate. The peer certificate is used by etcd
# cluster members as they communicate with each other in both ways.
# etcd parameter: --peer-cert-file and --peer-key-file
bootstrap_kubernetes_ca__etcd_peer_csr_cn: "etcd-peer"
bootstrap_kubernetes_ca__etcd_peer_csr_key_algo: "rsa"
bootstrap_kubernetes_ca__etcd_peer_csr_key_size: "2048"
bootstrap_kubernetes_ca__etcd_peer_csr_names_c: "{{ ca_country }}"
bootstrap_kubernetes_ca__etcd_peer_csr_names_l: "{{ ca_locality }}"
#bootstrap_kubernetes_ca__etcd_peer_csr_names_o: "{{ ca_organization }}"
bootstrap_kubernetes_ca__etcd_peer_csr_names_ou: "{{ ca_organizational_unit }}"
bootstrap_kubernetes_ca__etcd_peer_csr_names_st: "{{ ca_state }}"

# CSR parameter for etcd clients. One such client is "kube-apiserver" e.g.
# and is defined in "bootstrap_kubernetes_ca__etcd_additional_clients" variable (see below). All
# certificates issued for etcd clients will use this parameters.
bootstrap_kubernetes_ca__etcd_client_csr_cn_prefix: "etcd-client"
bootstrap_kubernetes_ca__etcd_client_csr_key_algo: "rsa"
bootstrap_kubernetes_ca__etcd_client_csr_key_size: "2048"
bootstrap_kubernetes_ca__etcd_client_csr_names_c: "{{ ca_country }}"
bootstrap_kubernetes_ca__etcd_client_csr_names_l: "{{ ca_locality }}"
#bootstrap_kubernetes_ca__etcd_client_csr_names_o: "{{ ca_organization }}"
bootstrap_kubernetes_ca__etcd_client_csr_names_ou: "{{ ca_organizational_unit }}"
bootstrap_kubernetes_ca__etcd_client_csr_names_st: "{{ ca_state }}"

# CSR parameter for Kubernetes API server certificate. Used to secure the
# Kubernetes API server communication.
#
# NOTE: It's important that the value of "ca_bootstrap_kubernetes_ca__apiserver_csr_cn" and
# "bootstrap_kubernetes_ca__apiserver_csr_cn" are different! Otherwise Python clients and libraries
# like "urllib3" and "requests" might have connection issues with the https
# endpoint of "kube-apiserver". For more details see:
# https://www.tauceti.blog/posts/kubernetes-the-not-so-hard-way-with-ansible-certificate-authority/
bootstrap_kubernetes_ca__apiserver_csr_cn: "k8s-apiserver"
bootstrap_kubernetes_ca__apiserver_csr_key_algo: "rsa"
bootstrap_kubernetes_ca__apiserver_csr_key_size: "2048"
bootstrap_kubernetes_ca__apiserver_csr_names_c: "{{ ca_country }}"
bootstrap_kubernetes_ca__apiserver_csr_names_l: "{{ ca_locality }}"
#bootstrap_kubernetes_ca__apiserver_csr_names_o: "{{ ca_organization }}"
bootstrap_kubernetes_ca__apiserver_csr_names_ou: "{{ ca_organizational_unit }}"
bootstrap_kubernetes_ca__apiserver_csr_names_st: "{{ ca_state }}"

# CSR parameter for the admin user (used for the admin user and which "kubectl"
# will use).
bootstrap_kubernetes_ca__admin_csr_cn: "admin"
bootstrap_kubernetes_ca__admin_csr_key_algo: "rsa"
bootstrap_kubernetes_ca__admin_csr_key_size: "2048"
bootstrap_kubernetes_ca__admin_csr_names_c: "{{ ca_country }}"
bootstrap_kubernetes_ca__admin_csr_names_l: "{{ ca_locality }}"
#bootstrap_kubernetes_ca__admin_csr_names_o: "{{ ca_organization }}"
bootstrap_kubernetes_ca__admin_csr_names_ou: "{{ ca_organizational_unit }}"
bootstrap_kubernetes_ca__admin_csr_names_st: "{{ ca_state }}"

# CSR parameter for kubelet client certificates. The `kubelet` process
# (a.k.a. Kubernetes worker) also needs to authenticate itself against the
# API server. These variables are used to create the CSR file which in turn
# is used to create the `kubelet` certificate. Kubernetes uses a special-purpose
# authorization mode (https://kubernetes.io/docs/admin/authorization/node/)
# called "Node Authorizer", that specifically authorizes API requests made by
# kubelets (https://kubernetes.io/docs/concepts/overview/components/#kubelet).
# In order to be authorized by the "Node Authorizer", Kubelets must use a
# credential that identifies them as being in the `system:nodes` group,
# with a username of `system:node:<nodeName>`
bootstrap_kubernetes_ca__worker_csr_key_algo: "rsa"
bootstrap_kubernetes_ca__worker_csr_key_size: "2048"
bootstrap_kubernetes_ca__worker_csr_names_c: "{{ ca_country }}"
bootstrap_kubernetes_ca__worker_csr_names_l: "{{ ca_locality }}"
#bootstrap_kubernetes_ca__worker_csr_names_o: "{{ ca_organization }}"
bootstrap_kubernetes_ca__worker_csr_names_ou: "{{ ca_organizational_unit }}"
bootstrap_kubernetes_ca__worker_csr_names_st: "{{ ca_state }}"

# CSR parameter for the kube-proxy client certificate
bootstrap_kubernetes_ca__kube_proxy_csr_cn: "system:kube-proxy"  # DO NOT CHANGE!
bootstrap_kubernetes_ca__kube_proxy_csr_key_algo: "rsa"
bootstrap_kubernetes_ca__kube_proxy_csr_key_size: "2048"
bootstrap_kubernetes_ca__kube_proxy_csr_names_c: "{{ ca_country }}"
bootstrap_kubernetes_ca__kube_proxy_csr_names_l: "{{ ca_locality }}"
#bootstrap_kubernetes_ca__kube_proxy_csr_names_o: "{{ ca_organization }}"
bootstrap_kubernetes_ca__kube_proxy_csr_names_ou: "{{ ca_organizational_unit }}"
bootstrap_kubernetes_ca__kube_proxy_csr_names_st: "{{ ca_state }}"

# CSR parameter for the kube-scheduler client certificate
bootstrap_kubernetes_ca__scheduler_csr_cn: "system:kube-scheduler"  # DO NOT CHANGE!
bootstrap_kubernetes_ca__scheduler_csr_key_algo: "rsa"
bootstrap_kubernetes_ca__scheduler_csr_key_size: "2048"
bootstrap_kubernetes_ca__scheduler_csr_names_c: "{{ ca_country }}"
bootstrap_kubernetes_ca__scheduler_csr_names_l: "{{ ca_locality }}"
#bootstrap_kubernetes_ca__scheduler_csr_names_o: "{{ ca_organization }}"
bootstrap_kubernetes_ca__scheduler_csr_names_ou: "{{ ca_organizational_unit }}"
bootstrap_kubernetes_ca__scheduler_csr_names_st: "{{ ca_state }}"

# CSR parameter for the kube-controller-manager client certificate
bootstrap_kubernetes_ca__controller_manager_csr_cn: "system:kube-controller-manager"  # DO NOT CHANGE!
bootstrap_kubernetes_ca__controller_manager_csr_key_algo: "rsa"
bootstrap_kubernetes_ca__controller_manager_csr_key_size: "2048"
bootstrap_kubernetes_ca__controller_manager_csr_names_c: "{{ ca_country }}"
bootstrap_kubernetes_ca__controller_manager_csr_names_l: "{{ ca_locality }}"
#bootstrap_kubernetes_ca__controller_manager_csr_names_o: "{{ ca_organization }}"
bootstrap_kubernetes_ca__controller_manager_csr_names_ou: "{{ ca_organizational_unit }}"
bootstrap_kubernetes_ca__controller_manager_csr_names_st: "{{ ca_state }}"

# CSR parameter for kube-controller-manager service account key pair.
# The "kube-controller-manager" leverages a key pair to generate and sign
# service account tokens as described in the managing service accounts
# documentation: https://kubernetes.io/docs/admin/service-accounts-admin/
# Hint: Think twice if you want to change this key pair for a K8s cluster
# that has already pods deployed. The private key will be used to sign
# generated service account tokens. The public key will be used to verify
# the tokens during authentication. So if you have pods running e.g. with
# the `default` service account and you roll out a new key pair the "Token
# Controller" (https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/#token-controller)
# which is part of the controller manager won't be able to verify the
# already existing service accounts anymore. So this might cause trouble
# for your running pods.
bootstrap_kubernetes_ca__controller_manager_sa_csr_cn: "k8s-service-accounts"
bootstrap_kubernetes_ca__controller_manager_sa_csr_key_algo: "rsa"
bootstrap_kubernetes_ca__controller_manager_sa_csr_key_size: "2048"
bootstrap_kubernetes_ca__controller_manager_sa_csr_names_c: "{{ ca_country }}"
bootstrap_kubernetes_ca__controller_manager_sa_csr_names_l: "{{ ca_locality }}"
#bootstrap_kubernetes_ca__controller_manager_sa_csr_names_o: "{{ ca_organization }}"
bootstrap_kubernetes_ca__controller_manager_sa_csr_names_ou: "{{ ca_organizational_unit }}"
bootstrap_kubernetes_ca__controller_manager_sa_csr_names_st: "{{ ca_state }}"
