---

bind_ipv4_address: "{{ ipv4_address }}"

## ref: https://netplan.io/examples/
bootstrap_linux__network:
  network:
    version: 2
    renderer: networkd
    ethernets:
      ens160:
        dhcp4: no
        dhcp6: no
        addresses:
          - "{{ ipv4_address }}/{{ ipv4_net_cidr }}"
        gateway4: "{{ gateway_ip4 }}"
        nameservers:
          addresses: "{{ dns_nameservers }}"
#          addresses: [192.168.0.1]
#        set-name: ens192
