---

bind_ipv4_address: "{{ ipv4_address }}"

## cat /usr/share/doc/netplan/examples/static.yaml
## refs:
## - https://netplan.io/examples/
## - https://askubuntu.com/questions/1410750/netplan-gateway-has-been-deprecated

bootstrap_netplan__static_addresses:
  - "{{ ipv4_address }}/{{ gateway_ipv4_net_cidr }}"

bootstrap_netplan__nameservers: "{{ dns_nameservers }}"

bootstrap_netplan__routes:
  - to: default
    via: "{{ gateway_ipv4 }}"

#bootstrap_netplan__configuration:
#  network:
#    version: 2
#    renderer: networkd
#    ethernets:
#      enp1s0:
#        match:
#          macaddress: "{{ ansible_facts['default_ipv4']['macaddress'] }}"
#        dhcp4: false
#        dhcp6: false
#        addresses:
#          - "{{ ipv4_address }}/{{ gateway_ipv4_net_cidr }}"
#        nameservers:
#          addresses: "{{ dns_nameservers }}"
#        routes:
#          - to: default
#            via: "{{ gateway_ipv4 }}"
#        set-name: enp1s0
