---

## ref: https://selfhostedhome.com/combining-different-sized-drives-with-mergerfs-and-snapraid/
## ref: https://blog.ktz.me/combining-zfs-with-other-filesystems-using-mergerfs/

# cartman
mergerfs_main_storage_path: /mnt/storage

extra_mountpoints:
  - { path: "{{ mergerfs_main_storage_path }}" }
#  - { path: /opt, diskbyid: /dev/disk/by-id/ata-KINGSTON_SA400M8240G_50026B7282385203-part1, fs: ext4, opts: "defaults,discard" }

parity_disks:
  - { path: /mnt/parity1, diskbyid: UUID=dfec8b74-a42c-48c5-b08c-a407a4e73200, fs: ext4, opts: "noatime,defaults,discard", content: false }
#  - { path: /mnt/parity1, diskbyid: /dev/disk/by-id/ata-WDC_WD120EDAZ-11F3RA0_5PJHZW1F-part1, fs: ext4, opts: defaults, content: false }
#  - { path: /mnt/parity1, diskbyid: /dev/disk/by-id/ata-WDC_WD120EDAZ-11F3RA0_5PJHZW1F-part1, fs: ext4, opts: defaults, content: false }
#  - { path: /mnt/parity2, diskbyid: /dev/disk/by-id/ata-WDC_WD100EMAZ-00WJTA0_16G1016Z-part1, fs: xfs, opts: defaults, content: false }

## Run the blkid command on each of your hard drives. This command will tell you the UUID.
##  sudo blkid /dev/sdXY
##  ref: https://www.addictivetips.com/ubuntu-linux-tips/set-up-snapraid-on-ubuntu-server/
data_disks:
  - { path: /mnt/disk0731, diskbyid: UUID=49139026-04fb-4606-ba7e-a3f551ec31a3, fs: ext4, opts: "noatime,defaults", content: true }
  - { path: /mnt/disk0271, diskbyid: UUID=231ac549-49f7-4aa1-a81b-6c62c892e686, fs: ext4, opts: "noatime,defaults", content: true }
  - { path: /mnt/disk0272, diskbyid: UUID=fedbcf6f-9f4a-472d-8d52-a8dbab7fbb4d, fs: ext4, opts: "noatime,defaults", content: true }
  - { path: /mnt/disk0273, diskbyid: UUID=5c2817f7-c21f-4933-969b-574655235af6, fs: ext4, opts: "noatime,defaults", content: true }
  - { path: /mnt/disk0274, diskbyid: UUID=40cb4008-2bd5-4491-9c3c-a7cfb2220b05, fs: ext4, opts: "noatime,defaults", content: true }
  - { path: /mnt/disk0181, diskbyid: UUID=4cee9952-6216-46c1-b0f1-e9a85a21758b, fs: ext4, opts: "noatime,defaults", content: true }
#  - { path: /mnt/disk0091, diskbyid: UUID=a80be579-2ca7-4e8e-8462-11a33b6eac97, fs: ext4, opts: "noatime,defaults", content: true }
  - { path: /mnt/disk0092, diskbyid: UUID=1f5751ab-9553-49a2-9168-f8ae37e11455, fs: ext4, opts: "noatime,defaults", content: true }
  - { path: /mnt/disk0093, diskbyid: UUID=ad9fe9f8-0a63-48b6-ac14-8370be461fc7, fs: ext4, opts: "noatime,defaults", content: true }
  - { path: /mnt/disk0094, diskbyid: UUID=52eeec34-12fb-434a-abf0-c297c2ba3cae, fs: ext4, opts: "noatime,defaults", content: true }

#  - { path: /mnt/disk0549, diskbyid: UUID=c8d394a5-1dcb-4de6-8096-e58723cf4412, fs: ext4, opts: "noatime,defaults", content: true }


zfs_disks:
  # ata-WDC_WD100EMAZ-00WJTA0_16G10VZZ-part1
  #

fstab_mergerfs_configs:
  ## ref: https://github.com/trapexit/mergerfs/wiki/Real-World-Deployments
  trapexit: "threads=16,allow_other,cache.files=off,use_ino,dropcacheonclose=true,link_cow=true,category.create=mfs"
  trapexit2: "defaults,allow_other,category.create=msplfs,minfreespace=100G,use_ino,dropcacheonclose=true,ignorepponrename=true,moveonenospc=mspmfs"
  ## ref: https://github.com/IronicBadger/infra/blob/master/group_vars/helios64.yaml
  ironbadger: "defaults,nonempty,allow_other,use_ino,cache.files=off,moveonenospc=true,dropcacheonclose=true,fsname=mergerfs"
  ## ref: https://perfectmediaserver.com/tech-stack/mergerfs/
  perfectmediaserver: "defaults,nonempty,allow_other,use_ino,cache.files=off,moveonenospc=true,dropcacheonclose=true,fsname=mergerfs,category.create=mfs,minfreespace=250G"
  dettonville: "threads=16,nonempty,allow_other,use_ino,cache.files=off,moveonenospc=true,dropcacheonclose=true,fsname=mergerfs,category.create=mfs,minfreespace=50G"

## ref: https://github.com/trapexit/mergerfs#options
fstab_mergerfs:
#  - { source: "/mnt/disk*:/mnt/tank/fuse", mountpoint: "{{ mergerfs_main_storage_path }}", fs: fuse.mergerfs, opts: "defaults,nonempty,allow_other,use_ino,cache.files=off,moveonenospc=true,dropcacheonclose=true,fsname=mergerfs" }
#  - { source: "/mnt/disk*", mountpoint: "{{ mergerfs_main_storage_path }}", fs: fuse.mergerfs, opts: "{{ fstab_mergerfs_configs['ironbadger'] }}" }
  - { source: "/mnt/disk*", mountpoint: "{{ mergerfs_main_storage_path }}", fs: fuse.mergerfs, opts: "{{ fstab_mergerfs_configs['dettonville'] }}" }


snapraid_email_address: ""
snapraid_email_pass: ""
snapraid_smtp_host: mail.johnson.int
snapraid_smtp_port: 25
snapraid_use_ssl: no

snapraid_email_address_from: "{{ email }}"
snapraid_email_address_to: "{{ email }}"

## abort operation if there are more deletes than this, set to -1 to disable
#snapraid_deletethreshold: -1
#snapraid_deletethreshold: 1000
#snapraid_deletethreshold: 2000
#snapraid_deletethreshold: 10000
snapraid_deletethreshold: 500000

snapraid_healthcheck_io_uuid: "{{ vault__snapraid_healthcheck_io_uuid }}"
#snapraid_healthcheck_io_uuid: "11111111-0000-5555-99999-00000000000"
snapraid_healthcheck_url: "https://healthchecks.admin.johnson.int/ping/{{ snapraid_healthcheck_io_uuid }}"

# ktz-traefik
traefik_file_provider: true
traefik_enable_dashboard: false #defaults to false
traefik_insecure_transport: false #defaults to false

## snapraid
snapraid_config_excludes:
  - "*.unrecoverable"
  - "*.nfo"
  - "*.nfo-orig"
  - "/tmp/"
  - "/lost+found/"
  - "downloads/"
  - "appdata/"
  - "*.!sync"
  - ".AppleDouble"
  - "._AppleDouble"
  - ".DS_Store"
  - "._.DS_Store"
  - ".Thumbs.db"
  - ".fseventsd"
  - ".Spotlight-V100"
  - ".TemporaryItems"
  - ".Trashes"
  - ".AppleDB"

## telegraf
telegraf_plugins_base:
  - name: mem
  - name: system
  - name: cpu
    options:
      percpu: "true"
      totalcpu: "true"
      collect_cpu_time: "false"
      report_active: "false"
  - name: disk
    options:
      ignore_fs:
        - "tmpfs"
        - "devtmpfs"
        - "devfs"
      mountpoints:
        - "/"
        - "/mnt/disk1"
        - "/mnt/disk2"
        - "/mnt/parity1"
        - "/mnt/storage"
        - "/mnt/tank"
  - name: diskio
    options:
      skip_serial_number: "true"
  - name: kernel
  - name: processes
  - name: docker
    options:
      endpoint: "unix:///var/run/docker.sock"
#      endpoint: "tcp://socket-proxy:2375"
      perdevice: "true"
  - name: hddtemp
  - name: net
    options:
      interfaces:
        - "eth0"

##########
## crons
##   list of CRONs to be setup for docker_stack machines.
##########
bootstrap_linux_cron__list__mergerfs:
  - name: "zfs trim"
    job: "if [ $(date +%w) -eq 0 ] && [ -x /usr/lib/zfs-linux/trim ]; then /usr/lib/zfs-linux/trim; fi"
    schedule: ["0", "0", "*", "*", "0"]
  - name: "zfs scrub"
    job: "if [ $(date +%w) -eq 0 ] && [ -x /usr/lib/zfs-linux/scrub ]; then /usr/lib/zfs-linux/scrub; fi"
    schedule: ["0", "0", "*", "*", "0"]

