---

bootstrap_user: root
ansible_user: root
# ansible_host: "localhost"

#os_python_interpreter: /usr/bin/env python3
#os_python_interpreter: /usr/bin/python3

#ansible_python_interpreter: /usr/bin/env python3
# ansible_python_interpreter: "/usr/bin/python3"
# ansible_python_interpreter: /usr/bin/env python
ansible_python_interpreter: "python3"

ca_domain: example.int

firewalld_flush_all_handlers: false
firewalld_handler_reload: false

# bootstrap_linux__install_packages: true
bootstrap_linux_package__update_cache: false

#bootstrap_linux_package__setup_yum_repos: false

bootstrap_linux_package__exclude_list:
  - resolvconf
  - hddtemp
  - htop
  - iftop
  - ncdu
  - screen
  - wireguard-tools
  - cifs-utils

# bootstrap_linux_package__install_pip_libs: false

## override mount list set by linux group
bootstrap_linux_mount__list: []

## override tmpdir mount set by linux group
bootstrap_linux_mount__list__tmpdir: []

bootstrap_linux_core__setup_dns: false

bootstrap_linux_core__setup_hostname: false

bootstrap_linux_core__setup_journald: false

bootstrap_linux_core__set_timezone: false

bootstrap_linux_core__setup_figurine: false

bootstrap_linux__install_ntp: false

bootstrap_linux__setup_firewalld: false

# bootstrap_linux__setup_postfix: false

# bootstrap_linux__setup_java: false

bootstrap_linux__setup_sshd: false

bootstrap_linux__setup_ldap_client: false

bootstrap_linux__setup_logrotate: false

bootstrap_linux__setup_nfs: false

bootstrap_linux__setup_samba_client: false

# bootstrap_linux__setup_webmin: false

# bootstrap_linux__setup_docker: false

bootstrap_linux__setup_network: false

bootstrap_linux__setup_stepca: false

bootstrap_linux__setup_cacerts: false

bootstrap_linux__setup_crons: false

bootstrap_linux__harden: false

bootstrap_docker__enable_cron_jobs: false
bootstrap_docker__deploy_registry_certs: false
bootstrap_docker__service_started: false
