---

## firewall
firewalld_enabled: yes

#bind_firewalld_services:
#  - name: bind

#bind_firewalld_ports:
firewalld_ports__bind:
  - "53/udp"
  - "53/tcp"
  - "953/udp"
  - "953/tcp"

bind_zone_master_server_ip: "{{ hostvars[groups['bind_master'][0]]['ansible_default_ipv4']['address'] }}"
#bind_zone_master_server_ip: "{{ hostvars[groups['bind_master'][0]]['ansible_host'] }}"

## ref: https://github.com/SiebertT/EnterpriseLinux2017/blob/9bc8b80cba0e65efeaca105b49991523c4432703/report/Task%2004%20DHCP/cheat-sheet%20DHCP.md
## ref: https://github.com/bertvv/ansible-role-pxeserver/blob/master/tests/test.yml

dhcp_global_domain_name: dettonville.int

#dhcp_global_domain_name_servers: "{{ groups['nameserver'] | map('extract', hostvars, ['ansible_default_ipv4', 'address']) | list }}"

dhcp_pxeboot_server: "{{ hostvars[groups['pxe'][0]]['ansible_default_ipv4']['address'] }}"
dhcp_global_next_server: "{{ dhcp_pxeboot_server }}"

dhcp_global_omapi_secret: "{{ omapi_key }}"

#dhcp_pxe_filename_uefi: "pxelinux/netboot.xyz.efi"
#dhcp_pxe_filename: "pxelinux/netboot.xyz.kpxe"
dhcp_pxe_filename_uefi: "netboot.xyz.efi"
dhcp_pxe_filename: "netboot.xyz.kpxe"


#dhcp_subnets:
#  - ip: 192.168.50.0
#    netmask: 255.255.255.0

dhcp_subnets: ## specifies the subnets available to the DHCP server
#  - ip: 192.168.0.0
#    netmask: 255.255.0.0
  - ip: 10.168.0.0
    netmask: "{{ ipv4_netmask }}"
    ## ref: https://stackoverflow.com/questions/36328907/ansible-get-all-the-ip-addresses-of-a-group
#    domain_name_servers: "{{ groups['nameserver'] | map('extract', hostvars, ['ansible_host']) | join(',') }}"
#    domain_name_servers: "{{ groups['nameserver'] | map('extract', hostvars, ['ansible_default_ipv4', 'address']) }}"
#    domain_name_servers: "{{ groups['nameserver'] | map('extract', hostvars, ['ansible_host']) }}"
    ## lease time for provided IPs
    max_lease_time: 43200
#    next_server: "{{ hostvars[groups['pxe'][0]]['ansible_default_ipv4']['address'] }}"

    ## ref: https://kb.isc.org/docs/isc-dhcp-41-manual-pages-dhcpdconf#DHCP%20FAILOVER
    ## ref: http://isc-dhcp-users.2343191.n4.nabble.com/failover-without-any-pool-configured-to-failover-td730.html
    pools:
      - default_lease_time: 14400
        range_begin: 192.168.20.10
        range_end: 192.168.20.253
#        range_end: 192.168.29.253
        allow: members of "vmware"
        failover_peer: "failover-group"
#      - default_lease_time: 14400
#        range_begin: 192.168.30.1
#        range_end: 192.168.39.253
#        allow: vbox
#        failover_peer: "failover-group"
      - default_lease_time: 14400
        range_begin: 192.168.30.10
        range_end: 192.168.30.253
#        range_end: 192.168.39.253
#        allow: members of "openstack"
        allow: members of "kvm"
        failover_peer: "failover-group"
      - default_lease_time: 14400
        range_begin: 192.168.40.10
        range_end: 192.168.40.253
#        range_end: 192.168.49.253
        allow: known-clients
        failover_peer: "failover-group"
      - default_lease_time: 14400
        range_begin: 192.168.50.1
        range_end: 192.168.50.253
#        range_end: 192.168.200.253
        allow: unknown-clients
        failover_peer: "failover-group"


#dhcp_hosts: ## pinpoints the static DHCP allocation for the specified interface
#  - name: "admin01"
#    mac: "{{ hostvars['admin01']['mac_address'] }}"
#    ip: "{{ hostvars['admin01']['vm_ip_addr'] }}"
#  - name: "powerconnect01"
#    mac: "00:21:9b:ae:3d:78"
#    ip: "{{ hostvars['powerconnect01']['ip_addr'] }}"
##  - name: cl1
##    mac: '08:00:27:85:03:66'
##    ip: 192.168.30.2

dhcp_global_classes:
  ## ref: https://www.nakivo.com/blog/virtualbox-network-setting-guide/
  - name: vmware
    match: 'match if binary-to-ascii(16,8,":",substring(hardware, 1, 3)) = "0:50:56"'
  - name: kvm
    match: 'match if binary-to-ascii(16,8,":",substring(hardware, 1, 3)) = "52:54:0"'
  - name: vbox
    match: 'match if binary-to-ascii(16,8,":",substring(hardware, 1, 3)) = "8:0:27"'

dhcp_apparmor_fix: false


## remove vars related to old dhcp role from nathancurry - replaced with bertvv
#ns1: ns1.dettonville.int
#ns2: ns2.dettonville.int

#search_domain: 'dettonville.int'
#forward_zone: 'dettonville.int.'
#reverse_zone: '30.168.192.in-addr.arpa.'


