---

#deploy_ca_certs__using_stepca: false

bootstrap_user: administrator

bootstrap_linux__setup_caroot: true

bootstrap_admin_user: false

bootstrap_linux_mount__list:
  - name: "/data"
    src: "{{ nfs_primary_host }}:{{ nfs_primary_share }}"
    fstype: "nfs"
    options: "vers=4.1,intr,auto,nofail"
