---

#deploy_cacerts__using_stepca: false

bootstrap_user: administrator

bootstrap_linux__setup_caroot: true

bootstrap_admin_user: false

bootstrap_linux_mount__list__tmpdir:
  - name: "/tmp"
    src: "tmpfs"
    fstype: "tmpfs"
    options: 'size=1G,defaults,noatime,nosuid,nodev,mode=1777'

bootstrap_linux_mount__list:
  - name: "/data"
    src: "{{ nfs_primary_host }}:{{ nfs_primary_share }}"
    fstype: "nfs"
    options: "vers=4.1,intr,auto,nofail"
