---

#deploy_ca_certs__using_stepca: false

bootstrap_user: administrator

bootstrap_linux__setup_caroot: true

bootstrap_admin_user: false

bootstrap_linux_mount__list:
  - name: "/data"
    src: "{{ nfs_primary_host }}:{{ nfs_primary_share }}"
    fstype: "nfs"
    options: "vers=4.1,proto=tcp,hard,intr,noatime,nodiratime,timeo=150,retrans=2,_netdev"
#    options: "vers=4.1,proto=tcp,hard,intr,rsize=1048576,wsize=1048576,noatime,nodiratime,timeo=150,retrans=2,_netdev"
#    options: "vers=4.1,intr,auto,nofail"
