---
#ansible_user: ansible
#ansible_admin_user: "{{ lookup('env', 'USER') }}"

#ipv4_net_prefix: 16
#ipv4_net_prefix: 8

#ca_domains_hosted: []

dns_search_domains:
  - johnson.int
  - dettonville.int

pki_cert_dir: /etc/ssl/certs
pki_key_dir: /etc/ssl/private

ca_local_cert_dir: /usr/local/ssl/certs
ca_local_key_dir: /usr/local/ssl/private

vmware_vm_gateway_ip: "{{ gateway_ip4 }}"

#bootstrap_username: root
bootstrap_username: administrator

deployer_username: "{{ ansible_user }}"
deployer_sshkey: "{{ '~/.ssh/id_rsa.pub' | expanduser }}"

os_python_interpreter: /usr/bin/python
os_pip_bin: "{{ 'pip' }}"
os_python3_interpreter: /usr/bin/python3
os_pip3_bin: "{{ 'pip3' }}"

#os_auditd_max_log_file_action: keep_logs
os_auditd_max_log_file_action: rotate

#ansible_python_interpreter: "{{ os_python_interpreter }}"
ansible_python_interpreter: "{{ os_python3_interpreter }}"
#ansible_python_interpreter: /usr/bin/python
#ansible_python_interpreter: /usr/bin/python3

ansible_pip_interpreter: "{{ os_pip3_bin }}"

### https://github.com/nickjj/ansible-docker
#ansible_python_docker_interpreter: "/usr/bin/env python-docker"
ansible_python_docker_interpreter: "/usr/local/bin/python-docker"

openstack_venv_path: "/opt/openstack"
ansible_openstack_python_interpreter: "{{ openstack_venv_path  }}/bin/python"

ca_keyring_repo_email: "ansible@dettonville.org"


logrotate_applications:
  - name: audit
    definitions:
      - logs:
          - "/var/log/audit/*.log"
        options:
#          - su user group
          - rotate 4
          - daily
#          - weekly
          - missingok
          - notifempty
  - name: mail
    definitions:
      - logs:
        -  "/var/log/mail.*"
        options:
          - daily
          - size 25M
          - rotate 4
          - missingok
          - compress
          - delaycompress
          - copytruncate


timezone: "America/New_York"

## ansible-os-hardening
#server_harden_os_login_defs_enabled: yes
#server_harden_cron_enabled: yes
#server_harden_os_auditd_enabled: yes
#server_harden_sysctl_enabled: yes

#os_auth_pw_max_age: 99999
#os_auth_pw_min_age: 0

## firewall
firewalld_enabled: yes
firewalld_default_zone: internal

firewalld_conf:
  DefaultZone: "{{ firewalld_default_zone }}"
  ## ref: https://github.com/firewalld/firewalld/issues/440
  IndividualCalls: "yes"

firewalld_services:
  - name: ssh
  - name: ntp
  - name: webmin
    short: "webmin"
    custom: yes
    description: "webmin services"
    port:
      - port: 10000
        protocol: tcp

firewalld:
  - zone: "{{ firewalld_default_zone }}"
    immediate: 'yes'
    masquerade: 'yes'
    permanent: 'yes'
    state: enabled

firewalld_zones:
  - name: "{{ firewalld_default_zone }}"
    short: "MGT"
    description: "internal infrastructure hosts"
    target: "ACCEPT"
    source:
      ## localhost
      - address: 127.0.0.0/8
      ## docker
      - address: 172.0.0.0/8
      ## internal networks
      - address: "{{ gateway_ip4_subnet_1_2 }}.0.0/{{ ipv4_net_prefix }}"
    service:
      - name: "webmin"
      - name: ssh

## NTP client settings moved to groups/ntp_client.yml
### NTP configs
### ref: https://github.com/geerlingguy/ansible-role-ntp
#ntp_enabled: true
#ntp_timezone: America/New_York
#
#ntp_manage_config: yes
#ntp_area: 'us'
#
#ntp_servers:
#  - "192.168.0.1 prefer iburst"
#
#ntp_servers:
#  - "192.168.0.1 iburst"
#  - 0{{ '.' + ntp_area if ntp_area else '' }}.pool.ntp.org iburst
#  - 1{{ '.' + ntp_area if ntp_area else '' }}.pool.ntp.org iburst
#  - 2{{ '.' + ntp_area if ntp_area else '' }}.pool.ntp.org iburst
#  - 3{{ '.' + ntp_area if ntp_area else '' }}.pool.ntp.org iburst

## postfix client settings moved to groups/postfix_client.yml
### BOOTSTRAP-NODE
### POSTFIX
#postfix_aliases:
#  - user: hostmaster
#    alias: root
##  - user: root
##    alias: admin@dettonville.org
#  - user: root
#    alias: admin@dettonville.com
#
#postfix_virtual_aliases:
##  - virtual: root
##    alias: admin@dettonville.org
#  - virtual: root
#    alias: admin@dettonville.com
#
#postfix_sender_canonical_maps:
##  - sender: root
##    rewrite: admin@dettonville.org
#  - sender: root
#    rewrite: admin@dettonville.com
#
#postfix_relayhost: mail.johnson.int
#postfix_relayhost_port: 25
#postfix_sasl_auth_enable: false
#postfix_smtpd_use_tls: false
#postfix_inet_protocols: ipv4
#
#postfix_disable_vrfy_command: true
#
##postfix_mailname: "dettonville.org"
##postfix_mydestination: []
#postfix_mydestination:
#  - "{{ postfix_hostname }}"
#  - localdomain
#  - localhost
#  - localhost.localdomain
#
#postfix_mynetworks:
#  - 127.0.0.0/8
#  - 172.0.0.0/8
#  - 10.0.0.0/8
#  - 192.168.0.0/16
#  - 'localhost'
#  - '[::ffff:127.0.0.0]/104'
#  - '[::1]/128'
#
#postfix_sasl_user: AKIXXXXXXXXXXXXXXXXX
#postfix_sasl_password: ASDFXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
#
##postfix_smtpd_relay_restrictions: []
#
#postfix_raw_options:
# - |
#   #debug_peer_list = 192.168.0.135, 192.168.0.43, 192.168.0.40
#   #debug_peer_list = 192.168.0.42
#   debug_peer_list = 192.168.0.15
#

## SSHD configs
## https://www.ssh.com/ssh/sshd_config/
## https://github.com/willshersystems/ansible-sshd
## https://gist.github.com/cmavr8/eb4a9e596bd0e3e85f97d907de288c54
## https://www.veeam.com/kb2061
## https://gist.github.com/cmavr8/eb4a9e596bd0e3e85f97d907de288c54
sshd:
  AcceptEnv: LANG LC_*
  AuthorizedKeysFile: .ssh/authorized_keys
  ChallengeResponseAuthentication: no
  Ciphers: aes256-gcm@openssh.com,aes128-ctr,aes192-ctr,aes256-ctr
  GSSAPIAuthentication: yes
  GSSAPICleanupCredentials: no
  KexAlgorithms: curve25519-sha256,curve25519-sha256@libssh.org,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512,diffie-hellman-group14-sha256,diffie-hellman-group-exchange-sha256,diffie-hellman-group1-sha1
  MACs: hmac-sha2-256,hmac-sha2-512,hmac-sha1
  PasswordAuthentication: yes
#  Banner: /etc/issue
  PrintMotd: no
  Subsystem: "sftp {{ '/usr/libexec/openssh/sftp-server' if ansible_os_family=='RedHat' else '/usr/lib/openssh/sftp-server' }}"
  SyslogFacility: AUTHPRIV
  UseDNS: no
  UsePAM: yes
  UsePrivilegeSeparation: sandbox
  X11Forwarding: yes

  ## use LDAP ssh public key
  ## ref: http://pig.made-it.com/ldap-openssh.html#29273
  AuthorizedKeysCommand: /usr/local/bin/fetchSSHKeysFromLDAP
  AuthorizedKeysCommandUser: nobody
#  AuthorizedKeysCommandRunAs root


common_node_mounts_tmpdir:
  - name: "/tmp"
    src: "tmpfs"
    fstype: "tmpfs"
    options: 'size=512m,defaults,noatime,nosuid,nodev,mode=1777'
#    options: 'size=2G,defaults,noatime,nosuid,nodev,mode=1777'

common_node_mounts:
  - name: "/data"
    src: "diskstation01.johnson.int:/volume1/data"
    fstype: "nfs"
    options: "intr,auto,_netdev"

#  - name: "/data"
##    src: "control01.johnson.int:/srv/data1/data"
#    src: "control01.johnson.int:/data"
#    fstype: "nfs"
#    options: "intr,_netdev"
#
#  - name: "/mnt/syn-ds01"
#    src: "diskstation01.johnson.int:/volume1/data"
#    fstype: "nfs"
#    options: "intr,_netdev"
#
#  - name: "/data"
#    src: "/mnt/syn-ds01"
#    fstype: none
#    options: "rw,bind"


#root_user:
#  - name: root
#    homedir: /root
#    ssh_keypair:
#      private: '{{ admin_ssh_private_key }}'
#      public: '{{ admin_ssh_public_key }}'

container_user_name: "container-user"
container_user_uid: 1102
container_user_gid: 1102

sha512_hashed_root_password: "{{ '00000000000000000000000000000000000000000' | password_hash('sha512') }}"
sha512_hashed_admin_password: "{{ '00000000000000000000000000000000000000000' | password_hash('sha512') }}"

linux_users:
  - name: root
    homedir: /root
    hashed_password: "{{ sha512_hashed_root_password }}"
    ssh_keypair:
      private: '{{ admin_ssh_private_key }}'
      public: '{{ admin_ssh_public_key }}'

  - name: administrator
    system: yes
    groups: "{{ admin_sudo_group }}"
    generate_ssh_key: no
    auth_key: "{{ admin_ssh_public_key }}"
    ssh_keypair:
      private: '{{ admin_ssh_private_key }}'
      public: '{{ admin_ssh_public_key }}'
    hashed_password: "{{ sha512_hashed_admin_password }}"
#    uid: 1100
#    gid: 1100
    password_valid_days: 99999

  - name: ansible
    system: yes
    groups: "{{ admin_sudo_group }}"
#    generate_ssh_key: yes
    ssh_keypair:
      private: '{{ admin_ssh_private_key }}'
      public: '{{ admin_ssh_public_key }}'
    ## How to use Credentials in AWX playbook
    ## Using custom credential to store public ssh keys (for now)
    ## ref: https://groups.google.com/forum/#!topic/awx-project/ce95ooS2sp0
    ## ref: https://termlen0.github.io/2019/06/08/observations/
    auth_key: "{{ admin_ssh_public_key }}"
    hashed_password: "{{ sha512_hashed_ansible_password }}"
#    uid: 1101
#    gid: 1101
    password_valid_days: 99999

  #  - name: deployer
  - name: "{{ container_user_name }}"
#    generate_ssh_key: yes
    hashed_password: "{{ sha512_hashed_admin_password }}"
    uid: "{{ container_user_uid }}"
    gid: "{{ container_user_gid }}"

sysctl_overwrite:
  ## if docker/k8s, enable ipv4 forwarding
  # Enable IPv4 traffic forwarding.
  net.ipv4.ip_forward: 1

  ## ref: https://bbs.archlinux.org/viewtopic.php?id=141144
#  net.ipv6.ip_forward: 0

  ## ref: https://wwwx.cs.unc.edu/~sparkst/howto/network_tuning.php
  net.core.rmem_default: 65536
  net.core.wmem_default: 65536

  ## ref: https://www.cyberciti.biz/faq/linux-tcp-tuning/
  ##  The default value of rmem_max and wmem_max is about 128 KB in most Linux distributions,
  ##  which may be enough for a low-latency general purpose network environment or for apps such as DNS / Web server.
  ##  However, if the latency is large, the default size might be too small.
  ## Please note that the following settings going to increase memory usage on your server.
#  net.core.rmem_max: 8388608
#  net.core.wmem_max: 8388608
  net.core.wmem_max: 12582912
  net.core.rmem_max: 12582912

  ##  You also need to set minimum size, initial size, and maximum size in bytes:
  net.ipv4.tcp_rmem: '10240 87380 12582912'
  net.ipv4.tcp_wmem: '10240 87380 12582912'
  net.ipv4.tcp_mem: '12582912 12582912 12582912'

  ## Turn on window scaling which can be an option to enlarge the transfer window:
  net.ipv4.tcp_window_scaling: 1

  ## Enable select acknowledgments:
  net.ipv4.tcp_sack: 1

  ## By default, TCP saves various connection metrics in the route cache when the connection closes,
  ## so that connections established in the near future can use these to set initial conditions.
  ## Usually, this increases overall performance, but may sometimes cause performance degradation.
  ## If set, TCP will not cache metrics on closing connections.
  net.ipv4.tcp_no_metrics_save: 1

  ## Set maximum number of packets, queued on the INPUT side, when the interface receives packets faster than kernel can process them.
  net.core.netdev_max_backlog: 5000



#
#common_config__network:
#  network:
#    version: 2
#    renderer: networkd
#    ethernets:
#      ens192:
#        dhcp4: yes
#        dhcp6: no
##        ## ref: https://www.oxcrag.net/2019/02/07/creating-a-working-ubuntu-18-04-vmware-template/
##        dhcp-identifier: mac
#        set-name: ens192
#


### bootstrap-node
### awstats
#awstats_enabled: no
##awstats_domain: "dettonville.org"
#awstats_domain: "johnson.local"
#apache_vhosts_awstats:
#  - {servername: "localhost", serveradmin: "admin@dettonville.org", documentroot: "/usr/lib/cgi-bin"}

### IPA
### ref: https://github.com/nathancurry/homelab.ansible/tree/master
#searchdomain: 'dettonville.int'
#
#ipaserver_domain: 'dettonville.int'
#ipaserver_realm: 'DETTONVILLE.INT'
#ipaserver_forwarders:
#  - 192.168.30.2
#  - 192.168.30.3
#ipaserver_no_reverse: false
#ipaserver_setup_dns: yes
#
#ipaclient_domain: 'dettonville.int'
#ipaclient_no_ntp: 'yes'
#
#freeipa_server: 'ipa1.dettonville.int'
#
