---
## only open firewall SMTP port if acting as server / relay
#postfix_firewalld_ports:
#  - "25/tcp"

firewalld_ports__postfix:
  - "25/tcp"


## docker-postfix
smtp_relay_host: "smtp.gmail.com"
#smtp_relay_port: "587"
smtp_relay_port: "465"
smtp_relay_username: "admin@dettonville.com"
#smtp_relay_accepted_networks: "192.168.0.0/16 172.16.0.0/12 10.0.0.0/8"
smtp_relay_accepted_networks: "{{ gateway_ip4_subnet_1_2 }}.0.0/{{ ipv4_net_prefix }} 172.16.0.0/12"
#smtp_relay_excludes: "192.168.0.61 192.168.0.7 192.168.0.89"

## MAIL/POSTFIX
#postfix_allowed_sender_domains: "johnson.int {{ external_domain }}"
#postfix_relayhost: mail.johnson.int
#postfix_relayhost: mail.johnson.int
#postfix_relayhost_port: 1025
#postfix_sasl_auth_enable: false

postfix_relayhost: smtp.gmail.com
postfix_relayhost_port: 587
postfix_relaytls: true
postfix_smtp_tls_cafile: "{{ ca_cert_bundle }}"
postfix_sasl_auth_enable: true
postfix_sasl_user: 'foo'
postfix_sasl_password: 'bar'


#postfix_mailname: "dettonville.org"
postfix_mailname: "dettonville.com"
#postfix_mydestination: []

## ref: http://www.postfix.org/ADDRESS_REWRITING_README.html
postfix_generic:
  - pattern: "@dettonville.int"
#    result: "$local@dettonville.org"
    result: "$local@dettonville.com"
  - pattern: "@johnson.int"
#    result: "$local@dettonville.org"
    result: "$local@dettonville.com"
  - pattern: "@johnson.int"
#    result: "$local@dettonville.org"
    result: "$local@dettonville.com"

#postfix_rbl_overrides:
# - |
#   192.168.0.7 REJECT   ## pdc1
#   192.168.0.89 REJECT  ## nas2

#postfix_raw_options:
#  - |
#    ## ref: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=892218
#    smtpd_relay_restrictions = permit_mynetworks, permit_sasl_authenticated, defer_unauth_destination

#postfix_raw_options:
#  - |
#    ## ref: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=892218
#    smtpd_client_restrictions = check_client_access hash:/etc/postfix/rbl_override, permit

postfix_raw_options:
 - |
   ##debug_peer_list = 192.168.0.135, 192.168.0.43, 192.168.0.40
   debug_peer_list = 192.168.0.15, 192.168.0.40, 192.168.0.42

postfix_smtpd_relay_restrictions:
  - permit_mynetworks
  - permit_sasl_authenticated
  - defer_unauth_destination

