---

deploy_ca_certs__using_stepca: false

# If you want to modify things in app_conf, you may need to supply
# the whole dictionary. Or just modify the vars/main.yml...
# Vars listed below should be enough for you.
# Optional. Software install directories.
install_root: /opt/stepca
src_root: /opt/stepca-src
ct_install_root: /opt/ctgo
ct_src_root: /opt/ctgo-src
# Optional. Change these releases vars to use updated source code
current_release: release-2020-02-03
ct_current_release: tags/v1.1.0
# Required. Place your CA in
# secret/certificates/{{ ansible_fqdn }}/issuing
issuing_ca_crtname: name.pem
issuing_ca_keyname: name.key
# Required.
ca_database_name: ca
ctlog_database_name: ct
# Optional. Set False to avoid overhead of running a full CT log.
stepca_ca_server: true

# Required when stepca_ca_server is True.
# You still need ctlog_shards to define the only tree.
ctlog_sharding: false
ctlog_shards:
  - prefix: example
    # These are ignored when ctlog_sharding=False, so optional
    # use anything > 0 that can be recongize by `to_datetime` filter
    start: 0
    end: 0
    root: '{{ issuing_ca_crtname }}'
# Required. Provide your resolver *and* port
va_resolvers:
  - 127.0.0.1:53
# Required for your custom enviornments.
ca_policies:
  # Required.
  # Your CAA record should match this.
  caa_domain: example.com
  valid_duration: 2160h
  # Provided your own or leave this
  cp_oid: 2.5.29.32.0
  # Set to where you're hosting OCSP responder
  ocsp_domain: ocsp.pki.example.com
  # Optional.
  # You may need to host CPS and ToS elsewhere or
  # you will need to modify Caddyfile
  cps_url: http://pki.example.com/cps
  cp_usernotice:
  tos_url: http://pki.examples.com/tos
# Required. set to where you're hosting the ACME endpoints
api_domain: pki.example.com
# Optional. This is meta.website in the ACME directory
company_homepage: example.com
