---

#hostname_name_full: "{{ ansible_fqdn }}"
#hostname_name_short: "{{ ansible_fqdn.split('.')[0] }}"

figurine_name: "{{ ansible_hostname }}"

#cacert_keyring_host: "control01.johnson.int"

## make sure not to overwrite the tmp dir since used by local ansible during image build
common_node_mounts_tmpdir: []

#common_node_mounts:
#  - name: "/data"
#    src: "diskstation01.johnson.int:/volume1/data"
#    fstype: "nfs"
#    options: "intr,_netdev"
#
