---

deploy_vm__vmware_vm_os_flavor: linux

#bootstrap_user: packer
bootstrap_user: osbuild

packer_user_uid: 300
packer_user_gid: 300

#bootstrap_packer_user:
#  name: packer
#  system: true
#  groups: "{{ linux_user_admin_sudo_group }}"
#  auth_key: "{{ admin_ssh_public_key }}"
##  hashed_password: "{{ sha512_hashed_packer_password }}"
#  password: "{{ vault__packer_user_password }}"
#  uid: "{{ packer_user_uid }}"
#  gid: "{{ packer_user_gid }}"
#  password_valid_days: 99999

bootstrap_linux_mount__list__tmpdir:
  - name: "/tmp"
    src: "tmpfs"
    fstype: "tmpfs"
    options: 'size=1G,defaults,noatime,nosuid,nodev,mode=1777'


bootstrap_linux_mount__list:
  - name: "/data"
    src: "{{ nfs_primary_host }}:{{ nfs_primary_share }}"
    fstype: "nfs"
    options: "vers=4.1,intr,auto,nofail"
