---

vcenter_hostname: "vcsa.dettonville.int"
vcenter_username: "{{ vault__vcenter_username | d('') }}"
vcenter_password: "{{ vault__vcenter_password | d('') }}"

esxi_username: "{{ vault__esxi_username | d('') }}"
esxi_password: "{{ vault__esxi_password | d('') }}"

bootstrap_vmware_datastores__hostname: "{{ vcenter_hostname }}"
bootstrap_vmware_datastores__username: "{{ vcenter_username }}"
bootstrap_vmware_datastores__password: "{{ vcenter_password }}"

deploy_vm__vcenter_hostname: "{{ vcenter_hostname }}"
deploy_vm__vcenter_username: "{{ vcenter_username }}"
deploy_vm__vcenter_password: "{{ vcenter_password }}"
deploy_vm__vcenter_validate_certs: false

vcenter_license: "{{ vault__vcenter_license | d('') }}"
esxi_license: "{{ vault__esxi_license | d('') }}"
vsphere_licenses: "{{ vault__vsphere_licenses | d('') }}"

govc_version: "0.23.0"
govc_path: /usr/local/bin
govc_file: "{{ govc_path }}/govc"

deploy_vm__vmware_vm_gateway_ip: "{{ gateway_ipv4 }}"
deploy_vm__vmware_vm_guest_domain: "dettonville.int"

# deploy_vm__vmware_vm_datacenter: "johnsondc"
deploy_vm__vmware_vm_datacenter: "dettonville-dc-01"
deploy_vm__vmware_vm_cluster: "Management"

# deploy_vm__vmware_vm_host: "esx02.{{ deploy_vm__vmware_vm_guest_domain }}"
deploy_vm__vmware_vm_host: "esx00.{{ deploy_vm__vmware_vm_guest_domain }}"

# deploy_vm__vmware_vm_folder: "/{{ deploy_vm__vmware_vm_datacenter }}/vm"
deploy_vm__vmware_vm_folder: "/{{ deploy_vm__vmware_vm_datacenter }}/vm/vm"
# deploy_vm__vmware_vm_datastore: "esx02_ds1"
deploy_vm__vmware_vm_datastore: "nfs_ds1"
deploy_vm__vmware_vm_datastore_folder: vm

deploy_vm__vmware_vm_memory_mb: 1024
deploy_vm__vmware_vm_num_cpus: 2

# deploy_vm__vmware_vm_controller_type: "lsilogic"
deploy_vm__vmware_vm_controller_type: "paravirtual"

deploy_vm__vmware_vm_disk_size_gb: 16
deploy_vm__vmware_vm_disk_type: thick

# deploy_vm__vmware_vm_network_type: static
deploy_vm__vmware_vm_network_type: dhcp

deploy_vm__vmware_vm_network_name: "VM Network"
deploy_vm__vmware_vm_network_start_connected: true
deploy_vm__vmware_vm_network_connected: true

deploy_vm__vmware_vm_node_services:
  - motd

deploy_vm__vmware_vm_dns_nameservers: "{{ dns_nameservers }}"

deploy_vm__vmware_vm_networks: []
# deploy_vm__vmware_vm_networks:
#  - name: "{{ deploy_vm__vmware_vm_network_name }}"
#    start_connected: "{{ deploy_vm__vmware_vm_network_start_connected | d(true) }}"
#    connected: "{{ deploy_vm__vmware_vm_network_connected | d(true) }}"
#    mac: "{{ deploy_vm__vmware_vm_mac_address | d(omit) }}"
#    device_type: "{{ deploy_vm__vmware_vm_network_device_type | d(omit) }}"

deploy_vm__vmware_appliance_list: "{{ groups['vmware_appliance'] | d([]) }}"
deploy_vm__vmware_vm_list: "{{ groups['vmware_vm'] | d([]) | difference(deploy_vm__vmware_appliance_list) }}"

deploy_vm__template_info:
  ubuntu18:
    name: vm-template-ubuntu18
    network_service: systemd-networkd
  ubuntu20:
    name: vm-template-ubuntu20
    network_service: systemd-networkd
  ubuntu22:
    name: vm-template-ubuntu22
    network_service: systemd-networkd
  centos7:
    name: vm-template-centos7
    network_service: NetworkManager
  centos8:
    name: vm-template-centos8
    network_service: NetworkManager
  centos9:
    name: vm-template-centos9
    network_service: NetworkManager
  redhat7:
    name: vm-template-redhat7
    network_service: NetworkManager
  redhat8:
    name: vm-template-redhat8
    network_service: NetworkManager
  redhat9:
    name: vm-template-redhat9
    network_service: NetworkManager
  debian8:
    name: vm-template-debian8
    network_service: NetworkManager
  debian9:
    name: vm-template-debian9
    network_service: NetworkManager
  debian10:
    name: vm-template-debian10
    network_service: NetworkManager
  win2012:
    name: vm-template-win2012
  win2016:
    name: vm-template-win2016dccore
  win2019:
    name: vm-template-win2019dc
  openshift4:
    name: vm-template-openshift4

bootstrap_vmware_datastores__host_datastores:
  - name: 'nfs_ds1'
    server: "diskstation01.{{ control_plane_domain }}"
    path: '/volume1/data/datacenter/vmware'
    type: 'nfs'
    esxi_hosts: "{{ groups['vmware_esx_host'] }}"
