---

#vcenter_subnet: "192.168.0"
#vcenter_vmotion_subnet: "192.168.6"
#vcenter_vsan_subnet: "192.168.7"

vcenter_subnet: "{{ gateway_ipv4_subnet_1_2 }}.0"
vcenter_vmotion_subnet: "{{ gateway_ipv4_subnet_1_2 }}.6"
vcenter_vsan_subnet: "{{ gateway_ipv4_subnet_1_2 }}.7"

vcenter_mgt_vswitch: "vSwitch0"
vcenter_mgt_vswitch_mtu: "1700"

vcenter_switch_nics:
  - vmnic0

vcenter_domain: "{{ dns_domain }}"

vcenter_dns_servers: "{{ dns_nameservers }}"

vcenter_search_domains:
  - "{{ vcenter_domain }}"

vcenter_switches:
  - switch_name: "{{ vcenter_mgt_vswitch }}"
    mtu: "{{ vcenter_mgt_vswitch_mtu }}"
    nics: "{{ vcenter_switch_nics }}"

vcenter_esxi_node_info:
  name: "{{ inventory_hostname_short }}"
  hostname: "{{ inventory_hostname_short }}.{{ vcenter_domain }}"
#  ip: "{{ vcenter_ipv4_address }}"
  vlan: "{{ vcenter_mgt_vlan_id }}"
  switch_name: "{{ vcenter_mgt_vswitch }}"
  cluster: "{{ vcenter_cluster }}"
  vmotion_ip: "{{ vcenter_vmotion_ip }}"
  vsan_ip: "{{ vcenter_vsan_ip }}"
  switches: "{{ vcenter_switches }}"

