---
ping_test__module: 'ping'

#ansible_host: "{{ netbase_hostname }}"

vcenter_ipv4_host_id: "10"

vcenter_ipv4_gateway: "{{ gateway_ipv4 }}"
vcenter_gateway_ipv4_netmask: "{{ gateway_ipv4_netmask }}"
vcenter_gateway_ipv4_net_cidr: "{{ gateway_ipv4_net_cidr }}"

#vcenter_ipv4_subnet_1_2: "10.10"
#vcenter_vmotion_subnet: "{{ gateway_ipv4_subnet_1_2 }}.12"
#vcenter_vsan_subnet: "{{ gateway_ipv4_subnet_1_2 }}.14"
vcenter_ipv4_subnet_1_2: "10.0"
vcenter_subnet: "{{ vcenter_ipv4_subnet_1_2 }}.10"
vcenter_vmotion_subnet: "{{ gateway_ipv4_subnet_1_2 }}.13"
vcenter_vsan_subnet: "{{ gateway_ipv4_subnet_1_2 }}.14"
vcenter_vmotion_ip: "{{ vcenter_vmotion_subnet }}.{{ vcenter_ipv4_host_id }}"
# even if you dont need vSAN put an IP address here otherwise the install will fail
vcenter_vsan_ip: "{{ vcenter_vsan_subnet }}.{{ vcenter_ipv4_host_id }}"

vmware_host_datastores:
  - name: 'nfs_ds1'
    server: "diskstation01.{{ control_plane_domain }}"
    path: '/volume1/data/datacenter/vmware'
    type: 'nfs'
    esxi_hosts: "{{ groups['vmware_esx_host'] }}"

#    esxi_hosts:
#      - "esx00.dettonville.int"
#      - "esx01.dettonville.int"
#      - "esx02.dettonville.int"

#  - name: 'NasDS_vol02'
#    server: 'nas01'
#    path: '/mnt/vol02'
#    type: 'nfs'

# vcenter_ipv4_address_static_ipv4: "{{ vcenter_subnet }}.{{ vcenter_ipv4_host_id }}"
# vcenter_ipv4_address: "{{ ansible_facts['default_ipv4']['address'] | d(ansible_facts['all_ipv4_addresses'][0]) | d(vcenter_ipv4_address_static_ipv4) }}"
vcenter_ipv4_address: "{{ ansible_facts['default_ipv4']['address'] | d(ansible_facts['all_ipv4_addresses'][0]) }}"
# ansible_host: "{{ vcenter_ipv4_address }}"

bootstrap_vsphere__vcenter_domain: "{{ control_plane_domain_vm }}"
bootstrap_vsphere__vcenter_host: "{{ inventory_hostname_short }}.{{ bootstrap_vsphere__vcenter_domain }}"
vcenter_ip: "{{ vcenter_ipv4_address }}"

vcenter_vlan_id: 0
bootstrap_vsphere__vcenter_mgt_vlan_id: 0
bootstrap_vsphere__vcenter_mgt_vswitch: "vSwitch0"
bootstrap_vsphere__vcenter_mgt_network: "Management Network" # this portGroup will be created on the pESX with the vlan id specified in the

## set by the respective inventory cluster group
# bootstrap_vsphere__vcenter_cluster: "Management"
# bootstrap_vsphere__vcenter_cluster: "Physical"

bootstrap_vsphere__vcenter_network: "VM Network"

dvs_uplink_vmnics:
  - vmnic0

bootstrap_vsphere__vcenter_dns_servers: "{{ dns_nameservers }}"

bootstrap_vsphere__vcenter_search_domains:
  - "{{ bootstrap_vsphere__vcenter_domain }}"

bootstrap_vsphere__vcenter_ntp_servers: "{{ bootstrap_vsphere__vcenter_dns_servers }}"

# bootstrap_vsphere__vcenter_nested_vss_portgroup_name: "AllVlansVSS"
bootstrap_vsphere__vcenter_nested_vss_portgroup_name: "nested-trunk"
bootstrap_vsphere__vcenter_nested_vss_vlan_id: "4095"

## You can add, remove or rename clusters in this section,
## you can specify to which cluster specific nested ESXi to be connected
bootstrap_vsphere__vcenter_clusters:
  Management:
    enable_ha: false
    enable_drs: false
    enable_vsan: false
    ## ref: https://docs.ansible.com/ansible/latest/collections/community/vmware/vmware_cluster_drs_module.html#parameter-drs_default_vm_behavior
#    drs_default_vm_behavior: "partiallyAutomated"
    drs_default_vm_behavior: "manual"
    switch_name: "vSwitch0"
    mgmt_portgroup: "{{ bootstrap_vsphere__vcenter_network }}"
#    datastore: "esx02_ds1" # Datastore target for nested ESXi VMs
    datastore: "nfs_ds1" # Datastore target for nested ESXi VMs
    vmnic_physical_portgroup_assignment: # In vmnic order, these port groups must exist on the physical host
      - "{{ bootstrap_vsphere__vcenter_network }}"
      - "{{ bootstrap_vsphere__vcenter_nested_vss_portgroup_name }}"

  Compute: # This name will by used in the nested vCenter
    # HA can only be enabled if there is are datastores accessible by all hosts.
    enable_ha: false
#    ha_admission_control_enabled: false
#    ha_host_monitoring_enabled: 'disabled'
    enable_drs: false
    enable_vsan: false
#    drs_default_vm_behavior: "partiallyAutomated"
    drs_default_vm_behavior: "manual"
    switch_name: "vSwitch0"
    # Settings below are assigned to each host in the cluster
    mgmt_portgroup: "{{ bootstrap_vsphere__vcenter_nested_vss_portgroup_name }}"
#    mgmt_vlan: 0 # VLAN ID used to tag VMK0
    mgmt_vlan: "{{ bootstrap_vsphere__vcenter_nested_vss_vlan_id }}" # VLAN ID used to tag VMK0
    cpu_cores: 4 # CPU count
    ram_in_gb: 16 # memory
    hosting_cluster: "{{ bootstrap_vsphere__vcenter_cluster }}" # the cluster where physical ESXi is connected to. The nested VMs will be deployed here

    # In order list of disks to assign to the nested host. All will be marked as SSD.
    # Datastore names will be automatically be pre-pended with the hostname. E.g esx1
    # The first disk will be ignored
    nested_hosts_disks:
      - size_gb: 10
      - size_gb: 30
        create_datastore_name: datastore # Omit to not create a datastore on the disk
#        storage_channel_number: 2

    # Below are properties of the hosting cluster
    cluster: "Management" # the cluster where physical ESXi is connected to. The nested VMs will be deployed here
#    datastore: "esx02_ds1" # Datastore target for nested ESXi VMs
    datastore: "nfs_ds1" # Datastore target for nested ESXi VMs
    vmnic_physical_portgroup_assignment: # In vmnic order, these port groups must exist on the physical host
#      - "{{ bootstrap_vsphere__vcenter_network }}"
      - "{{ bootstrap_vsphere__vcenter_nested_vss_portgroup_name }}"
      - "Nest"
##      - "TEP"

bootstrap_vsphere__vcenter_folders:
  - name: templates
    type: vm
  - name: vm
    type: vm
