---

bootstrap_vsphere__vcenter_username: "{{ vault__vcenter_username | d('') }}"
bootstrap_vsphere__vcenter_password: "{{ vault__vcenter_password | d('') }}"

bootstrap_vsphere__esxi_username: "{{ vault__esxi_username | d('') }}"
bootstrap_vsphere__esxi_password: "{{ vault__esxi_password | d('') }}"

# bootstrap_vsphere__vsphere_version: "6.7"
bootstrap_vsphere__vsphere_version: "7.0"

bootstrap_vsphere__vcenter_repo_dir: "/data/datacenter/vmware/iso-repos/vmware"
# bootstrap_vsphere__vcsa_iso: 'VMware-VCSA-all-6.5.0-15259038.iso'
# bootstrap_vsphere__esx_iso: "VMware-VMvisor-Installer-6.5.0-4564106.x86_64.iso"
# bootstrap_vsphere__vcsa_iso: 'VMware-VCSA-all-6.7.0-9451876.iso'
# bootstrap_vsphere__vcsa_iso: 'VMware-VCSA-all-6.7.0-15132721.iso'
# bootstrap_vsphere__vcsa_iso: 'VMware-VCSA-all-6.7.0-15132721.iso'
bootstrap_vsphere__vcsa_iso: "VMware-VCSA-all-7.0.0-16189094.iso"
#bootstrap_vsphere__vcsa_iso: "VMware-VCSA-all-7.0.3-21290409.iso"

# bootstrap_vsphere__esx_iso: "VMware-VMvisor-Installer-6.7.0-8169922.x86_64.iso"
bootstrap_vsphere__esx_iso: "VMware-VMvisor-Installer-7.0U2-17630552.x86_64.iso"

bootstrap_vsphere__ovftool: '/mnt/vcsa/ovftool/lin64/ovftool'
# bootstrap_vsphere__vcsa_ova: 'vcsa/VMware-vCenter-Server-Appliance-6.7.0.14000-9451876_OVF10.ova'
# bootstrap_vsphere__vcsa_ova: 'vcsa/VMware-vCenter-Server-Appliance-6.5.0.32000-15259038_OVF10.ova'

bootstrap_vsphere__vcenter_mount_dir_path: '/mnt'

bootstrap_vsphere__vcenter_appliance_type: 'embedded'

bootstrap_vsphere__vcenter_net_addr_family: 'ipv4'
bootstrap_vsphere__vcenter_network_ip_scheme: 'static'
bootstrap_vsphere__vcenter_disk_mode: 'thin'
bootstrap_vsphere__vcenter_ssh_enable: true

# bootstrap_vsphere__vcenter_target_esxi: "192.168.0.11"
# bootstrap_vsphere__vcenter_target_esxi: "esx00.dettonville.int"
bootstrap_vsphere__vcenter_target_esxi: "esx01.dettonville.int"
bootstrap_vsphere__vcenter_target_esxi_password: "{{ esxi_password }}"

bootstrap_vsphere__vcenter_target_esxi_datastore: 'esx01_ds1'
# bootstrap_vsphere__vcenter_target_esxi_portgroup: 'Management'
bootstrap_vsphere__vcenter_target_esxi_portgroup: 'VM Network'

vcenter_time_sync_tools: false

vcenter_node_info: "{{ hostvars[groups['vmware_vcenter'][0]] }}"

bootstrap_vsphere__vcenter_ip: "{{ vcenter_node_info['vcenter_ipv4_address'] }}"
bootstrap_vsphere__vcenter_netmask: "{{ vcenter_node_info['vcenter_gateway_ipv4_netmask'] }}"
bootstrap_vsphere__vcenter_gateway: "{{ vcenter_node_info['vcenter_ipv4_gateway'] }}"
bootstrap_vsphere__vcenter_net_prefix: "{{ vcenter_node_info['vcenter_gateway_ipv4_net_cidr'] }}"

bootstrap_vsphere__vcenter_appliance_name: "{{ vcenter_node_info['bootstrap_vsphere__vcenter_appliance_name'] | d('vcenter') }}"
bootstrap_vsphere__vcenter_appliance_size: "{{ vcenter_node_info['bootstrap_vsphere__vcenter_appliance_size'] | d('tiny') }}"

# bootstrap_vsphere__vcenter_net_prefix: "{{ vcenter_ip + '/' + bootstrap_vsphere__vcenter_netmask | ansible.utils.ipaddr('prefix') }}"

#bootstrap_vsphere__vcenter_host: "{{ inventory_hostname_short }}.{{ bootstrap_vsphere__vcenter_domain }}"
bootstrap_vsphere__vcenter_host: "{{ vcenter_node_info.bootstrap_vsphere__vcenter_host }}"
vcenter_hostname: "{{ bootstrap_vsphere__vcenter_host }}"
bootstrap_vsphere__vcenter_domain: "{{ vcenter_node_info.ca_domain }}"
# this portGroup will be created on the pESX with the vlan id specified in the
bootstrap_vsphere__vcenter_network: "{{ vcenter_node_info.bootstrap_vsphere__vcenter_network | d('VM Network') }}"

vcenter_vlan_id: "{{ vcenter_node_info.vcenter_vlan_id | d(0) }}"
bootstrap_vsphere__vcenter_mgt_portgroup_name: "{{ vcenter_node_info.bootstrap_vsphere__vcenter_network | d(bootstrap_vsphere__vcenter_network) }}"
bootstrap_vsphere__vcenter_mgt_vlan_id: "{{ vcenter_node_info.bootstrap_vsphere__vcenter_mgt_vlan_id | d(1) }}"
bootstrap_vsphere__vcenter_mgt_vswitch: "{{ vcenter_node_info.bootstrap_vsphere__vcenter_mgt_vswitch | d('vSwitch0') }}"

bootstrap_vsphere__vcenter_dns_servers: "{{ vcenter_node_info.bootstrap_vsphere__vcenter_dns_servers }}"
bootstrap_vsphere__vcenter_ntp_servers: "{{ vcenter_node_info.bootstrap_vsphere__vcenter_ntp_servers }}"

bootstrap_vsphere__vcenter_search_domains:
  - "{{ bootstrap_vsphere__vcenter_domain }}"

# bootstrap_vsphere__vcenter_site_name: "CSH"
bootstrap_vsphere__vcenter_site_name: "RDU"
bootstrap_vsphere__vcenter_sso_domain: "{{ vcenter_node_info.bootstrap_vsphere__vcenter_sso_domain | d('vsphere.local') }}"

## set by the respective inventory cluster group
#bootstrap_vsphere__vcenter_cluster: "{{ vcenter_node_info.bootstrap_vsphere__vcenter_cluster | d('Management') }}"
bootstrap_vsphere__vcenter_datastore: "{{ vcenter_node_info.bootstrap_vsphere__vcenter_datastore
  | d(bootstrap_vsphere__vcenter_target_esxi_datastore) }}"
bootstrap_vsphere__vcenter_datacenter: "{{ vcenter_node_info.bootstrap_vsphere__vcenter_datacenter
  | d('dettonville-dc-01') }}"

bootstrap_vsphere__vcenter_clusters: "{{ vcenter_node_info.bootstrap_vsphere__vcenter_clusters | d({}) }}"

bootstrap_vsphere__vcenter_folders_default:
  - name: vm
    type: vm

bootstrap_vsphere__vcenter_folders: "{{ vcenter_node_info.bootstrap_vsphere__vcenter_folders | d(bootstrap_vsphere__vcenter_folders_default) }}"

## VSS => vmware standard switch setup
# bootstrap_vsphere__vcenter_nested_vss_portgroup_name: "{{ vcenter_node_info.bootstrap_vsphere__vcenter_nested_vss_portgroup_name | d('AllVlansVSS') }}"
bootstrap_vsphere__vcenter_nested_vss_portgroup_name: "{{ vcenter_node_info.bootstrap_vsphere__vcenter_nested_vss_portgroup_name | d('nested-trunk') }}"
bootstrap_vsphere__vcenter_nested_vss_vlan_id: "{{ vcenter_node_info.bootstrap_vsphere__vcenter_nested_vss_vlan_id | d('4095') }}"
vcenter_switch_mtu: 1700
bootstrap_vsphere__vcenter_mgt_network: "Management Network" # this portGroup will be created on the pESX with the vlan id specified in the

bootstrap_vsphere__vcenter_license: "{{ vault__vcenter_license | d('') }}"
bootstrap_vsphere__esxi_license: "{{ vault__esxi_license | d('') }}"
bootstrap_vsphere__vsphere_licenses: "{{ vault__vsphere_licenses | d('') }}"

## the vCenter appliance that need to be deployed
#bootstrap_vsphere__vcenter_config:
#  name: "{{ bootstrap_vsphere__vcenter_appliance_name }}"
#  fqdn: "{{ bootstrap_vsphere__vcenter_host }}"
#  hostname: "{{ vcenter_hostname }}"
##  ip: "{{ vcenter_ip }}"
#  mask: "{{ bootstrap_vsphere__vcenter_net_prefix }}"
#  gw: "{{ bootstrap_vsphere__vcenter_gateway }}"
#  switch_name: "{{ bootstrap_vsphere__vcenter_mgt_vswitch }}"
#  mgt_vlan: "{{ bootstrap_vsphere__vcenter_mgt_vlan_id }}"
#  mgt_network: "{{ bootstrap_vsphere__vcenter_mgt_network }}"
#  vlan: "{{ vcenter_vlan_id }}"
#  mtu: "{{ vcenter_switch_mtu }}"
#  # this portGroup will be created on the pESX with the vlan id specified in the bootstrap_vsphere__vcenter_target_esx_host section
#  network: "{{ bootstrap_vsphere__vcenter_network }}"
#  network_type: "dhcp"
#  nested_vss_portgroup_name: "{{ bootstrap_vsphere__vcenter_nested_vss_portgroup_name }}"
#  nested_vss_vlan_id: "{{ bootstrap_vsphere__vcenter_nested_vss_vlan_id }}"
#  thin: "true"
#  datacenter: "{{ bootstrap_vsphere__vcenter_datacenter }}"
#  # Datastore name where the nested ESXi VMs will be deployed
#  datastore: "{{ bootstrap_vsphere__vcenter_datastore }}"
#  domain: "{{ bootstrap_vsphere__vcenter_sso_domain }}"
#  # cluster where the vCenter VM will be deployed
#  cluster: "{{ bootstrap_vsphere__vcenter_cluster }}"
#  site_name: "{{ bootstrap_vsphere__vcenter_site_name }}"
#  license: "{{ bootstrap_vsphere__vcenter_license }}"
#  mail_server: "mail.johnson.int"
#  mail_sender: "{{ bootstrap_vsphere__vcenter_appliance_name }}@{{ bootstrap_vsphere__vcenter_domain }}"

bootstrap_vsphere__mail_server: "mail.johnson.int"
bootstrap_vsphere__mail_sender: "{{ bootstrap_vsphere__vcenter_appliance_name }}@{{ bootstrap_vsphere__vcenter_domain }}"

# vc_mng: "{{ bootstrap_vsphere__vcenter }}"

#vcenter_physical_portgroup_assignment:
#  - switch_name: "{{ bootstrap_vsphere__vcenter_config.switch_name }}"
#    portgroup_name: "{{ bootstrap_vsphere__vcenter_config.network }}"
#    vlan_id: "{{ bootstrap_vsphere__vcenter_config.vlan }}"
#    network_policy:
#      promiscuous_mode: true
#
#  - switch_name: "{{ bootstrap_vsphere__vcenter_config.switch_name }}"
#    portgroup_name: "{{ bootstrap_vsphere__vcenter_config.mgt_network }}"
#    vlan_id: "{{ bootstrap_vsphere__vcenter_config.mgt_vlan }}"
#    network_policy:
#      promiscuous_mode: true
#
#  - switch_name: "{{ bootstrap_vsphere__vcenter_config.switch_name }}"
#    portgroup_name: "{{ bootstrap_vsphere__vcenter_config.nested_vss_portgroup_name }}"
#    vlan_id: "{{ bootstrap_vsphere__vcenter_config.nested_vss_vlan_id }}"
#    network_policy:
#      promiscuous_mode: true
#      forged_transmits: true
#      mac_changes: true

vcenter_physical_portgroup_assignment:
  - switch_name: "{{ bootstrap_vsphere__vcenter_mgt_vswitch }}"
    portgroup_name: "{{ bootstrap_vsphere__vcenter_network }}"
    vlan_id: "{{ vcenter_vlan_id }}"
    network_policy:
      promiscuous_mode: true

  - switch_name: "{{ bootstrap_vsphere__vcenter_mgt_vswitch }}"
    portgroup_name: "{{ bootstrap_vsphere__vcenter_mgt_network }}"
    vlan_id: "{{ bootstrap_vsphere__vcenter_mgt_vlan_id }}"
    network_policy:
      promiscuous_mode: true

  - switch_name: "{{ bootstrap_vsphere__vcenter_mgt_vswitch }}"
    portgroup_name: "{{ bootstrap_vsphere__vcenter_nested_vss_portgroup_name }}"
    vlan_id: "{{ bootstrap_vsphere__vcenter_nested_vss_vlan_id }}"
    network_policy:
      promiscuous_mode: true
      forged_transmits: true
      mac_changes: true

#vcenter_physical_esx_defaults:
#  hostname: "{{ inventory_hostname }}"
#  vlan: "{{ bootstrap_vsphere__vcenter_mgt_vlan_id }}"
#  switch_name: "{{ bootstrap_vsphere__vcenter_mgt_vswitch }}"
#  cluster: "{{ bootstrap_vsphere__vcenter_cluster }}"
#  portgroups: "{{ vcenter_physical_portgroup_assignment }}"
#  dns_domain: "{{ bootstrap_vsphere__vcenter_domain }}"
#  dns_servers: "{{ bootstrap_vsphere__vcenter_dns_servers }}"
#  search_domains: "{{ bootstrap_vsphere__vcenter_search_domains }}"

bootstrap_vsphere__vcenter_physical_esx_defaults:
#  hostname: "{{ inventory_hostname }}"
  vlan: "{{ bootstrap_vsphere__vcenter_mgt_vlan_id }}"
  switch_name: "{{ bootstrap_vsphere__vcenter_mgt_vswitch }}"
  cluster: "{{ bootstrap_vsphere__vcenter_cluster }}"
  portgroups: "{{ vcenter_physical_portgroup_assignment }}"
  dns_domain: "{{ bootstrap_vsphere__vcenter_domain }}"
  dns_servers: "{{ bootstrap_vsphere__vcenter_dns_servers }}"
  search_domains: "{{ bootstrap_vsphere__vcenter_search_domains }}"
##  switches:
##    - switch_name: "{{ bootstrap_vsphere__vcenter_mgt_vswitch }}"
##      mtu: "{{ vcenter_switch_mtu }}"
##      nics:
##        - vmnic0

## configuration for accessing the existing physical ESXi
esx_hosts_online: "{{ groups['vmware_physical_esx_host'] | difference(groups['node_offline']) }}"
#esx_hosts_online:
#  - esx10
#  - esx03
#  - esx00
#  - esx01

bootstrap_vsphere__vcenter_physical_esx_hosts: |
  [
    {% for host in esx_hosts_online %}
    {% if hostvars[host].vcenter_esxi_node_info is defined %}
    {{ (hostvars[host].vcenter_esxi_node_info | d({})) | to_json(ensure_ascii=False) }},
    {% endif %}
    {% endfor %}
  ]

#bootstrap_vsphere__vcenter_physical_esx_hosts: |
#  [
#    {% for host in groups['vmware_physical_esx_host'] %}
#    {% if hostvars[host].vcenter_esxi_node_info is defined %}
#    {{ (hostvars[host].vcenter_esxi_node_info | d({'hostname': host}))
#      | combine(vcenter_physical_esx_defaults) | to_json(ensure_ascii=False) }},
#    {% endif %}
#    {% endfor %}
#  ]

#bootstrap_vsphere__vcenter_physical_esx_hosts: |
#  [
#    {% for host in groups['vmware_physical_esx_host'] %}
#    {% if hostvars[host].vcenter_esxi_node_info is defined %}
#    {{ vcenter_physical_esx_defaults | combine(hostvars[host].vcenter_esxi_node_info) | to_json(ensure_ascii=False) }},
#    {% else %}
#    {{ vcenter_physical_esx_defaults | to_json(ensure_ascii=False) }},
#    {% endif %}
#    {% endfor %}
#  ]

# bootstrap_vsphere__vcenter_target_esx_host: "{{ bootstrap_vsphere__vcenter_physical_esx_hosts | first }}"
bootstrap_vsphere__vcenter_target_esx_host: "{{ bootstrap_vsphere__vcenter_physical_esx_hosts[1] }}"

# vcenter_nested_subnet: 192.168.209
vcenter_nested_subnet: 10.100.209

## v2
bootstrap_vsphere__nested_vcenter: "{{ bootstrap_vsphere__vcenter }}"

bootstrap_vsphere__vcenter_external_vlan: "0"

bootstrap_vsphere__nested_esx_host_defaults:
  domain: "{{ bootstrap_vsphere__vcenter_domain }}"
  mask: "{{ gateway_ipv4_netmask }}"
  gw: "{{ gateway_ipv4 }}"
  dns_servers: "{{ bootstrap_vsphere__vcenter_dns_servers }}"
  mgmt_cluster: "{{ bootstrap_vsphere__vcenter_cluster }}" # the cluster where physical ESXi is connected to. The nested VMs will be deployed here
#  vswitch0_port_group_name: net1
#  mgmt_portgroup: "Management Network"
#  portgroup: "AllVlansVSS"
  portgroup: "nested-trunk"
#  portgroup: "VM Network"
  cluster: "Compute" # the cluster where this specific nested ESXi need to be connected to
  vlan: "{{ bootstrap_vsphere__vcenter_external_vlan }}" # the external vlan id, need to have connectivity with the vCenter
  mgmt_portgroup: "{{ bootstrap_vsphere__vcenter_nested_vss_portgroup_name }}"
  mgmt_vlan: "{{ bootstrap_vsphere__vcenter_nested_vss_vlan_id }}" # VLAN ID used to tag VMK0
#  cpu: 8 # CPU count
#  ram: 65536 # memory
  cpu: 4 # CPU count
  ram_in_gb: 16 # memory
#  disks:
#    - size_gb: 30
#      storage_channel_number: 2
#      create_datastore_name: datastore1 # Omit to not create a datastore on the disk

# bootstrap_vsphere__nested_hosts:
#  - name: esxi1
#    ip: 192.168.209.231
#    vmotion_ip: 172.16.122.1
#    vsan_ip: 172.16.123.1 # even if you dont need vSAN put an IP address here otherwise the install will fail

# bootstrap_vsphere__nested_hosts:
#  - "{{ hostvars['vesxi01']['vcenter_esxi_node_info'] }}"
#  - "{{ hostvars['vesxi02']['vcenter_esxi_node_info'] }}"

bootstrap_vsphere__nested_hosts: []
#bootstrap_vsphere__nested_hosts: |
#  [
#    {% for host in groups['vmware_nested_esx'] %}
#    {% if hostvars[host].vcenter_esxi_node_info is defined %}
#    {{ (hostvars[host].vcenter_esxi_node_info | d({})) | to_json(ensure_ascii=False) }},
#    {% endif %}
#    {% endfor %}
#  ]

bootstrap_vsphere__vcenter_esx_hosts: |
  [
    {% for host in groups['vmware_esx_host'] %}
    {% if hostvars[host].vcenter_esxi_node_info is defined %}
    {{ hostvars[host].vcenter_esxi_node_info | to_json(ensure_ascii=False) }},
    {% endif %}
    {% endfor %}
  ]


bootstrap_vsphere__nested_clusters: "{{ bootstrap_vsphere__vcenter_clusters }}"

bootstrap_vsphere__resource_pools:
  - cluster_name: Compute
    resource_pool_name:
      - PAS-AZ1
      - PKS-AZ1

bootstrap_vsphere__vcenter_enable_vds: false
# bootstrap_vsphere__vcenter_enable_vds: true

vcenter_dvs_mtu: 1700

bootstrap_vsphere__distributed_switches:
  - name: vds_overlay
#    mtu: 9000
    mtu: "{{ vcenter_dvs_mtu }}"
    hosts: "{{ groups['vmware_nested_esx'] | list }}"
#    hosts: "{{ groups['vmware_esx_host'] | list }}"
#    hosts: "{{ groups['vmware_nested_esx'] + groups['vmware_physical_esx_host'] | list }}"
#    uplink_quantity: 1
    uplink_quantity: 2
    discovery_proto: "lldp"
    discovery_operation: "both"
#    switch_version: 6.5.0
    switch_version: 7.0.0
    vmnics:
      - vmnic0

bootstrap_vsphere__distributed_port_groups:
#  - name: tep_pg
#    switch_name: vds_overlay
#    vlan_id: "0"
  - name: "Management"
    switch_name: vds_overlay
    vlan_id: "{{ bootstrap_vsphere__vcenter_external_vlan }}"
    num_ports: 120
  - name: "vMotion"
    switch_name: vds_overlay
    vlan_id: "{{ bootstrap_vsphere__vmotion_vlan }}"
    num_ports: 120
  - name: "vSAN"
    switch_name: vds_overlay
    vlan_id: "{{ bootstrap_vsphere__vsan_vlan }}"
    num_ports: 120
