---
name: Ansible Lint
permissions:
  contents: read
  checks: write

on:
  workflow_call:  # allow this workflow to be called from other workflows
  workflow_dispatch:  # allow this workflow to be called from user

jobs:
  ansible_lint:
    name: Ansible-Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # needed for progressive mode to work

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ansible ansible-lint ansible-lint-to-junit-xml

      - name: Install Ansible Collections
        run: |
          ansible-galaxy collection install -r collections/requirements.yml

      - name: Run ansible-lint
        run: |
          ansible-lint -v -c .ansible-lint --format=pep8 | ansible-lint-to-junit-xml > ansible-lint-junit.xml
        env:
          ANSIBLE_LINT_OFFLINE: "false"
          ANSIBLE_COLLECTIONS_PATH: "~/.ansible/collections:./.ansible/collections:./collections:/usr/share/ansible/collections"
#        with:
#          args: "-c .ansible-lint"
#          args: "inventory/ roles/ playbooks/ ."
#          args: "-c .ansible-lint ."
#          args: -v -c .ansible-lint

      - name: Publish Ansible-Lint Results
        if: always()
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: ansible-lint-junit.xml
          check_name: Ansible-Lint Results
