---
name: Inclusivity Lint
permissions:
  contents: read

on:
  workflow_call:  # allow this workflow to be called from other workflows
  workflow_dispatch:  # allow this workflow to be called from user

jobs:
  inclusive_lint:
    name: Detect non-inclusive language
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # needed for progressive mode to work

      - name: Run lsr-woke-action
        # Originally, uses: get-woke/woke-action@v0
        uses: linux-system-roles/lsr-woke-action@main
        with:
          woke-args: "-c .inclusivity.yml --count-only-error-for-failure ."
          # Cause the check to fail on any broke rules
          fail-on-error: true
