name: Molecule Tests

## ref: https://github.com/marketplace/actions/ansible-molecule
on:
  ## ref: https://docs.github.com/en/actions/writing-workflows/choosing-when-your-workflow-runs/events-that-trigger-workflows#workflow_dispatch
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  # Schedule updates (once daily)
  schedule:
    ## Daily Docker Image Rebuild (3:29pm daily)
    - cron: '29 15 * * *'

jobs:
  run-molecule-tests:
    name: Molecule
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      ## ref: https://docs.github.com/en/actions/using-jobs/using-a-matrix-for-your-jobs
      max-parallel: 4
#      max-parallel: 2

      matrix:
        architecture:
          - amd64
#          - arm64
        image:
          # Testing all platform versions is impractical. Only test the newest and
          # oldest versions of each that we support
#          - centos7-systemd-python
#          - centos8-systemd-python
          - centos9-systemd-python
#          - redhat7-systemd-python
#          - redhat8-systemd-python
#          - redhat9-systemd-python
#          - debian10-systemd-python
          - debian11-systemd-python
          - debian12-systemd-python
#          - ubuntu2004-systemd-python
          - ubuntu2204-systemd-python
          - ubuntu2404-systemd-python
#          - fedora-systemd-python
        scenario:
          - bootstrap_linux

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v5
        with:
          path: "${{ github.repository }}"

      - name: Set up Python 3.
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
          #python-version: '3.x'

      ## ref: https://molecule.readthedocs.io/installation/#pip
      ## ref: https://github.com/ansible-community/molecule-plugins
      - name: Install control node dependencies
        run: |
          python3 -m pip install --upgrade setuptools
          python3 -m pip install --upgrade pip
          python3 -m pip install -r requirements.molecule.txt
        working-directory: "${{ github.repository }}"

      ## ref: https://github.com/robertdebock/ansible-role-python_pip/blob/master/.github/workflows/molecule.yml
      - name: Run Molecule tests for ${{ matrix.image }} for scenario bootstrap_linux
#        run: >-
#          molecule test
#          --platform-name ${{ matrix.platform }}-${{ matrix.architecture }}
#          --scenario-name ${{ matrix.scenario }}
#        run: molecule --debug test -s bootstrap-linux
        run: molecule test --scenario-name ${{ matrix.scenario }}
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_IMAGE_LABEL: ${{ matrix.image }}
          MOLECULE_PLATFORM: ${{ matrix.architecture }}
          MOLECULE_DOCKER_COMMAND: ${{ matrix.command || '/lib/systemd/systemd' }}
#          ## ref: https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#example-using-a-fallback-value
#          MOLECULE_DOCKER_GROUP: ${{ matrix.inventory_group || 'molecule_docker_linux_github' }}
        working-directory: "${{ github.repository }}"

      - name: Archive Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results-${{ matrix.versions.ansible }}-python-${{ matrix.versions.python }}
          path: |
            ansible_collections/dettonville/utils/tests/output/junit/
            ansible_collections/dettonville/utils/tests/output/coverage/
            ansible_collections/dettonville/utils/tests/output/reports/
          retention-days: 7

      - name: Publish Unit Test Results
        if: always()
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: |
            ansible_collections/dettonville/utils/tests/output/junit/*.xml
