---
name: Molecule Tests
permissions:
  contents: read
  checks: write

## ref: https://github.com/marketplace/actions/ansible-molecule
on:
  workflow_call:  # allow this workflow to be called from other workflows
  workflow_dispatch:  # allow this workflow to be called from user

jobs:
  molecule_test_platforms:
    name: Run Molecule Platform Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      ## ref: https://docs.github.com/en/actions/using-jobs/using-a-matrix-for-your-jobs
#      max-parallel: 4

      matrix:
        architecture:
          - amd64
#          - arm64
        image:
          # Testing all platform versions is impractical. Only test the newest and
          # oldest versions of each that we support
#          - systemd-python-centos:7
#          - systemd-python-centos:8
          - systemd-python-centos:9
          - systemd-python-centos:10
#          - systemd-python-redhat:7
#          - systemd-python-redhat:8
#          - systemd-python-redhat:9
#          - systemd-python-debian:10
#          - systemd-python-debian:11
          - systemd-python-debian:12
#          - systemd-python-ubuntu:20.04
#          - systemd-python-ubuntu:22.04
          - systemd-python-ubuntu:24.04
#          - systemd-python-fedora:latest
        scenario:
          - bootstrap_linux

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          path: "${{ github.repository }}"

      - name: Set up Python 3.
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
          #python-version: '3.x'

      ## ref: https://molecule.readthedocs.io/installation/#pip
      ## ref: https://github.com/ansible-community/molecule-plugins
      - name: Install control node dependencies
        run: |
          python3 -m pip install --upgrade setuptools
          python3 -m pip install --upgrade pip
          python3 -m pip install -r requirements.molecule.txt
        working-directory: "${{ github.repository }}"

      ## ref: https://github.com/robertdebock/ansible-role-python_pip/blob/master/.github/workflows/molecule.yml
      - name: Run Molecule tests for ${{ matrix.image }} for scenario bootstrap_linux
#        run: >-
#          molecule test
#          --platform-name ${{ matrix.platform }}-${{ matrix.architecture }}
#          --scenario-name ${{ matrix.scenario }}
#        run: molecule --debug test -s bootstrap-linux
        run: molecule test --scenario-name ${{ matrix.scenario }}
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_IMAGE: ${{ matrix.image }}
          MOLECULE_PLATFORM: ${{ matrix.architecture }}
          MOLECULE_DOCKER_COMMAND: ${{ matrix.command || '/lib/systemd/systemd' }}
          MOLECULE_BUILD_ID: ${{ github.run_number }}
#          ## ref: https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#example-using-a-fallback-value
#          MOLECULE_DOCKER_GROUP: ${{ matrix.inventory_group || 'molecule_docker_linux_github' }}
        working-directory: "${{ github.repository }}"

      - name: Set image safe name
        id: set-image-safe-name
        run: |
          IMAGE_SAFE=$(echo "${{ matrix.image }}" | tr ':' '-')
          echo "IMAGE_NAME_SAFE=${IMAGE_SAFE}" >> $GITHUB_ENV

      - name: Archive Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results-${{ env.IMAGE_NAME_SAFE }}-${{ matrix.scenario }}
          path: .test-reports/*.xml
          retention-days: 7
          if-no-files-found: warn

      - name: Publish Unit Test Results
        if: always()
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: .test-reports/*.xml
          check_name: Molecule Verify ${{ matrix.image }} ${{ matrix.scenario }}
          # hard failure on test problems:
          action_fail: true
          fail_on: test failures

  # This job does nothing and is only used for the branch protection
  # or multi-stage CI jobs, like making sure that all tests pass before
  # a publishing job is started.
  platform-check:
    if: always()
    needs:
      - molecule_test_platforms
    runs-on: ubuntu-latest
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
