---
name: YAML Lint
permissions:
  contents: read

on:
  workflow_call:  # allow this workflow to be called from other workflows
  workflow_dispatch:  # allow this workflow to be called from user
  # Schedule run (once daily)

jobs:
  yaml_lint:
    name: Yaml-Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # needed for progressive mode to work

      - name: Run yamllint
        uses: ibiqlik/action-yamllint@v3
        with:
          config_file: .yamllint
          no_warnings: true
