---
- name: Set os-specific variables
  ansible.builtin.include_vars: "{{ ansible_facts['os_family'] }}.yml"

- name: Get common CA cert facts
  ansible.builtin.include_tasks: get_cert_facts.yml

- name: Display cert info
  ansible.builtin.debug:
    msg:
      - deploy_ca_certs__using_stepca={{ deploy_ca_certs__using_stepca }}
      - deploy_ca_certs__keystore_cert_base_dir={{ deploy_ca_certs__keystore_cert_base_dir }}
      - deploy_ca_certs__ca_domain={{ deploy_ca_certs__ca_domain }}
      - deploy_ca_certs__ca_service_routes_list={{ deploy_ca_certs__ca_service_routes_list }}
      - __deploy_ca_certs__ca_intermediate_cert_list={{ __deploy_ca_certs__ca_intermediate_cert_list }}
      - __deploy_ca_certs__ca_fetch_domains_list={{ __deploy_ca_certs__ca_fetch_domains_list }}
      - deploy_ca_certs__stepca_start_service={{ deploy_ca_certs__stepca_start_service }}
      - deploy_ca_certs__deploy_intermediate_certs={{ deploy_ca_certs__deploy_intermediate_certs }}
      - deploy_ca_certs__validate_certs={{ deploy_ca_certs__validate_certs }}
      - deploy_ca_certs__deploy_host_certs={{ deploy_ca_certs__deploy_host_certs }}
      - deploy_ca_certs__create_cert_bundle={{ deploy_ca_certs__create_cert_bundle }}
      - deploy_ca_certs__ca_java_keystore_enabled={{ deploy_ca_certs__ca_java_keystore_enabled }}

- name: Fetch certs from keystore
  ansible.builtin.include_tasks: fetch_certs.yml

- name: Trust certs on node
  ansible.builtin.include_tasks: trust_cert.yml

- name: Setup stepca cert renewal service
  when: deploy_ca_certs__using_stepca | d(false) | bool
  ansible.builtin.include_tasks: stepca_renewal_service.yml

- name: Trust external certs if defined
  when: deploy_ca_certs__external_cacerts | d([]) | length > 0
  ansible.builtin.include_tasks: trust_external_certs.yml
