---
# tasks/update_java_keystore.yml
# This file handles adding the intermediate CA and other trusted certificates
# to the Java keystore, ensuring Java applications trust our internal PKI.

- name: "update-java-keystore : Define Java keystore and password variables"
  ansible.builtin.set_fact:
    __java_keystore_file: "{{ deploy_ca_certs__ca_java_keystore | default(__deploy_ca_certs__ca_java_keystore_default) }}"
    __java_keystore_pass: "{{ deploy_ca_certs__ca_java_keystore_pass }}"

- name: "update-java-keystore : Ensure the intermediate CA is present in the Java keystore"
  when: >
    __intermediate_ca_has_changed
    or not __intermediate_ca_keystore_result is defined
    or not __intermediate_ca_keystore_result.changed
  community.general.java_cert:
    keystore_path: "{{ __java_keystore_file }}"
    keystore_pass: "{{ __java_keystore_pass }}"
    cert_alias: "{{ __deploy_ca_certs__pki_vault_ca_cert_basename }}"
    cert_path: "{{ deploy_ca_certs__trust_ca_cacert_dir }}/{{ __deploy_ca_certs__pki_vault_ca_cert_basename }}.pem"
    owner: root
    group: root
    state: present
  register: __intermediate_ca_keystore_result
  become: true

- name: "update-java-keystore : Ensure external certificates are present in the Java keystore"
  when:
    - __external_ca_deploy_result is defined
    - __external_ca_deploy_result.changed
  community.general.java_cert:
    keystore_path: "{{ __java_keystore_file }}"
    keystore_pass: "{{ __java_keystore_pass }}"
    cert_alias: "trusted-{{ current_cert_name }}"
    cert_path: "{{ deploy_ca_certs__trust_ca_cacert_dir }}/{{ current_cert_name }}"
    state: present
  become: true
  loop: "{{ deploy_ca_certs__external_cacerts }}"
  loop_control:
    loop_var: current_cert_name
